[2021-04-09 23:33] rnjudge commented on #930
Created a PoC using Rich on the command line. After discussion with Nisha and others, decided that the burden of Rich as a dependency outweighs the terminal facelift for now. Decided to start with reformatting the output report to list package and their licenses in a table format for clarity in understanding the report.

[2021-04-13 21:35] rnjudge opened #948 "Use skopeo to pull container images"
**Background**
Reference: https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

TL;DR - Kubernetes currently uses Dockershim to access containerd container runtime. Dockershim is being removed from Kubelet which removes support for Docker as a container runtime in favor of other runtimes that use [Container Runtime Interface](https://kubernetes.io/blog/2016/12/container-runtime-

[2021-04-14 19:38] #939 closed

[2021-04-14 22:03] rnjudge commented on #930
@nishakm for the default report format, what do you think about this package metadata representation?

[code]

[2021-04-14 22:11] nishakm commented on #930
@rnjudge Wow! That's so much better!

[2021-04-14 22:14] nishakm commented on #930
I also noticed the removal of the command details. I believe that would fix #823 as well.

[2021-04-14 22:34] rnjudge commented on #930
Heh, I actually manually edited those out ;) But I can open a separate PR for that or include that in a separate fix. Not sure if you've started working on that or not.

[2021-04-15 00:01] nishakm commented on #930
I haven't. If you want to give it a shot, go for it!

[2021-04-16 16:58] #823 closed

[2021-04-19 15:56] nishakm opened #951 ""lock" checks if image exists a second time during analysis"
**Describe the bug**
When running `tern lock` on a single stage Dockerfile, it looks like it does a check whether the base image exists, which it already did at the beginning of the analysis. I am guessing it does this to get the image digest. It shouldn't have to do this as the image digest is extracted for the base image already at the beginning of the analysis and is stored in the image object.

[2021-04-22 14:49] mukultaneja commented on #951
@nishakm, can I take this bug?

[2021-04-22 15:09] nishakm commented on #951
Sure!

[2021-04-26 10:32] mukultaneja commented on #951
@nishakm, I looked into the issue and found the [expand_from_images](https://github.com/tern-tools/tern/blob/385301eb2e57ce303efa4e716e18c0a77716c7c1/tern/analyze/default/dockerfile/lock.py#L246) method calls this check [if not img['digest_type'] and not img['digest']](https://github.com/tern-tools/tern/blob/385301eb2e57ce303efa4e716e18c0a77716c7c1/tern/analyze/default/dockerfile/parse.py#L172). I

[2021-04-27 00:12] nishakm commented on #951
Yup! This is exactly the problem. A simple way to solve this is to provide a list of `DockerImage` objects to `expand_from_images`. But you will have to come up with a scheme to check which image corresponds to which stage of the Dockerfile. Single stage Dockerfiles are easy to implement this way as the length of the list is just 1. For multiple images, though, there is no way of checking. Maybe D

[2021-04-27 02:24] rnjudge commented on #951
@nishakm @mukultaneja We currently only lock the first stage of the Dockerfile so not sure having a `stage` property makes sense for this particular use case (though it might for others):

[code]

I feel like we should try to store/get the image's sha256 digest in/from the `image_list[0]` object on line 217 of `tern/analyze/default/dockerfile/run.py` and probably pass the object to `create_locked_

[2021-04-27 06:31] mukultaneja commented on #951
Agreed, this looks good to me. As I mentioned in my above comment, we could use the ignored `image_info` in the [analyze_single_dockerfile](https://github.com/tern-tools/tern/blob/385301eb2e57ce303efa4e716e18c0a77716c7c1/tern/analyze/default/dockerfile/run.py#L177)  method and fill in the digest for each image, anyway multi_stage is calling up single_stage at the end so I guess it won't make diffe

[2021-04-27 14:18] nishakm commented on #951
@rnjudge We do want to make "lock" work for multistage builds as well. This is why I suggested adding a `stage` property to the `DockerImage` class. If we do, then we can provide `image_list` to `lock_dockerfile` which we could then provide to `expand_from_images`. This also allows us to match stages and stage aliases using the `as` clause in the Dockerfile to the collection of images we analyze.

[2021-04-27 18:28] mukultaneja commented on #951
@nishakm, I see your point here but I need to understand one thing here, how does this stage property approach would fit right into the current `expand_from_images` implementation? The current implementation looks for the digest of docker image which we do not have because as per the overall flow, we are sending Dockerfile [location](https://github.com/tern-tools/tern/blob/385301eb2e57ce303efa4e71

[2021-04-27 22:05] nishakm commented on #918
@JamieMagee are you referring to the `npm` command not being recognized? It's not recognized whether you use buildkit or not.

[2021-04-27 22:41] rnjudge commented on #918
@JamieMagee @nishakm The issue is with the `-g` option that npm install uses. When I use the following Dockerfile, Tern reports `npm` packages correctly:

[code]

<details>

[code]
</details>

[2021-04-28 14:39] nishakm commented on #918
Huh? I get this:
[code]

[2021-04-28 15:23] JamieMagee commented on #918
Since I opened this bug we migrated to `jq` for `npm` parsing. Let me re-run with a more recent version and report back.

Also, I believe that Tern should still report packages installed globally (with the `-g` flag). The example I gave of `serve` is a simple HTTP server.

[2021-04-28 16:10] nishakm commented on #918
Agreed. I think we've also discovered that is bug is the result of 2 problems. 1. RUN instructions are not accurately identified and 2. npm's retrieval method is not consistent.

[2021-04-28 17:14] rnjudge commented on #918
Not sure why we're getting different results here. I re-ran at the tip of master and still get the correct results.

[2021-04-28 17:25] rnjudge commented on #918
Tern is able to parse install flags with other package managers (i.e. `apt-get install -y`) so this could be a simple logic bug?

[2021-04-28 19:46] nishakm commented on #918
It is buildkit related, but also some docker nuances. There are 3 types of `created_by` with RUN instructions:
[code]
I'll submit a PR with a fix shortly.

[2021-04-28 21:35] rnjudge commented on #852
@nishakm Ok to close this issue?

[2021-04-28 21:53] rnjudge commented on #752
This has been fixed at the tip of main. Related commits:
1) https://github.com/tern-tools/tern/commit/523bdfb86d7dce1fc2ac73d221f1df6e003d3292
2) https://github.com/tern-tools/tern/commit/022659d9f39528d34e39d7e3b7371b621c1e9d91

[2021-04-28 21:53] #752 closed

[2021-04-28 22:45] rnjudge commented on #948
It does not appear that ORAS supports anonymous pulling of container images from Dockerhub at this time. Skopeo does support this behavior and therefore, we should explore using skopeo instead. A previous PR (https://github.com/tern-tools/tern/pull/712) started to work on this and we may want to revive parts of this.

[2021-04-28 23:14] nishakm commented on #852
Huh...I guess with a merge request the issues referenced in the commit messages don't automagically close. I'll close it.

[2021-04-28 23:14] #852 closed

[2021-04-30 23:04] #918 closed

[2021-05-04 12:12] mzachar opened #957 "npm packages with copyright info"
Hi,

I was using tern to scan some node based images and the json report was missing copyrights info for npm packages.

**Describe the Feature**
Include copyright text from npm packages if they provide it in more or less standardise way (license.md, copying, ... files)

**Implementation Changes**
I patched the command_lib/base.yml to include copyrights for the npm packages like this:

[code]

If y

[2021-05-04 13:48] nishakm commented on #957
@mzachar Thank you! Let me try it out.

[2021-05-04 23:46] nishakm commented on #957
@mzachar Looks good! Go ahead and submit a PR and I will merge it. Thanks for checking out tern and contributing!

[2021-05-06 22:49] rnjudge opened #959 "Tern with scancode is not producing file or file license information in the reports"
**Describe the bug**
Running Tern with the scancode extension on a photon image does not produce file or file license information in the reports.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest version of `scancode-toolkit` via the pip package manager ; `pip install scancode-toolkit`
2. Run `tern -r report -i photon:3.0 -x scancode -f json -o sbom-with-scancode.json`
3. No

[2021-05-07 02:24] JustinWonjaePark opened #960 "Add "how to read the reports" section"
**Problem Statement**
Reports of tern provides a lot of information, and the types and format of the items provided varies depending on the report format. Thus, users might not understand what kind information they can get from the reports and where to look at to get the information on the report.

**Describe the Proposal**
Adding "how to read the reports" section on README.md can help the users t

[2021-05-07 17:56] rnjudge commented on #959
I ran this with the `debian:buster` and while the json report did report files found in each package, no file license information was reported.

[2021-05-07 17:58] cole-h opened #961 "Dependency "debut" is now "debian-inspector""
**Description**
Replace usage of `debut` with` debian-inspector`

**Implementation**
* Replace `debut` with `debian-inspector` in `requirements.{in,txt}`
* Replace `debut` at https://github.com/tern-tools/tern/blob/3710b08a5e4f36670cc02061419dce5e5cf56b09/tern/analyze/common.py#L22-L23

**References**
https://github.com/nexB/debian-inspector/commit/0978bd5a214b4eb8e8f0c38ccb3893a08f4e40eb

**Super

[2021-05-07 19:07] nishakm commented on #959
Maybe try with this PR? https://github.com/tern-tools/tern/pull/962

[2021-05-07 19:39] rnjudge commented on #959
@nishakm I will try with that but that shouldn't affect the photon results, right?

[2021-05-07 19:59] nishakm commented on #959
You are right. Sorry! It sounds like this is not straightforward to do with rpm packages. So using rpm seems to be the only way to collect that information...

[2021-05-07 20:05] rnjudge commented on #959
The issue I'm seeing is that scancode is properly collecting the file and file license information but Tern is not parsing that data and reporting on it correctly.

[2021-05-07 23:05] #961 closed

[2021-05-10 15:00] chatziparaskewas opened #964 "tern with scancode, exceptions are thrown"
**Describe the bug**
tern with scancode, exceptions are thrown independent of the report type

**To Reproduce**
1. Installation of tern and scancode into a virtual environment (~/local/ternenv) as per documentation
2. Open a new shell
3. source ~/local/ternenv/bin/activate
4. run tern (see below); the report type does not matter, I also tried 'json' and 'html', the Docker image is also not the cau

[2021-05-10 15:17] nishakm commented on #964
Yes it should :(. Let me see if I can reproduce it at the tip of the main branch...

[2021-05-10 21:58] rnjudge commented on #964
I can reproduce the error. It's an issue with the reporting function of Tern not being able to handle whatever data Scancode found because when I run Tern on that image without Scancode I get a SBoM as expected. I will dig in to this.

[2021-05-12 15:30] rnjudge commented on #959
Another interesting data point: Tern with scancode for Alpine-based images works as expected:

[code]

[2021-05-13 03:19] rnjudge opened #967 "AttributeError when using debug functionality"
**Describe the bug**
Tern fails to complete when using the debug functionality.

**To Reproduce**
Steps to reproduce the behavior:
1. Run: `tern debug -i node:latest --keys base npm licenses --shell '/usr/bin/bash'`

**Error in terminal**
[code]

**Expected behavior**
Tern should return a list of licenses

[2021-05-13 14:12] nishakm commented on #930
Closing this as #949 has already made some improvements to the default report without increasing the dependency list by much.

[2021-05-13 14:16] nishakm opened #969 "Make "tern lock" work for multistage docker builds"
**Describe the Feature**
The "lock" feature was scoped for single stage Dockerfiles when it was first introduced. Now that we can analyze multistage docker builds, we can use the results to lock a multistage Dockerfile.

[2021-05-13 14:34] #964 closed

[2021-05-13 14:50] #967 closed

[2021-05-17 16:28] rnjudge commented on #957
A fix for this was merged with the wrong issue number in the commit. Closing.

[2021-05-17 16:28] #957 closed

[2021-05-18 20:56] #960 closed

[2021-05-21 05:23] JustinWonjaePark opened #971 "Problem while running tern on linux"
I was running tern 2.5 on Ubuntu 16.04 (with venv and pip install) and it worked just fine as expected.

I was working on other tools and I think I messed up the system a little bit.
Whenever I run tern ('tern report' or simply 'tern') I get error message related to JSONDecodeError.

`(ternenv) mymachine[user /home/user/ternenv]$ tern
2021-05-21 14:10:24,431 - DEBUG - __main__ - Starting...
2021-0

[2021-05-21 19:22] #959 closed

[2021-05-21 19:29] rnjudge commented on #971
@JustinWonjaePark I have seen this error before and indeed it is an issue with the cache file not with Tern itself. What happens if you remove the cache file located at `~/.tern/cache.json`, does that help?

[2021-05-23 03:30] prahaladdarkin commented on #755
@nishakm  @JeroenKnoops @rnjudge  Apologies for the very delayed response. Thank you very much for working on the enhancement proposal which will go a long way in implementing my PoC on Harbor and Tern integration.  I was held up with major refactoring in DB schema and vulnerability data storage layer in Harbor.
The Tern integration with Harbor is an area I have started discussions with Harbor fol

[2021-05-23 03:31] prahaladdarkin commented on #757
@nishakm @mukultaneja  @rnjudge Apologies for the very delayed response. Thank you very much for working on the enhancement proposal which will go a long way in implementing my PoC on Harbor and Tern integration. I was held up with major refactoring in DB schema and vulnerability data storage layer in Harbor.
The Tern integration with Harbor is an area I have started discussions with Harbor folks

[2021-05-23 11:38] JustinWonjaePark commented on #971
@rnjudge That did help!!
Thanks a lot!

[2021-05-23 11:38] #971 closed

[2021-05-27 07:15] falcorocks commented on #948
+1 on skopeo, I have used it to successfully achieve something similar to what you are trying to do here.
Abandoning docker in favour of something like skopeo would also make it much better for CI, where docker in docker is still a nogo for security reasons!

[2021-05-27 20:49] rnjudge opened #975 "debug functionality to test base.yml scripts is broken"
**Describe the bug**
Running `tern debug -i photon:3.0 --keys base tdnf licenses --shell '/usr/bin/bash'` (pick any image/package manager) fails to return any results despite the command being run properly.

**Error in terminal**
[code]

**Expected behavior**
I would expect the list of package licenses to be printed for the example above.

**Environment you are running Tern on**
- Tip of main

[2021-05-28 13:42] maxhbr opened #976 "Scancode integration seems to be broken, with latest tern and current scancode"
**Describe the bug**
When scancode plugin is used, tern fails to run scancode (with a rather hidden error in the log). Probably due to invalid usage of scancode cli.

**To Reproduce**
Steps to reproduce the behavior:
1. Use latest master (https://github.com/tern-tools/tern/commit/c36aa3f92631eca56c46ccf26264473920d838d9)
1. Build `docker/Dockerfile.scancode`
2. observe versions of tools:
   - `Ter

[2021-05-28 14:38] nishakm opened #978 "Revert #977 after there is a fix for https://github.com/nexB/scancode-toolkit/issues/2529"
Background:

We are unable to run scancode currently. A fix is in place. Meanwhile, we will fix scancode's dependencies such that it will work with Tern's dockerfile.

[2021-05-28 14:39] #976 closed

[2021-05-28 15:22] maxhbr opened #979 "Scancode is no longer in path on Dockerfile.scancode"
**Describe the bug**
After change  #977 that fixed https://github.com/tern-tools/tern/issues/976, scancode is no longer in PATH on the docker image.

**To Reproduce**
Steps to reproduce the behavior:
1. Buiild latest `Dockerfile.scancode`
  - see ` RUN pip install -r /install/requirements.scancode.txt`, that shows that the new code is used
2. try to run scancode, see that it is not in PATH

[code]

[2021-05-28 15:27] JeroenKnoops commented on #979
I'm testing the implementation right now

[2021-05-28 15:54] maxhbr commented on #979
The fix works for me

[2021-05-28 19:32] #979 closed

[2021-06-04 04:42] JustinWonjaePark opened #982 "Running tern with Scancode results error"
I installed Tern 2.6.1, Scancode 21.3.31 on Ubuntu 16.04.

I ran Tern report with Scancode extension with command
`tern report -f html -x scancode -i fossology/fossology:3.10.0 -o tern_fossology_scancode.html`
and got error message
`...
2021-06-04 10:48:37,149 - DEBUG - executor - Collecting file data...
2021-06-04 10:48:42,563 - DEBUG - generator - Creating HTML report...
Traceback (most recent c

[2021-06-04 20:02] rnjudge commented on #982
Thanks for the bug @JustinWonjaePark. This is actually an error with the `html` format generation not scancode (as you mentioned) and the issue was raised previously in https://github.com/tern-tools/tern/issues/844. I'll bump the priority on this issue. Keep an eye on #844 for a fix.

[2021-06-04 20:02] #982 closed

[2021-06-04 20:02] rnjudge commented on #844
Bumping the priority on this. Will work on a fix in the next week or two.

[2021-06-04 21:56] #975 closed

[2021-06-05 13:49] JustinWonjaePark commented on #982
Thanks for fast reply!! :)

[2021-06-07 10:45] sameer1046 opened #984 "Show package type in text report"
The package type should be shown in the report or PURL and if possible then URL also.

	+----------------------------------+------------+-------------------------------------+
	| Package                          | Version    | License                             |**_Package Type_**
	+----------------------------------+------------+-------------------------------------+

[2021-06-07 18:14] rnjudge commented on #984
Thanks for the suggestion, @sameer1046. Can you provide a little more detail about how the package type information would benefit you/the use case you had in mind? Does knowing the package type change how you interpret the license or do you use the package type information to make other reasonings about the SBOM? Tern will tell you the package manager it uses to collect the information in the repo

[2021-06-07 18:29] sameer1046 commented on #984
Thanks
We need the package type info like npm,maven, nuget, debian etc in text file so that we can determine the source url and can verify the copyright and licence. The yml, json file is too long to be processed by a human and not practical. The txt file is nicely formatted and looks very good.

[2021-06-07 18:39] rnjudge commented on #984
@nishakm thoughts on this?

[2021-06-07 20:13] nishakm commented on #984
I don't think it would be hard to add the package format to the output. That might be a good datapoint to add as to what was used to inventory.

[2021-06-07 20:38] rnjudge commented on #984
No, it would be straightforward to add. I more just want to make sure we are not clogging up the default report. Let me test this out and see how it looks. I'll solicit reviews from you and @sameer1046 when it's ready for feedback.

[2021-06-11 09:26] mukultaneja commented on #929
@rnjudge, are we seeing some issues with the check-in here?

[2021-06-11 13:30] #951 closed

[2021-06-11 22:36] nishakm opened #985 "Error in getting package licenses for node image with scancode"
**Describe the bug**
Traceback when running tern with scancode on node image with the default report

**To Reproduce**
1. Install tern and scancode in a development environment
2. Run tern report -i node:16-slim -x scancode -o output.txt
3. See error

**Error in terminal**
[code]

**Expected behavior**
This should execute successfully

[2021-06-17 13:38] nishakm commented on #978
@JeroenKnoops @JamieMagee https://github.com/nexB/scancode-toolkit/issues/2529 has been fixed so I will revert the changes to include the frozen dependencies in the Dockerfile :)

[2021-06-17 22:10] nishakm commented on #978
Oops! I meant to tag @maxhbr. Sorry!

[2021-06-18 14:21] nishakm commented on #969
A fix was merged. So closing this.

[2021-06-18 14:21] #969 closed

[2021-06-21 16:52] rnjudge commented on #978
@nishakm can we close this?

[2021-06-21 16:54] nishakm commented on #978
@rnjudge Not yet. Due to the dependency of the last tern release on an older version of debian-inspector, reverting this change now will break operation again. So we need a new tern release before reverting it.

[2021-06-27 13:51] abhaykatheria commented on #985
@nishakm  @rnjudge  The error in issues #982 and #844 is also same, i think its the way scancode is adding packages is resulting in these kind of errors.

[2021-06-28 07:34] sameer1046 opened #987 "Support for cyclone dx bom format"
It would be nice to have the report in Cyclone DX BOM format.

https://github.com/CycloneDX/specification

[2021-06-28 22:44] rnjudge commented on #984
@sameer1046 How does this look for you?

	Packages found in Layer:
	+------------------------+------------------------------+---------+------------+
	| Package                | Version                      | License | Pkg Format |
	+------------------------+------------------------------+---------+------------+
	| adduser                | 3.118                        |         | deb        |
	| ap

[2021-06-28 22:52] rnjudge opened #989 "debian package licenses not reported in default report table"
**Describe the bug**
When you generate a default report for debian images, not license information is reported in the table. This is because the table collects Package object `license` information but not `pkg_licenses` information where the debian package information is stored.

**To Reproduce**
Steps to reproduce the behavior:
1. `tern report -i debian:bullseye`

**Error in terminal**
[code]

**

[2021-06-30 16:08] rnjudge opened #990 "Add governance model information"
**Problem Statement**
Tern has some information about how to contribute to the project but no information about a path to maintainership or general governance. Although this is a small project in its current state, this information would be nice to have in place as a baseline and it can always be updated later. Pulling in @geekygirldawn to see if she has any helpful resources or templates that mig

[2021-07-01 18:49] rnjudge commented on #934
@JamieMagee I don't think this is going to be resolved upstream so we can implement a custom fix in Tern. I think this change could be a good candidate for a "Good first issue", so I will save it for the Grace Hopper Open Source Day we are participating in in a few weeks.

[2021-07-01 19:54] rnjudge commented on #818
This issue should be fixed. Closing but please feel free to re-open if you notice this issue again.

[2021-07-01 19:54] #818 closed

[2021-07-01 20:19] JamieMagee commented on #934
Yep, makes sense. Thanks for following up with this!

[2021-07-02 14:49] geekygirldawn commented on #990
This is probably a good template to use as a starting point and then customize for Tern. It's based on the concept of existing maintainers selecting new ones: https://github.com/cncf/project-template/blob/main/GOVERNANCE-maintainer.md

The [Contour](https://github.com/projectcontour/community/blob/main/GOVERNANCE.md) governance is a pretty good example, and I like how they do their [MAINTAINERS](h

[2021-07-02 16:35] rnjudge commented on #985
Scancode will sometimes report the `declared_license` value from the package dictionary as a list which is causing this error. Tern just needs to be able to translate the list value(s) into a concatenated string. I will submit a PR for this fix shortly.

[2021-07-02 17:37] rnjudge commented on #947
Specifically, this block of code in `tern/formats/default/generator.py`:

[code]

We can get rid of the `report_only` variable and just return the result of `print_layer_report()`

[2021-07-06 15:17] #984 closed

[2021-07-06 15:41] rnjudge opened #992 "Add 'pkg_format' tests to test_class_package.py"
**Description**
`pkg_format` is a new `Package` property added via https://github.com/tern-tools/tern/commit/b8e7837a045304a1c9553d88636e97de54c28668. Add some tests around this new property.

**To Do**
Add a test for the `pkg_format` property in the `testIsEqual`, `testToDict`, `testSetters` and `testGetters` functions in `tests/test_class_package.py`.

[2021-07-06 19:06] nishakm commented on #987
@rnjudge can we discuss this in the next Tern meeting?

[2021-07-06 19:38] #985 closed

[2021-07-06 19:39] rnjudge commented on #982
@JustinWonjaePark Apologies for the delay in getting this fixed. Should work now!

[2021-07-06 19:39] rnjudge commented on #844
@aalexanderr Sincere apologies for the delay on this fix. Should work now.

[2021-07-06 19:45] rnjudge commented on #987
@nishakm Yes! Meant to bring this up today and totally spaced after the long weekend. Sorry about that. It's on the agenda for next meeting.

[2021-07-06 19:47] rnjudge commented on #929
I think I re-opened this by mistake. Not sure how I did that -- apologies for confusion! Closing again.

[2021-07-06 19:47] #929 closed

[2021-07-06 19:47] #844 closed

[2021-07-06 20:38] rnjudge opened #994 "Add pkg_format values for missing package managers in base.yml"
**Description**
`pip`, `pip3`, `gem`, `npm`, and `go` language package managers are all missing `pkg_format` values in `tern/analyze/default/command_lib/base.yml`. Now that the default report reports the `pkg_format` in the table, it's helpful to have these values so Tern can report on them.

**To Do**
Add the `pkg_format` values to base.yml.

**Background**
https://github.com/tern-tools/tern/comm

[2021-07-06 22:52] nishakm opened #995 "Create a functional test suite for releases"
**Description**
We need a python script that will invoke all the unit and functional tests in the `/tests` folder. to do pre and post release tests.

**To Do**
1. Look at `ci/test_files_touched.py` from line `37` to line `142`. This is a dictionary of string matches to tests. Note down all unique tests in this dictionary. For example `'tern report -i photon:3.0'` is the first tests and `'python3 s

[2021-07-06 23:11] nishakm opened #996 "Implement running of functional tests in python"
**Description**
This task is contingent on merging task #995 into main. Now that we have a list of tests to invoke, we will implement invoking them.

**To Do**
1. Modify the file `ci/release_tests.py` to invoke each of the tests in the list `tests`.
[code]
2. Submit these changes in a PR

**Super Issues**
#885

[2021-07-07 19:02] rnjudge commented on #947
This was somewhat addressed in https://github.com/tern-tools/tern/commit/c3a2a07239ee8613efb01c2150a33334502c6b5c and I'm not sure there's much more to simplify. Closing.

[2021-07-07 19:02] #947 closed

[2021-07-08 17:32] rnjudge commented on #948
@mukultaneja is working on this. @falcorocks if you have any tips or pointers, feel free to drop them here :)

[2021-07-13 04:56] JustinWonjaePark opened #999 "Running Tern with -r and -c gives different results"
**Problem Statement**

When you run tern without Scancode extension to create report,
you can get installed package information in `"packages":`
  `tern repot -f json -i debian:buster -o debian.json`
But you usually don't get  file level license information with out scancode extension.

So, if you want to get file level information, you need to run it with Scancode
  `tern repot -f json -x scancod

[2021-07-13 07:25] JustinWonjaePark commented on #999
Just in case you need,

Tern at commit 273e3c8cd8969df3dacc56c5d878d65378d8e4bf
Python 3.6.13

Distributor ID: Ubuntu
Description:    Ubuntu 16.04.7 LTS
Release:        16.04
Codename:       xenial

[2021-07-13 07:56] JustinWonjaePark opened #1000 "existence of cache file(.tern/) effects report output"
**Describe the bug**
Output of tern differs whether there exist cache files(.tern/) or not.
![image](https://user-images.githubusercontent.com/33045921/125413738-eb38b69b-3c7f-46b9-9240-e188e2bc258c.png)

debian_buster_img#.json : created by command
`tern report -f json -i debian:buster -o debian_buster_img#.json`
debian_buster_img_scancode#.json : created by command
`tern report -f json -x scanco

[2021-07-14 06:28] JustinWonjaePark opened #1002 "Report result with same command is not constant"
**Describe the bug**
When you run tern with Scancode extension repeatedly,
small parts of the results are different from each other.
![image](https://user-images.githubusercontent.com/33045921/125573635-e1b9d043-8039-4a65-b5fb-b76a14cd075a.png)
![image](https://user-images.githubusercontent.com/33045921/125573721-44864046-51bf-4b97-881a-e2705f341af7.png)
![image](https://user-images.githubusercont

[2021-07-14 06:40] trangology commented on #995
Hi @nishakm, can you assign this issue to me?

[2021-07-14 14:42] nishakm commented on #995
I cannot assign the issue, but I will say it is assigned.

[2021-07-15 13:41] nsapse commented on #994
I'd love to claim this issue for Open Source Day.

[2021-07-15 18:54] sayantani11 commented on #992
Can I contribute to this? For OSD

[2021-07-15 19:43] mukultaneja commented on #948
@rnjudge @nishakm, how are we going to make `skopeo` as a requirement to tern moving onwards?

[2021-07-15 20:49] rnjudge commented on #704
@jayeritz is going to take this one.

[2021-07-15 21:07] dk-github-acc commented on #934
Hi @rnjudge @nishakm I can take this issue. Can you assign this to me ?

[2021-07-15 21:16] trangttdang commented on #996
Hi @nishakm, Could you assign me this issue? Thank you

[2021-07-15 21:41] #704 closed

[2021-07-15 22:27] #995 closed

[2021-07-15 22:37] nishakm commented on #992
fixed with #1010

[2021-07-15 22:37] #992 closed

[2021-07-15 22:47] trangttdang commented on #996
Hi @nishakm , could you assign me this issue? I pulled the request. Thank you

[2021-07-15 22:50] nishakm commented on #994
@jayeritz is working on this issue

[2021-07-15 23:20] nishakm opened #1013 "Remove requirements.scancode.txt"
**Description**
Now that we have updated the dependencies, we can unpin scancode dependencies in Dockerfile.scancode

**To Do**
1. In `docker/Dockerfile.scancode` make the following changes:
a. remove lines
[code]
b. add this:
[code]
2. Remove file `requirements.scancode.txt`

**Background**
See #978

[2021-07-15 23:56] #934 closed

[2021-07-16 00:04] #994 closed

[2021-07-18 16:31] sayantani11 opened #1019 "To make the commit message part a bit more clear"
**Description**
The part of 'commit message format' part can be a bit confusing for new contributors as most people try to do it with github rather than git.

**Implementation**
Would like to make a small change in the CONTRIBUTING.md file, adding the steps they need to follow for the commit message before pushing the changes

[2021-07-18 16:32] sayantani11 commented on #1019
Can I do it? It's like a very small change

[2021-07-18 23:57] JustinWonjaePark commented on #999
Scanning fossology/fossology:3.10 and postgres:9.5.25 with scancode extension provided package information.
It is bit different behavior comparing with scanning debian:buster. which didn't provided package information at all.

- yet, result of fossology/fossology:3.10 contained package information for 'some' layers. not all.

[2021-07-19 06:51] chming1016 opened #1020 "pip install -r requirements.txt not showing relevant packages in report"
**Describe the bug**
While building docker image with `pip install -r requirements.txt`, the relevant pip packages are not showing in the final report.

**To Reproduce (PoC)**

- Build a docker image with following Dockerfile.
[code]

- The content of `requirements.txt` which is required to build the docker image mentioned above.
[code]

- docker build command

`docker build -t test:withrequiremen

[2021-07-19 17:57] rnjudge commented on #1019
@sayantani11 go for it!

[2021-07-20 20:03] #1013 closed

[2021-07-21 23:35] sayantani11 commented on #1019
@rnjudge Can we close this issue now?

[2021-07-22 02:14] #1019 closed

[2021-07-22 02:15] rnjudge commented on #1002
Thanks for the issue @JustinWonjaePark -- Is the parts of the code that are differing file-related output from Scancode or package metadata from Tern?

[2021-07-22 05:24] rnjudge commented on #1020
Thanks for the issue @chming1016. I think the difference in output you're seeing is actually due to the `python3 -m` command before the `pip install requirements.txt` which is causing Tern not to recognize the `pip install` command. Tern does not care about the arguments that come after `pip install` (be it a package name or requirements.txt, rather it only looks for an install command at the begi

[2021-07-22 06:24] rnjudge commented on #1002
Can you also confirm which version of scancode you have installed?

[2021-07-22 14:15] chming1016 commented on #1020
Thanks for clarify the issue @rnjudge . Hoping this can be added in the closely future.

[2021-07-22 15:51] rnjudge commented on #1020
Feel free to open a PR with the fix if you need it quickly :) Is there a reason you're using `python -m` to install requirements.txt when you could just run `pip install requirements.txt` directly from the `RUN` command?

[2021-07-22 18:44] chming1016 commented on #1020
Tern is a nice tool. I am using it to generate SBoM for cloud service to do vulnerability management.
So far, I might not be able to create a PR before spending more time on my non-working time to go through Tern's code.

Actually, I do not mind changing my Dockerfile from `RUN python -m pip install -r requirements.txt` to `RUN pip install -r requirements.txt`.
However, as Dockerfiles are controll

[2021-07-23 03:17] rnjudge commented on #1020
You are correct, developers will put whatever they want in their Dockerfile :) Thus, we cannot account for every single possible way developers may install packages. We try to detect the most common methods of installing software. Installation methods like the `python -m` case I would consider somewhat of a corner case given that `pip install` is what we see most commonly to install python package

[2021-07-23 03:43] rnjudge commented on #1000
I first cleared the cache and then followed the Tern commands in order according to your directions.

Regular Tern run comparison:
* `debian_buster_img1.json` and `debian_buster_img2.json` had no differences between them.
* As expected,`debian_buster_img1.json` and `debian_buster_img2.json` differed from `debian_buster_img3.json` because the cache was populated with scancode data from the previous

[2021-07-23 06:05] rnjudge commented on #999
I ran a regular Tern scan on `fossology/fossology:3.10.0` and see that not all layers have packages installed. Perhaps this is the reason you're not seeing package information for all layers when running with scancode? There are not necessarily packages installed in every later of a container image. For the `fossology/fossology:3.10.0` layer I see packages in layers 1 and 3.

[2021-07-23 06:44] rnjudge commented on #999
@JustinWonjaePark I do see the issue you are describing -- if I run `tern report -i debian:buster -x scancode -o deb_scancode.out` regardless of whether cache is populated or not, only file licenses are reported.
We had [this same issue](https://github.com/tern-tools/tern/issues/818) open for the some time ago -- the issue with the packages missing was thought to be an issue with scancode but we t

[2021-07-24 16:06] chming1016 commented on #1020
Hi @rnjudge,
I have found another similar issue.
In some corner cases, when using `RUN --mount=type=cache,target=/root/.cache/pip pip install -r /requirements.txt ` in Dockerfile, the report does not show any python module.
As a workaround, I will try to convince developers to use a more common way to install pip modules in Dockerfile, so that Tern is able to recognise pip command.

[2021-07-26 19:25] rnjudge commented on #999
Confirmed that running (with a populated cache) Tern + Scancode with the `postgres:9.5.25` container image produces package information despite having a debian base OS. So the behavior where Tern does not merge cache package data with scancode data seems to be (so far) unique to `debian:<>` images.

[2021-08-05 02:24] JustinWonjaePark commented on #1002
Hello @rnjudge , I am sorry for late response.
The version of scancode that I use is 21.3.31

[2021-08-05 05:04] sameer1046 opened #1025 "distro less docker images report is empty"
Currently tern is not able to find any info incase of distro less images that is available in google container registry gcr.io and redhat container registry https://quay.io/repository/

[code]

[2021-08-05 06:50] JustinWonjaePark commented on #1000
It's good to know the `tern -c` option! I've been deleting the temp directory :P

About the difference between `debian_buster_imge_scancode1.json` and `debian_buster_imge_scancode2.json`.

As you might know, report file with Scancode extension describes information for a file twice. One with detailed info, one without detailed info(e.g. checksum_type, extattrs, licenses and etc.)
`debian_buster_im

[2021-08-05 07:58] JustinWonjaePark commented on #1002
@rnjudge , it actually looks part that returned from Scancode.
(copyright and license information by files)

[2021-08-05 15:04] nishakm commented on #1025
@sameer1046 can you provide a gcr.io image to test this out on?

[2021-08-05 15:05] nishakm commented on #987
Merged #1001. Closing this issue.

[2021-08-05 15:05] #987 closed

[2021-08-05 15:06] nishakm commented on #946
Closing this. We have consumer plugins for JSON and SPDX JSON formats.

[2021-08-05 15:06] #946 closed

[2021-08-05 16:20] sameer1046 commented on #1025
k8s.gcr.io/pause:3.4.1 here is one example

[2021-08-06 14:08] nishakm commented on #1025
@sameer1046 I get these results when I run tern against `gcr.io/distroless/base-debian10`:
[code]
It looks like the image you provided is just one binary:
[code]
Tern can't parse binary blobs (yet).

[2021-08-06 14:49] nishakm commented on #999
@rnjudge I am not able to reproduce the package level inventory stuff.

Default inventory:
[code]
With scancode inventory:
[code]
Debian doesn't have package level license metadata.

[2021-08-09 04:13] coderpatros commented on #885
Heya, looking at the different parts of the release process.

Could "Update direct dependencies and run tests" be replaced with dependabot?

[2021-08-09 05:52] coderpatros commented on #885
Hi @rnjudge, @nishakm might of mentioned I have a software engineering student doing a uni placement at the moment.

He is starting to look at this issue. We spent a bit of time reviewing the release checklist and I would appreciate feedback on the following as an approach.

- manage direct dependency updates separately to releases, using dependabot (runs tests automatically when the PR is raised)

[2021-08-09 18:05] nexeh opened #1026 "report - cyclonedxjson not a recognized plugin."
**Describe the bug**
`report - cyclonedxjson not a recognized plugin.`

i know this is new. i see it in the codebase. nothing jumped out to me as what's wrong but due to this error there is no output. other formats are working fine. Im really interested in exploring this tool more!

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run --privileged --device /dev/fuse -v /var/run/docker.

[2021-08-09 18:27] rnjudge commented on #1026
Thanks for your interest in Tern @nexeh. The reason you're seeing this issue is because we have not yet cut a release with the latest cycleonedx format changes. When you run Tern in a Docker container, it uses this [Dockerfile](https://github.com/tern-tools/tern/blob/main/docker/Dockerfile) which installs the latet PyPI release of Tern. Once we cut our next release the cyclonedxjson format will be

[2021-08-09 18:27] #1026 closed

[2021-08-09 18:31] rnjudge commented on #1026
For now, if you want to use cyclonedxjson format in a container, you can use the ci Dockerfile that installs Tern's dependencies and clones + builds + installs the latest version of Tern: https://github.com/tern-tools/tern/blob/main/ci/Dockerfile

[2021-08-09 19:54] nexeh commented on #1026
This makes a lot of sense @rnjudge! Thanks for the fast reply. Ill look into using the CI image you suggested. How often do you release? No pressure, just curious on your normal release cadence.

[2021-08-10 07:01] coderpatros commented on #885
@ReconPangolin I'll try to review what you've done in your fork tomorrow to provide some feedback before raising a draft PR here.

Can you have a look at what I've put above? I put some more thought into the steps required across the whole process. You could start working on the create and publish release steps next.

[2021-08-10 07:06] ReconPangolin commented on #885
Thanks, I'll finish up step 2 to copy requirements across and then get started on automatically building the release.

[2021-08-10 11:59] #1025 closed

[2021-08-10 14:53] nishakm commented on #885
@coderpatros and @ReconPangolin, Thanks for taking this issue on! We have a release checklist: https://github.com/tern-tools/tern/blob/main/docs/releases/release_checklist.md. We have started a list of functional tests here: https://github.com/tern-tools/tern/blob/main/ci/release_tests.py. It should be enough to get you started, but if not, feel free to comment on this issue!

One issue we've foun

[2021-08-11 02:59] rnjudge commented on #1000
Thanks @JustinWonjaePark for the clarification of differences. From what I see, Scancode is reporting the file and its metadata twice on the first run which is why the files are different. Tern then captures the file metadata only once in the cache and reports on it once when it loads from the cache. This is because Tern only stores one copy of a file in the cache when the `name`, `path` and `chec

[2021-08-11 03:14] rnjudge commented on #1002
@JustinWonjaePark it looks like this is an issue with scancode then? or is it specific to Tern? Tern simply captures scancode output and reports on it. Are the differences you're seeing after back to back runs on the same image or running with a fresh cache for the same image? I can try to reproduce but a little confused by your steps that say to pull fossology image and then run a tern+scancode r

[2021-08-11 03:19] rnjudge commented on #999
Nisha and I discussed this and the issue is reproducible when you:
1) Clear the cache
2) Run tern+scancode on a `debian:buster` image
3) Run regular tern on `debian:buster` image
4) Run tern+scancode again on `debian:buster` -- you will not see package level info in this report even though package level metadata is present in the cache (from step 3)

What's strange is that this seems to be unique

[2021-08-11 23:05] nishakm commented on #999
I am still unable to reproduce this issue :(. I have attached my output files here.
1. Ran `tern -r report -x scancode -i debian:buster -o tern_scancode_nocache.txt`
2. Ran `tern report -i debian:buster -o tern_cache.txt`
3. Ran `tern report -x scancode -i debian:buster -o tern_scancode_cache.txt`

I get package level info in all 3 scenarios. Also, from the log, it looks like the layers are loaded

[2021-08-11 23:06] coderpatros commented on #885
Hi @nishakm, how are you executing the tests in `release_tests.py`?

[2021-08-11 23:06] nishakm commented on #999
It's probably worth noting my scancode version:
[code]

[2021-08-12 00:47] nishakm commented on #999
Bingo! `-r`'s operation is different from `-c`!

[2021-08-12 01:58] rnjudge commented on #885
@coderpatros The tests will be run with:

[code]

A lingering PR was just opened to make this change. Currently tests are run this way in `ci/test_files_touched.py`

[2021-08-12 02:02] JustinWonjaePark commented on #1000
I agree with you @rnjudge. I've not seen missing metadata either.

[2021-08-12 03:34] rnjudge commented on #999
I am also running scancode 21.6.7. I will update for future debug on this.

[2021-08-12 03:37] rnjudge commented on #1002
Here are the steps to run scancode without Tern:

1) `tern -k report -i debian:buster`. The `-k` option keeps the containers mounted filesystem so you can run scancode on it independently of Tern.
2) Find the mounted filesystem by running`ls ~/.tern/temp/`. The directory under `~/temp` for me and the debian:buster image was `e63992559353a522e62a73bc137fd023ee97e1226b96947df8e00e73d1a9d627`. Whatev

[2021-08-12 16:22] rnjudge commented on #1000
I will start to look at a fix so a fresh scancode run doesn't report the same package twice. When I run just scancode without Tern I get only one reported instance of the `usr/bin/shred` file so this could be a Tern issue instead of coming from scancode.

[2021-08-12 21:04] nishakm commented on #999
Looks like scancode errors out with a `multiprocessing.context.TimeoutError` at  func(self, timeout=timeout or 3600) `. I'm going to try using the default timeout (3600) and see what that'll do.

[2021-08-12 22:43] nishakm commented on #999
OK, I am having a hard time running scancode on the debian images. It's possible that the package inventory on debian images is just broken for scancode :(

[2021-08-16 14:26] nishakm commented on #999
This issue with scancode is still open: https://github.com/nexB/scancode-toolkit/issues/2467

[2021-08-16 14:31] nishakm commented on #999
@rnjudge @JustinWonjaePark It looks like tern's operation of augmenting the results of inventory runs by different methods works as expected, i.e. Running tern using the default method and then running scancode does not remove the data collected by running the default method. However, the `-r` option should remove all the data and it doesn't do that. Can I change the title of this issue to reflect

[2021-08-17 00:36] JustinWonjaePark commented on #999
@nishakm I am ok with changing the title as you need.

[2021-08-20 07:18] pombredanne commented on #281
In the end we ended up dropping most mappings we were using in ScanCode, as they are in most cases not enough.
In particular for Debian copyright files, where they are mostly incorrect because of the nature of these files.

See:  https://github.com/nexB/scancode-toolkit/issues/1895#issuecomment-902486183 which I am repasting partially here:

[2021-08-24 23:31] sayantani11 commented on #914
@nishakm can I help? But I would require a bit of insight on the task.

[2021-08-28 03:31] vsoch commented on #261
I think this might be related to this issue (let me know if not and I can open a new issue) but I'd like to be able to use some functionality of tern without requiring sudo:

[code]
I wanted to try out tern but stopped when I hit here.

[2021-08-30 13:39] nishakm commented on #261
@vsoch Looking into this. Hopefully, by the end of this, tern will not need to invoke sudo...

[2021-09-02 04:36] #999 closed

[2021-09-05 17:43] dk-github-acc commented on #826
Hi @nishakm @m1-key. The issue has been labelled as technical debt and for near-future. If the issue is ready to be solved now, can I take it up? Can you please assign this issue to me?

[2021-09-06 19:23] mukultaneja commented on #1020
@rnjudge, Can I take this issue?

[2021-09-23 22:10] #990 closed

[2021-09-24 19:49] rnjudge opened #1038 "Change SPDX tag value package download location from NONE to NOASSERTION"
**Describe the issue**
Tern currently reports the package download location in SPDX reports as `NONE` In the recent SPDX DocFest, it was discussed that the value should actually be `NOASSERTION`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern report -i <image> -f spdxtagvalue
2. See `PackageDownloadLocation` is `NONE` for packages
[code]

**Expected behavior**
`PackageDownloadLoca

[2021-09-24 20:00] rnjudge opened #1039 "Change SPDX json package download location from NONE to NOASSERTION"
**Describe the issue**
Tern currently reports the package download location in SPDX reports as `NONE` In the recent SPDX DocFest, it was discussed that the value should actually be `NOASSERTION`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern report -i <image> -f spdxjson
2. See `downloadLocation` is `NONE` for packages
[code]

**Expected behavior**
`downloadLocation` should be `N

[2021-09-24 22:08] nishakm opened #1040 "Direct check for key in command_lib['base'] dictionary"
**WARNING**
If this is your first tern contribution, please update your local git settings using [these instructions](https://github.com/nishakm/puns#how-to-configure-your-git).

DO NOT USE THE GITHUB UI!

When creating your commit message for your PR, make sure to use `git commit -s` rather than `git commit -m`

Remember to add a `Fixes: #1040` line in your commit message.

**Description**
The ge

[2021-09-24 22:18] nishakm opened #1041 "Direct check for key in command_lib['snippets'] dictionary"
**WARNING**
If this is your first tern contribution, please update your local git settings using [these instructions](https://github.com/nishakm/puns#how-to-configure-your-git).

DO NOT USE THE GITHUB UI!

When creating your commit message for your PR, make sure to use `git commit -s` rather than `git commit -m`

Remember to add a `Fixes: #1041` line in your commit message.

**Description**
The ge

[2021-09-24 22:43] nishakm opened #1042 "Multiple checks for keys in check_sourcable function"
**WARNING**
If this is your first tern contribution, please update your local git settings using [these instructions](https://github.com/nishakm/puns#how-to-configure-your-git).

DO NOT USE THE GITHUB UI!

When creating your commit message for your PR, make sure to use `git commit -s` rather than `git commit -m`

Remember to add a `Fixes: #1042` line in your commit message.

**Description**
There

[2021-09-24 22:49] nishakm opened #1043 "Direct check for key in os_release_dict"
**WARNING**
If this is your first tern contribution, please update your local git settings using [these instructions](https://github.com/nishakm/puns#how-to-configure-your-git).

DO NOT USE THE GITHUB UI!

When creating your commit message for your PR, make sure to use `git commit -s` rather than `git commit -m`

Remember to add a `Fixes: #1043` line in your commit message.

**Description**
The fi

[2021-09-27 15:45] nishakm opened #1044 "Remove unused clean_image_tars function from report.py"
**WARNING**
If this is your first tern contribution, please update your local git settings using [these instructions](https://github.com/nishakm/puns#how-to-configure-your-git).

DO NOT USE THE GITHUB UI!

When creating your commit message for your PR, make sure to use `git commit -s` rather than `git commit -m`

Remember to add a `Fixes: #1044` line in your commit message.

**Description**
The cl

[2021-09-28 19:52] #1000 closed

[2021-09-29 01:57] JustinWonjaePark commented on #1000
@rnjudge I am glad that it has been fixed. Thanks!!

[2021-09-29 17:26] Manifaust commented on #261
@nishakm I also ran into the sudo prompt. I think having it documented for now would at least reduce the surprise. I installed tern using pip.

[2021-09-30 18:09] KerinPithawala commented on #1039
Can I work on this issue?

[2021-10-01 16:29] Rushali-Sarkar commented on #1044
Hello! I am taking part in the GHC open-source day and wanted to contribute for this issue

[2021-10-01 16:39] hlumapas commented on #1043
Hello can I be assigned this issue for GH OSD?

[2021-10-01 16:45] JinduOkoli commented on #1042
HI, can I be assigned to this?

[2021-10-01 17:08] KerinPithawala commented on #1039
Thank you for assigning me the issue. Kindly review my Pull Request for the same.

[2021-10-01 17:56] #1043 closed

[2021-10-01 17:57] Samaiya commented on #1044
Hi , I am participating in vGHC and would like to work on this issue

[2021-10-01 18:03] debbie-leung commented on #1040
I'd like to work on this issue.

[2021-10-01 18:30] nishakm commented on #1044
Hi @Samaiya, This issue has already been assigned :). Would you like to take this one instead? https://github.com/tern-tools/tern/issues/1041

[2021-10-01 18:32] jayeritz commented on #1038
I can take this one

[2021-10-01 18:46] Samaiya commented on #1044
Hi Nisha ,

Yes please assign it to me.

Thanks,
Ashma

On Fri, Oct 1, 2021 at 11:30 AM Nisha K ***@***.***> wrote:

[2021-10-01 19:24] Samaiya commented on #1041
@nishakm can you please assign this to me , I am participating in vGHC OSD event

[2021-10-01 20:10] nikki2606 commented on #996
Hi! can you please assign me this issue? I can work on it!

[2021-10-01 20:19] nikki2606 commented on #996
Hi! I would like to work on this issue!

[2021-10-01 20:28] Samaiya commented on #1041
@nishakm what is the upstream branch to use for this ?

[2021-10-01 20:30] #1038 closed

[2021-10-01 21:29] #1040 closed

[2021-10-01 23:43] #1041 closed

[2021-10-02 20:50] #826 closed

[2021-10-12 16:34] nishakm opened #1060 "Proposal: Investigate cuelang to validate output documents"
**Problem Statement**
Although tests for tern manage to catch issues with analysis, it doesn't validate whether the documents created have the expected content. There isn't much out there that can help with this with regards to python.

**Describe the Proposal**
Take a look at https://cuelang.org/ to validate tern's document contents.

**Steps to Implement Proposal**
Take one of the default docume

[2021-10-18 16:24] sayantani11 commented on #1060
@nishakm A little more insight will be helpful, maybe I can be of some help

[2021-10-19 13:00] nishakm commented on #1060
@sayantani11 I'm actually not sure how much cue would be able to help with checking if our output documents match our expectations. If you'd like you can try writing something in cuelang to check a default document.
To get one of these run:
[code]

Then write some cue code to check if this line is present:
[code]
You can put your findings in a comment here.

[2021-10-21 14:16] maxhbr commented on #978
There was a tern release since that comment. ;)

[2021-10-21 14:30] maxhbr opened #1062 "ScanCode should run with n-1 cores, instead of using all available resources"
AFAIK it is recommended to run ScanCode with with one less core than is available. So it would be probably better to replace

https://github.com/tern-tools/tern/blob/87e7cdd154bc3cad98db1174b192ab9592adcffb/tern/extensions/scancode/executor.py#L139

by

[code]

[2021-10-21 14:38] pombredanne commented on #1062
@maxhbr ScanCode is happy to use it all, but it typically helps to use one less core to avoid saturating the CPU: this way it leaves some CPU cycles for the user. For instance on my laptop which is a quad core with 8 threads, I typically run with `-n7`.

[2021-10-21 14:41] maxhbr opened #1063 "Tern fails with ScanCode parsing error"
**Describe the bug**
When scanning `tomcat:10.0.6-jdk11-openjdk-buster` with Tern, it fails after some time with the following output:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run Tern with `-x scancode` on `tomcat:10.0.6-jdk11-openjdk-buster` and wait

**Environment you are running Tern on**
executed in dockerized environment. Observed both in container build from `docker/Dock

[2021-10-21 19:18] maxhbr opened #1064 "The generated SPDX JSON does not match the json schema"
**Describe the bug**
The generated output, generated via `"spdxjson"` does not validate against the [spdx-schema.json](https://github.com/spdx/spdx-spec/blob/v2.2.1/schemas/spdx-schema.json). I observed the following four issues.

The example was generated by scanning `osadl/debian-docker-base-image:buster-amd64-211011` and the result is [tern.spdx.json.gz](https://github.com/tern-tools/tern/files

[2021-10-25 14:35] nishakm opened #1065 "Use the full path of the binary when invoking scripts"
**Describe the Feature**
Currently, tern will invoke exactly the commands in the `base.yml` file:
[code]
This assumes the path to the binary is available in the `$PATH` environment variable. If this is not set then the command will fail. To avoid this, how about using `usr/local/go/bin/go` rather than just `go` i.e., provide the full path to the binary.

**Use Cases**
This issue usually comes up w

[2021-10-26 15:02] maxhbr opened #1069 "There is a mixup of lines in the documentation of `image_layer.py`"
I think the lines in the following documentation are somehow not in correct order. Maybe chunks were added between multi line statements. Especially `import_str:` is broken.

https://github.com/tern-tools/tern/blob/a3e76cdb0e08d92e896822634cbcf670bdd05e30/tern/classes/image_layer.py#L18-L43

[2021-10-26 21:48] #1062 closed, assigned to nobody

[2021-10-27 10:52] hectorj2f opened #1073 "Improve error message when docker is not running"
**Describe the bug**
When docker service is not running yet, you get an error that is not very descriptive of the current issue. Perhaps tern should check if docker is running or installed would be enough.

**To Reproduce**
Steps to reproduce the behavior:
1. Stop docker service
2. Run tern command

**Error in terminal**
[code]

[2021-10-27 20:02] #1064 closed, assigned to rnjudge

[2021-10-29 05:51] Raghavendrakamatagi-eng opened #1074 "Tern doesn't detect the license for packages found in layer"
**Describe the bug**
Tern doesn't detect the license for packages found in layer

**Error in terminal"
No license found for packages

**Expected behavior**
Tern should detect the license for installed packages in all layers

**Environment you are running Tern on**
Enter all that apply
- Output of 'tern --2.7.0
- Operating System :Ubuntu
- Installed tern using Docker
- Command -./docker_run.sh tern

[2021-10-29 18:10] rnjudge commented on #1073
Hi @hectorj2f -- if you have a chance, can you [give these](https://github.com/tern-tools/tern/pull/1075) changes a try? They fixed the error for me and I now see Tern exit gracefully when the docker and docker.socket dameons are stopped.

[2021-11-02 04:53] Raghavendrakamatagi-eng commented on #1074
Hello @rnjudge
Thanks for your response!

We are expecting the license for individual packages found in all layers. Please have a look on attached screenshot(License column is blank)

![image](https://user-images.githubusercontent.com/58773678/139788526-7487983f-f8f0-40f6-b589-3f6faa6387bd.png)

Note: Tern can able to detect the license for individual packages for other docker images e.g, golang

[2021-11-02 16:39] sameer1046 commented on #1074
https://github.com/tern-tools/tern/pull/1029
It'll be fixed in PR 1029

[2021-11-02 17:08] sameer1046 opened #1078 "Dockerfile in the parent directory"
Can we have the dockerfile in the parent directory?

I want to build a docker image for recent changes in the source

There is a dockerfile in ci directory which build docker image from a tarball.

I want donot want to build a tarball instead i copy the directory to the docker image and install it by pip.

I

[2021-11-03 10:32] sayantani11 commented on #1042
@rnjudge Can I be assigned this?

[2021-11-04 03:29] rnjudge opened #1079 "spdxtagvalue report is missing a "document DESCRIBES container" relationship"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Generate an SPDX tag value report
2. Search for "DESCRIBES" anywhere in the resulting document and notice that it does not exist.

**Error in terminal**
According to the SPDX [Spec](https://spdx.github.io/spdx-spec/relationships-between-SPDX-elements/), SPDX requires at least one relationship and that rel

[2021-11-04 03:30] rnjudge commented on #1069
@sayantani11 go for it!

[2021-11-04 03:30] rnjudge commented on #1042
@sayantani11 Sure!

[2021-11-04 13:10] #1073 closed

[2021-11-05 22:32] hectorj2f commented on #1073
thanks @rnjudge! It works for me now.

[2021-11-08 17:44] ashok-arora commented on #50
What's the status of this proposal and can I work on it?

[2021-11-08 18:29] ashok-arora commented on #792
@nishakm Is https://github.com/tern-tools/tern-api helpful in resolving this issue?

[2021-11-09 14:16] nishakm commented on #792
Not really. That is the web API. This issue is for developing CRUD operations on a cache database. So that means adding operations to add, update and remove objects similar to https://github.com/tern-tools/tern/blob/main/tern/utils/cache.py

My suggestion would be:
1. Create a folder in tern called API
2. Create an abstract base class with methods to implement similar to cache.py
3. Inherit from t

[2021-11-11 21:13] #1079 closed

[2021-11-11 21:22] nishakm opened #1082 "Feature: run tern in a container without using --unprivileged"
**Describe the Feature**
In order to allow Tern to run on kubernetes, it needs to run in an unprivileged container. Hence our current use of `docker run --privileged` is not acceptable.

**Implementation Changes**
1. Create a "driver" that does not require mounting
2. Create a method of applying layers without using overlay or fuse
3. Move overlay2 mounting to it's own `--driver` option

[2021-11-15 10:46] sameer1046 opened #1083 "Is it possible to get the source package name (and source version) in the report?"
Currently tern reports the binary package info of the Debian packages. It would be great if tern can provide the source package information in the report so that it would be easy to feed the report directly on license scanning tools.

[2021-11-17 16:07] nishakm commented on #1083
@rnjudge what do you think?

[2021-11-17 16:39] rnjudge commented on #1083
I think this is technically possible for a some package managers but not all. For example, i don't think python packages have the concept of a "source" package vs binary like rpm or deb packages do. I do worry about the clutter in the default table with another column for source package. I wonder if this is a command line flag we could include? @nishakm thoughts?

[2021-11-17 16:46] nishakm commented on #1083
@rnjudge a long time ago, tern included some ability to retrieve corresponding sources, particularly for debian packages as it was the easiest one to implement. This is different from "source package name" though.

I agree with the cluttering of the default table. We may want to direct folks looking for more information to the JSON or HTML report format.

@sameer1046 can you provide an example of

[2021-11-17 17:12] rnjudge commented on #1083
I *think* what he means by source package name is in reference to rpm or deb packages where there's one source package that contains the source code which builds/produces the associated binary packages (the source package is not typically installed). For example, the systemd source package produces `systemd`, `udev`, `libudev1` binaries and more (https://packages.debian.org/source/sid/systemd). Th

[2021-11-18 09:48] sameer1046 commented on #1083
@rnjudge Exactly. in linux/debian/rpm package have one source and from that source different binary packages were built. It would be great if it will be available in cyclonedx format

[2021-11-19 19:47] vsoch opened #1084 "Install with setup.py bug"
**Describe the bug**
I'm creating a package for spack, and we cannot install with the traditional setup.py build because package metadata is missing in te setup.py. I am wondering if it would be possible to add?

**To Reproduce**
Steps to reproduce the behavior:

1. Download .tar.gz from pypi
2. build

[code]

**Error in terminal**

see above! I pre-emptively pasted :laughing:

**Expected behavior

[2021-11-19 20:08] #989 closed

[2021-11-19 20:08] #1074 closed

[2021-11-19 20:12] rnjudge commented on #1084
Hi @vsoch - thanks for the issue. We use the `setup.cfg` file to house our package metadata. Are you able to pull the info from there?

[2021-11-19 20:39] rnjudge commented on #978
This has been fixed. Closing.

[2021-11-19 20:39] #978 closed

[2021-11-19 21:42] vsoch commented on #1084
@rnjudge based on the error message, I do think the install is using setup.cfg (sorry for not realizing this) and the issue is that the fields are deprecated. E.g., here is the long-description: https://github.com/tern-tools/tern/blob/38d5c7664d41b5163a5a88662824bac13e7db8a3/setup.cfg#L12 which should be renamed to long_description.

[2021-11-19 21:43] vsoch commented on #1084
I can open a quick PR to test updating these metadata fields.

[2021-11-19 21:45] vsoch commented on #1084
Suggested change! https://github.com/tern-tools/tern/pull/1085

[2021-11-22 19:48] #1084 closed

[2021-11-23 18:26] muzammil786 opened #1087 "Running tern with podman returns cert error"
How can we run turnd analysis using podman. I tried by creating the podman socket and using the command below:

`sudo podman run --privileged --device /dev/fuse -v /run/podman/podman.sock:/var/run/docker.sock:z --rm ternd report -i python:3.9-slim-buster > output.txt
`
But it got errors like:

[code]

[2021-11-26 10:07] ashok-arora commented on #792
@nishakm Thanks for the suggestions.

I had a couple of doubts:
1. Will there be a new CLI argument for performing cache CRUD operations?

2. In https://github.com/tern-tools/tern/blob/main/tern/utils/cache.py, remove_layer function takes layer_hash as input,
[code]

whereas, add_layer function takes layer_obj as input.

[code]

What would be the appropriate input for the different CRUD operations

[2021-11-27 16:33] sayantani11 commented on #1065
@nishakm I was going through this issue, but will changing `usr/local/go/bin/go` have much of impact, because usually `go` and the former usually works same in my terminal🤔
Do you mean changing line 441 or (446 & 452)?
For 446 & 452, guess the change will have some impact.

[2021-11-29 10:49] gernot-h commented on #1083
As a colleague of @sameer1046 at Siemens, I'm involved into license scanning topics since a couple of years, so some additional bits:

- At least in Debian, there's not only a source package, but also a source version which in rare cases could differ from the binary version (see the extreme example https://packages.debian.org/source/bullseye/lvm2: - dmeventd 2:1.02.175-2.1 is built from lvm2 2.03.

[2021-11-29 14:57] nishakm commented on #1083
I think the question we are grappling with right now is whether "source package name" should be included in our summary report. It's already becoming less summarizing ;). @sameer1046 @gernot-h if you are OK using a combination of tern's JSON format and jq, this is totally doable.

[2021-11-29 15:00] gernot-h commented on #1083
For the Siemens use-case, we just need this information in any machine-readable format, so JSON sounds perfect! :)

[2021-11-29 15:06] nishakm commented on #1065
The general problem is that we have situations where we cannot set environment variables, so even if we can find `go` at `usr/local/go/bin/go` we can't just call `go`. I think the place to implement this is not in the yaml file but in the code. If @rnjudge is OK with this change I can show you where to make it.

[2021-11-29 15:40] sameer1046 commented on #1083
I would suggest to produce a cyclone dx bom in source package format by setting a flag in the command line with all source package listed in the bom in purl spec.
E.g. pkg:deb/debian/gnupg2@2.2.12-1?packaging=sources
This will produce a bom which will contain only source packages and not binary packages.

[2021-11-29 16:02] sayantani11 commented on #1065
@nishakm Oh super! That'll be best

[2021-11-29 20:44] #1042 closed

[2021-11-29 21:10] rnjudge commented on #1083
We might need @coderpatros's help with this one after we add source package info to the data model as he is the CycloneDX format wizard :)

[2021-11-30 15:16] ashok-arora commented on #792
@nishakm @rnjudge Can I use [InquirerPy](https://inquirerpy.readthedocs.io/en/latest/) to make the CRUD command-line?

[2021-11-30 15:48] nishakm commented on #792
That's a good question! Yes, I would expect to have an option in the command line that indicates what "backend" tern will be using to store data. Something like `tern -s/--storage etcd`. But for this issue, we just need to define and implement the API.

The "key" in the database is the layer's hash. But in order to fill all the information collected for a layer, you need to provide the whole objec

[2021-11-30 15:56] nishakm commented on #792
You don't need to do that for this issue, but it's definitely something that looks like a good addition to the project :)

[2021-12-01 21:42] vsoch commented on #1084
Thank you for this help! Tern is now added to spack, so people can try out install via there, or if interested in Docker/Singularity containers there is a containerize command to do the same and generate in a dockerfile, or modules too. https://github.com/spack/spack/pull/27599#event-5701960443

[2021-12-08 23:09] rnjudge commented on #1083
Hi @Ranjit-Kumar-Nayak -- thanks for your interest! If you have good ways/can come up with a way to list source packages installed on a system using dpkg or rpm package managers (or in a bash script) that would be a good starting point! Bonus points if you can find the source given it's binary package name.

[2021-12-09 03:59] viki1998 opened #1089 "I have a question"
in use common - Loading packages from cache: layer "d1dc9db3a9“
I can't understand how this value（d1dc9db3a9） comes from. Is there any help document

[2021-12-09 16:51] rnjudge commented on #1089
Hi @viki1998 - that value you are inquiring about is the abbreviated hash of full layer filesystem hash:

[code]

The `fs_hash` of each layer is the the hashed value of the contents of the layer filesystem (assuming it was created with a tarball). This value gets set by running a shell script (`tools/fs_hash.sh`) which gets the file stats and file content's sha256sum. We then calculate the sha256s

[2021-12-09 17:46] rnjudge commented on #1083
@sameer1046 @gernot-h may I ask which vulnerability scanner you are using that requires sources?

[2021-12-09 19:55] gernot-h commented on #1083
Sorry, @nishakm, for coming back to this so late. I'm not exactly sure what the environment is here (I don't know how tern works internally), but in case you are running on the system with the packages in question, you don't need additional apt sources. All you need is already known by dpkg once your package is installed, a simple

[code]

will show you the source information for an installed pack

[2021-12-09 19:56] gernot-h commented on #1083
Sure. :) This is not about security scanning, but about license clearing (legal compliance task...). We use https://github.com/fossology/ for this.

[2021-12-09 20:04] nishakm commented on #1082
This is now merged

[2021-12-09 20:04] #1082 closed

[2021-12-09 20:10] nishakm commented on #1078
@sameer1046 I don't quite understand. The current method to create a docker container with the latest tern changes is:
[code]
Are you saying you do not want to run the `python setup.py sdist` step?

[2021-12-10 05:13] gernot-h commented on #1083
@sameer1046, could you please update the issue title and initial description to also include "source version", so for example "Is it get the source package name and source version in the report". Not sure if this is relevant for other Distributions than Debian and Ubuntu, though.

[2021-12-10 08:07] gernot-h commented on #1083
This should be `rpm -q --qf '%{SOURCERPM}' <pkg>`. The SOURCERPM also contains source version number.

And, on my OpenSUSE system, source version can also differ from binary version in rare cases, so this seems to be a common concept:

[code]

[2021-12-10 20:00] rnjudge commented on #1083
Thanks again @gernot-h. I think we can get this feature merged and data available in the JSON report before our next release (planned for next week).

[2021-12-13 17:55] rnjudge commented on #1089
@viki1998 Let me know if you have any followup questions about this. For now, I am going to close this issue.

[2021-12-13 17:55] #1089 closed

[2021-12-13 21:35] #1083 closed

[2021-12-13 23:22] rnjudge opened #1093 "Add source package metadata to CycloneDX format report"
**Describe the Feature**
Source package name (`src_name`) and version (`src_version`) properties are available for Package objects for dpkg and rpm package managers collection methods.

**Use Cases**
It would be great to get this information in to the CycloneDX output report.

@coderpatros are you available to help with this? Pretty please?

[2021-12-14 06:57] coderpatros commented on #1093
How could I say no when you ask so nicely :)

[2021-12-14 13:43] sameer1046 commented on #1078
This is fine for me. Thanks

[2021-12-14 13:43] #1078 closed

[2021-12-14 17:19] rnjudge opened #1094 "Add source package metadata to SPDX formats"
**Describe the Feature**
Source package name (src_name) and version (src_version) properties are available for Package objects for dpkg and rpm package managers collection methods.

**Use Cases**
It would be great to get this information in to the SPDX output report.

**Implementation Changes**
Binary packages should be described as "GENERATED_FROM" source package.

[2021-12-15 21:19] #948 closed

[2021-12-17 11:07] hectorj2f opened #1096 "Could I use Tern as a SDK ?"
**Please read the Code of Conduct before you proceed**
[Code of Conduct](/CODE_OF_CONDUCT.md)

**Ask your question here**
I am interested to know if I could use Tern as a SDK so I can call its functions to be used for sbom generation and scanning.

[2021-12-21 15:32] nishakm commented on #1087
@muzammil786 We made a release recently that removed docker as a dependency for analyzing container images. Try:
`sudo podman run --rm ternd report -i python:3.9-slim-buster > output.txt` after rebuilding the new [Dockerfile](https://github.com/tern-tools/tern/blob/main/docker/Dockerfile)

[2021-12-21 15:33] nishakm commented on #804
This is done.

[2021-12-21 15:33] #804 closed

[2021-12-21 15:34] nishakm commented on #859
This is done

[2021-12-21 15:34] #859 closed

[2021-12-21 15:35] nishakm commented on #850
This is done

[2021-12-21 15:35] #850 closed

[2021-12-21 15:36] nishakm commented on #888
Going to close this for now as we are able to inventory in an unprivileged container and the live inventory uses `unshare`.

[2021-12-21 15:36] #888 closed

[2021-12-21 15:37] nishakm commented on #757
This is now available in release 2.9.0

[2021-12-21 15:37] #757 closed

[2021-12-21 15:38] nishakm commented on #755
This is now enabled in release 2.9.0

[2021-12-21 15:38] #755 closed

[2021-12-21 15:39] nishakm commented on #678
This is now fixed.

[2021-12-21 15:39] #678 closed

[2021-12-21 15:41] nishakm commented on #261
@vsoch you should now be able to use tern in a docker or podman container without needing sudo. Would this work for you?

[2021-12-22 23:13] vsoch commented on #261
Woohoo yes absolutely! Will test it out soon.

[2021-12-29 15:10] JDemler opened #1097 "Generating CycloneDX SBOM fails"
`./docker_run.sh ternd "report -f cyclonedxjson -i debian:buster" > bom.json` fails with `AttributeError: 'OCIImage' object has no attribute 'repotags'`

**To Reproduce**
Steps to reproduce the behavior:
1. clone repository
2. build tern using `docker build -f docker/Dockerfile -t ternd .`
3. run `./docker_run.sh ternd "report -f cyclonedxjson -i debian:buster" > bom.json`
4. See error

**Error in

[2022-01-05 16:48] rnjudge commented on #1097
Thanks for the report @JDemler! Will get going on a fix for this.

[2022-01-06 11:55] muzammil786 commented on #1087
@nishakm
I have got certificate validation error:

2022-01-06 11:27:58,117 - ERROR - skopeo - Error when downloading image: "b'time="2022-01-06T11:27:58Z" level=fatal msg="Error initializing source docker://<redact>: error pinging docker registry <private registry>: Get \\"https://<priate registry>/v2/\\": x509: certificate signed by unknown authority"\n'"

How to send src-tls-verify=false option

[2022-01-06 13:54] nishakm commented on #1087
@muzammil786 not at this time. We can probably modify the Dockerfile to create a volume mount. Or podman perhaps has some way of enabling this. I will take a look.

[2022-01-06 13:58] nishakm commented on #1096
If you were coding in Python you can absolutely import tern and use its functions :). Are you looking for some equivalent in another language?

[2022-01-06 14:00] nishakm commented on #1065
@rnjudge We spoke about this at length and I don't remember what issue we had hit upon regarding implementing this. Do you remember?

[2022-01-06 14:57] muzammil786 commented on #1087
@nishakm Thanks. I have sorted this out by adding my registry into the base image.

`COPY registries.conf /etc/containers/registries.conf`

This line in the docker/Dockerfile helped me sail for now :-)

[2022-01-07 09:17] hectorj2f commented on #1096
I am looking how to consume tern as a plugin, so either exposing its basic functions as grpc endpoints might be an option. Another option would be to mount it as a binary. I am looking at the possible integration points.

[2022-01-07 13:53] nishakm commented on #1096
Thanks @hectorj2f for that clarification. Exposing grpc endpoints sounds like a good place to start planning enhancements. We currently have a [simple web app](https://github.com/tern-tools/tern-api/blob/main/web/app.py) that just invokes tern with reporting functions in various formats. Is there anything else you think we should expose?

[2022-01-07 16:28] florentulve opened #1098 "Docker skopeo and proxy"
http_proxy/http_proxys/no_proxy env vars doesn't seem to be forwarded to `subprocess.Popen`

In consequence, skopeo can't pull image behin a proxy in docker context.

How to reproduce:

Behind a proxy:

[code]

=> doesn't work

However, running skopeo directly inside docker work

[code]

=> works

[2022-01-07 19:45] hectorj2f commented on #1096
The idea of having a clear API to know inputs and outputs to interact with. It would be great.

[2022-01-12 11:10] yamaken1343 opened #1100 "Scanning is not possible due to a Python Index Error."
**Describe the bug**

Scanning is not possible due to a Python Index Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run to tern report
2. See error

**Error in terminal**
I use `docker/Dockerfile`

[code]

**Expected behavior**
https://github.com/tern-tools/tern/blob/723f43dcaae2f2f0a08a63e5e8de3938031a386e/tern/classes/image_layer.py#L349-L360

It is expected that only the format `p

[2022-01-13 18:15] jasona7 opened #1101 "Scan failing with 2.9.0 release on .split"
**Describe the bug**
A clear and concise description of what the bug is.

We run weekly Tern scans against hundreds of images on a Harbor registry (v2.1.3) with the previous Tern release v2.8.0.  We upgraded to the v2.9.0 release and are experiencing Traceback split errors from /usr/local/lib/python3.9/re.py.  Not all scans are failing, about 40% of the scans fail.

**To Reproduce**
Steps to repro

[2022-01-14 14:53] nishakm commented on #1100
OK, I'm able to reproduce on a CentOS Vagrant Box. I get what you're saying now. I will submit a fix shortly.

[2022-01-18 19:49] vEpiphyte commented on #1101
I've also experienced this with Python 3.10.1 and tern 2.9.0.
[code]

[2022-01-18 23:38] rnjudge opened #1103 "Add sample SBOM output to the GitHub repo"
We have gotten a few requests asking to see sample SBOMs that Tern generates. It might be a good idea to store a few of these in all of the formats on the GitHub repo somewhere for those who might not have the time to test Tern out for themselves but are still interested in the project.

[2022-01-19 22:06] nishakm commented on #1101
I'm able to reproduce this. A fix is coming up, followed by a 2.9.1 release once the bug fixes are merged.

[2022-01-20 18:09] #1097 closed

[2022-01-20 19:48] #1101 closed

[2022-01-20 20:55] rnjudge commented on #1063
I can reproduce this. Working on a fix.

[2022-01-20 20:57] #1100 closed

[2022-01-21 18:38] #1063 closed

[2022-01-25 22:21] rnjudge opened #1108 "May need to adjust scancode parsing variable names"
**Description**
Potentially revert or modify https://github.com/tern-tools/tern/commit/ce5c76305c577e089879d28c7e9e0fdeac20045e when resolution has been reached for https://github.com/nexB/scancode-toolkit/issues/2803.

The `declared_license` naming field is perhaps not something Tern should collect as it is currently only the extracted license statement that exists in a package manifest using the

[2022-01-25 23:24] rnjudge commented on #108
@nishakm was this addressed with https://github.com/tern-tools/tern/commit/57c644c049658f1ac47d2de809238443b96295db?

[2022-01-25 23:26] #730 closed

[2022-01-25 23:47] rnjudge commented on #840
This issue was resolved. Closing.

[2022-01-25 23:47] #840 closed

[2022-01-25 23:49] rnjudge commented on #827
@nishakm what do you think about @jaindhairyahere's question? I personally think Tern should exit in the case of an unsupported extension so the user doesn't waste time generating a report that does not have the extension information they are looking for...

[2022-01-26 15:35] nishakm commented on #108
No...but I think it can be implemented/hacked now, and it would be a good intermediate good-first-issue.

[2022-01-26 16:30] nishakm commented on #933
@rnjudge would this be a good issue to complete for the Beta release?

[2022-01-28 19:19] rnjudge opened #1109 "Running Tern with scancode should include package and file information"
**Describe the bug**
Currently, if no cache file exists and you run Tern with Scancode, the output report will only include file information from Scancode. If a cache file with package information exists from running the default Tern scan in a previous run, then running Tern with Scancode produces package and file information.

Suggest changing the behavior to report package and file information b

[2022-01-28 19:40] rnjudge opened #1110 "Enable Tern to run on Kubernetes"
**Describe the Feature**
Tern can be package as a container. Next, let's make it run on Kubernetes so users can deploy and utilize Tern at scale or as part of their CI/CD pipelines.

**Implementation Changes**
There are two approaches to running Tern on Kubernetes:
1. Run Tern jobs as ephemeral containers each with the job of scanning one container image.

2. Run Tern in some number of persistent

[2022-01-28 19:42] rnjudge commented on #1093
Hi @coderpatros - just to help with milestone planning for Tern, do you have a timeline of when you might be available to help with this?

[2022-02-01 23:02] nishakm commented on #827
I agree with @rnjudge that when an undefined extension is provided we should just exit with a CRITICAL error.

[2022-02-01 23:09] nishakm commented on #1110
On further investigation, it seems like Tern can run on Kubernetes as of release 2.9.1, but requires volume mounts. Therefore, we will just add some documentation to the README explaining how to do that with minikube.

[2022-02-02 16:44] rnjudge opened #1111 "Add docs explaining how to run Tern on Kubernetes"
**Description**
On further investigation, Tern can run on Kubernetes as of release 2.9.1, but requires volume mounts. Therefore, we will just add some documentation to the README explaining how to do that with minikube.

**To Do**
Add a "how-to" document in the docs folder that explains how to run Tern using minikube. Also add a reference to this doc in the README.

**Super Issues**
https://github

[2022-02-02 17:19] #1098 closed

[2022-02-02 18:06] rnjudge commented on #1096
Hi @hectorj2f -- as we start to look at implementing an API, can you provide any more information on your requirements (i.e. specific use cases)? Would a REST API work? Do you need this to run on Kubernetes?

[2022-02-02 18:27] rnjudge opened #1112 "Create [REST or RPC] API for Tern to run as a service on Kubernetes"
**Description**
We would like to run Tern in some number of persistent containers as a service in a K8s cluster, scaled to the resource environment. Ideally, something calls out to the “Tern cluster” via its APIs and asks for work (i.e. the 100 containers names for scanning). Tern figures out how to load balance those across its available instances, perhaps with Kubernetes spinning up more worker

[2022-02-02 18:46] rnjudge opened #1113 "Add CLI flag to change location of the log file"
**Describe the Feature**
Tern currently creates a `tern.log` file in the directory wherever the Tern command is run that captures the terminal output during a run. Add a CLI flag that could change the location of where the log file ends up.

**Use Cases**
When running Tern with minikube, it would be to direct the log file to the mount directory instead of leaving it in the container.

**Implementa

[2022-02-02 20:20] hectorj2f commented on #1096
@rnjudge Yes, I'd expect a basic API with the main functions to call it. A rest API would work, or a gRPC API would be great. We'd like to run a service on kubernetes to call it on demand when requested.

[2022-02-03 15:50] nishakm opened #1115 "Rootless podman support?"
**Describe the Feature**
When building and running tern using podman as a non-root user, the following error occurs:
[code]
It is currently possible to get around this issue by running `sudo podman run --privileged` but it would be nice if this didn't need to be the case.

[2022-02-03 15:52] nishakm commented on #1115
`/dev/urandom` is required by images using rpm. Perhaps we can create that device node only for rpm style jobs and then remove it?

[2022-02-03 15:59] nishakm commented on #1087
I am not able to reproduce this error when running `sudo podman run --privileged --rm tern report -i python:3.9-slim-buster`. At this time, running podman as root and using `--privileged` is the only way to get around the permission issues when creating device nodes (see #1115 ). I will close this issue.

[2022-02-03 16:00] #1087 closed

[2022-02-04 14:25] raghunathd8 opened #1117 "Running more than one tern process in parallel in same instance results in errors (problem with $HOME/.tern/temp directory)"
**Describe the bug**
Running >=2 processes of tern is resulting in error for at least one process. One tern process is finishing and cleaning up temp directory while the other process (which is running in parallel) is also running and expecting that the temp directory is created and required directories/files are in place. This is ending up in various errors depending on the time parallel executio

[2022-02-04 16:45] rnjudge commented on #1117
Hi @raghunathd8 this is possible using the `-wd PATH` cli option.

In terminal one:
`tern report -f json -i docker.io/library/alpine:latest -o tern-report.json`

In terminal two:
`tern -wd ~/temp1 report -f json -i alpine:3.14 -o tern-report1.json`

Tern needs a working directory to perform its comparison operations. If one is not specified, it will default to using the same directory which is the

[2022-02-04 16:45] #1117 closed

[2022-02-10 16:26] nishakm commented on #1020
Since we've started pulling images using Skopeo, we can no longer analyze post built images unless they're on a registry. I've tried using `tern report -d` instead which will call docker to build the image.

[2022-02-10 20:45] #1113 closed

[2022-02-10 22:07] rnjudge commented on #827
@nishakm If we want to utilize the existing Stevedore `DriverManager` which knows all about the names of the valid extensions, we have to untar the first layer prior to exiting if the extension name is not valid. Does this seem early enough to exit? (I think 23ish seconds to fail is reasonable considering tradeoffs). This would be the cleanest approach and look like this:

[code]

 The alternative

[2022-02-10 23:33] nishakm commented on #827
@rnjudge This looks good to me.

[2022-02-11 17:21] #1103 closed

[2022-02-11 22:36] meriouma opened #1121 "skopeo doesn't seem to use Docker image cache when running in container"
**Describe the bug**
While using Tern in a Docker container, skopeo tries to download the image, although it was already pulled by docker. What I'm trying to achieve here is run Tern on a private image on Github Actions. The steps are (I'm using those steps for other tools and it works fine) :
1. Login to private registry
2. Pull the private image with `docker pull`
3. Run `docker run -v /var/run/

[2022-02-11 22:39] #827 closed

[2022-02-14 12:07] raghunathd8 opened #1122 "Tern cannot scan SUSE SLES based images"
**Describe the bug**
Tern cannot identify/list packages in SUSE SLES images.

**To Reproduce**
Steps to reproduce the behavior:
Run this command in a terminal (you may choose any sles version from here to test more, I used many of them, it does not seem to work for SUSE SLES images: [SUSE Registry](https://registry.suse.com/))
```tern report -i registry.suse.com/suse/sles12sp4:latest```

**Error i

[2022-02-14 14:28] nishakm commented on #1122
@raghunathd8 Thanks for filing an issue! I am not familiar with the SUSE SLES OS. Does it have a package manager different from rpm? Or does it not have a package manager at all?

[2022-02-14 15:58] raghunathd8 commented on #1122
@nishakm SUSE SLES OS uses package manager and is rpm based. It also has zypper to manager rpm packages. You can get more information here: https://documentation.suse.com.
SUSE is the firm and SLES is the enterprise version and OpenSuse is the open source version. Exactly similar to CentOS (openSource) and Redhat (Enterprise) ;)
SUSE has very large community. Request you to please also provide Ter

[2022-02-14 21:16] rnjudge opened #1123 "`tern debug --recover` throws AttributeError"
**Describe the bug**
When Tern relied on overlayfs to mount layer directories you could run `tern debug --recover` to undo all the mounts and recover the filesystem. If a Tern run fails now, we don't need to always undo the mounts (unless the overlayfs CLI option was used) but we do need to cleanup the `.tern/temp/mergedir` directory, otherwise the subsequent run fails. If you try to do another ru

[2022-02-15 02:30] #1111 closed

[2022-02-16 14:44] urmilkalaria commented on #50
I don't know if it is possible but since we are aiming to store the container image into database, can't we convert docker image to JSON format and then store in JSON data in redis database. Since JSON greatly increase the performance and also accessing database through Redis is faster.

[2022-02-17 22:23] rnjudge commented on #1122
The difference between SLES and other rpm-based distros is the location of the rpm utility. Tern was looking for the utility in `/usr/bin/rpm` but for SLES, it's located in `/var/lib/rpm`. I am opening a fix for this now. @raghunathd8 in the mean time, here's the report you're looking for :)

[code]

[2022-02-18 13:56] raghunathd8 commented on #1122
**Many many thanks** for your support and the upcoming solution (#1125). Much appreciated. I am looking forward to it :)

[2022-02-18 17:15] #1122 closed

[2022-02-18 17:42] nishakm commented on #1121
Also related to https://github.com/tern-tools/tern/issues/1087 - where skopeo may require either access to `registries.conf` and/or passing the `tls-verify=false` flag.

[2022-02-18 17:46] nishakm commented on #1121
@meriouma Have you tried mounting your `registries.conf` file from your host to the tern container? Similar to this: https://docs.docker.com/registry/configuration/#overriding-the-entire-configuration-file

[2022-02-23 18:51] rnjudge commented on #1002
Hi @JustinWonjaePark any followup from your investigation?

[2022-02-23 20:11] #1121 closed

[2022-02-25 21:30] rnjudge opened #1129 "Denote container package type in SPDX docs"
**Describe the Feature**
SPDX 2.3 is proposing adding a package purpose field which could be used to denote when the package is a container (among other package types). Once the proposal is agreed upon and merged, add the package purpose type to Tern SPDX reports.

Depends on: https://github.com/spdx/spdx-spec/pull/622

[2022-02-25 21:35] #1109 closed

[2022-02-25 22:36] rjb4standards commented on #1129
Update proposed Package description materials as needed to support this item ref: https://github.com/spdx/spdx-spec/issues/628

[2022-03-10 15:21] ThiefaineM opened #1130 "Purl generation"
**Please read the Code of Conduct before you proceed**
[Code of Conduct](/CODE_OF_CONDUCT.md)

**Ask your question here**
Hello, I was using Tern on my Dockerfile where I use Python and the framework Django to generate CyclondeDX BOM. The returned purl for django is **"pkg:pip/Django@3.2.3"**. Nevertheless, the "correct" purl to identify django seems to be **"pkg:pypi/django@3.2.3"** according to

[2022-03-10 23:53] rnjudge commented on #1130
cc @coderpatros :)
Thanks for the issue @ThiefaineM!

Looking at what generates the purl:
[code]

the purl_type is using the package format, which for python package is `pip` https://github.com/tern-tools/tern/blob/1d9f547cbb5a47fe6f91ab8e0adc9aa966c82242/tern/analyze/default/command_lib/base.yml#L278

I think some simple logic could fix this. I wonder if there's other package format types that mi

[2022-03-11 09:16] ThiefaineM commented on #1130
Thank you for your quick reaction, I will not hesitate to create an issue if I encounter others in the future.

[2022-03-11 10:38] ThiefaineM opened #1131 "Purl Generation Alpine"
**Describe the bug**
The generated purl for alpine composants does not match the one use in OSSINDEX.

**To Reproduce**
Steps to reproduce the behavior:
1- Create a Docker with an alpine image such as postgres:12.0-alpine
2- Use Tern to generate a BOM in cycloneDx json format
3- Look at the purl generate: for example the one for libxml2

**Expected behavior**
It seems that for alpine the purl look

[2022-03-14 09:54] ThiefaineM commented on #1131
I think that it can be fix by removing the apk field in the definition of purl_types_with_namespaces in the file tern/formats/cyclonedx/cyclonedx_common.py

[2022-03-21 10:38] ivanayov commented on #1131
Can I work on this?

[2022-03-21 14:32] MarkusGeigerITD opened #1137 "Output format cyclonedxjson incorrectly puts license id into license name property"
When generating an CDX SBOM, tern finds and emits the SPDX license IDs correctly, but puts them into the "name" property instead of the "id" property.
OWASP Dependency Track is not able to parse the license based on the name property (yet)

Example output
[code]

**Expected behavior**
Should be:
[code]

**Environment you are running Tern on**
Docker on Ubuntu 20.04

- Output of 'tern --version'
[c

[2022-03-21 17:51] rnjudge commented on #1137
cc @coderpatros for another cdx bug :)

@MarkusGeigerITD what is the expected license name?

[2022-03-21 22:36] rnjudge commented on #1131
@ivanayov I think @ThiefaineM already opened a PR with a fix for this.

[2022-03-21 22:37] rnjudge commented on #1137
@ivanayov, once we get more clarity on what the "name" field should be, you can work on this :)

[2022-03-22 07:20] coderpatros commented on #1137
Ah, this might have been something I had meant to check with you @rnjudge. I think I put it in the name property meaning to check if they are _always_ a valid SPDX license ID or if what I was observing was a happy coincidence.

@ivanayov it should be enough to just change this method https://github.com/tern-tools/tern/blob/ba56a93963419f90d2bab2fc9fb819a13cffad0d/tern/formats/cyclonedx/cyclonedx_c

[2022-03-22 19:53] #108 closed

[2022-03-23 10:22] MarkusGeigerITD commented on #1137
(@rnjudge:)

Hi Rose, thanks for getting back to me so quickly!
When I came across this issue, I was investigating ways to minimize the threat of supply chain attacks via docker base images using only FOSS solutions (and not commercial services like snyk). We are already using OWASP DependencyTrack in our company and when I was made aware of tern, I was excited to see that it supports OWASP's own

[2022-03-23 16:07] #1130 closed

[2022-03-23 16:35] stevespringett commented on #1137
Thanks @MarkusGeigerITD
* CycloneDX supports a [enumerated list of SPDX license IDs](https://cyclonedx.org/docs/1.4/json/#metadata_licenses_items_license_id) (strict validation)
* [Unresolved license names](https://cyclonedx.org/docs/1.4/json/#metadata_licenses_items_license_name)
* [SPDX license expressions](https://cyclonedx.org/docs/1.4/json/#metadata_licenses_items_expression) (not validated)

[2022-03-25 07:26] MarkusGeigerITD commented on #1137
Thanks for the clarification, @stevespringett!

[slightly off-topic remark]

I fully understand and agree - my main focus is on security as well. But in my experience, when it comes to convincing managers to invest time and money into introducing something like DT, the fear of unintentionally depending on a copyleft-licensed component is much stronger than the fear of having an undiscovered vuln..

[2022-03-25 17:36] ivanayov commented on #1137
I'd like to address it :)

[2022-03-25 21:27] rnjudge commented on #1131
@ThiefaineM Mentioned this in my PR, but it does not look like apk/alpine packages are actually defined in the purl spec so curious why ossindex has a preference, do you know?

[2022-03-26 04:34] ThiefaineM commented on #1131
I do not have an idea on why they did it like this sorry.
Nevertheless by looking at the spec, I saw that Python packages (with others) should have their name is lowercase. But it is not the case as generated purl for Django is : "pkg:pip/Django@3.2.3"
Should I create an other issue specific to it ?

[2022-03-28 09:05] ThiefaineM opened #1139 "Error in the CycloneDX JSON report with ci/Dockerfile"
**Describe the bug**
Asking Tern to generate the report in the cyclonedx json format make it bug. Other format such as json or yaml does not bug.

**To Reproduce**
The Docker is run in Gitlab CI.
1. Build and run the Dockerfile from the ci file
2. Push the Docker to the container and use it in a pipeline
3. Launch Tern on a Dockerfile and put the report format as cyclonedxjson : tern report -f cyc

[2022-03-28 09:28] #1139 closed

[2022-03-28 17:45] rnjudge commented on #1131
Yes, please. By the way, I opened an [issue](https://github.com/package-url/purl-spec/issues/159) in the purl repository asking about the alpine/apk purl type entry. It would make me feel better to have a specified Alpine type in the purl spec before merging your PR but I'll see what they respond with. I'm not opposed to merging your PR if the purl maintainers seem agreeable with the current ossin

[2022-03-29 07:09] ThiefaineM opened #1140 "Purl Generation name"
**Describe the bug**
According to the purl spec, some package names should always be in lowercase : https://github.com/package-url/purl-spec/blob/master/PURL-TYPES.rst
One of them is for pypi languages, but at the moment the generated purl for Django is : "pkg:pypi/Django@3.2.3"

**To Reproduce**
1. Launch Tern on a docker with django with a cyclonedxjson report

I will work on the PR (if it's oka

[2022-03-29 07:25] ThiefaineM commented on #1140
Hello @rnjudge !
I have a question: so there is the list of package recognized in the purl spec and the one in Tern : tern/tern/analyse/defaukt/command_lib/base.yml
Should I only focus on the twelve in base.yml and ignored the others ?

[2022-03-29 15:59] rnjudge commented on #1140
Hi @ThiefaineM, base.yml lists the package managers that Tern is able to collect metadata for (I imagine the purl spec has many more than 12). If you have other package mangers that you would like to see added to base.yml please let me know and we can look in to them. The scripts in base.yml are what Tern runs to collect package metadata for each package manager so any package manager we add will

[2022-03-30 06:42] ThiefaineM commented on #1140
OK, then for the pull request I only worked with the one present in base.yml.
I think base.yml has most of the interesting packages manager but **maven** could be a big plus :)

[2022-03-31 09:20] vargenau opened #1143 "Invalid SPDXID"
**Describe the bug**
An SPDXID cannot contain underscores.

Tern generates:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Error in terminal**
[code]

**Expected behavior**
SPDXID should be valid. Replace "_" with e.g. "-".

**Environment you are running Tern on**
Enter all that apply
- Output of 'tern --version'
[code]
- Operating System: Ubuntu 21.10

[2022-03-31 19:13] rnjudge commented on #1143
Ah, this is because the package version has an underscore in it. I can fix it. Thanks for opening, @vargenau .

[2022-03-31 21:31] #1137 closed

[2022-04-01 14:34] nishakm opened #1146 "Inventory go binaries with module support"
**Describe the Feature**
Go release 1.18 allows you to list all modules included in the Go binary. Allow Tern to make use of it.

**Use Cases**
A good number of container images are distroless + go binary, and it would be awesome if Tern could fully inventory both things.

**Implementation Changes**
The go code to list the modules is quite simple. However, the deployment of a python package that i

[2022-04-06 17:23] vargenau opened #1147 "In SPDX output, have PackageLicenseDeclared give the license directly instead of creating an unnecessary LicenseRef."
**Describe the Feature**
In SPDX output, have PackageLicenseDeclared give the license directly instead of creating an unnecessary LicenseRef.

**Use Cases**
It will be easier for tools to process the SPDX files.

**Implementation Changes**
One would need to be able to identify a license already in SPDX format.

Tern is run with the following command:
[code]

[danm-cni-plugins.spdx.txt](https://git

[2022-04-12 17:13] rnjudge commented on #1147
Thanks for the issue @vargenau. Unfortunately, we can't always use the direct license value as we have no way of checking currently if the license is an approved license on the SPDX license list. Additionally, sometimes licenses that are on the approved license list are not reported using the correct identifier and we would need a way to interpret these causes and augment these licenses to their c

[2022-04-13 09:41] vargenau commented on #1147
Hi Rose,

The following Python code should be able to do the job: [https://pypi.org/project/spdx-lookup/](https://pypi.org/project/spdx-lookup/).

Are you aware of it?

[2022-04-13 20:15] #1143 closed

[2022-04-14 04:41] #1140 closed

[2022-04-14 16:19] rnjudge commented on #996
Go for it! Let me know if you have any questions :)

[2022-04-14 16:19] #1131 closed

[2022-04-14 16:20] ivanayov commented on #1147
I can work on this.

[2022-04-14 16:25] rnjudge commented on #1147
I was not aware, thank you! We will try to use this.

[2022-04-14 16:48] alannaemmrie commented on #996
Awesome! I just went through and added the implementation to run all the tests and display test info.

[2022-04-14 17:07] rnjudge opened #1156 "Regression: packages not found for photon image (rpm-based collection)"
**Describe the bug**
Running at the tip of `main`, Tern no longer finds packages for photon-based images. The issue is a regression based on this commit: https://github.com/tern-tools/tern/commit/c88d542d823d66ed0162dbf7e81ebf70640d73b3

If you revert this commit, Tern finds packages for photon.

[2022-04-14 17:10] vargenau commented on #1147
Hi,

I have found a better SPDX license expression parser:
[https://github.com/nexB/license-expression](https://github.com/nexB/license-expression)

To install it:
[code]

Then you have to apply the following patch to file formats/spdx/spdxtagvalue/package_helpers.py

[code]

This will produce a PackageLicenseDeclared as proposed above.

What remains to do is to remove the now useless LicenseID an

[2022-04-14 17:45] rnjudge commented on #1156
The issue is not with the commit itself, but rather with the way Tern selects which binary to use in the `get_base_bin()` function. A fix is on the way.

[2022-04-14 18:17] #1156 closed

[2022-04-20 14:30] ivanayov commented on #1147
Thank you @vargenau , it was very useful. It's addressed for both tag/value and json in #1159.

[2022-04-21 09:23] software-testing-professional opened #1160 "Tern Docker image: Pulling images from private registry"
Is it possible to pull and analyze images from a private registry (like Artifactory)?

This happens when the Tern container is used in Gitlab CI. Although a `docker login ...` has been executed, and the `/.docker/config` has been mounted into the Tern container.

It works fine on my local machine.

It results in `2022-04-21 09:04:17,531 - WARNING - docker_api - Build failed: Get https://**********

[2022-04-25 16:12] software-testing-professional opened #1161 "rootfs - Error executing command in chroot"
I'm running Tern in an Ubuntu 20.04 container, along with some other CycloneDX / BOM tools.

When I try to run a scan on an existing Docker image, these ERROR messages show up:

[code]

[code]

The installed Python is 3.8.10

Do you have any idea how I can fix this?

Best regards,
Michael

[2022-04-27 05:21] software-testing-professional commented on #1161
I figured out that the problem is caused by `apk`, which does not work correctly.

The motivation to use Tern as locally installed tool was some authentication issue with out private Docker registry.

The easiest solution for me was to switch to the Docker-based Tern, and provide a Docker config.json (`/~.docker/config.json`) with the credentials stored.

So my problem is solved. :-)

[2022-04-27 19:42] rnjudge commented on #1160
Hello! The issue of private repositories can be solved by either changing the Dockerfile or to mount the registries file to the build tern image. However, this doesn't work for situations where you want to run a demo registry without https or TLS verification. For this purpose, you would need to send the tls-verify=false flag to skopeo to pull the image.

See https://github.com/tern-tools/tern/iss

[2022-05-09 15:08] Jeeppler commented on #1161
Please reopen this issue.

I have the same issue. I need to have my own Dockerfile with Tern in it.
I tried it with Ubuntu 21.04 and 22.04. It seems to be always the same issue.

[2022-05-11 14:21] HontoNoRoger commented on #361
I'm having a similar use case and I tried to get around this by taking kaniko's resulting image tar archive and shoving that into Tern with `--raw-input`.
Unfortunately though, this doesn't yet work, as `tern/analyze/default/container/run.py:40` seems to always expect a format `docker save` is exporting. This doesn't seem to be compatible with kanikos output though.

The result when tried is, ever

[2022-05-11 16:32] ivanayov opened #1163 "Add content validation tests"
Currently the test coverage verifies that tern runs successfully, but doesn't look at the generated contents.

This proposal suggests the following coverage:

1. SPDX
    * SPDX json
      * Verify that packages contain `"name"`, `"SPDXID"`, `"versionInfo"`, `"downloadLocation"`, `"filesAnalyzed"`, `"licenseConcluded"`, `"licenseDeclared"`, `"copyrightText"`, `"checksums"` if available and they re

[2022-05-11 16:59] ivanayov opened #1164 "Add Running tests instructions"
Currently the Running tests section of the README says:

"WARNING: The `test_util_*` tests are not up to date. We are working on it :)."

Replace with proper and platform-dependent instructions.

[2022-05-11 17:03] ivanayov opened #1165 "Should we make test coverage a requirement for new changes?"
Once #1163 and #1164 are addressed, it would be good if all future changes have relevant test coverage.

What do you think about making this a requirement when relevant?

[2022-05-11 17:24] ivanayov opened #1166 "Separate tests per platforms"
Currently all tests are organised together, which makes it hard to run all locally, as they are platform specific, which prevents creating good and simple instructions for #1164.

What do you think about those options?
1. Separate based on naming or reorganising the tests directory
2. Abstract platform specific configs, so that same tests can run everywhere.

IMO, the second option, if possible, w

[2022-05-13 02:39] rnjudge commented on #1163
Hi @ivanayov!

Thanks for the issue! This is something that we have struggled with in our CI testing. It's hard to set expected values for container image metadata in the CI as images change/are updated frequently. Even if we specify the digest of a container image to use, we would have to keep our tests up to date as base images become outdated/unavailable using the pinned versions we've specifie

[2022-05-13 02:51] rnjudge commented on #1166
When you say platform specific do you mean VM vs Mac vs Linux environment? I think all the tests should run in any of these environments, at least for all the class tests -- are there tests that were not working for you in a certain environment?

[2022-05-13 02:56] rnjudge commented on #1165
Adding tests when applicable is definitely ideal!

[2022-05-13 02:59] rnjudge commented on #1161
@Jeeppler can you provide a little more information about how you're running Tern when you see this error? How are you installing Tern and what version are you running? When you say "I need to have my own Dockerfile with Tern in it" -- what Dockerfile are you using?

[2022-05-13 16:15] rnjudge commented on #1161
I will take a look at this today. When you say:

can you share the Dockerfile you use to build Tern? and what is the "one more component" you are needing?

[2022-05-13 17:10] Jeeppler commented on #1161
@rnjudge thanks for showing some interest in this issue. We want to integrate Tern into [SecHub](https://github.com/mercedes-benz/sechub). As part of the integration we need to have our [SecHub Product Delegation Service](https://mercedes-benz.github.io/sechub/latest/sechub-product-delegation-server.html) (PDS) component in the final Docker image. The PDS component ensures, that we run tools in a

[2022-05-17 06:12] Raghavendrakamatagi-eng opened #1168 "How to crosscheck the FOSS packages detected by tern?"
Hello Team,

One question,

How to verify the FOSS packages detected by tern are used in our project or not, since we found that some packages are coming under strong copyleft license e.g.GPLv3+. Kindly confirm

Thanks in advance.

[2022-05-18 05:14] rnjudge commented on #1161
@Jeeppler FYI, I am able to reproduce this issue and I'm looking at it.

[2022-05-19 00:39] rnjudge commented on #1161
The `find_shell()` function looks for the shell in the container to run the commands needed to collect package metadata information. If it doesn't find one, it defaults to a blank string, which is what we are seeing in this particular issue.

When the failing chroot command is run, it should utilize the shell to run the apk commands as you can see in `tern/utils/rootfs.py` below. Because the shell

[2022-05-19 03:02] rnjudge commented on #1168
Hi @Raghavendrakamatagi-eng if you have the source code for the packages that you want to cross-check you can confirm there. Otherwise, Tern uses the package manager to collect license information reported by the package publisher/author (with the exception of Debian-based packages which parses copyright text). If you want to see for yourself how these commands are run you can login to the interac

[2022-05-19 03:21] #1168 closed

[2022-05-20 21:02] yokhahn commented on #261
I'm in an environment where the home dir is mounted on nfs with a squashed root.  The chmod will not work when elevated to root.  Why is that being run in that way?

[2022-05-25 08:09] Jeeppler commented on #1161
@rnjudge thanks for analyzing the problem and finding the root cause.

[2022-05-25 20:39] Jeeppler commented on #1161
@rnjudge yes, I can confirm, that I am now able to scan both `golang:1.18-alpine` and `alpine:latest` in a Ubuntu 22.04 container. Your fix works.

[2022-05-25 21:23] #1161 closed

[2022-05-27 09:47] Jeeppler commented on #1161
@rnjudge thanks for fixing the issue.

[2022-06-06 11:34] vargenau opened #1170 "FilesAnalyzed: False has a wrong case for "False""
**Describe the bug**
Tern sometimes generates `FilesAnalyzed: False` instead of `FilesAnalyzed: false`

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
In SPDX 2.2, section 1.7.7, it is stated: "Tags and format properties are case sensitive".

So boolean `false` should be in lower case like in the examples.

**Environment you are running Tern on**

[code]

**Please

[2022-06-06 21:28] rnjudge commented on #1170
Hi @vargenau -- Good catch! You may also want to file an issue with the [SPDX tools](https://github.com/spdx/tools) repo as the document seems to validate for me even with the `False` value.

[code]

[2022-06-08 08:31] vargenau commented on #1170
Hi @rnjudge

Here it is: <https://github.com/spdx/spdx-online-tools/issues/374>

[2022-06-08 09:58] vargenau commented on #1170
In fact, it is <https://github.com/spdx/spdx-online-tools/issues/372>

Since it was moved to <https://github.com/spdx/spdx-java-tagvalue-store/issues/22>, I did not find it the list and thought I had not created it.

[2022-06-09 19:42] #1170 closed

[2022-06-09 20:20] #1147 closed

[2022-06-22 14:20] usmankhanisb opened #1178 "The support for C or C++ projects or containers"
**Please read the Code of Conduct before you proceed**
[Code of Conduct](/CODE_OF_CONDUCT.md)

**Ask your question here**
I am using couple of tools to generate SBOM but no success with C or C++ projects, can you please inform if C code is there or C compiled project is there that will you check all dependencies?

[2022-06-23 06:34] usmankhanisb commented on #1178
The directory of project code probably, but even in containers if code is residing in file system than will it check C or C++

Regards,
Usman Khan
________________________________
From: Rose Judge ***@***.***>
Sent: Wednesday, June 22, 2022 7:15:59 PM
To: tern-tools/tern ***@***.***>
Cc: usmankhanisb ***@***.***>; Mention ***@***.***>
Subject: Re: [tern-tools/tern] The support for C or C++ project

[2022-06-23 16:29] ivanayov commented on #1163
Related to #933

[2022-06-23 16:31] ivanayov commented on #1163
Related to #1060

[2022-06-23 17:57] ivanayov commented on #1166
I'm sharing a list of platform specific tests available in the moment. Probably some of them are outdated and we might just need to do a tidy-up rather than major changes.

https://github.com/tern-tools/tern/blob/main/tests/test_analyze_common.py
https://github.com/tern-tools/tern/blob/main/tests/test_analyze_default_filter.py
https://github.com/tern-tools/tern/blob/main/tests/test_class_command.p

[2022-06-27 17:39] rnjudge commented on #1129
As per https://github.com/spdx/spdx-spec/pull/721, the `packagePurpose` is now `primaryPackagePurpose`. This means that in SPDX docs generated by Tern this field should be added as follows:

Tag Value:
[code]

JSON, under the top-level container "package" entry:
[code]

[2022-06-27 18:30] rnjudge opened #1180 "SPDX 2.3: Update required licensing fields to optional"
**Description**
A change to the SPDX 2.3 spec made [currently required licensing fields optional](https://github.com/spdx/spdx-spec/pull/635).

**To Do**
The omission of these fields, by default, now assumes a NOASSERTION value. If we want to make some of the generated docs shorter, we can omit these fields if they have a NOASSERTION value. The following fields can be excluded from generated docum

[2022-06-27 19:04] software-testing-professional commented on #1160
I think so. I'll do some testing and reply tomorrow. 

Am 27.06.2022 20:33 schrieb Rose Judge ***@***.***>:

Links:
------
[1] https://github.com/software-testing-professional
[2] https://github.com/tern-tools/tern/issues/1160#issuecomment-1167730655
[3]
https://github.com/notifications/unsubscribe-auth/ATSZRRBFXNSDP6M4MF7ELSDVRHXZPANCNFSM5T6TJNEQ

[2022-06-28 10:29] kiranravindran90 opened #1181 "Docker Pull Limit reached when scanning a locally saved Docker Image"
I have installed TERN & it seems to be working fine for the sample files provided. I have some Docker images locally that I have pulled earlier & want to scan them using TERN.
I used **tern report -i <name>:<tag>** command. But getting an error **"Docker Pull Limit reached"**.

- I don't understand why as these images are locally present.
- Just after few secs if I try to Pull images using Docker

[2022-06-29 08:50] software-testing-professional commented on #1160
Hi @rnjudge,

yes it works now.

It turned out that the `config.json` was incomplete.
I added some more authentication data to the `.docker/config.json`.
Now it is possible to pull Artifactory images via skopeo.

Thanks for your help!

Best regards,
Michael

[2022-06-29 08:50] #1160 closed

[2022-06-29 14:43] rnjudge commented on #1160
@software-testing-professional very happy to hear this! Thanks for your followup!

[2022-07-04 10:15] kiranravindran90 commented on #1181
Also when it runs & doesnt give the above error, it throws this below error.
2022-07-04 14:56:19,947 - ERROR - skopeo - Error when downloading image: "b'time="2022-07-04T14:56:19+05:30" level=fatal msg="Error initializing source docker://<path of the docker image of the private repo>: error pinging.

Not sure why. These images are already pulled from the private repo & available locally.

Note: TE

[2022-07-06 17:37] rnjudge commented on #1181
@kiranravindran90 can you tell me a little more about the version of Docker that you have installed?

[2022-07-07 06:42] kiranravindran90 commented on #1181
@rnjudge Docker version 20.10.17, build 100c701.

Is it actually necessary for Skopeo to download or Pull image if image is already available locally?

[2022-07-07 17:19] rnjudge commented on #1181
It's not necessary, but Skopeo will pull all images even if they are local, unfortunately. Skoepo doesn't have the concept of checking the local cache for already downloaded images like docker does. If you want to run Tern on a local image, you can docker save the image and use the raw command line option. Using this option will eliminate the pulling of a local image.

[code]

[2022-07-29 14:35] nicorikken commented on #1181
I too noticed this behavior, trying to analyze it in a pipeline before pushing it to the registry. I was even considering adding the Tern output to the final image. The docker save is an outcome, but changes the the working of Tern (or its dependencies like Skopeo) would be welcome. I'll try the `docker save` approach in the meantime.

[2022-07-31 18:34] kiranravindran90 commented on #1181
Thank you all for the suggestions. As of now yes using it with "docker save" work around.
@nicorikken If you find a way to directly scan then please do post an update, will make things easier for me.

[2022-08-03 08:38] arun-kumar2 opened #1184 "Installation instructions with vagrant don't work on my system"
**Describe the bug**
Unable to start tern with the instructions given for vagrant,
I followed the instructions in the "Getting Started with Vagrant" section in the Readme: https://github.com/tern-tools/tern.
When i do vagrant up, i get a message saying that:
Timed out while waiting for the machine to boot. This means that
Vagrant was unable to communicate with the guest machine within
the configur

[2022-09-16 08:18] Jeeppler opened #1185 "Debian-inspector conflict while using scancode and tern"
**Describe the bug**

Installing Scancode-toolkit 31.1.1 and Tern  2.10.1 together results in a package conflict, because both rely on a different version of the `debian-inspector` package.

**To Reproduce**

Try to install  Scancode-toolkit 31.1.1 and Tern  2.10.1 together.

packages.txt
[code]

**Error in terminal**
[code]

**Expected behavior**

Scancode-toolkit and Tern use the same `debian-in

[2022-10-05 14:41] vargenau opened #1186 "Update SPDX license list to 3.18"
**Describe the bug**

SPDX has published version 3.18 of the license list.

https://spdx.org/licenses/ Version: 3.18 2022-08-12

This should be reflected in the SPDX output.

[2022-10-05 16:19] vargenau opened #1188 "Tern output is much better in text format than in SPDX format"
**Describe the bug**
Tern output is much better in text format than in SPDX format.

**To Reproduce**
[code]

Text output:
[code]

SPDX output:
[code]

**Expected behavior**

In the text format, we have a long list of licenses that have been correctly identified by Tern.
I would expect to have the same list in the SPDX output (after conversion to SPDX identifiers).

**Environment you are running T

[2022-10-18 21:26] xxLiuxx commented on #1188
Agreed. Also, the dependencies in text format are grouped by layers but in spdx.json they are not. Can we also have them grouped by layer in spdx.json?

[2022-10-27 17:57] xxLiuxx commented on #1181
@rnjudge Hi, I saved the local image as .tar file and did a scan. It looks like only the docker environment packages are captured, the packages used in the application are all ignored. In the report, there are some unrecognized commands.
E.g.
``` info: Layer created by commands: COPY build/libs/DBServices*.jar /opt/apache-tomcat-7.0.70/app.jar```
```warning: Unrecognized Commands:COPY build/libs/D

[2022-10-28 12:05] raphaelcoeffic opened #1189 "Replace a directory with a symlink seems to confuse the scripts"
**Describe the bug**

When running `tern` on a docker image that has this statement:
[code]

The following error spilled while `tern` is processing the layer:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Make a `Dockerfile` that replaces `/root` directory with a symlink somewhere else
2. Build the container image
3. Push to registry
4. Run `tern` on that container image

**Environm

[2022-11-08 12:47] Ruivalim opened #1190 "Error while trying to inspect local image"
I'm trying to use Tern to inspect a local image but I'm getting an authentication error.
Lets say the image tag is `project:v1` and when I run `tern report -i project:v1` I get this error:

`2022-11-08 12:50:33,081 - ERROR - skopeo - Error when downloading image: "b'time="2022-11-08T12:50:33Z" level=fatal msg="initializing source docker://project:v1: reading manifest v1 in docker.io/library/projec

[2022-11-08 12:53] Ruivalim commented on #1190
Skopeo has support for local images. The command `skopeo copy --src-tls-verify=false docker-daemon:project:v1 dir:/root/.tern/temp` works.
But if I try to use the `docker-daemon:` on the image name in tern, it breaks because it generates this:
`2022-11-08 12:55:17,224 - DEBUG - rootfs - Running command: skopeo copy --src-tls-verify=false docker://docker-daemon:project:v1 dir:/root/.tern/temp
2022-

[2022-11-29 20:54] rnjudge commented on #1189
Thanks for this issue @raphaelcoeffic -- I'll take a look!