[2020-03-11 04:30] williamsmj commented on #565
I upgraded docker to CE but get the same result with

[code]

What is the output of a scan of debian:buster _supposed_ to be?

[2020-03-11 07:01] abhaykatheria commented on #567
Here's what i did
I made a docker file called Debian
[code]

in test_analyze_docker_dockerfile.py
i added this test
[code]
The test is working fine on my image
:)
![image](https://user-images.githubusercontent.com/40055274/76390794-0e08f880-6394-11ea-91f8-c1c133c7a412.png)

[2020-03-11 07:05] abhaykatheria commented on #567
the image is quiet big so i will overwrite with a small alpine image.

[2020-03-11 13:12] nishakm commented on #565
This is what I get when I run tern in a CentOS 7 Vagrant box:
[code]
We did wonder why `cat` is the only one that is not found whereas the other binaries, `cut` and `awk` seem to work fine.

[2020-03-11 14:19] ForgetMe17 commented on #508
We can use `docker history <image-id>` to get the history command that builds the images.. But i seems that we cannot trace the dockerfile from a built image, so i am thinking how can we find that <image-id>. My solution is to apply `docker history` to all the images and find `ARG` and their values. Then we can select the target `ARG` in the parsing dockerfile.
Here is another problem: `ARG` decla

[2020-03-11 15:42] rnjudge commented on #508
That all sounds a little complicated for this functionality :) And we already have functionality in Tern that finds the commands that created each image layer. Why don't you start with this: for all of the `ARG` values in the dockerfile, do a straight up replacement for variables based on the text in `dfobj.structure`. If the variable is not defined in the dockerfile, you can leave it for now. Let

[2020-03-11 16:45] ForgetMe17 commented on #508
Yes！

[2020-03-12 15:12] rnjudge commented on #567
Hello @abhaykatheria, the tests themselves look good and achieve the main purpose of this issue. The issue right now is with the base image. We do not want to push an image to Tern's dockerhub repo until we have an SBoM and sources available for it. This will be difficult for Alpine and Debian images. Ideally, we would create our own basic linux OS, hence my comment a few days ago :) We appreciate

[2020-03-12 23:15] nishakm commented on #524
I think we can use the property `os_guess` in the `image_layer` class for now. We can set it for just the first layer.

[2020-03-16 03:31] ForgetMe17 commented on #524
In `tern/analyze/docker/analyze.py`, funtion `analyze_first_layer`(Line 95 and 108) does not use the return value of `common.get_os_style`. Should we set the `os_guess` as this return value to fix the issue?

[2020-03-16 16:40] rnjudge commented on #524
@ForgetMe17 We are going to let a new contributor for the project take this on. However, if you would like to mentor him or be a resource that he can ask questions to (should they arise) please go ahead!

As far as your proposal for setting the `os_guess` value, you are very close. However, `common.get_os_style` does not actually return a value. I think we will want to use `common.get_os_release`

[2020-03-16 18:26] nishakm opened #583 "File level data is not reported in default and SPDX reports"
**Describe the bug**
Currently, the file level data reported by scancode is not available either in the default or SPDX reports.

**Expected behavior**
If file level licenses are found, it should be reflected in the default and SPDX reports.

[2020-03-16 18:27] nishakm opened #584 "Include file level licenses in the default report"
**Description**
Include licenses found by scancode (if any) into the default report format

**Background**
This depends on https://github.com/vmware/tern/pull/582 to be merged

**Super Issues**
#583

[2020-03-16 18:45] rnjudge opened #585 "Find full GitHub project link in Dockerfile lock functionality"
**Describe the Feature**
There is a pending PR for issue #509 that will append the git project name and sha in a comment for Dockerfile lock functionality. This is a good start but, ideally, we would be able to append the full https://<repolink><reponame> URL to the comment. In many cases the repository will be hosted on GitHub under the 'origin' label (i.e. when you list `git remote -v`) but this

[2020-03-16 22:58] nishakm opened #586 "Update SPDX format to include file level analysis"
**Description**
Update the SPDX report format to include situations where there is file level data. Use the http://13.57.134.254/app/validate/ online tool to validate the generated SPDX document for various container images.

**Background**
This depends on https://github.com/vmware/tern/pull/582 to be merged.

**Super Issues**
#583

[2020-03-17 02:31] ForgetMe17 commented on #524
Yes! I am very happy to help a new contributor, and I think that I will also learn a lot from it!

[2020-03-18 11:55] aditi137 commented on #524
Hi @rnjudge I am Aditi and was assigned this issue. I am unable to pass the commit sign-off check for creating a PR. Can you please help me with it? Thanks!

[2020-03-18 12:41] ForgetMe17 commented on #524
Hi, @aditi137 . You can follow commit-message-format part in [CONTRIBUTING.md](https://github.com/vmware/tern/blob/master/CONTRIBUTING.md#commit-message-format).
The footer of your commit message should like `Signed-off-by: Some Dev <somedev@example.com>`

[2020-03-18 12:54] aditi137 commented on #524
Hey @ForgetMe17 I did have the footer in all my commit messages. Still not sure of the issue.

[2020-03-18 13:10] ForgetMe17 commented on #585
Maybe i can work on this.

[2020-03-18 14:15] nishakm opened #591 "Add "checksums" to FileData class"
**Description**
Scancode calculates checksums of all the files it find. These include MD5 and SHA1. The SHA1 checksum is useful for calculating the "Package Verification Code" that the SPDX spec requires. This isn't useful for container images in general. So we need a property in the FileData class that reflects this requirement.

**To Do**
Create a property called `checksums` in the FileData clas

[2020-03-18 15:19] nishakm commented on #591
@PrajwalM2212 is working on this

[2020-03-18 16:15] rnjudge commented on #585
@ForgetMe17 yes, let's get your other PR merged first and then you can build upon it for this issue :) Thanks!

[2020-03-18 18:07] rnjudge commented on #524
@aditi137 The issue has to do with one of your commit message sign-offs. You have three commits that I think should be one. Try to squash them in to one commit and it will be easier to deal with the commit message. I also added a comment of the issue on the PR itself.

[2020-03-18 21:58] aditi137 commented on #524
Sorry about the multiple PRs. Really appreciate everyone's help to finally get my commit through. Thanks! 🙂
The final PR is up #592.

[2020-03-18 22:38] #480 closed

[2020-03-19 02:31] ForgetMe17 commented on #583
Is there anything i can do with this issue?

[2020-03-19 07:24] zoek1 commented on #521
@nishakm can i tackle this in while i write a proposal for GSoC 2020?

[2020-03-19 12:56] nishakm commented on #521
@zoek1 Are you sure? This issue could in itself be a proposal for GSoC 2020. You would have to write a shell script parser (or find one that already exists as I am not able to find this). If you were to write one, you would have to take into account nested if, for and case statements. Here is an example Dockerfile just to give you an idea of what we are dealing with: https://github.com/docker-libr

[2020-03-19 12:57] mukultaneja commented on #584
@nishakm, I would like to take this issue!

[2020-03-19 13:14] nishakm commented on #584
@mukultaneja It's a high priority bug though. So we need a PR pretty quickly. If you think you can dedicate time to it, then sure.

[2020-03-19 13:15] mukultaneja commented on #584
sure @nishakm, I will do it.

[2020-03-19 15:20] zoek1 commented on #521
Gosh, that's better! Ok, what other task do you recommend to start in the meantime.

[2020-03-19 16:39] nishakm commented on #521
We have another GSoC issue: https://github.com/vmware/tern/issues/539. You could work on adding some tests.

[2020-03-19 16:40] nishakm commented on #406
Closing as we can now run tests using `tox`.

[2020-03-19 16:40] #406 closed

[2020-03-19 16:43] nishakm commented on #405
Fixed with PR #536

[2020-03-19 16:43] #405 closed

[2020-03-19 16:45] nishakm commented on #14
@rnjudge is this still on the table?

[2020-03-19 16:53] rnjudge commented on #14
To me this seems better suited for the Dockerfile Lock functionality but will likely need to be pushed to the next release unless there is someone to work on it now.

[2020-03-20 01:51] zoek1 commented on #521
Perfect, i'll start working on that :smile:

[2020-03-20 01:51] zoek1 commented on #539
Working on this right now! :muscle:

[2020-03-20 21:03] #490 closed

[2020-03-21 02:17] rnjudge opened #595 "Add remove_upgrade_command function to dockerfile.py"
**Describe the Feature**
Add `remove_upgrade_command` function to dockerfile.py that, given a dockerfile object, will remove any upgrade-type commands (possibly determined by the package manager) from the RUN lines.

**Use Cases**
This will help lock the dockerfile to be more reproducible by eliminating any "upgrade all" type commands and instead forcing users to pin specific packages.

**Implemen

[2020-03-21 02:39] rnjudge opened #596 "New lines aren't getting returned in Dockerfile lock command"
**Describe the Feature**
Currently, when you run Dockerfile lock the resulting Dockerfile is the locked dockerfile minus the new line characters of the original. This is because when we load the dockerfile as a dockerfile object using DockerfileParse, the new lines are not preserved.

**Use Cases**
This would make the resulting locked dockerfile look cleaner.

**Implementation Changes**
Maybe ther

[2020-03-22 08:43] zoek1 commented on #539
Should i submit a PR per element (cache, files, packages, metadata) or group allof them in one PR? I prefer first option to allow me progress in others test in case some testcase needs more work or isn't valid.

[2020-03-23 14:40] abhaykatheria opened #600 "TypeError in tern/analyze/docker/helpers.py get_dockerfile_base():"
**Describe the bug**
When using dockerfiles with scratch images. We can get Type Error beacuse in report.py load_base_image() we have `base_image, dockerfile_lines = dhelper.get_dockerfile_base()`.
But in definition of dhelper.get_dockerfile_base()
[code]
also if theres a value error it will raise TypeError
[code]

**Expected behavior**
It should be actually something like this

[code]

[code]

[2020-03-23 16:55] ForgetMe17 commented on #585
I think I can work on this issue.

[2020-03-23 17:03] ForgetMe17 commented on #149
Can I use this as the proposal for GSoC?

[2020-03-23 21:12] #454 closed

[2020-03-24 13:19] nishakm commented on #149
I believe @abhaykatheria is currently trying to figure this out. `pip` isn't the only one we need to enable. Golang is particularly difficult. Enabling it needs to be done by June though, so (hopefully) it would be almost completed by summer.

[2020-03-24 14:08] #584 closed

[2020-03-24 19:55] #600 closed

[2020-03-24 20:27] nishakm commented on #506
Fixed in a4c107f447621defecfc227d31d043e2c3a91326

[2020-03-24 20:27] #506 closed

[2020-03-24 20:29] nishakm commented on #507
Fixed in 3dbd5a037d92f00dbb7f8bf0bf72404b16bc007b

[2020-03-24 20:29] #507 closed

[2020-03-24 20:30] nishakm commented on #508
Fixed in 69f1b452bca838d75875b4f095e60f3a855a4f5c

[2020-03-24 20:30] #508 closed

[2020-03-24 20:33] nishakm commented on #284
The default, yaml and json report now includes scancode data. Closing.

[2020-03-24 20:33] #284 closed

[2020-03-24 20:45] #591 closed

[2020-03-24 21:33] #524 closed

[2020-03-25 07:48] abhaykatheria commented on #149
I wrote the required scripts for **pip** **npm** and **gem**. But go follows whole other approach so yeah its really difficult i am currently working on it.

[2020-03-25 07:49] abhaykatheria commented on #149
I will open a pr soon for this issue.

[2020-03-25 08:13] sschuberth commented on #149
Out of curiosity @abhaykatheria, what's the reason for reimplementing getting the dependencies for *pip*, *npm* and *gem* instead of just leveraging the [ORT analyzer](https://github.com/oss-review-toolkit/ort#details-on-the-tools) as [suggested above](https://github.com/vmware/tern/issues/149#issuecomment-534964493) which already supports all of these plus *Go* and more?

[2020-03-25 11:29] zoek1 commented on #50
The purpose is self contained rights, that why redis isn't an option? @nishakm

[2020-03-25 12:41] nishakm commented on #149
@sschuberth Is there a python library for the ORT analyzer?

[2020-03-25 12:44] sschuberth commented on #149
No @nishakm, but it has a generic CLI that you can simply call.

[2020-03-25 12:49] nishakm commented on #149
In that case, ORT may be a good candidate to implement as an extension. We've already done this for [Scancode](https://github.com/vmware/tern#scancode).

[2020-03-25 17:47] nishakm opened #608 "Change logging and reporting of layer checksums to the layer index"
**Problem Statement**
Tern's logging and report checksum information is useful in identifying layers in the container image. However, the checksums do not actually match the checksums in the image manifest (they are tern's own checksums). These make it difficult to debug which layer brought in what packages and which layer metadata was not found

**Describe the Proposal**
Change the logging and re

[2020-03-26 09:08] PrajwalM2212 commented on #50
@zoek1 That was one of the reasons why I suggested sqlite. Since we are only using the cache for analysis purpose, sqlite gives the best value.

[2020-03-26 14:35] nishakm commented on #50
At this time, my main concern is to move away from storing data in a YAML file and into something that is queryable. The discussion I would really like to have is whether we should be using a key-value store (like Redis) or a relational database (like sqlite). One thing about choosing a relational database is that you will need to put time into designing the database. Once done, it is difficult to

[2020-03-26 18:48] abhaykatheria opened #609 "Extracting metadata of packages and modules installed by language package managers"
**Problem Statement**
Currently, Tern does not lists the metadata of packages and modules installed by language-level package managers like pip(#149), npm, yarn, gem, and golang.

**Describe the Proposal**
After this Tern should be able to list all the packages and modules installed via the above-mentioned package managers with their proper metadata.

**Steps to Implement Proposal**
Tern already s

[2020-03-26 22:24] rnjudge opened #610 "Running Tern with Dockerfile fails if FROM image does not exist"
**Describe the bug**
When the running Tern with a Dockerfile, if the `FROM image:tag` is invalid in the Dockerfile, i.e. does not exists on Dockerhub, there is an ugly error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Change the FROM image in Tern's Dockerfile to something that does not exist and run `tern report -d Dockerfile`

**Error in terminal**
See above

**Expected behavior*

[2020-03-27 07:47] ForgetMe17 commented on #609
Hi @abhaykatheria, are you currently working on this proposal?

[2020-03-27 08:04] abhaykatheria commented on #609
@ForgetMe17 yes.

[2020-03-27 08:05] ForgetMe17 commented on #521
Maybe we can parse the shell script into `variables`, `command`, `if-statement`, `case-statement` and `for-statement`.
`variables` contains its `value`
`command` contains `name`, `options` and `words`
`if-statement` and `case-statement` contains `condition` and `branch`
`for-statement` contains `condition` and `loop`

For enviroment variables, we can record them in a dict, marking the place where

[2020-03-27 13:01] abhaykatheria commented on #521
Hi everyone,
I found this [bash script parser ](https://github.com/vorpaljs/bash-parser)it does the job well and can be used if we rewrite it in python. But as @nishakm stated it's a huge task and could possibly take the entire GSoC period to work on. I also found other parser but it is poorly documented.
- https://github.com/grncdr/js-shell-parse/

[2020-03-27 13:04] nishakm opened #612 "Perform analysis on multistage Dockerfiles"
**Describe the Feature**
Tern can read a Dockerfile, build and image and analyze the image to provide a report and pin a Dockerfile. However, it cannot do these for multistage Dockerfiles accurately because the intermediate stages get thrown away after a build is complete. Why not enable analysis and pinning for multistage Dockerfiles?

**Use Cases**
Multistage Dockerfiles are the de-facto build m

[2020-03-27 14:37] abhaykatheria commented on #612
@nishakm  that sounds awesome i will start looking into it.

[2020-03-27 18:32] nishakm opened #614 "UI for Tern json data"
**Describe the Feature**
It would be nice to have a nice UI to look at Tern's json output. This is a feature that was requested often by users.

**Implementation Changes**
Something that can present the json output in a nice UI, whether it be a HTML page or a terminal using ncurses.

[2020-03-27 21:16] #532 closed

[2020-03-27 21:56] #522 closed

[2020-03-27 22:04] nishakm commented on #583
I will close this one and move the SPDX specific one to the near future.

[2020-03-27 22:04] #583 closed

[2020-03-27 22:26] #610 closed

[2020-03-29 18:57] mukultaneja commented on #271
@nishakm, I have submitted a pull request to address this issue https://github.com/vmware/tern/pull/616/commits/67f8bbe8db69fc829821431ac73540b7f416ac82. Please review it. I still need to work on `Step 2`.

[2020-03-30 02:02] rnjudge commented on #271
Can you open this as a separate pull request for this issue? Right now it is appended to PR https://github.com/vmware/tern/pull/616

[2020-03-30 07:12] mukultaneja commented on #271
Hi @nishakm, I have opened a new PR https://github.com/vmware/tern/pull/617. Please review it.

[2020-03-30 11:37] abhaykatheria commented on #134
I think this will do the job.
[code]

[2020-03-30 12:22] ForgetMe17 commented on #521
Hi, everyone!
I have found a bash parser in python, [bashlex](https://github.com/idank/bashlex). I think it may be helpful for this issue.

[2020-03-30 14:15] abhaykatheria commented on #134
Hi @nishakm i think this function can replace update_master_list.
[code]
We can call this wherever update_master_list was called and get rid of the master_list

[2020-03-31 14:42] #271 closed

[2020-03-31 21:55] #596 closed

[2020-03-31 23:44] nishakm opened #619 "Use GitPython for all git operations"
**Describe the Feature**
Some git operations are done using GitPython while others use `subprocess` to shell out to the git command. How about using GitPython for all git commands?

**Use Cases**
Moving to using git commands means we can get rid of the `# nosec` dismissals for some of the commands that shell out.

[2020-04-01 14:37] bmalinow opened #623 "Receiving Failed to Synchronize Cache for Repo errors when running docker build after gitclone."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/vmware/tern#getting-started-with-docker
2. Run the first step to git clone the repo to local. Navigate to /tern/ directory.
3. Run the following command from step 2 (Build the Docker image)
`docker build -t ternd .`
4. See error

**Error in termina

[2020-04-01 15:59] rnjudge commented on #623
FWIW as a data point, I was not able to reproduce this issue on my Ubuntu VM even when running `docker build --no-cache -t ternd .` in order to force a metadata update (i.e. re-pulling the RPMs to install)

[2020-04-01 20:35] rnjudge commented on #623
Closing as we determined this was an issue with the local docker client not being able to connect externally rather than an issue with Tern (or Photon).

[2020-04-01 20:35] #623 closed

[2020-04-02 17:56] ForgetMe17 commented on #619
I will have a try!

[2020-04-03 09:21] mukultaneja commented on #499
@nishakm, I would like to work on this issue.

[2020-04-03 12:52] nishakm commented on #499
@rnjudge OK to reassign to @mukultaneja?

[2020-04-03 14:37] ForgetMe17 commented on #619
Yes！

[2020-04-03 15:41] rnjudge commented on #499
Sure!

[2020-04-06 22:14] tevoinea opened #625 "Running tern in docker on windows produces no output"
**Describe the bug**
Running tern in docker on windows produces no output.

**To Reproduce**
Steps to reproduce the behavior (following the steps outlined [here](https://github.com/vmware/tern#getting-started-with-docker)):
1. `git clone https://github.com/vmware/tern.git`
2. ` docker build -t ternd .`
3. Instead of running the `./docker_run.sh` shell script, I did:

`docker run --privileged -v /v

[2020-04-06 23:36] tevoinea commented on #625
I removed the `-q` flag from the Dockerfile to get some more insight.

Some more context:
[code]

There were lots more of those `getfattr: ...` errors.

[2020-04-06 23:54] nishakm commented on #625
@tevoinea Thanks for filing a bug! Unfortunately, the only way to run tern on windows and macOS is using Vagrant. See instructions here: https://github.com/vmware/tern#getting-started-with-vagrant. It is on our roadmap to get tern to run without privileges in a Docker container so please stay tuned :)

[2020-04-06 23:54] #625 closed

[2020-04-07 00:13] tevoinea commented on #625
@nishakm Thanks for the quick response! Tern in docker on windows was working around mid November last year, what changed? Is there a workaround for running _with_ privileges in a Docker container?

[2020-04-07 01:43] nishakm commented on #625
A lot! 😅 But thanks for noticing this. I don't remember it every working natively on Windows. We always had to run it in a Vagrant box for non-linux machines due to the use of overlayfs to "debug" the container image.

You could try to run this using Docker-in-Docker. I've never tried it myself though.

[2020-04-07 12:46] nishakm opened #626 "Update SPDX version to 2.2"
**Describe the Feature**
The SPDX community will be cutting release 2.2 soon. Once done, update the SPDX document format to comply with the 2.2 spec.

**Implementation Changes**
1. Find out what changed between 2.1 and 2.2
2. Make changes accordingly
3. Validate changes (still unsure whether the tools allow for that)

[2020-04-07 17:09] rnjudge commented on #565
We had another contributor able to reproduce this issue in a CentOS environment.

[2020-04-07 17:58] rnjudge commented on #565
Fixing his `$PATH` by running, `export PATH="/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin"` seemed to fix the issue for him.

[2020-04-07 18:35] tevoinea commented on #625
I've figured out how to run it in Docker on Windows! Thanks for the help 😊

I think the issue was tern needs to run with privileges _in_ the container as well as the container itself running as privileged.

[2020-04-07 18:37] nishakm commented on #625
Would you be open to submitting a PR with instructions on how to do it for Windows? It would just be a change to `README.md`. We'd appreciate it a lot :)

[2020-04-07 22:13] tevoinea commented on #625
I ended up creating my own Dockerfile and installing all the dependencies required to run tern. Since I'm doing exploratory work right now, it's a pretty hacky workaround just to get things working. Would you still want that as a PR? I wouldn't mind posting the Dockerfile and some instructions here as a comment if you wanted something to point people to until you create an official solution.

[2020-04-07 22:37] nishakm commented on #625
Whatever works for you. We would appreciate either one. Thanks for helping out!

[2020-04-08 15:18] nishakm opened #627 "Setup/Teardown takes too long"
**Describe the bug**
The Setup and Teardown step seems to be taking a much longer time lately.

**To Reproduce**
Example of the time taken:
[code]
It looks like it takes about 2 minutes to complete which is quite long for removing files and setting up directories.

[2020-04-08 17:42] rnjudge opened #628 "Regression: Teardown fails for raw container images"
**Describe the bug**
This [PR](https://github.com/vmware/tern/pull/549/files) added a `close_client` method that would eliminate a resource warning error when running tox. There is no issue with this method when running with a container image (i.e. the `report -i` command line option), however, when running Tern using a raw container image this call fails because the `AttributeError` exception is

[2020-04-08 18:56] rnjudge opened #630 "report - Error in loading image: UnixHTTPConnectionPool: Read timed out"
**Describe the bug**
When running Tern for the `licensefinder/license_finder:latest` image, no report is generated. This is because there is an error in loading the image to analyze.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Tern for a large container image (on the order of GBs)

**Error in terminal**
[code]

**Expected behavior**
Since the image loads, there shouldn't be a problem

[2020-04-08 19:46] #628 closed

[2020-04-08 23:00] rnjudge commented on #630
The issue has to do with the sheer size of the image (6.19 GB!!) and how long it takes to save using the docker-py CLI. This is the command that breaks and causes the timeout:

`client.api.get_image('licensefinder/license_finder@sha256:db4b2c335af7cff297f14385ddc4dcdea87033a726c2943b941cec15ed721f94', 2097152)` where 2097152 is the chunk size.

In the python repl, if I use a docker `client` with t

[2020-04-08 23:56] #630 closed

[2020-04-10 13:08] ForgetMe17 commented on #612
Maybe i can work on this issue!

[2020-04-13 22:14] tevoinea commented on #625
I started the process on my end to contribute the Dockerfile and instructions!

[2020-04-13 22:29] tevoinea opened #634 "Fails when scanning node:latest"
**Describe the bug**
I created my own Dockerfile to run tern in a Windows environment. I know it's not officially supported but I'm hoping you can help point me in the right direction.

I started with a Ubuntu:18.04 container, installed python 3.8, pip to use the latest python and then tern.

The command to run the container `docker run --privileged -v //var/run/docker.sock:/var/run/docker.sock --

[2020-04-13 22:29] tevoinea commented on #634
It looks like this might have been fixed in #498, has it been published to pip yet?

[2020-04-14 00:01] rnjudge commented on #634
Yes, it has been published to the pip package. The issue is likely with your Dockerfile missing an `ENTRYPOINT` command with the `-b` option similar to the default Dockerfile. You need to use the `-b BIND_DIR` option since you cannot overlay mount inside a container and the mount point needs to be somewhere outside the container. A similar issue was reported here and resolved with the correct bind

[2020-04-14 00:10] tevoinea commented on #634
Yup! That was it. Thanks so much! 😀

[2020-04-14 00:10] #634 closed

[2020-04-14 09:05] mukultaneja commented on #627
@nishakm, the function call `yaml.safe_load` (to load cache) is taking a lot of time here. I tried to load cache using a new `thread` and it worked fine but then `load_full_image` started taking much time :(

[2020-04-14 12:47] nishakm commented on #627
This makes sense because of the serialization of data to and from the file. Implementing #50 should solve this issue.

[2020-04-14 20:25] tevoinea commented on #634
@rnjudge Quick follow up now that I'm starting to understand this better.

The reason why tern + docker doesn't work on Windows is because the tools tern uses to expand and overlay the layers are linux specific and there's an incompatibility between the tools and having the mount volume coming from windows.

But, if there's only 1 layer, tern doesn't need to do the overlay so single layer images w

[2020-04-14 21:04] nishakm commented on #634
Exactly! This is why our only option to make tern work on Windows and Mac was to run it on a Vagrant machine. It uses the overlayfs driver which doesn't natively exist on Mac nor Windows.

Oh good, a scenario where a docker image has no 'created_by' key. But yes, at this point, there is no need to be looking for what happened in the history because we just look for known binaries in the filesystem

[2020-04-14 23:03] rnjudge commented on #634
IMO, squashing the image to avoid overlay mounting is trading one issue for another. If you squash an image, you are re-writing the history of the image, which defeats the purpose of Tern to report what it finds layer by layer in a given image. We cannot rely on what Tern finds after the squash to be the same as what it would find in an un-squashed image. For example, files/packages that are delet

[2020-04-14 23:46] tevoinea commented on #634
Should I create an issue for it?

Once the dependency of overlayfs is gone, that should also unblock Windows right?

That's true that users are likely not shipping squashed images right now, especially since it's an experimental feature.

What do you think of supporting squashed images (not requiring them) as a temporary workaround until the overlayfs dependency is removed? Would it be a big featu

[2020-04-15 00:00] rnjudge commented on #634
That would be great!

It will be a step in the right direction. As you noted before, there are some linux filesystem utilities we rely on like `getfattr` that are not available on Windows that would need to be tweaked first.

We have other higher-priority items on our roadmap right now that we need to focus on first. Additionally, enabling squashed images and reporting on them does not give the fu

[2020-04-15 01:42] nishakm commented on #634
@tevoinea Alternatively, if you really need this on Windows, you could create a Dockerfile that installs both tern and scancode using [these instructions](https://github.com/tern-tools/tern#scancode) and providing a -wd option to a directory within the Docker container. This will scan the container image for licenses (not packages yet) and give you a more detailed idea of what licenses exist per l

[2020-04-15 16:45] tevoinea opened #636 "Tern fails when docker image has no created_by key"
**Describe the bug**
When using the experimental docker [squash](https://docs.docker.com/engine/reference/commandline/image_build/#options) feature, the resulting image has no created_by key. Running tern on this kind of image causes a crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with any multi layer image
2. Enable experimental features in your docker config
3. Build your im

[2020-04-15 17:00] tevoinea commented on #634
Awesome! I created #636

I'd love to 😊

The best place to start would be here? tern/analyze/docker/helpers.py, line 158

For a little more context on what I'm trying to do: I'd like to have tern scanning images in build pipelines. Many of our pipelines are running Windows today and Docker is already installed. So tern running in docker on windows requires no additional dependencies and would provi

[2020-04-15 18:48] #586 closed

[2020-04-16 01:05] rnjudge commented on #634
Yes. I think the best place to start would be trying to solve the bug that you opened - i.e. why Tern fails when there's no valid `created_by` key. It's failing here:
[code]
In this case it's because line 158 is trying to split the `instruction` variable when the instruction variable did not get set since line 150 evaluates to false and the assignment happens only if line 150 is true. I think what

[2020-04-16 01:42] rnjudge opened #638 "Create base OS and upload to Tern dockerhub repository"
**Describe the Feature**
In order to test the Dockerfile lock functionality in Tern we need to be able to have a consistent sha sum for the base OS and consistent package versions to pin for the set of packages that get installed in the test Dockerfile.  Since any publicly available base OS is constantly being updated, we cannot rely on the base OS sha sum and packages to always be the same.

We w

[2020-04-20 13:04] nishakm commented on #175
This was merged in commit: https://github.com/tern-tools/tern/commit/a389f1756c1dde9c2c87916ede41ad209b5e2066

[2020-04-20 13:04] #175 closed

[2020-04-20 18:53] rnjudge commented on #585
A PR for this issue was merged to master after the 2.0.0 release. Closing this.

[2020-04-20 18:53] #585 closed

[2020-04-20 19:08] rnjudge commented on #565
As a more permanent solution, we likely need to refer to the binaries in the filesystem (i.e. use `/bin/cat` instead of `cat` to collect package information). This also means that we need to find the location of the binaries for all the listings in `base.yml`

[2020-04-20 19:10] rnjudge commented on #509
This issue was resolved in Release 2.0.0. Closing.

[2020-04-20 19:10] #509 closed

[2020-04-20 20:08] nishakm commented on #134
@abhaykatheria Sorry for getting back to you on this so late. It turns out `itertools.chain` doesn't actually make a list of unique items. So this implementation will not work. I will close both the issue and the PR.

[2020-04-20 20:08] #134 closed

[2020-04-21 15:31] nishakm opened #641 "No PackageComment in SPDX tag value format for layers"
**Describe the bug**
I don't see a PackageComment tag for notices in the SPDX tag value format

**To Reproduce**
1. Run `tern report -f spdxtagvalue -i debian:bullseye -o debian-spdx.txt`
2. Open `debian-spdx.txt`
3. There should be something about the base OS in the PackageComment but it is missing
[code]

**Expected behavior**
Layer level comments should be present. PackageComment is optional he

[2020-04-21 20:45] rnjudge opened #642 "find_git_info propogates an error when ADDed file is not found in Dockerfile"
**Describe the bug**
Using this Dockerfile I ran `tern lock Dockerfile` and the ADD command in the file broke Tern's run while it was trying to find the git information.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout tern from GitHub
2. Edit the Dockerfile in the `tern` directory to match the above file (hint: add the `ADD Dockerfile /tmp line)
3. See the error

**Error in

[2020-04-21 20:45] rnjudge commented on #642
@ForgetMe17 Can you take a look at this?

[2020-04-21 23:25] nishakm commented on #595
I wonder if this is a good idea to do as we also pin the base image to a digest. Would an upgrade affect the installation of a specific version of a package?

[2020-04-21 23:35] nishakm opened #643 "No Scancode header in generated documents"
**Describe the bug**
Scancode's licensing requires that any document created with it should contain their header. Currently, the documents created by Tern does not have this header.

**Expected behavior**
There should be a notice indicating that some data was collected using Scancode.

[2020-04-22 00:18] nishakm opened #644 "error: chroot: failed to run command '/bin/bash'"
**Describe the bug**
When running tern against a debian image with no shell an error occurs

**To Reproduce**
Steps to reproduce the behavior:
1. `tern report -i us.gcr.io/k8s-artifacts-prod/debian-base:v2.0.0`
2. See default output
[code]

**Expected behavior**
A message saying that tern could not find a shell should be printed.

[2020-04-22 04:21] rnjudge commented on #642
The following change fixes the first issue:
[code]

**Explanation of changes**:
The first issue was that if the ADD line to expand was `ADD Dockerfile /tmp`, we were using the relative path of the Dockerfile when we need to use the absolute. The following line in the `check_git_src()` function in`tern/analyze/common.py` was returning an empty string since it was looking for the directory of the `D

[2020-04-22 04:46] rnjudge commented on #642
Nevermind, I was able to look at this today :)

[2020-04-22 08:04] ForgetMe17 commented on #642
Thanks for finding this bug and help me fix it. i miss it somehow

[2020-04-22 09:29] ForgetMe17 commented on #517
I came up with this issue too, i split the deeper branches into a separate function to fix it. Is this the proper way to deal with this issue?

[2020-04-22 09:39] ForgetMe17 commented on #517
This is what i got by running `prospector .` in `tern/tern`:
[code]

[2020-04-22 12:41] nishakm commented on #517
Yup! The function for which the "too-many-branches" error comes up needs to be decomposed into smaller functions and then called.

[2020-04-22 12:51] nishakm commented on #517
@ForgetMe17 this is what I get:
[code]
Some of these I can tackle quickly as it is code I had recently been working on:
[code]
I will make an issue for these.

How about you tackle these?
[code]
I can make an issue for each one of these and assign them to you.

[2020-04-22 12:55] nishakm opened #646 "Fix "too-many-branches" complexity for scancode and spdx files"
**Description**
Fix the `too-many-branches` prospector error for
[code]

**To Do**
After code changes, run `prospector`. `too-many-branches` error for these two files should be absent.

**Super Issues**
#517

[2020-04-22 12:57] nishakm opened #647 "Fix "too-many-branches" prospector error for tern/analyze/docker/helpers.py"
**Description**
Fix "too-many-branches" prospector error for tern/analyze/docker/helpers.py

**To Do**
After code changes, run `prospector` (not `prospector tern/analyze/docker/helpers.py`). No prospector errors should be present for this file.

**Super Issues**
#517

[2020-04-22 13:04] nishakm opened #648 "Fix "too-many-branches" prospector error for tern/formats/default/generator.py"
**Description**
Fix "too-many-branches" prospector error for tern/formats/default/generator.py

**To Do**
After code changes, run `prospector` (not `prospector tern/formats/default/generator.py`). No errors for this file should be present.

**Super Issues**
#517

[2020-04-22 13:15] ForgetMe17 commented on #517
Yes! i will work on them.

[2020-04-22 21:48] #642 closed

[2020-04-22 23:01] rnjudge commented on #642
We also missed this while reviewing the PR :) It is all part of the development process.

[2020-04-23 00:11] nishakm opened #653 "--redo does not redo file level analysis"
**Describe the bug**
Using the `-r` option and the scancode extension does not redo the analysis by scancode

**To Reproduce**
Steps to reproduce the behavior:
1. In a virtual environment with tern and scancode run `tern report -x scancode -i <image>`
2. Run this again with `tern -r report -x scancode -i <same image>`
3. Notice that it still pulls file data from the cache

**Error in terminal**
[c

[2020-04-23 12:34] #648 closed

[2020-04-23 21:53] #647 closed

[2020-04-23 22:11] #646 closed

[2020-04-23 23:47] rnjudge commented on #636
Hi @tevoinea, are you still planning to work on this? If not I will take a look :)

[2020-04-24 13:37] nishakm opened #660 "Feature: roll debug tools verify_invoke.py and container_debug.py into a subcommand debug"
**Describe the Feature**
I have been using `tern/tools/verify_invoke.py` and `tern/tools/container_debug.py` to test the scripts that get added to `base.yml` and `snippets.yml` or even just for looking around a container filesystem at a certain layer. However, they have been a pain to maintain as the project keeps growing and moving forward. Hence I propose to roll these tools into Tern as a new s

[2020-04-24 16:45] tevoinea commented on #636
Thanks for asking! You can go ahead, I don't want to block :)

[2020-04-24 17:44] nishakm commented on #565
@mukultaneja has a fix for this and he said he would submit a PR

[2020-04-24 18:04] nishakm commented on #644
The issue here is that the binary `dpkg` exists in the filesystem but the corresponding shell as listed in `base.yml` which is `/bin/bash` does not.
@rnjudge What do you think about modifying the operation such that we store a list of possible shell binaries in `base.yml` and modify `get_base_bin` to look up the list and see if any of them exist on the filesystem?

[2020-04-24 20:48] #149 closed

[2020-04-24 20:55] rnjudge commented on #644
@nishakm I like that idea!

[2020-04-26 08:55] mukultaneja opened #666 "Tern does not unmount the mounted partition in the event of errors"
**Describe the bug**
Tern only handles the `KeyboardInterrupt` exception and undo the mount operation of various directories such as proc, sys and dev, etc. It does not undo the mount operation when any pythonic error comes up in any of the subsequent function calls. In the event of errors, execution stops in between without undoing the mounted partition. Next time when runs the Tern again then it

[2020-04-26 11:46] mukultaneja commented on #643
@nishakm, "Tern Report generated using scancode <github-repo-link>" would be good as a notice string?

[2020-04-27 13:50] #666 closed

[2020-04-27 15:56] #565 closed

[2020-04-27 16:52] nishakm commented on #643
Scancode itself generates a header. It needs to be recorded somewhere but I haven't thought about how to do this.

[2020-04-27 17:39] mukultaneja commented on #643
ok, I can try to look into it.

[2020-04-27 20:27] #641 closed

[2020-04-29 02:40] 00032118 opened #672 "*.tar.gz identify error"
**Describe the bug**
Image file recognition error, what is the reason？
**To Reproduce**
Steps to reproduce the behavior:

(ternenv) [root@localhost hf]# tern report -w CloudStudio-MANO-V5.20.10-image.tar.gz
2020-04-29 10:32:01,014 - DEBUG - __main__ - Starting...
2020-04-29 10:32:01,017 - DEBUG - run - Setting up...
2020-04-29 10:32:01,019 - DEBUG - rootfs - Running command: tar -tf CloudStudio-MA

[2020-04-29 03:14] nishakm commented on #672
How was `CloudStudio-MANO-V5.20.10-image.tar.gz` created? Is it a docker image? What version of docker?

[2020-04-29 03:19] 00032118 commented on #672
sorry,Thanks for your answers, I made a mistake

[2020-04-29 03:19] #672 closed

[2020-04-29 06:45] 00032118 opened #673 "Yǒu shé me bànfǎ kěyǐ kàn dào yùnxíng guòchéng ma 14/5000 Is there any way to see the running process?"
tern scanned the file for nearly 10 minutes, and it didn't end. It seemed to hang. Is there any way to see the running process?

(ternenv) [root@localhost hf]# more tern.log
2020-04-29 14:16:08,212 - DEBUG - __main__ - Starting...
2020-04-29 14:16:08,216 - DEBUG - run - Setting up...
2020-04-29 14:16:08,219 - DEBUG - rootfs - Running command: tar -tf base-latest-20191210.tar
2020-04-29 14:16:08,22

[2020-04-29 07:46] 00032118 opened #674 "layer is empty, it will fail, not allowed？"
**Describe the bug**
layer is empty, it will fail, not allowed？

(ternenv) [root@localhost hf]# tern report -w vru_cudr_mp_cc.tar
2020-04-29 15:35:03,970 - DEBUG - __main__ - Starting...
2020-04-29 15:35:03,974 - DEBUG - run - Setting up...
2020-04-29 15:35:04,022 - DEBUG - rootfs - Running command: tar -tf vru_cudr_mp_cc.tar
2020-04-29 15:35:04,028 - DEBUG - rootfs - Running command: tar -xf vru_

[2020-04-29 13:00] nishakm commented on #674
We've seen this before. Tern will not analyze empty or corrupted filesystems for security reasons. So this operation is expected.

[2020-04-29 13:01] #674 closed

[2020-04-29 13:05] nishakm commented on #673
Can you paste here the results of `ls -al` in the `temp` directory?

[2020-04-29 18:00] mukultaneja commented on #643
@nishakm I was wondering how we should print header in the report because we are calling scancode layer by layer and it generates header every time.

[2020-04-29 19:17] nishakm commented on #643
So what I would do here is put that message in a notice at that layer.
[code]

[2020-04-29 19:19] mukultaneja commented on #643
yeah, I am doing the same here but in this way it is printing the message on every layer in the report. I am just wondering would it be fine in terms of looking/reading-wise the report!

[2020-04-29 20:49] nishakm commented on #643
Yeah it will definitely clutter the default report. You could modify the formatting code in `tern/formats/default` to check for notice messages that are equal for each layer and use that at the top of the document.

[2020-04-29 22:55] #644 closed

[2020-04-30 00:25] 00032118 commented on #673
(ternenv) [root@localhost temp]# ls -al
total 12
drwxr-xr-x. 5 root root 227 Apr 30 08:22 .
drwxr-xr-x. 3 root root  35 Apr 30 08:19 ..
-rw-r--r--. 1 root root 891 Dec 10 15:36 48e3ab07239e906d00f736779268d8832d696d5009f2b1015949fd5dca0ff23d.json
drwxr-xr-x. 3 root root 142 Apr 30 08:22 558c11b2b15adc493f1dc7d911f5eec1bf4bc9e2fa4119dc4267b8579763450f
-rw-r--r--. 1 root root 212 Jan  1  1970 manife

[2020-04-30 00:27] 00032118 commented on #673
Hello, it took about 27 minutes to run, and the analysis result came out. Is this execution time normal? Are there any command parameters or methods that can help me see a more detailed process during execution

[2020-04-30 12:37] nishakm commented on #673
If you're running tern for the first time on a large image, yes, it can take that long. However, I am not really sure why it is taking 10 minutes at line: `2020-04-29 14:19:38,917 - DEBUG - common - Reading files in filesystem...`

Can you attach `tern.log` here?

[2020-04-30 22:56] nishakm opened #678 "Enable analysis for OCI images"
**Describe the Feature**
OCI images have a different layout from the one created by `docker save`. So Tern cannot analyze these images. Enable analysis for OCI images.

**Use Cases**
Tools like podman and umoci create OCI images. The layout is understood by most registries. Docker images can be converted to OCI images using skopeo. Tern should be able to deal with these images.

**Implementation C

[2020-04-30 23:28] nishakm opened #679 "Do not use overlayfs to debug container layers"
**Describe the Feature**
Since tern uses the overlayfs driver to analyze packages layer by layer, it cannot run within a container image without an external mount to a Linux host. Not all hosts are Linux and Docker runs on MacOS and Windows. Hence using an alternative for "debugging" container image filesystems would allow the full operation to take place in a running container.

**Use Cases**
Thi

[2020-05-05 21:42] rnjudge commented on #636
@tevoinea I opened PR #681 for this fix. In order to test it, I created a squashed docker image by running `docker build --no-cache -t squashedternd . --squash`. In a container that, prior to squashing, had 3 layers, I now see only one layer of information being reported and inside the report it says the following instead of erroring out.

[code]

If you feel so inclined, please test this change o

[2020-05-06 14:21] ForgetMe17 opened #682 "Split commands from shell script in dockerfile"
**Description**
As the first step to parse Dockerfile RUN instruction commands, we need to split commands from a dockerfile RUN commands. A full shell script contains these elements,
-  `variable assignment` : eg. `dpkgArch="$(dpkg --print-architecture)";`
- `command line`: eg. `wget -O go.tgz "$url";`
- `branch`: eg. `case .... esac;`, `if ... fi;`
- `function`:  eg. `foo(){.....}`
In this task,

[2020-05-06 22:20] rnjudge opened #683 "Feature: Add windows package manager package collection to Tern"
**Describe the Feature**
Windows offers a Docker [base image](https://hub.docker.com/_/microsoft-windows). Once Tern is enabled to run in a container on Windows, we might look in to enabling windows package collection for a windows host os/container.

Implementing this feature first depends on successfully completing #679. As of this writing, Tern cannot run natively in a container on windows. Unt

[2020-05-06 22:29] tevoinea commented on #636
@rnjudge Thanks! The behavior sounds right to me.

Looking forward to testing it as soon as I work through some technical difficulties on my end 😊

[2020-05-12 13:42] JeroenKnoops commented on #247
For a project I'm comparing several SBOM tools with each other. We're comparing `tern` with `anchore`, `blackduck`, `whitesource`, `aws ecr`, `google cloud`, and so on.

I've created a GitHub Action workflow for Tern.

https://github.com/JeroenKnoops/scan-docker-image/blob/master/.github/workflows/scan-tern.yml

I can create a github action for this so you can put it in the marketplace. Please let

[2020-05-12 14:24] nishakm commented on #247
@JeroenKnoops thanks for the feedback! We'd really appreciate a GitHub action. Just note that currently, Tern needs a Linux host to run. I am not sure if that is a blocker with creating a GitHub action.

[2020-05-12 23:38] nishakm commented on #682
An example of RUN commands in a Dockerfile that is difficult to parse:
https://github.com/docker-library/python/blob/06d7952f07eae237666f2fd0ccf6189a5d8ee83c/3.9-rc/buster/Dockerfile

[2020-05-13 07:19] JeroenKnoops commented on #247
I've started the development, will finish it hopefully this week.
Will try to make most of the configuration available in the action.

Progress can be found here: https://github.com/philips-labs/tern-action
Example of using it: https://github.com/JeroenKnoops/tern-action-examples

[2020-05-13 15:49] rnjudge opened #684 "Tern fails to perform analysis for Buildpack images"
**Describe the bug**
If you create or pull an image from dockerhub that was created with kpack, Tern fails to perform any analysis. Note: this has been seen on a variety of buildpack images.

**To Reproduce**
[code]

**Error in terminal**
[code]

**Expected behavior**
Tern would ideally be able to unpack the buildpack image and perform analysis on it.

**Environment you are running Tern on**
Enter

[2020-05-13 18:10] nishakm commented on #684
Not related to super issue: #678

It looks like CNB does not use GNU tar to tar their buildpack tarballs, thus creating leading `/` in tarball members. This is a security concern when extracting (see https://github.com/tern-tools/tern/issues/226). However, it looks like GNU tar will remove the leading `/` by default (see https://www.gnu.org/software/tar/manual/html_node/absolute.html).

Tern repor

[2020-05-13 21:00] #636 closed

[2020-05-13 22:35] #684 closed

[2020-05-14 07:43] 00032118 opened #686 "Ignore empty layers rather than exiting"
Scratch is a special basic image. When compiled into an image file, it will generate empty image layer files layers, and will report an error when tern is checked.

[2020-05-14 08:06] 00032118 opened #687 "How to understand the alarm info："
How to understand the following alarm：
2020-05-14 15:52:25,813 - WARNING - command_lib - No listing for key |3. Consider adding this listing to command_lib/snippets.yml.

2020-05-14 15:52:25,813 - WARNING - command_lib - No listing for key mkdir. Consider adding this listing to command_lib/snippets.yml.

[2020-05-14 12:52] nishakm commented on #687
It's a message about Tern's command library. It basically means "Tern doesn't understand the command 'mkdir' so it doesn't know how the filesystem was created". It's at a WARNING level because it affects the accuracy of the results, hence you should be careful when using the results. We should update the message though. It caters more to those contributing to Tern than users of Tern.

[2020-05-14 13:00] nishakm commented on #686
Can you help me understand this issue more? Is Tern failing to analyze an image which was built with a Dockerfile that just has `FROM scratch` in it?

[2020-05-14 14:25] #673 closed

[2020-05-14 16:10] nishakm opened #689 "cve-bin-tool errors out in Tern but prints report accurately without it"
**Describe the bug**
When running tern with the cve-bin-tool extension, the scan doesn't print results, but running cve-bin-tool on the specific layer produces a result.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern report -x cve_bin_tool -i alpine:3.11.6`
2. See error

**Error in terminal**
[code]
but running just cve-bin-tool produces:
[code]

**Expected behavior**
Something li

[2020-05-15 00:53] 00032118 commented on #686
Yes, for example, the older version of the image busybox, the dockerfile is as follows, there will be empty layers after decompression in the generated image, and the tern scan will report an error.
FROM scratch
ADD busybox.tar.xz /
CMD ["sh"]

forexample: https://github.com/docker-library/busybox/blob/master/uclibc/Dockerfile

[2020-05-15 00:55] 00032118 commented on #673
How can I see more logs of the tern scanning process, are there any parameters or methods to learn more?

[2020-05-15 03:26] nishakm commented on #686
One can either give tern an image (using `-i` option) or a Dockerfile (using `-d`) option. If a Docker image was built successfully with the Dockerfile above, Tern can successfully scan it because there will be 1 non-empty layer. If this Dockerfile was provided to Tern, tern will attempt to run `docker build` on this Dockerfile. If the build fails because `busybox.tar.xz` is not available in the f

[2020-05-15 03:39] 00032118 commented on #686
I do n’t understand what your reply means. I have an empty layer in the busybox I introduced in the following way, and the tern scan will fail
FROM docker.artnj.zte.com.cn/cci/cdb/busybox:latest

[2020-05-15 03:40] 00032118 commented on #686
Thanks, you mean that normal mirrors should have no empty layers, right? My current image is an old version, it is possible that docker build can introduce empty layers.

[2020-05-15 12:55] nishakm commented on #686
I have not come across a Docker image with a manifest that contains empty layers. The closest I can get to that scenario is if someone used `RUN mkdir foo` in their Dockerfile which would create a directory with no content in it. This is technically not an empty layer since the directory exists. Can you provide an example I can take a look at? Then we could possibly test a situation where there is

[2020-05-15 13:01] nishakm commented on #673
What you're seeing is the most amount of logging we have. Anything specific you are looking for?

[2020-05-16 01:39] 00032118 commented on #687
Okay, understand, thank you for your reply.

[2020-05-16 01:42] 00032118 commented on #686
I can't provide you with the complete image file, but I can provide the layers with problematic image files. How to give it to you, it seems that you can't submit documents.

[2020-05-17 19:05] mukultaneja commented on #660
@rnjudge, I would like to take this feature.

[2020-05-19 20:27] rnjudge commented on #687
@nishakm What about:

[code]

[2020-05-19 20:32] rnjudge commented on #687
For the snippets warning message I propose:
[code]

^^ This is where the commands like `mkdir` would get represented as the listing_key.

[2020-05-20 01:11] 00032118 opened #692 "Increase the file ID corresponding to the license"
**Describe the Feature**
tern uses the scancode extension function, and the resulting output cannot see which layer or file the license originated from, so it will not be used for subsequent use. Can you consider adding direct output according to the output format supported by the scancode tool itself?
**Use Cases**
Facilitate compliance management of components or modules

[2020-05-20 01:56] nishakm commented on #692
You can certainly find that information using the YAML or JSON format. Run `tern report -x scancode -f yaml -o output.yaml` or `tern report -x scancode -f json -o output.json`.

[2020-05-20 07:27] jloehel opened #693 "Please add zypper from SUSE to the snippet.yml file"
**Describe the Feature**
I am missing zypper in snippet.yml to analyze openSUSE/SLES images correctly. Could you please add this functionality.

**Use Cases**
Generating compliance reports for openSUSE or SLES based Docker images.

**Implementation Changes**
I am not sure if something additionally is necessary but something like this might be enough:
[code]
Zypper allows you to shorten the subcomm

[2020-05-20 14:17] nishakm commented on #693
I am not familiar with zypper. Do you have a link to a openSUSE/SLES image on Dockerhub we can play around with?

[2020-05-20 14:52] jloehel commented on #693
Hi Nisha,

thanks for the feedback. SUSE uses their own [build service](https://build.opensuse.org/) and [registry](https://registry.opensuse.org) to distribute the images. But all images are also synced to DockerHub: [leap](https://hub.docker.com/r/opensuse/leap) and [tumbleweed](https://hub.docker.com/r/opensuse/tumbleweed). Zypper uses [libzypp](https://doc.opensuse.org/projects/libzypp/HEAD/).

[2020-05-20 17:37] #653 closed

[2020-05-20 21:24] #499 closed

[2020-05-20 21:28] rnjudge commented on #499
This issue was resolved with PR https://github.com/tern-tools/tern/pull/694. Closing.

[2020-05-20 21:33] rnjudge commented on #609
Since we have gem, npm and pip package managers available, I am going to open an issue specifically for collecting golang packages.

[2020-05-20 21:33] #609 closed

[2020-05-20 21:37] nishakm commented on #687
How about:
[code]

[2020-05-20 21:42] #643 closed

[2020-05-20 21:42] rnjudge opened #695 "Collect go package metadata for reports"
**Describe the Feature**
Currently, Tern does not lists the metadata of packages and modules installed using the golang package manager.

**Use Cases**
When images install go packages, it would be useful for Tern to report on the metadata of those packages.

**Implementation Changes**
Tern already supports adding snippets to the command library. It is possible that we might be able to add somethin

[2020-05-20 21:55] rnjudge commented on #687
Saying "accuracy may be reduced" seems like it implies that some information will be reported that just might not be accurate, when in reality no information is reported for the `listing_key` that triggers the warning message. Thoughts?

[2020-05-20 23:02] rnjudge commented on #660
@nishakm have you started working on this?

[2020-05-20 23:06] rnjudge commented on #692
Hi @00032118 -- just for some context -- the default report is intended to give users a high level overview of their container contents -- almost like a short summary. Adding a list of every single file that scancode finds in each layer would significantly increase the length of this document and defeat the purpose of the summary. As Nisha suggested, please take a look at some of the other output

[2020-05-20 23:06] #692 closed

[2020-05-21 01:28] nishakm commented on #660
@mukultaneja This one is a little out there - technical debt collected back when the project was new. It'll be better if I work on it. Thanks for volunteering!

[2020-05-21 06:15] 00032118 commented on #689
Is there a solution to this problem now?

[2020-05-21 16:04] nishakm commented on #687
We do have messages like `Licenses found` and `Packages found`. Folks will usually just look at that and say "Tern didn't find anything but I'm pretty sure there's something there". The reality is that we don't know how to get it. Not sure how to communicate this...

[2020-05-21 16:08] rnjudge commented on #687
Curious what's wrong with `Manual inspection may be required.` or something to that effect... `Manual inspection may reveal additional information` ?

[2020-05-21 17:21] nishakm commented on #687
Last suggestion:
`No listing method for '{listing_key}'. Additional analysis may be required`

[2020-05-21 21:17] #687 closed

[2020-05-21 23:40] nishakm opened #699 "Deprecate Image ID"
**Problem Statement**
Docker's Image ID is rarely used to identify an image. Users often use only the repository name, the name and tag or the name with the digest.

**Describe the Proposal**
Remove the instantiation of the DockerImage class using the image ID and just use `repotag`

**Steps to Implement Proposal**
1. The ABS `Image` needs to use `repotag`
2. The `get_image_option` function can be

[2020-05-22 18:51] #626 closed

[2020-05-23 02:42] nishakm commented on #679
`rsync` might be able to merge two directories. It may not know what to do with the whiteout files though.

[2020-05-26 18:53] rnjudge opened #702 "Dockerfile lock gets confused when installing pip package with an OS package manager"
**Describe the bug**
In Tern's Dockerfile we apt-install the pip package like so:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern lock Dockerfile` at the tip of master.
2. See resulting `Dockerfile.lock` file.

**Error in terminal**
The resulting Dockerfile.lock incorrectly pins the python3-pip package like so: **python3-pip==20.1.1==20.1.1-3.7.5-3.ph3**
[code]

**Expected b

[2020-05-26 23:58] nishakm opened #704 "Deprecate run_on_image in passthrough.py"
**Problem Statement**
No extension is currently using run_on_image

**Describe the Proposal**
`run_on_image` was originally created as a convenience function that an extension can use to integrate their scanning tool. However, both examples of extensions, cve_bin_tool and scancode, do not use this function. It is possible that other extensions will not need it either. Hence it should go.

The coun

[2020-05-27 00:01] #689 closed

[2020-05-28 08:13] ForgetMe17 opened #705 "Find out possible software to be installed in a shell script"
**Description**
Currently we have `parse_command()` in `general.py` to parse a line of shell command into `name`, `options` and `words`. Based on this, we can filter the `name` to find the possible install commands and then parse its words to get installed software.

An output of `parse_command()` is:
[code]

**To Do**
1. List the possible install commands.
Here is an example:
[code]

2. iterate t

[2020-05-28 08:35] ForgetMe17 opened #706 "Enable parse loop in a shell script"
**Description**
PR #688 and issue #682 split a shell script into 3 elements which are `variable`, `command` and `branch`. We also need to consider `loop` in the shell script, [here](https://github.com/nginxinc/docker-nginx/blob/594ce7a8bc26c85af88495ac94d5cd0096b306f7/mainline/buster/Dockerfile) is an example.
Consider 3 types of loop in a shell scipt: for, while, until. They are all ended with ke

[2020-05-28 08:39] ForgetMe17 commented on #682
Here is a shell script containing `loop`, and the current output is
[buster-slim.txt](https://github.com/tern-tools/tern/files/4694306/buster-slim.txt).
In line 63, the `for` loop is treated as a command, so we need to consider adding another element `loop` to the parsing procedure. I have file an issue #706 to fix this.

[2020-05-28 19:16] #702 closed

[2020-05-29 00:03] ForgetMe17 commented on #705
This has already been implemented in analyze/common.py.
Closing.

[2020-05-29 00:03] #705 closed

[2020-05-29 07:49] cynici opened #710 "django:1.7.1-python2 image gives "Error in loading image: Empty tarball ...""
tern v2.1.0 fails to analyze `django:1.7.1-python2` from Docker Hub

No report output produced.

**To Reproduce**
1 Run vagrant on OSX exactly as per instruction given in README
2 `vagrant ssh`
3 `docker run -it django:1.7.1-python2 bash`

**Error in terminal**
[code]

**Expected behavior**
tern produces `output.txt`

**Environment you are running Tern on**
Enter all that apply
- Output of 'tern -

[2020-05-29 17:14] nishakm commented on #71
Closing this. We have used [debut](https://github.com/nexB/debut/) to parse Debian style copyright files.

[2020-05-29 17:14] #71 closed

[2020-05-29 17:15] nishakm commented on #110
This issue was fixed.

[2020-05-29 17:15] #110 closed

[2020-05-29 17:19] nishakm commented on #517
Fixed.

[2020-05-29 17:19] #517 closed

[2020-05-29 17:40] nishakm commented on #679
One possible implementation:

1. Use `rsync` to copy the first layer into `mergedir`
[code]
2. For subsequent layers:
2.1 perform 1.
2.2 For each file in the layer, check if any files are whiteouts. They will start with `.wh. `, `.wh..wh..opq.` or `.wh.__dir_opaque.`
2.3 Delete the directory or file with the same name without the whiteout prefixes.

Caveats for this method:
1. We have to untar wit

[2020-05-29 20:33] rnjudge commented on #710
@cynici I am looking in to if we can mount empty layers. This is not something we see very often, so thanks for bringing it to our attention. I did notice this warning message when pulling `django:1.7.1-python2` and wonder if this might be contributing:

[code]

You may want to look in to updating your container image.

[2020-05-29 23:28] rnjudge commented on #710
Nisha and I took a look at this and both agree that this is not a bug in Tern. If the docker image given to Tern is updated in accordance with Docker version 2, schema2 manifest format, Tern will appropriately ignore the processing of empty layers according to the manifest and proceed to generate an output file for the other layers. Docker has deprecated image manifest version 2, schema 1 and warn

[2020-05-30 05:40] cynici commented on #710
Thank you @rnjudge for your good explanation

[2020-05-30 05:40] #710 closed

[2020-06-01 13:42] nishakm commented on #660
@rnjudge This would mean adding a new command line argument and that means our Release number would be 3.0.0. Would you prefer I work on this two releases after?

[2020-06-01 17:23] rnjudge commented on #660
As discussed, I agree that this is something that can be pushed back. Maybe we can time the feature with the Beta release.

[2020-06-01 18:54] mukultaneja commented on #693
@nishakm can I work on it?

[2020-06-02 15:20] nishakm opened #713 "Enable SPDX document validation for CI"
**Description**
As development increases on the project, it is getting hard to maintain the generation of valid SPDX documents for the container images. So enable CI checks for SPDX if anything in the generator or formatting code changes.

**To Do**
1. Setup requires install of openjdk and the SPDX tools from their release page: https://github.com/spdx/tools/releases
2. Then run `tern report -f sp

[2020-06-02 17:23] rnjudge opened #715 "Allow for multiple snippet 'install' commands"
**Describe the proposal**
Some snippet listings have different ways to install packages. For example, the zypper snippet can use `zypper install <pkg>` or `zypper in <pkg>`. However, Tern only supports one install listing per snippet and if multiple are listed, Tern will ignore them both.

[2020-06-03 22:40] #715 closed

[2020-06-03 22:46] rnjudge commented on #693
@jloehel there is now a way to list more than one directive to install/remove snippet packages. We should have a PR merged soon to add the zypper support that you requested. Thanks for opening this issue!

[2020-06-03 23:31] jloehel commented on #693
Thank you very much. You are doing great job here. Thanks for the support.

[2020-06-04 03:57] 00032118 opened #719 "tern 2.1.0 -w *.tar error"
(tven) [root@localhost hf]# tern --version
Tern version 2.1.0
   python version = 3.6.8 (default, Apr  2 2020, 13:34:55)
(tven) [root@localhost hf]#tern report -w vru-cudr-sys-mp.tar -x cve_bin_tool
2020-06-04 11:55:06,567 - DEBUG - __main__ - Starting...
2020-06-04 11:55:06,570 - DEBUG - run - Setting up...
2020-06-04 11:55:06,572 - DEBUG - container - Checking if image "vru-cudr-sys-mp.tar" is a

[2020-06-04 04:00] 00032118 commented on #719
-i param is ok !!!!!(tven) [root@localhost hf]# tern report -i vru-cudr-sys-mp:V7.20.14.I3 -x cve_bin_tool
2020-06-04 11:59:46,241 - DEBUG - __main__ - Starting...
2020-06-04 11:59:46,242 - DEBUG - run - Setting up...
2020-06-04 11:59:46,251 - DEBUG - container - Checking if image "vru-cudr-sys-mp:V7.20.14.I3" is available on disk...
2020-06-04 11:59:46,258 - DEBUG - container - Image "vru-cudr-sy

[2020-06-04 04:19] rnjudge commented on #719
@00032118 can you provide the tarball so we can debug? Or is `vru-cudr-sys-mp:V7.20.14.I3` an image that we can pull into a tarball from dockerhub?

[2020-06-04 04:31] rnjudge commented on #719
This is a newer issue. When I run with Tern at commit 93da3799c3004d2147ce17f40ce556b35c552579, I am not able to reproduce this issue with raw image tarball.

[2020-06-04 04:39] rnjudge commented on #719
Nevermind, I can reproduce this with any image tarball and Tern v2.1.0.

[2020-06-04 04:42] rnjudge commented on #719
This line is very suspicious to me, it shouldn't be checking if Tern is available on disk as the raw image is already present, it should go straight to the untarring.

[code]

FWIW, I am working on an old branch at commit 54b5cb7 and cannot reproduce this issue.

[2020-06-04 04:58] 00032118 commented on #719
I have replied to your email, version 2.0 does not have this problem.

[2020-06-04 05:58] 00032118 commented on #719
(Pdb) l
 77         logger.debug(
 78             "Checking if image \"%s\" is available on disk...", image_tag_string)
 79         try:
 80             import pdb
 81             pdb.set_trace()
 82  ->         image = client.images.get(image_tag_string)
 83             logger.debug("Image \"%s\" found", image_tag_string)
 84             return image
 85         except docker.errors.ImageNotFound

[2020-06-05 02:17] 00032118 commented on #693
please Add microdnf by the way！thank you.
microdnf:
  install: 'install'
  remove: 'remove'
  ignore:
    - 'check-update'
    - 'clean'
  packages: 'rpm'

[2020-06-05 17:33] rnjudge commented on #693
If you want to submit a PR for this, we would gladly welcome it! Otherwise, please file a new issue requesting this functionality so we can refer to it separately :)

Thanks you!

[2020-06-05 22:06] #693 closed

[2020-06-05 23:06] #719 closed

[2020-06-06 01:19] 00032118 opened #724 "add mircodnf pkg type"
please Add microdnf by the way！thank you.
microdnf:
install: 'install'
remove: 'remove'
ignore:
'check-update'
'clean'
packages: 'rpm'

[2020-06-08 20:03] #724 closed

[2020-06-10 07:15] 00032118 opened #726 "The temporary folder when tern support Multi-operation"
The temporary folder when tern runs is best to be randomly generated, so that multiple tern scans can be run on one machine at the same time, or the location of the temporary folder can be changed to the virtual running environment of python. E.g:

#temp_folder = 'temp'
import random
import string
tempchr = random.choice('abcdefghijklmnopqrstuvwxyz!@#$%^&*()')
temp_folder = 'temp_'+ tempchr
 #temp

[2020-06-10 23:20] nishakm commented on #50
My research shows that using a json file as a backend greatly improves performance:

yaml backend: 76 seconds
json backend: 0.47 seconds

We would still like a database backend so folks can set up  a centralized repository which is queryable but for now, replacing the caching format from json to yaml is an easy improvement.

[2020-06-10 23:24] nishakm commented on #627
I've decoupled solving #50 to this problem. It turns out, replacing yaml with json for the cache provides better performance and it is reasonably straightforward to fix.

[2020-06-11 19:55] rnjudge commented on #595
This is a good point. I am also thinking that we could pin a package that gets upgraded to a version by including the upgrade command as an option in the install list for `snippets.yml`. I am going to close this issue.

[2020-06-11 19:55] #595 closed

[2020-06-15 16:32] #627 closed

[2020-06-16 00:49] 00032118 commented on #726
It is a good solution to let users specify the temporary directory of work, thanks.

[2020-06-16 00:52] 00032118 opened #729 "The license should preferably correspond to the source package, so that the user can clearly obtain the source of the license"
Eg :def get_package_licenses(package):
    '''Given a package collect complete list of package licenses'''
    pkg_licenses = set()
    if package.pkg_license:
        pkg = package.name + ":" + package.pkg_license
        #pkg_licenses.add(package.pkg_license)
        pkg_licenses.add(pkg)

    if package.pkg_licenses:
        for pkg_license in package.pkg_licenses:
            if pkg_license:

[2020-06-16 00:55] 00032118 opened #730 "Modify the code when using scancode extension to display the file or binary name corresponding to the license."
Eg:
 if file_dict['licenses']:
       #fd.licenses = [l['short_name'] for l in file_dict['licenses']]
       fd.licenses = (('%s:' + ','.join([l['short_name'] for l in file_dict['licenses']])) %(fspath)).split()
    if file_dict['license_expressions']:
        fd.license_expressions = (('%s:' + ','.join(file_dict['license_expressions'])) %(fspath)).split()

[2020-06-16 15:19] #726 closed

[2020-06-16 15:40] rnjudge commented on #730
You can get this information from the spdxtagvalue, json or yaml reports using scancode.

[2020-06-16 15:45] rnjudge commented on #729
I will also add, if you want a default report to be formatted as you are suggesting, it's possible and fairly straightforward to create your own report formatting plugin. We know that there might be unique requirements for different users and this is why the reporting formats are designed as plugins. There is guidance on how to create your own plugin [here](https://github.com/tern-tools/tern/blob/

[2020-06-16 15:59] nishakm commented on #729
@00032118 I agree with @rnjudge on this. If you would like to maintain your own report formatting plugin for Tern, you can do so in a separate git repository. Then you can submit a PR asking for that plugin to be included in the list of [recognized plugins](https://github.com/tern-tools/tern/blob/master/setup.cfg#L44)

[2020-06-16 18:24] rnjudge opened #731 "report.txt not generated when no output file is specified"
**Describe the bug**
The README tells the user to run `tern report -i debian:jessie` and `Take a look at report.txt to see what packages are installed in the Docker image and how Tern got this information.` Tern does not create report.txt, however, and instead prints this report information to the console. Additionally, `tern report --help` states:

[code]

but the default file (report.txt) is not

[2020-06-16 23:59] 00032118 commented on #730
When using the extended scancode tool, you can only use the json format, but the output content in this format is too much, the defaule format output is simple and more intuitive, if you add the name, it is easier to read

[2020-06-17 00:00] 00032118 commented on #729
There are too many other formats, it is not easy to get clear information

[2020-06-17 02:35] nishakm commented on #730
@00032118 actually, there is a PR open for a HTML format which will convert the json into a more approachable UI so you can see what license came from what file. Would this format help?

[2020-06-17 03:01] 00032118 commented on #730
a PR open for a HTML format??

[2020-06-17 07:26] 00032118 opened #733 "dpkg parameter optimization"
dpkg --get-selections , The parameter may not be supported in some simplified basic images(eg.busybox), it is recommended to use -l

[2020-06-17 07:38] #733 closed

[2020-06-17 12:54] nishakm commented on #730
See https://github.com/tern-tools/tern/pull/720

[2020-06-17 17:59] #731 closed

[2020-06-18 21:55] rnjudge opened #735 "Remove circleci from running on pull requests"
**Problem Statement**
PR https://github.com/tern-tools/tern/pull/734 is currently open to add an OCI image class to Tern in order to support the analysis of various OCI client images. In order to test the functionality of this analysis, we will need to use [skopeo](https://github.com/containers/skopeo) to convert images pulled from Dockerhub. Skopeo, however, [requires at least Ubuntu 1804](https:

[2020-06-19 18:18] nishakm commented on #686
I found some images that do have empty layers. I will work towards a fix

[2020-06-19 19:45] #735 closed

[2020-06-19 23:27] 00032118 commented on #730
thank you，The HTML format is very good and easier to read. I still think that it is better to see the name of the file or package when the license is synchronized. Otherwise, I don’t know the source and it won’t help.

[2020-06-19 23:30] 00032118 opened #738 "How to scan images without basic package management tools"
In the image of the ubuntu system, if you want to reduce the size of the image file, the command like dpkg may not be available, or simplified, and the --get-selections parameter cannot be found, which will cause the scan to fail. How to solve this problem is better ?

[2020-06-22 20:36] rnjudge commented on #738
This is often the case with minimal images -- no package management tools limits what Tern can find. If there are no package management tools present I would suggest using scancode to at least find file level licenses.

[2020-06-23 01:25] 00032118 commented on #738
ok，thank you

[2020-06-23 13:49] abhaykatheria opened #741 "Unwanted '_' in image_checksum_type key of report dictionary."
**Describe the bug**
As it can be seen in the screenshot there is an extra underscore in image__checksum_type.
![image](https://user-images.githubusercontent.com/40055274/85410157-5d121c80-b584-11ea-86be-d002a33fb023.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Generate tern report in json or html format for any image.
2. ``` tern report -o rep.json -f json -i alpine:latest ```
3. Se

[2020-06-23 15:48] #738 closed

[2020-06-23 22:07] nishakm commented on #731
@rnjudge Totally forgot that the default is supposed to be console out not write to a file. This is especially true for the use case of running tern in a container. Can you provide the situation where the console out use case breaks?

[2020-06-23 22:14] rnjudge commented on #731
If that is the case then we need to update our documentation and command line directions as it currently says that `report.txt` will be generated when no output file is specified. Nowhere in the documentation does it mention printing the output file to console if an output file is not provided. This is easy to update but I opened the issue so that either way we chose, we were being consistent. Pri

[2020-06-23 22:21] rnjudge commented on #731
For example, here is the command line directions for specifying an output file:
[code]

[2020-06-23 22:23] nishakm commented on #731
How about updating the README.md to reflect the expected usage for the HTML format (i.e. use -o) ?

[2020-06-23 22:25] nishakm commented on #731
@rnjudge Agree this is misleading and needs to be updated.

[2020-06-23 22:27] rnjudge commented on #731
That's fine. Since we need to fix more than just reverting #732 (the logic before the merge is incorrect and would require further editing after a revert) I propose merging the html report and I can open a new PR to fix the documentation and the logic surrounding where the output goes?

[2020-06-23 22:31] nishakm commented on #731
Sounds good to me. I will make the edit my comment in #740. It was all the concern I had.

[2020-06-24 00:32] #614 closed

[2020-06-24 03:10] ForgetMe17 commented on #706
Fixed in PR #717. Closing.

[2020-06-24 03:10] #706 closed

[2020-06-24 03:11] ForgetMe17 commented on #682
Fixed in PR #717. Closing.

[2020-06-24 03:11] #682 closed

[2020-06-24 10:56] ForgetMe17 opened #743 "Find installed software from shell script"
**Description**
In pr #717 , we parse a shell script into statements. We need to fiter the install command and extact what will be installed in the command.

**To Do**
1. Filter the install command.
2. Find what is being installed by the install command.

**Background**
Previous work #682.

**Super Issues**
#521

[2020-06-25 20:52] rnjudge commented on #608
Had some discussion with Nisha about this proposal. Instead of trying to pull the layer hash from the variety of container image client manifests (that all represent the hash in different ways/places) we will refer to the layers by order. We feel that this is more widely understood and intuitive.

[2020-06-25 23:25] nishakm opened #747 "Deprecate instantiating a derived Image class with multiple options"
**Description**
At the time of creating the Image class, it was not known how users usually reference images. Now we know that they mostly reference them either in the `repo:tag` format or the `repo@digest_type:digest` format. There is already functionality to parse the two. Hence we do not need to record Image ID. We can just check to see if what is instantiated follows these two formats.

**To D

[2020-06-26 18:10] mukultaneja commented on #747
@nishakm, can I take this issue?

[2020-06-26 19:27] nishakm commented on #747
@mukultaneja go for it!

[2020-06-26 19:27] #741 closed

[2020-06-26 19:30] #608 closed

[2020-06-29 21:32] rnjudge opened #752 "Remove duplicate notices in the output report when appropriate"
**Describe the bug**
When there are packages installed with the same package manager using different commands in the same `RUN` command, the output report shows duplicate information about how the package information was collected for that package manager.

In the example below, the `pip3` command is invoked twice in the same RUN command which causes Tern to print twice how pip3 package informatio

[2020-06-29 22:27] #201 closed

[2020-06-29 23:05] #747 closed

[2020-07-06 12:25] prahaladdarkin opened #755 "Enable Tern to run within a docker container without super user privileges"
**Describe the Feature**
Request a mechanism to run Tern within a docker container without requiring any super user privileges. This will allow Tern to be scheduled as a pod within a Kubernetes cluster allowing further integrations

**Use Cases**
Currently, I am working on a mechanism to integrate Tern with Harbor as a license scanner. The end goal is to have Tern provide enough information to Har

[2020-07-06 21:02] rnjudge commented on #755
I am looking at using [fuse-overlayfs](https://github.com/containers/fuse-overlayfs) to mount container layers when running Tern in a container in reference to https://github.com/tern-tools/tern/issues/679. My goal is that utilizing fuse-overlayfs would also fix the issue of requiring Tern to have super user privileges while running in a container.

[2020-07-07 01:55] prahaladdarkin commented on #755
That is correct @rnjudge. The `-cap-add SYS_ADMIN` option wont work in my use case.

[2020-07-07 07:06] ForgetMe17 commented on #743
For a case mentioned in #744 .
[code]
`ca-certificates` should NOT be in the installed package list.
Besides, we may need to add `remove` to the remove subcommands of `apt-get`:
[code]

[2020-07-08 06:53] prahaladdarkin opened #757 "Enable Tern to pull image digests and images using the registry HTTP(s) APIs"
**Describe the Feature**
Enable Tern to pull images and image digests directly using the registry HTTP(s) APIs. This capability will ensure that Tern does not require the presence of docker client libs and utilities to pull images from any registry.

**Use Cases**
* Run Tern within a docker container as a Kubernetes service in non-privileged mode without requiring docker on docker
* Enable light-w

[2020-07-09 00:03] rnjudge opened #758 "Alpine base OS layer is reporting package names twice"
**Describe the bug**
When running Tern on an Alpine base image, the package names are reported twice in the default report. See below. This doesn't happen on a Photon or debian image from what I can tell.
**To Reproduce**
Steps to reproduce the behavior:
1. `tern report -i golang:1.14-alpine -o output.txt` which is based on Alpine Linux v3.11. I also observed this behavior in the `alpine:latest` i

[2020-07-09 00:21] rnjudge commented on #758
This happens because the `apk` pkg manager command for `versions` in `base.yml` returns with the package name and version:

(tt) rjudge:tern$ python tern/tools/verify_invoke.py --image alpine:latest --keys base apk versions
Output list: musl-1.1.24-r8 busybox-1.31.1-r16 alpine-baselayout-3.2.0-r6 alpine-keys-2.2-r0 libcrypto1.1-1.1.1g-r0 libssl1.1-1.1.1g-r0 ca-certificates-bundle-20191127-r2 libtl

[2020-07-09 07:20] Raghavendrakamatagi-eng opened #762 "How to view the html report in browser?"
Can you please provide info about how to view the html report after executing below command ?

tern report -f html -i golang:1.12-alpine -o report.html

Thanks

[2020-07-09 12:53] nishakm commented on #762
@Raghavendrakamatagi-eng you can just open the file with a browser.

[2020-07-09 22:52] #758 closed

[2020-07-09 23:45] nishakm commented on #521
Completed with #743

[2020-07-09 23:45] #521 closed

[2020-07-10 02:53] ForgetMe17 commented on #743
Closing with PR #756 merged.

[2020-07-10 02:53] #743 closed

[2020-07-10 23:34] nishakm opened #763 "Report RUN command statements that are non-deterministic like if and case statements"
**Describe the Feature**
Currently, the report notices just says that if, case and for statements are unrecognizable. It would be nice to add notices for non-deterministic branching statements like if and case statements as you could only know the status of the branch at build time.

**Implementation Changes**
The new shell script parser produces a dictionary that will identify if and case stateme

[2020-07-10 23:35] nishakm commented on #763
@ForgetMe17 Do you want to work on this as a follow up to #521?

[2020-07-11 00:34] ForgetMe17 commented on #763
Yes!

[2020-07-14 02:30] ForgetMe17 commented on #612
Hi nisha, I am considering this way of spliting:

Multistage Dockerfile
[code]
into

Stage 1
[code]

Stage 2
[code]

I am not spliting into seperate stages since the second stage may need to copy files from the previous stage. We can build these two dockerfiles and perform analysis on each image. Then organize the report by stage.

[2020-07-14 09:31] 00032118 opened #765 "tern hangs when calling cve-bin-tool?"
File "/home/hf/scanvenv/bin/tern", line 8, in <module>
    sys.exit(main())
  File "/home/hf/scanvenv/lib64/python3.6/site-packages/tern/__main__.py", line 201, in main
    do_main(args)
  File "/home/hf/scanvenv/lib64/python3.6/site-packages/tern/__main__.py", line 113, in do_main
    run.execute_docker_image(args)
  File "/home/hf/scanvenv/lib64/python3.6/site-packages/tern/analyze/docker/run.py

[2020-07-14 15:33] rnjudge commented on #765
Can you please provide more information about the image and command you ran when you saw this error along with your environment information? Thanks!

[2020-07-14 16:11] rnjudge opened #766 "Tern has no concept of WORKDIR directory (required to collect go module info)"
**Describe the bug**
Most golang Dockerfiles will have a `WORKDIR` where the go modules get installed. i.e.

[code]

If a `WORKDIR` is established, all the proceeding `RUN` , `CMD` , `ADD` , `COPY` , or `ENTRYPOINT` commands will be executed in this `WORKDIR`. Tern currently has no concept of a `WORKDIR`. This is an issue when it comes to analyzing the go modules in a docker image because the go c

[2020-07-14 16:41] abhaykatheria commented on #766
For each layer, we can check its created_by field to check whether it is created from the command which sets the `WORKDIR`. An example of such a command could be.
```'created_by': '/bin/sh -c #(nop) WORKDIR /go'```

We can add a check in tern/analyze/analyze.py ```analyze_subsequent_layers()```
which can have  definition something like this :
[code]
once we get workdir we can cd into into it using

[2020-07-14 18:46] rnjudge commented on #766
Finding the layer `WORKDIR` from the `created_by` command looks good. I think we can put the `get_layer_workdir()` function in `image_layer.py`.

As you said, `analyze_subsequent_layers()` is where you can make the call to `get_layer_workdir()`. If the workdir exists, can we just `os.chdir()` to that directory before running `add_base_packages` which invokes commands from base.yml against the laye

[2020-07-14 18:51] nishakm commented on #612
@ForgetMe17 That makes sense to me. All the information collected when analyzing an image built from Dockerfile1 are stored in the `Image` object. So you can instantiate `stage1 = DockerImage(repotag1)` for the first image and `stage2 = DockerImage(repotag2)` for the second image. But some of the reports do not take more than one image (most notably the SPDX tag-value) so, focusing on the default

[2020-07-14 19:07] mukultaneja commented on #766
@rnjudge I think we can get this information inside `config` section of config.json

[code]

[2020-07-14 19:29] nishakm commented on #766
Sounds reasonable. One thing to consider is that you could use ENV to set a variable and then do WORKDIR $var. So you may have to keep track of that too. Not sure if the config has all the ENV set for replacement...

[2020-07-14 19:31] nishakm commented on #766
Yup! We already do this for `ADD`. So we need to also include this functionality for `WORKDIR`.

[2020-07-14 23:05] rnjudge commented on #766
@abhaykatheria as Mukul pointed out, the `WorkingDir` is accessible in the image's `config` dictionary property. The image is is available in the `image_obj` variable in `analyze_subseqent_layers()`.

[2020-07-15 03:16] ForgetMe17 opened #767 "Split the Dockerfile by stage"
**Description**
Given a dockerfile or dockerfile object, check if it is a multistage dockfile, if so, split it by the stage.

**Implementation**
Check `From` command in the dockerfile, and split by `From`.

**References**
Add function in tern\analyze\docker\dockerfile.py.

**Super Issues**
#612

[2020-07-15 17:55] mukultaneja commented on #757
@nishakm @prahaladdarkin @rnjudge Can I take it?

[2020-07-16 14:36] nishakm commented on #757
I figured out how to query the API using python: https://gist.github.com/nishakm/98d2fceaf8647bf521e98451123e5152

We will need `requests` to do this. `requests` doesn't have a "Bearer" authentication class, but it looks like one can create a custom authentication class: https://requests.readthedocs.io/en/master/user/authentication/#new-forms-of-authentication

A python implementation of the API h

[2020-07-16 14:37] nishakm commented on #757
@mukultaneja This is actually related to your OCI work. If you can implement the "Bearer" authentication and the whole querying process, you can use it for your OCIImage test.

[2020-07-16 14:38] mukultaneja commented on #757
@nishakm sure. I will look and start working on it

[2020-07-16 14:45] prahaladdarkin commented on #757
@nishakm, @mukultaneja and @rnjudge can we check if the google container registry SDKs can be used? I have been able to use them pretty reliably and we can actually avoid re-doing the entire authentication process as well as handling conditions like retry IMO.
I know of security compliance scanners that use the Go SDK of the library and I have heard the feedback that is lightweight and fast.

[2020-07-16 15:26] nishakm commented on #757
I am a bit hesitant to use that library because of its dependency on Bazel and GCR's builders. In the long run, it's actually less maintenance on our part if we just implement this small bit of functionality.

[2020-07-16 22:24] rnjudge opened #769 ""No known shell found in image" when running Tern as a container for Alpine based image."
**Describe the bug**
If you use the Tern container to get the SBoM for an Alpine base image, no shell is found and therefore, no information is collected in the report.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the ternd image according to the README.
2. Run `./docker_run.sh workdir ternd:latest "report -i golang:1.14-alpine" > output.txt`
3. Look at the output file.

**Error in

[2020-07-16 22:50] rnjudge commented on #769
The issue of not finding the shell for Alpine images has to do with the shell location symlinks in the Alpine image when running Tern in a container. This is the line in the `get_shell()` function in tern/analyze/common.py that returns false so the shell is not found: `if os.path.exists(os.path.join(cwd, sh[1:])):`. Even though the directory (os.path.join(cwd, sh[1:])) exists, `os.path.exists` ret

[2020-07-16 23:01] rnjudge commented on #769
Yep, busybox was missing from Tern's container image. Once that dependency is installed then the shell is found just fine for Alpine. @nishakm Since I am re-doing the Dockerfile for Tern anyway, I am thinking I will just install busybox as part of the dependencies instead of using `lexist` to check for the shell path. Thoughts?

[2020-07-16 23:04] nishakm commented on #769
I'd rather depend on busybox existing in the Alpine image. Is it possible to follow the symlink to the correct binary?

[2020-07-16 23:08] nishakm commented on #769
Maybe `os.path.realpath()`?

[2020-07-16 23:12] rnjudge commented on #769
I tried this, but doesn't work :/

[2020-07-17 00:25] rnjudge opened #770 "Recognize install snippets that follow environment variable declarations"
**Describe the Feature**
It is common in Dockerfiles that build go apps to set some environment variables before running the actual snippet that might install go modules. For example:
[code]

For the above line, Tern currently does not recognize "go build" as a snippet to install modules, despite that snippet being listed in snippets.py. This issue proposes changes to the way Tern parses

**Use Ca

[2020-07-17 08:57] prahaladdarkin commented on #757
@nishakm  - Thank you for this note. I One thing I did notice was that they still ship the SDK as a source repository and not using PyPi - I think there is  a issue created for them to create a PyPi package.
When I used the SDK, I did not have bazel installed and after copying their source folders to the project was able to use it without bazel.
However, you can take a call. I do agree that implem

[2020-07-17 13:36] nishakm commented on #757
Not having a pip package is the other issue. We will then need to vendor this source package using a vendor directory or a submodule.

It also looks like implementing retries and managing HTTP errors are pretty straightforward using `requests`.

[2020-07-17 20:29] #762 closed

[2020-07-17 20:44] rnjudge commented on #769
The issue is due to the fact that the `bin/sh` symlink points to an absolute `/bin/busybox` path which is in the root of the container, not the root of the working directory where it checks for the existence of the path. To avoid adding busybox to Tern's container image, we will need to add functionality that can resolve the absolute path links to the path that actually exists inside the container

[2020-07-17 22:36] rnjudge opened #772 "Tern exits with 'killed' when Dockerfile RUN statement is complex"
**Describe the bug**
Running Tern on a Dockerfile with a complex RUN statement causes it to crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Using the following Dockerfile, run `tern report -d Dockerfile`
[code]
Tern builds the image correctly but fails during the analysis. I noticed it lists "No listing statement" for all the non-snippet install commands that come right after each `&&

[2020-07-17 23:39] nishakm commented on #772
The issue is in `filter_install_commands(shell_command_line)`. For some reason the above shell command messes with stdout.
[code]
@ForgetMe17 Do you want to take a look?

[2020-07-17 23:41] nishakm commented on #772
From what I can tell, get_shell_commands parser that @ForgetMe17 implemented is not the issue - it splits each of the commands correctly. Something happens while filtering out the "install" command.

[2020-07-17 23:51] #763 closed

[2020-07-18 17:35] ForgetMe17 commented on #772
There are some problem with consolidate_commands():
Here are the logic:
[code]
We can assume two cases to point out the problems here:
**Case 1**
[code]

**Case 2**
[code]

Case 1 is the cause of this issue. Case 2 only has affects on our output, not causing this issue.

In general, this bug is caused by dead loop when we call A.merge(A), A is a Command object.
Furthemore, while we are dealing wit

[2020-07-18 17:36] ForgetMe17 commented on #772
I have fixed this by adjusting the logic in the consolidate_commands to fit the situations where there are more than one type of install commands.

[2020-07-18 18:15] ForgetMe17 commented on #772
@rnjudge  Thanks for finding out this bug!

[2020-07-20 20:26] mukultaneja commented on #757
@nishakm @rnjudge @prahaladdarkin I have created a Pull Request with the initial implementation. Please take a look and share feedback on it. I have added methods inside the `Image` class as of now. I think these would be common methods and implementation which could be shared across docker and OCI images [ still need to verify though ].

[2020-07-21 09:00] 00032118 opened #776 "first layer no shell?"
Hello, when I scanned a mirror, I found that the first layer could not find a suitable shell. Is there a better way to solve this situation?
docker history as fallows:
{"architecture":"amd64","config":{"Hostname":"","Domainname":"","User":"","AttachStdin":false,"AttachStdout":false,"AttachStderr":false,"Tty":false,"OpenStdin":false,"StdinOnce":false,"Env":null,"Cmd":["bash"],"Image":"","Volumes":n

[2020-07-21 15:05] rnjudge commented on #765
Hello @00032118, please provide more information about the circumstances in which you saw this error or I am going to close this issue. Thanks!

[2020-07-21 15:10] rnjudge commented on #776
Hi @00032118 - when you open an issue, please provide some information about the image and command you used to encounter the issue you are opening. We provide questions in our issue template for this purpose that are helpful for us when it comes to debugging. In this case, we don't know which "mirror" you are scanning and therefore, we cannot begin to reproduce or look in to the issue. Once we get

[2020-07-21 15:10] rnjudge commented on #772
Thanks for taking a look and finding the issue so quickly!

[2020-07-21 23:37] #772 closed

[2020-07-22 07:37] 00032118 commented on #776
I don’t seem to be able to directly submit the tar format image file here. I will send the email to you. Thank you for your prompt reply.

[2020-07-22 07:42] 00032118 commented on #776
Sorry, due to information security reasons, I have no way to directly send you the scanned image in question. I can only provide historical information of the image making process. From the historical information, the shell was not found when identifying the first layer. It's not clear why this happened, please help.

[2020-07-23 16:56] rnjudge commented on #776
Is it possible your container's first layer filesystem doesn't have a shell present? If the container is built on top of a distroless or scratch base image, this will likely be the case. Or it could be the shell is not located in an expected location listed in `common.yml` or . Or, if you are running tern as a container and your container is Alpine based, a shell is not currently identified due to

[2020-07-23 17:05] ForgetMe17 commented on #770
This is kind of bug for now, because our parser will consider
`RUN CGO_ENABLED=0 GOOS=linux go build -v -a -installsuffix cgo -o swag cmd/swag/main.go`
as a `variable assignment`. Here are the result.
[code]

[2020-07-23 17:23] ForgetMe17 commented on #770
I can take on this issue! @rnjudge
We can modify `parse_shell_variables_and_command()` in `tern\utils\general.py`. We can loop on a search for the `variable_pattern` until we can not find the macthed case.
For command `CGO_ENABLED=0 GOOS=linux go build -v -a -installsuffix cgo -o swag cmd/swag/main.go`:
1. Extract `CGO_ENABLED=0` by `^([A-Za-z_][A-Za-z0-9_]*)=(.*) ` and the remaining part should b

[2020-07-23 19:14] #766 closed

[2020-07-30 23:18] #679 closed

[2020-07-31 09:35] JeroenKnoops opened #778 "Docker run script fails. Tern: error: invalid choice: 'fuse' (choose from 'report', 'lock')"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. `git checkout master`
2. `docker build -t ternd . --no-cache`
3. `./docker_run.sh ternd "report -f json -i debian:buster"`

**Error in terminal**
[code]

**Expected behavior**
It should scan the docker image.

**Environment you are running Tern on**
- commit: 5259e565237c6

[2020-07-31 11:51] JeroenKnoops commented on #778
The dockerfile uses pip to install the version of tern... The new version with `fuse` support is not yet published to pypi, so that's the reason why it fails: https://pypi.org/project/tern/#history

A new release of the python package will resolve this issue..

Sorry for the trouble..

[2020-07-31 11:51] #778 closed

[2020-07-31 22:40] #686 closed

[2020-08-03 06:11] 00032118 commented on #776
Thank you very much. The reason for your analysis is very accurate. It is true that the sh of alpine points to the absolute path of busybox. For the time being, I have not thought of a better way to solve this problem, I don’t know how you plan to improve it? Temporarily use the ln -s method to introduce a bash from the system, which can be scanned normally.

[2020-08-03 19:27] rnjudge commented on #776
If you look in the [issue](https://github.com/tern-tools/tern/issues/769) where this is documented, there are a few ways to work around this. The easiest would be install busybox in the Dockerfile/container that Tern is running.

[2020-08-04 10:37] yannjor opened #781 "Completeness of a tern scan"
**Describe the Feature**
This feature would give you a summary at the end of the scan telling you the completeness of the scan, i.e. how big of a percentage of the files in the container can be attributed to a detected package in the bill of materials, and a list of the files that could not be associated to any package.

**Use Cases**
This feature would give the user more assurance about how much

[2020-08-04 21:53] rnjudge commented on #781
- I like the idea of expressing a “completeness %” of a scan but I think there is some ambiguity and room for clarification in that definition. I would think of completeness as the number of files/packages found where an associated license was detected in the file/package. It sounds like you are defining the completeness as a percentage of the files that belong to a package where the license was r

[2020-08-05 07:22] CsatariGergely commented on #781
We rely on the correctness of the package managers to indicate if some files have different licenses than the top level license of the project. With this completness % we are measuring the completness of Tern-s scan and not the correctness of the package managers.

No we just try associate every file with a detected package. To have correct file scanning result with scancode we would need the sour

[2020-08-06 04:50] rnjudge commented on #781
I'm not sure we can rely on package managers that way. Tern uses the package manager to find licenses associated with each package at the package level. Tern does not currently rely on package managers to check for licenses at a file level and most do not do this by default. My concern is with the implications of the word "complete" and it being just a simple percent. According to your suggestion

[2020-08-06 07:12] 00032118 opened #783 "setup.py install failed?"
(scanvenv) [root@localhost tern-master]# python setup.py install
ERROR:root:Error parsing
Traceback (most recent call last):
  File "/home/hf/scanvenv/lib64/python3.6/site-packages/pbr/core.py", line 96, in pbr
    attrs = util.cfg_to_args(path, dist.script_args)
  File "/home/hf/scanvenv/lib64/python3.6/site-packages/pbr/util.py", line 271, in cfg_to_args
    pbr.hooks.setup_hook(config)
  File "

[2020-08-06 15:52] rnjudge commented on #783
This seems like an environment issue, not an issue with Tern. I can't reproduce this and the command works fine for me. If you are trying to get the dist tarball you could also try `python setup.py sdist` instead. Or perhaps try re-cloning Tern from the tip of master and maybe that will fix your problem? Are all your dependencies installed and up to date?

[code]

[2020-08-06 15:54] #765 closed

[2020-08-06 23:32] 00032118 commented on #783
Thank you for your prompt reply. I have solved this problem. It may be due to different versions of pbr. After I added a matadata file to the directory, the problem was solved.

[2020-08-07 00:02] #783 closed

[2020-08-08 07:16] dotcarls opened #785 "Packages installed by scripts are not reported"
First off, I want to say this project is awesome -- I spent the last day playing around with it and am very excited to (hopefully!) contribute.

**Describe the bug**
Some projects utilize a shell script to perform package installation / configuration rather than inline statements in the `Dockerfile`. Similarly, some projects provide an 'easy install' method to install / configure the project's pac

[2020-08-08 07:22] dotcarls commented on #785
Regarding a solution, I believe that relying on heuristics to detect package installation is insufficient for all cases. It'd be great to at least have an option like `--full-report` that checks for packages after each and every `RUN` layer rather than only those where `tern` can parse a package installation command.

[2020-08-11 01:59] rnjudge commented on #785
Hi @dotcarls, thanks for opening this issue and for your interest in Tern! We are always welcoming new contributors and would love to see you get involved :)

As you have correctly stated, Tern does not currently detect packages installed by scripts. The reason for this right now is mainly the fact that there are infinite ways that people install packages in containers. You have given examples for

[2020-08-12 00:31] dotcarls commented on #785
Thanks for the detailed response @rnjudge ! Totally agree with regards to the points about best practices / the infeasibility of writing parsers to cover all installation possibilities.

My expertise is mostly around `dpkg` (and related `apt`, `apt-get`, `aptitude`, etc.) and `npm`. My first thought is that `tern` wouldn't need to execute each package manager on each layer as the list should be fi

[2020-08-13 04:33] rnjudge commented on #785
Agree that this would be a better way to do it. We actually already do this for the base layer using the `get_base_bin()` function located in `tern/analyze/common.py.` While this function only checks for the existence of a single package manager binary, we could do something similar to check for multiple binaries in subsequent layers.

More investigation on whether other package managers support t

[2020-08-16 23:22] dotcarls commented on #785
I looked into this and it seems that there are equivalents for all OS variants in `base_.yml`. It boils down to checking the local package database for `rpm`, `dpkg`, `apk`, and `pacman`. I wrote a script to verify this:

1. From a base image for the OS, `stat` files in the package database directory
2. Installs `nano`
3. `stat`s the package database directory files again
4. `diff` the before / af

[2020-08-18 15:30] #769 closed

[2020-08-18 15:35] nishakm opened #789 "Refactor functions with too many arguments"
**Description**
Several functions in the code now have too many arguments causing pylint errors

**To Do**
1. Find functions with "disable too-many-arguments" pylint markers
2. Refactor those functions such that the arguments are minimal

[2020-08-19 13:50] nishakm opened #790 "Include packages collected by scancode in reports"
**Describe the Feature**
Currently, the scancode extension only collects file level data even though we also ask it to look for packages
[code]

**Use Cases**
Scancode is a complete static analysis method, so no mounting and and running a process is needed. We can use this method to address #755.

**Implementation Changes**
The executor needs to collect package information and store it in the `pac

[2020-08-19 13:51] nishakm commented on #790
@mukultaneja would you be OK with working on this?

[2020-08-20 17:25] #767 closed

[2020-08-25 07:57] timovandeput opened #792 "How are detected licenses curated?"
My understanding: Tern relies on ScanCode Toolkit to automatically detect the licenses mentioned in the source code of packages, and stores new detected licenses in a central cache for performance reasons.

From experience with ScanCode Toolkit I know that non-license text in README files and file comments can sometimes lead to the detection of licenses that do not actually apply to the package. (

[2020-08-25 13:38] nishakm commented on #792
The cache is there for performance reasons, but it is not meant to be a "central source of truth" for all containers. At this time, it can use a source of truth API to analyze a container image via a custom extension.

Not yet! We have an issue filed for creating a CRUD API for the local cache for spot corrections.

[2020-08-26 13:38] nishakm commented on #752
Moving this to near future - slated for after release code refactor.

[2020-08-26 19:45] #790 closed

[2020-08-27 19:42] nishakm commented on #695
Going to close this issue for now as Go modules seem to be the standardized way the community is heading.

[2020-08-27 19:42] #695 closed

[2020-08-27 22:53] nishakm commented on #699
Fixed with commit abf6e91f55d92ee93c8229246f518cccb12d1324

[2020-08-27 22:53] #699 closed

[2020-08-29 05:45] westurner opened #794 "How do cve-bin-tool, claire, and trivy compare?"
How do cve-bin-tool, claire, and trivy compare?

- https://github.com/tern-tools/tern#cve-bin-tool
  - https://github.com/intel/cve-bin-tool
- https://github.com/coreos/clair
- https://github.com/aquasecurity/trivy

[2020-09-02 13:00] JeroenKnoops commented on #247
With tern version 2.2.0 the action works great.
I've released it here: https://github.com/marketplace/actions/tern-action

Source is here: https://github.com/philips-labs/tern-action but you are free to use this as inspiration and recreate it in the `tern-tools` organization.

[2020-09-02 13:26] nishakm commented on #247
Thank you! I will close this issue then.

[2020-09-02 22:50] tevoinea opened #796 "Extra "1"s printed in json output"
**Describe the bug**
When scanning `node:slim` on Windows using tern 2.2.0 (and master), piping stdout produces 2 "1"s and then the json string. This doesn't happen on golang:alpine though.

**To Reproduce**
Steps to reproduce the behavior (on a Windows machine):
1. `git clone https://github.com/tern-tools/tern.git`
2. ` docker build -t ternd .`
3. `docker run --privileged --device /dev/fuse -v /v

[2020-09-03 21:07] tevoinea opened #797 "Tern crashes when scanning a specific ubuntu digest on Ubuntu OS"
**Describe the bug**
On Ubuntu 18.04.3 and GitHub's `ubuntu-latest` workflow agents, tern crashes when scanning `ubuntu@sha256:2b90cad5ded7946db07a28252618b9c8b7f4f103fc39266bcc795719d1362d40`. I'm sorry I don't have the tag for that digest to help debug. This scan **does** work on Windows though (following the same repro steps).

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone htt

[2020-09-03 21:33] nishakm commented on #781
Sorry for not responding to this earlier.

My only issue with associating "completeness" to "tern scan" is that there are some files that are not associated with a package that can be installed independently. Think for example of the Go programming language where installation is basically downloading the binary off the internet. In this case the "package" and the "file" are the same thing. Another

[2020-09-03 22:47] nishakm commented on #797
Confirmed: same hash doesn't work on ubuntu 18.04 LTS OS

[2020-09-03 22:57] nishakm commented on #797
It looks like `/bin/sh` exists but the true path is `/usr/bin/dash` in this case. I will work on a fix next week.

[2020-09-03 23:02] nishakm commented on #794
:wave: You should ask this question on https://github.com/intel/cve-bin-tool. My understanding is that clair is not shipped as a standalone executable package but as a container image. Not sure about trivy.

[2020-09-03 23:02] #794 closed

[2020-09-03 23:06] nishakm commented on #770
@ForgetMe17 do you still want to work on this?

[2020-09-03 23:44] #247 closed

[2020-09-04 00:23] westurner commented on #794
FWIU, Clair and Trivy are significantly more comprehensive vuln scanners?

This is relevant to tern because tern could rely upon more comprehensive tools?

[2020-09-04 13:55] nishakm commented on #794
Clair is built to scan container images for vulnerabilities. It's already widely used. Tern isn't quite in that space - it's a container package inventory tool and SBoM generator. However, it's flexible enough you can attach a file vuln scanner to it. That's what cve-bin-tool is. You can attach a more comprehensive vuln scanner to it if you want. You will have to create a plugin for it.

[2020-09-04 15:17] ForgetMe17 commented on #770
@nishakm I will try on it!

[2020-09-07 01:42] moisesdelacruz301997 opened #800 "Tern cannot retrieve full image metadata"
Using `tern report -o output.txt -i debian:buster` displays error messages and tern wasn't able to generate the report.
![Screen Shot 2020-09-07 at 9 36 12 AM](https://user-images.githubusercontent.com/58415523/92340594-940cbe80-f0ed-11ea-82aa-3a738e3a4285.png)

**To Reproduce**
Download latest release [here](https://github.com/tern-tools/tern/releases/tag/v2.2.0).

Follow steps stated in [Getting

[2020-09-08 13:21] nishakm commented on #800
👋 You will need to install some system requirements: git, attr, python and pip. Looks like you didn't install attr.

[2020-09-08 13:22] #800 closed

[2020-09-10 13:58] nishakm commented on #755
@prahaladdarkin A docker container running tern and scancode can run without `--privileged`. Would this work?

[2020-09-10 13:59] nishakm commented on #755
@JeroenKoops

[2020-09-10 14:29] JeroenKnoops commented on #755
I'm currently looking into creating a dockerfile with all required software for scancode in it.
I will try running it without `--privileged` and come back to you.

[2020-09-10 15:39] nishakm opened #801 "The big code refactor"
**Description**
Several features requested by our community can be enabled easily if we re-organize the code base. This would also make it easier to write tests for it and increase our code coverage, not to mention making the code readable and help us solve a good number of our technical debt issues.

This is a super issue. A number of issues will be created that will link here.

**Sub Issues**
#8

[2020-09-10 15:55] nishakm opened #802 "Move all container operations to directory "load""
**Description**
We move all container image operations to directory `tern/load`. This concentrates operations talking to registry APIs and the docker daemon in one location. The tests for these functions will rely on some test fixtures that can be consolidated herein.

**To Do**
1. For current docker style operations, move code from `tern/analyze/docker/container.py` to `tern/load/docker.py`. This

[2020-09-10 19:35] nishakm opened #803 "Organize code under tern/analyze"
**Description**
This is a big one: The code under analyze is currently a big mess. So let's clean it up!

**To Do**
1. Move code in `analyze_base_layer` to `tern/analyze/image/single.py`. Refactor to remove `too-many-arguments` or `too complex` pylint errors.
2. Move code in `analyze_subsequent_layers` to `tern/analyze/image/layered.py. This piece of code also needs refactoring.
3. Move all `docke

[2020-09-10 21:30] nishakm opened #804 "Make the Image class an abstact base class"
**Description**
Image is currently a generic container image class. Convert this into an abstract base class in order to restrict the kind of properties and methods that are allowed.

**To Do**
1. Convert the Image class in `tern/classes/image.py` to derive from the ABS class
2. Update the `DockerImage` class to compensate for the update if needed.

**Background**
This should unblock #678

**Super

[2020-09-11 07:38] yannjor commented on #781
@nishakm I agree that a confidence percentage would be a better way to do this and that my approach was a bit too simplistic. Unfortunately I don't have time to work on this anymore, so I will close my pr for now.

[2020-09-11 10:34] JeroenKnoops commented on #755
For scancode scanning the `--privileged` is not necessary, for 'normal' use it's till necessary.

[2020-09-11 13:39] nishakm commented on #755
I think this solution will work for now.

[2020-09-11 17:06] nishakm opened #807 "Refactor get_pkg_attr_list function in command_lib.py"
**Description**
This function is too complex
[code]
Refactor such that it doesn't need so many arguments.
**To Do**
1. Figure out why this function needs so many arguments to work.
2. Refactor as needed

**Super Issues**
#801

[2020-09-11 17:19] nishakm opened #808 "Move setup, teardown and dependency checks to prep.py"
**Description**
System checks for file paths, files, dependencies and the docker daemon are distributed across the code base. Most of them are in report.py. Move these functions to a new file called prep.py

**To Do**
1. Find all the functions that should go in prep.py
2. Move them to prep.py and fix the import paths.

**Super Issues**
#801

[2020-09-11 17:25] nishakm commented on #781
@yannjor No worries. The confidence score is something I think the whole compliance tooling community is figuring out anyway. It really is hard to tell unless you actually look at the supply chain manually or if the supplier says that's what the license is and the supplier has a track record of providing accurate information. I'm still looking for suggestions :)

[2020-09-11 17:25] #781 closed

[2020-09-11 17:27] nishakm commented on #776
I think this should be fixed with the Alpine symlink commit shipped with release 2.2.0. If it's not, please reopen this issue.

[2020-09-11 17:27] #776 closed

[2020-09-15 20:56] emaanhaseem commented on #801
I and a small group of students from a UT Austin CS Virtualization class would like to claim this issue and tackle it.

[2020-09-16 14:08] nishakm commented on #801
Super appreciate you for offering to tackle this! It's a tricky one and time sensitive (like the end of September!). I wonder maybe if you are looking for something more long term?

[2020-09-16 14:46] emaanhaseem commented on #801
Thanks for letting us know the time sensitivity! Is there an issue you'd recommend that is more long term? For example to be completed by the end of the year. Thanks again.

[2020-09-16 14:52] nishakm commented on #801
We have a number of bugs due by next release: https://github.com/tern-tools/tern/milestone/13. Definitely try one of those. I will be filing more issues that you can take on. Let me know which ones you would like to take on.

[2020-09-17 00:03] moisesdelacruz301997 commented on #800
Hi, I have tried several steps to install attr but it seems like it is not supported on my machine. Is it compatible with MacOS Catalina(10.15.6)? Or attr is installation is different for Mac?

[2020-09-17 00:38] nishakm commented on #800
Oh, I'm sorry, I missed that detail. If you are running on macOS, you can run it using Docker: https://github.com/tern-tools/tern#getting-started-with-docker

[2020-09-17 00:55] moisesdelacruz301997 commented on #800
So that's it, cool! Thank you so much.

[2020-09-21 20:00] nishakm opened #810 "Traceback in commit message linting"
**Describe the bug**
Commit message linting doesn't gracefully exit when met with an error:
[code]

**To Reproduce**
1. Make a commit with just a title
2. Run ci/test_commit_message.py
3. See error

**Error in terminal**
[code]

**Expected behavior**
It should exit gracefully.

**Environment you are running Tern on**
On GitHub actions: https://github.com/tern-tools/tern/pull/805/checks?check_run_i

[2020-09-21 23:49] nishakm opened #811 "Move operations on raw image tarball into `load` folder"
**Description**
Currently checking an input tarball and extracting it into a directory are merged in the `extract_image_metadata` function. However, the tarball may be in schema 1 or schema 2 or some other kind of output. So it makes sense to move these various checks into a new file `tern/load/raw.py`.

**To Do**
This is dependent on #802 i.e. creating a folder called `load`.

**Super Issues**
#8

[2020-09-23 13:03] michellegx111 opened #812 "Error when generating report for some docker images"
I have tried to run tern in docker to analyse my docker images. For some, it run successfully, but for others it failed with message "ERROR - rootfs - Command failed. /bin/sh: 1: export: 2A684B57436A81FA8706B53C61C3351A438A3B7D: bad variable name
"

Does anyone know why I have such error for some of my docker images? Thanks a lot in advance!

The whole log are in the attachment.
[error.txt](https:

[2020-09-23 14:01] nishakm commented on #812
It looks like our parser is ignoring the tabs in one of the ENV lines:
[code]
@ForgetMe17 Do you know of a fix for this?

[2020-09-24 18:24] HeroicHitesh commented on #512
@nishakm Is this issue available for me to work upon?

[2020-09-24 18:46] nishakm commented on #512
Sure! Go for it.

[2020-09-25 17:15] #812 closed

[2020-09-27 10:04] HeroicHitesh commented on #512
@nishakm Sorry for the delay, today I tried to setup the project on my local using [this](https://github.com/tern-tools/tern/blob/master/CONTRIBUTING.md#setting-up-a-development-environment-on-mac-and-windows) and it gave some error while running `vagrant`. The error was `'pwd': Operation not permitted - getcwd (Errno::EPERM)`
I googled it and found this [Stackoverflow issue](https://stackoverflow

[2020-09-29 05:38] sakshi006 commented on #512
@nishakm  Can i work on this issue?
I  am new here, contributing for the first time.
Please guide me.

[2020-09-29 13:37] nishakm commented on #512
Hi! If you are new to contributing to any open source project, I would first ask that you set up your work environment according to https://github.com/tern-tools/tern/blob/master/CONTRIBUTING.md#setting-up-a-development-environment. Also, you can reach out to me on the slack channel. Follow instructions to get access here: https://github.com/tern-tools/tern/blob/master/CONTRIBUTING.md#slack-channe

[2020-10-07 16:52] #802 closed

[2020-10-07 16:52] #808 closed

[2020-10-07 19:21] nishakm commented on #807
Closing this. It was fixed along with #802

[2020-10-07 19:21] #807 closed

[2020-10-12 18:00] nishakm opened #816 "Move operations using chroot to analyze/default"
**Description**
1. Create a folder called `default` in analyze.
2. Move functions in common.py that analyze the first layer into `default/first_layer.py`.
3. Move functions in report.py that analyze the first layer into `default/first_layer.py`.
4. Fix imports to account for this new location of functions.
5. Refactor complex functions.

**Super Issues**
#803

[2020-10-14 10:27] amallayev opened #818 "tern 2.2.0 with scancode plugin doesn't list packages anymore"
[debian_scancode.json.txt](https://github.com/tern-tools/tern/files/5838972/debian_scancode.json.txt)
Hello,

tern 2.1.0 with scancode plugin execution used to produce package listing for PhotonOS, Ubuntu, Debian, SuSE and possibly some others.

With tern 2.2.0 this functionality was removed. Can you please confirm if this was intentional? Just making sure that it is not a bug.

[2020-10-14 12:52] nishakm commented on #818
That's interesting. IIRC, v2.2.0 should have added functionality for scancode to find packages. I will check.
Previously, you needed to run tern in default mode to get the packages and then in scancode mode to get file level licenses. Can you try that method and see if you get back the package listings?

[2020-10-14 12:55] nishakm commented on #818
So it was merged: https://github.com/tern-tools/tern/pull/791. I'll have to dig into this more.

[2020-10-14 12:57] nishakm commented on #816
Closing this. There are too many connected pieces that also live in the docker folder and the report folder to neatly separate this work.

[2020-10-14 12:57] #816 closed

[2020-10-14 14:15] amallayev commented on #818
Running in default mode is no problem with 2.2.0, the package listing works just fine. But with -x scancode I get different results between 2.1.0 and 2.2.0 when scanning Ubuntu 18.04 and Photon 3.0, see attached.

tern 2.2.0 with scancode:

[photon-3.0-20200626.tern-scancode.13.10.2020.txt](https://github.com/tern-tools/tern/files/5378726/photon-3.0-20200626.tern-scancode.13.10.2020.txt)

[ubuntu-

[2020-11-03 20:22] makefu opened #819 "Regression tern 2.2.0: ValueError: No escaped character"
**Describe the bug**
When trying to analyze the logstash container tern errors with "ValueError: No escaped character"

**To Reproduce**
`tern report -f json -i docker.elastic.co/logstash/logstash-oss:7.5.1`
**Error in terminal**
[code]

**Expected behavior**
tern writes json report to stdout

**Environment you are running Tern on**
Enter all that apply
- Output of 'tern --version':
[code]
- Opera

[2020-11-03 21:42] nishakm commented on #819
@makefu Would you be able to provide the Dockerfile that created `docker.elastic.co/logstash/logstash-oss:7.5.1`?

[2020-11-03 22:27] makefu commented on #819
according to the documentation, https://github.com/elastic/dockerfiles/blob/v7.5.1/logstash/Dockerfile is being used to build the official docker image

[2020-11-09 14:49] #803 closed

[2020-11-09 14:49] #789 closed

[2020-11-09 15:00] #770 closed

[2020-11-10 02:17] #797 closed

[2020-11-10 11:43] pilvikala opened #822 "Tern crashes when no copyright file exists"
I am getting the following error when running a scan (command `tern report -o output.txt -i fossid-nginx:2020.2`):
[code]

Does tern expect a copyright file somewhere in the container?

[2020-11-10 13:57] nishakm commented on #796
@tevoinea I tried this at the tip of master and I am unable to recreate the issue. Could you try as well? Please run `docker build -t ternd -f ci/Dockerfile .` at the tip of master and then try. Thanks for filing the issue!

[2020-11-10 14:50] nishakm commented on #822
One kind of metadata tern looks for is copyrights. The typical place for a Debian style OS's copyright files is `/usr/share/doc`. It looks like there isn't a copyright file in that location for your specific image. It's not a bug or critical error but it's something someone who is doing license compliance should take note of.

[2020-11-10 19:25] nishakm commented on #818
@amallayev The problem seems to be the way tern runs scancode: `scancode -ilpcu --quiet --timeout 300 --json - /path/to/rootfs`. This doesn't report any package manifest data. Any idea how to fix this?

[2020-11-10 20:48] nishakm commented on #819
@makefu I am unable to recreate the error at the tip of master. Could you try again?

[2020-11-10 23:06] nishakm opened #823 "Deprecate printing commands invoked from the command library in the reports"
**Problem Statement**
The reports are becoming too verbose when printing out in detail the commands that were used to fetch the metadata information. The logging already has this information.

**Describe the Proposal**
Simplify the information printed in the final reports.

**Steps to Implement Proposal**
1. Move the individual package information to the Package Origins rather than ImageLayer Orig

[2020-11-10 23:21] nishakm opened #824 "Suggest a different name for -d/--driver command line option"
**Problem Statement**
`-d` is the short version for `--dockerfile` and is the same for `--driver`. This may cause confusion

**Describe the Proposal**
Perhaps change it to `-dr` instead of `-d`.

**Steps to Implement Proposal**
Simply replace this line in `tern/__main__.py`:
[code]

[2020-11-10 23:41] nishakm opened #825 "Consolidate common code used by container/run.py and dockerfile/run.py"
**Description**
There are some steps in common between `container/run.py` and `dockerfile/run.py`. These can be consolidated in one function and placed in `tern/analyze/default/core.py`.

**To Do**
1. Find the steps that are common
2. Place the steps in a function in `core.py`
3. Change imports in `container/run.py` and `dockerfile/run.py`
4. Run functional tests

**Super Issues**
#801

[2020-11-10 23:47] nishakm opened #826 "Rearrange functions in lock.py and parse.py"
**Description**
The functions in lock.py and parse.py are not necessarily related to Dockerfile parsing and/or Dockerfile lock.

**To Do**
1. Identify the functions that could be moved or refactored.
2. After moving them to the appropriate place, fix imports.
3. Functional tests.

**Super Issues**
#801

[2020-11-10 23:53] nishakm opened #827 "Unknown/Unsupported extension not handled"
**Describe the bug**
When providing `-x` with some unknown extension, Tern will just skip ahead to creating a report without warning.

**To Reproduce**
Steps to reproduce the behavior:
1. Try `tern report -x cve-bin-tool -i debian:buster`
2. See no output for `cve-bin-tool`. The actual extension name is `cve_bin_tool`.

**Expected behavior**
A warning should show up saying "unknown extension" and

[2020-11-11 11:39] pilvikala commented on #822
Thanks for the explanation. The issue is that it appears tern actually crashes without producing any output because of this issue.

[2020-11-11 13:51] nishakm commented on #822
OK, that is not supposed to happen. I will check.

[2020-11-11 16:44] nishakm opened #828 "Tern crashes when an image is not found"
**Describe the bug**
Tern crashes when an unknown image is provided

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern report -i someimage:sometag

**Error in terminal**
[code]

**Expected behavior**
Tern should gracefully exit if there is an error in fetching an image

[2020-11-11 17:11] nishakm commented on #822
@pilvikala I am not able to access the image you used. Is there a public equivalent?

[2020-11-11 19:40] #828 closed

[2020-11-12 10:12] pilvikala commented on #822
Not really, but I'll try to create a minimal sample that should be similar.

[2020-11-12 11:43] amallayev commented on #818
@nishakm I wonder what changed in the way tern calls scancode, as such problem wasn't present in tern 2.1.0. Was tern 2.1.0 passing own package listing results besides scancode? I am using the release version of scancode, v3.1.1 and I indeed do not see package manifest data collected from rootfs.

[2020-11-12 12:36] pilvikala commented on #822
The package attached contains a Dockerfile that you can build and a dummy debian package that is needed for the build and that causes the failure.

[tern.zip](https://github.com/tern-tools/tern/files/5530603/tern.zip)

The command that I ran with tern was

`tern report -o output.txt -i package-that-breaks-tern:latest`

I also discovered an interesting thing: If I change the line 4 in the Dockerfil

[2020-11-12 13:48] nishakm commented on #818
Tern can consolidate results, yes. If you run `tern report -i image:tag` and then `tern report -x scancode image:tag` you will get a package inventory and file licenses.

 I am using the release version of scancode, v3.1.1 and I indeed do not see package manifest data collected from rootfs.

I've asked the question to the scancode community. Let's see what happens.

[2020-11-13 15:15] #822 closed

[2020-11-13 15:17] nishakm commented on #822
@pilvikala Thanks for helping me fix this issue.

[2020-11-13 15:18] #512 closed

[2020-11-17 21:08] tevoinea commented on #796
@nishakm I was able to verify the "1"s are gone after building the tip of master using the python tooling/instructions from CONTRIBUTING.md!

[2020-11-17 21:08] #796 closed

[2020-11-18 16:10] LucianTavares commented on #824
Uma sugestão para a solução seria:

'--driver' = '-dri'
'--dockerfile' = '-dockf'

[2020-11-18 17:00] nishakm commented on #824
This issue was fixed. Sorry!

[2020-11-18 17:00] #824 closed

[2020-11-19 00:22] #612 closed

[2020-11-20 00:43] #819 closed

[2020-11-21 14:10] ktock opened #838 "Tern crashes with squashed images"
**Describe the bug**

Seems related to #636.
Tern crashes with the image built with docker build's [`--squash`](https://docs.docker.com/engine/reference/commandline/image_build/#options) option.

**To Reproduce**

Build an squashed image (this example uses `busybox:1.31`) and run tern on this image.

[code]

**Error in terminal**

[code]

**Expected behavior**

The squashed image should be success

[2020-11-25 13:44] makefu commented on #819
sorry for the late response, i will be able to check tomorrow if the error is still there :)
cheers

[2020-11-30 16:24] nishakm commented on #21
Tabling this as we have not had any feedback that installation is a problem.

[2020-11-30 16:24] #21 closed

[2020-11-30 16:28] #729 closed

[2020-11-30 16:30] nishakm commented on #147
This is now moved to `tern/load/docker_api.py`

[2020-11-30 16:30] #147 closed

[2020-11-30 16:32] nishakm commented on #160
We've now moved to using `extensions` to allow for other command line tools to analyze container filesystems.

[2020-11-30 16:32] #160 closed

[2020-11-30 16:35] nishakm commented on #125
This has been implemented for go.mod which is the typical use case.

[2020-11-30 16:35] #125 closed

[2020-11-30 16:47] nishakm opened #839 "Support for SPDX JSON format"
**Describe the Feature**
Tern currently supports SPDX tag-value format, but it would be more compatible with cloud-native distribution if it were JSON format.

**Use Cases**
This format is specifically useful to demonstrate distributing container SBoMs using OCI artifacts

**Implementation Changes**
Create a format plugin that generates SPDX JSON format.

[2020-11-30 16:53] nishakm opened #840 "Generate SBoM per layer"
**Describe the Feature**
Rather than generate SBoM for the whole container image, generate it for a specific layer.

**Use Cases**
- This feature will be useful in generating SBoMs for each container layer as a client builds.
- This feature can also be used during a container image "debugging" run where Tern analyzes a single container image.

**Implementation Changes**
This is related to #660

[2020-12-04 15:15] nishakm opened #841 "More straightforward use of subparsers"
**Description**
Argparse may provide a better way of defining the subparsers

**To Do**
- Perhaps use `action='store_true'` and `dest='subcommand'` in `add_subparsers` as described by ` ArgumentParser.add_subparsers([title][, description][, prog][, parser_class][, action][, option_string][, dest][, required][, help][, metavar])`

- Use `set_defaults(func=report)` so that we can simplify the `do_ma

[2020-12-14 23:21] #660 closed

[2020-12-15 23:52] aalexanderr opened #844 "Can't generate html output when running with scancode"
**Describe the bug**
Can't generate html output when running tern with scancode:

**To Reproduce**
Steps to reproduce the behavior:
1. git clone "https://gerrit.onap.org/r/integration/docker/onap-python"
1. cd onap-python
1. either:
    1. docker build -t onappython - < Dockerfile && tern report -x scancode -f html -o report.html  -i onappython:latest
    1. tern report -x scancode -f html -o repo

[2020-12-16 15:54] aalexanderr commented on #840
I'd like to ask whats the status on this feature? We have tools that do static analysis of Dockerfiles and generate SBoM but it doesn't work on base images so a feature where we could just do analysis of first layer would be really useful.

[2020-12-16 15:59] nishakm commented on #840
It's slated for Release 3.0.0 due next year in March.

[2020-12-16 16:00] aalexanderr commented on #840
Can I help to have this feature quicker?

[2020-12-16 16:45] nishakm commented on #840
@rnjudge, would you be able to assign some tasks to @aalexanderr towards this feature?

[2020-12-16 17:15] rnjudge commented on #844
@abhaykatheria do you want to take a look at this?

[2020-12-16 19:22] rnjudge commented on #840
Hi @aalexanderr glad to see your interest on this. For this feature we need to do a few things:

1) Add a report command line option to pick the layer you want to generate the SBoM for. I am imagining something like `tern report -l <Layer 1,2,3etc>` or `tern report --layer <1,2,3>.
2) When the layer is selected, we want to mount the container layers up until the selected layer. There is functional

[2020-12-16 20:06] abhaykatheria commented on #844
Oh ok cool.

[2020-12-16 21:29] rnjudge opened #845 "Add report --layer/-l option to command line"
**Description**
We need to add a `--layer` option to the `report` subparser so we have a way to specify which layer we want to print a single report for.

**To Do**
Edit `tern/__main__.py` to add a command line option to the `report` subparser called `-l`/`--layer LAYER_NUMBER`.

**Background**
We will need this in order to pass the layer number to the reporting formats so they can print an output

[2020-12-16 21:34] rnjudge opened #846 "Add print_layer function parameter to generate() abstract methods"
**Description**
Add a `print_layer` function parameter to the report formats' `generate()` functions so we can work towards printing output reports for single layers instead of the whole container.

**To Do**
1) Add a `print_layer` function parameter to the `generate()` abstract method stub in `tern/formats/generator.py`. Since there's a chance this may not be provided, a default value (like None)

[2020-12-16 23:07] rnjudge commented on #840
@aalexanderr I added some good first steps towards implementing this feature (#845, #846). Let me know if you are interested in working on either of them :)

[2020-12-17 12:59] aalexanderr commented on #840
@rnjudge  As for scanning base images only - that would be lovely but I've seen no way of getting base image name from docker (tried dfimage & dive) It might be possible to take out the first layer, tag it and run a scan on it but I believe its better to contribute directly here rather than hack around when you already have this feature planned for nearest release.

I will work on both of them, be

[2020-12-17 17:49] rnjudge commented on #840
@aalexanderr Sounds good! I will assign them to you now. Please note that we are heading in to the holidays and any PR you open between now and January 4th when I'm back from vacation may take a few extra days to review. Appreciate your interest and help on this!

[2020-12-17 17:51] rnjudge commented on #845
GitHub is not letting me assign this to @aalexanderr but he has expressed interest in taking this on.

[2020-12-17 17:53] rnjudge commented on #846
GitHub is not letting me assign this to @aalexanderr but he has expressed interest in taking this on.

[2020-12-17 18:28] rnjudge commented on #840
Once tasks 845 and 846 are completed the next step will be to actually implement the single layer report formatting for each reporting style in `generator.py`.

I suggest starting with the default report format.
- For the default report format, we will need to add a new function, `print_single_layer()` to `tern/formats/default/generator.py`. This function will take in the `image` object and `print

[2020-12-18 11:05] abhaykatheria commented on #844
@aalexanderr @rnjudge  I ran tern on the given image using same commands(BOTH OF THEM) and it ran well.
Here's the report I got.
[report.html](https://drive.google.com/file/d/1CI76HzJdlR1RP-RfVzvX74A8zjyybeus/view?usp=sharing)

And these are the logs

`tern report -x scancode -f html -o report.html -d Dockerfile`
log-1
[tern.log](https://github.com/tern-tools/tern/files/5715209/tern.log)

`docker

[2020-12-18 13:39] aalexanderr commented on #844
@abhaykatheria
What version of tern did you use? The html report links to this commit:
https://github.com/tern-tools/tern/commit/c8f336a7137e0f34d7cb7a55ee4fcb9cf104b7b4
but it shows me 404.

I've checked your fork but the only active branch I see (master) is the same as here.

Both tern and scancode I used  are latest releases
[code]

(before submitting I have verifed it on 2 different host machi

[2020-12-19 19:51] abhaykatheria commented on #844
I installed it manually from the source code (Instructions are in [contribution.md](https://github.com/tern-tools/tern/blob/master/CONTRIBUTING.md#setting-up-a-development-environment-on-mac-and-windows)). I didn't made any commits I checked the git logs. its strange the commit checksum in report is pointing to nowhere. @rnjudge can you take a look at this ..?

[2020-12-29 05:08] aalexanderr commented on #844
I did everything as in linked contributing, then `pip3 install scancode-toolkit[full]` and went with  steps to reproduce.
It resulted in the same error as initially reported.
BTW the unknown hash is the last commit from the onap-python repo :)

[2020-12-30 13:58] aalexanderr commented on #840
Hi, I've made the PR: #847

I've also made the changes for analysis of an image until specified layer and the default txt reporter (locally for now).

Before submitting I wanted to ask how you want it to work with multi-image Dockerfiles?

In reporting there is looping over images (I'm assuming it's due to aforementioned multi-image Dockerfiles). Should the --layer param work only images only or s

[2021-01-02 01:21] rnjudge commented on #840
This is an interesting question. For multistage Dockerfiles, Tern analyzes each stage as a separate Dockerfile. If we want to handle multistage Dockerfiles for single layer reporting we will need a way to specify the stage of the Dockerfile to report on in conjunction with a particular layer of that stage. Adding another command line option to specify the stage seems bulky, though. Alternatively,

[2021-01-04 17:52] rnjudge commented on #840
@aalexanderr I've been thinking about this and think we should just focus on enabling this feature for images right now. We can skip it for now with Dockerfile inputs.

[2021-01-04 18:58] aalexanderr commented on #840
@rnjudge I misunderstood the requirements and went with both analysis & report until given layer (thus my comment about until_layer seeming to be better name). How about having both options, as in:
   1. --layer -l Print report only for given layer, or
   1.  --until-layer -ul Print report for all layers until given layer (including given layer).
I think the until-layer feature could be useful - e

[2021-01-04 20:34] rnjudge commented on #840
Instead of adding another option that takes a number as input, could we keep the `--layer` CLI option and then add some sort of `--inclusive` T/F flag that could be used in conjunction with the --layer option if the user wants to include up until that layer? If that seems more confusing let me know but since it's basically the same option with just a yes or no to including the previous layers a T/

[2021-01-04 22:49] aalexanderr commented on #840
Thats better!

--inclusive should default to true or false? shorthand -in?

It seems to me that multi-stage dockerfiles are already partially implemented, I turned off the --layer feature for Dockerfile analysis alltogether, I'd rather leave it to the tern team if thats ok.
I'll gladly cover: image analysis until given layer (in the analysis part), reporting for single layer and until layer  (with

[2021-01-04 23:15] rnjudge commented on #840
@aalexanderr  I think default to False (so printing the information for one single layer is the default) and then we can just add a pointer in the "help" for the `--layer` option about the additional `--inclusive` flag. Shorthand -in sounds good to me as well.

Yes, sorry if I wasn't clear in my explanation above. We will leave the --layer feature turned off for all Dockerfile analysis unless we s

[2021-01-05 21:02] nishakm opened #849 "Inventory and generate a SBoM for a live container"
**Describe the Feature**
Currently, Tern generates an SBoM for a single container image and #840 will generate an SBoM for a given layer. If Tern were able to inventory a container at build time, the SBoM would be available to package and distribute without the need for post scanning.

**Use Cases**
* This option can be used in tools like [Cloud Native Buildpacks](https://buildpacks.io/) to genera

[2021-01-05 22:51] nishakm opened #850 "Generate SBoM on live container"
**Describe the Feature**
Generate an SBoM against a live container. For example, here is a script that uses buildah as a primitive for building a container:
[code]

**Use Cases**
This is helpful when generating SBoMs on the fly and perhaps for error correction at the end.

**Implementation Change**
This functionality will bypass all the initial setup, extract and load image and just does the core

[2021-01-05 23:21] nishakm commented on #850
A note about `bom=$(tern report --live $mnt )`: it's possible to use `buildah unshare` to enter into a user namespace, in which case this could be `bom=$(buildah run $ctr tern report --live)`. In this situation, Tern will have to not even invoke `sudo unshare -pf`. Instead it will just run the inventory scripts from the command library and collect all the information.

IMO, the latter is the easie

[2021-01-11 21:21] nishakm opened #852 "Add new option '-l,--live' to 'report' subcommand"
**Description**
Add a new subcommand `-l,--live` to `report` subcommand

**Implementation**
in `tern/__main__.py`, add subparser option under:
[code]

It should look like this:
[code]

**Super Issues**
#850

[2021-01-11 22:01] nishakm opened #853 "Create execute_scripts module for live run"
**Description**
Create the scaffolding for executing scripts

**To Do**
1. Create a new directory `live` in `tern/analyze/default`.
2. Create an `__init__.py` file in `live` (you can copy it from another module like `container` or `dockerfile`).
3. Create a file called `run.py` in `live`.
4. Create an empty function `def execute_scripts(args)`

**Super Issues**
#850

[2021-01-12 17:00] rnjudge opened #855 "SPDX tag-value document does not validate -- "Invalid download location""
**Describe the bug**
SPDX Tag-value documents do not validate.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate an spdx tag-value document:
   `tern report -i photon:3.0 -f spdxtagvalue -o output.spdx`
2. Attempt to validate the document:
[code]
3. See error.

**Error in terminal**
[code]

**Expected behavior**
The document should validate. It looks like the SPDX validation tool is l

[2021-01-12 19:27] #839 closed

[2021-01-12 23:31] nishakm opened #857 "Implement run_extension for an ImageLayer object"
**Description**
There is currently a `run_extension` function in `tern/analyze/passthrough.py` which will run a given extension script against an `Image` object. Implement the same thing for an `ImageLayer` object.

**To Do**
1. For each extension's `Executor` class, create an `execute_layer` method which takes an `ImageLayer` object rather than a `Image` object. Note that there will not be a cach

[2021-01-12 23:48] nishakm opened #858 "Implement analyzing a live container"
**Description**
In `tern/analyze/default/container/single_layer.py` there is a function called `analyze_first_layer` which takes in an `Image` object, a master list of `Package` objects, and a redo boolean. Implement a `analyze_live` function which takes just an `ImageLayer` object and returns a populated object from `core.execute_base` after discovering a shell and a binary from the command libra

[2021-01-13 23:25] nishakm opened #859 "Implement generate_format for an ImageLayer object"
**Description**
The entrypoint to generate a report is the function `report_out` in `tern/report/report.py` which uses a `generate_format` function that invokes each format plugin's `generate` function. Implement a similar function that will generate a report in each of the formats for 1 `ImageLayer` object.

**To Do**
1. For each format, create a `generate_layer` function within the class that in

[2021-01-19 16:56] nishakm opened #861 "Create a "load" method in the Generator class for the JSON format"
**Description**
In order to read the SBoMs of previous layers, we need a method to read the JSON blobs formatted in the same way as it is generated. For this purpose, we create a "load" method in the Generator class for the JSON format.

**Super Issues**
#849

[2021-01-19 20:25] nishakm commented on #50
First, design CRUD API for different items in the database #792

[2021-01-19 20:31] nishakm opened #862 "Create a sync mechanism between the cache and the hosted database"
**Description**
The cache is located on the local system or in a Docker container. We should also have an agent that will be able to sync data in the cache and a remote or locally hosted database.

**Super Issues**
#50

[2021-01-19 20:36] nishakm opened #863 "Implement a database backend"
**Description**
Implement the database backend to support #50

**To Do**
Considering that we have a scenario where Tern may be running in a container image and will send json objects over a network, it may make sense to implement this database in Redis. Redis also offers a message broker which may be used to implement #862

**Super Issues**
#50

[2021-01-20 15:49] nishakm opened #864 "Enable inventory of Distroless images"
**Describe the Feature**
Distroless provides runtime container images. It doesn't have a shell and therefore not as straightforward to enable inventorying via a binary. However, there is a manifest within the rootfs that can read, so inventorying can still be done.

**Use Cases**
See https://github.com/ossf/wg-digital-identity-attestation/issues/20
We also have difficulty running file level static

[2021-01-21 20:44] #855 closed

[2021-01-25 13:50] aalexanderr commented on #852
doesn't this conflict with #845   ?

[2021-01-25 20:36] rnjudge opened #867 "spdxtagvalue: 'Invalid element reference in relationship'"
**Describe the bug**
The spdxtagvalue document generated by Tern is not validating.

**To Reproduce**
Steps to reproduce the behavior:
1. At the tip of master, run: `tern -r report -i photon:3.0 -o output.spdx -f spdxtagvalue`
2. Download the spdx validation tool at https://bintray.com/spdx/spdx-tools/download_file?file_path=org%2Fspdx%2Ftools-java%2F0.0.4%2Ftools-java-0.0.4-jar-with-dependencies.

[2021-01-25 21:17] rnjudge opened #868 "Reduce complexity of analyze_subsequent_layers()"
**Description**
analyze_subsequent_layers() has 5 arguments. This is an issue if we ever want to add more command line arguments in the future that need to be passed to the layer analysis, as prospector will complain when there are more than 5 arguments.

**To Do**
Create a new file, `options.py` in `tern/analyze`. Create an `Options` class in options.py. Instead of passing all the command line ar

[2021-01-31 00:51] rnjudge commented on #818
@nishakm any update from the scancode community? This is something we may want to fix in 3.0.0.

[2021-02-03 18:28] #867 closed

[2021-02-04 01:55] jcfiorenzano opened #874 "Scan fail with images that doesn't have repositories and tags"
**Describe the bug**
When the scanning is executed using the imageId on an image that doesn't have RepoDigest and RepoTags then tern fails with the following exception .
[code]
I tried the same image using tern 2.0.0 and it scanned the image properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Build an image without specifying repository and tag `docker build .`
2. Scan the resulting im

[2021-02-04 06:37] rnjudge opened #875 "Notices are missing in the default report when cache is populated"
**Describe the bug**
If you run Tern on an image when the cache has already been populated with information about that image, notices are missing from the default report. This includes the base OS information. From what I can tell, this is only an issue with the default report but have not tested all the formats yet. By notices, I mean that the following information is missing when Tern loads laye

[2021-02-08 17:06] nishakm commented on #874
@jcfiorenzano I believe we changed the CLI to expect an image of the form `image:tag` or `image@digest_type:digest`, but you shouldn't be getting this error if you enter something else, I will take a look.

[2021-02-08 17:19] nishakm commented on #874
@jcfiorenzano I am unable to reproduce the error at the tip of main:
[code]

[2021-02-08 18:29] nishakm commented on #875
@rnjudge Confirmed the issue exists on `main`. Do you want me to work on this?

[2021-02-08 18:31] rnjudge commented on #875
@nishakm That would be great! There are a few bugs related to this that you may or may not want to address at the same time. I don't expect you to fix all at the same time, just for your consideration: #752 #823

[2021-02-08 20:44] nishakm commented on #875
Looks like all that information is not recorded at all.

[2021-02-09 01:16] rnjudge commented on #875
I hadn't noticed this before. Perhaps something got shifted in the refactor?

[2021-02-09 03:26] jcfiorenzano commented on #874
Hi @nishakm in the following screenshot you can see all the steps that I followed
![image](https://user-images.githubusercontent.com/5582507/107311084-924f7a00-6a42-11eb-8f2c-3d987ba3bdd2.png)
the OS is Ubuntu 20.04
here is the screenshot with the `docker  inspect` results
![image](https://user-images.githubusercontent.com/5582507/107311550-62ed3d00-6a43-11eb-9fd0-7137884c5bb6.png)

[2021-02-09 03:35] jcfiorenzano commented on #874
If this is fixed at the tip of main, is there any possibility of releasing a patch for tern 2.3.0?

[2021-02-09 13:56] nishakm commented on #874
@rnjudge WDYT? It's a pretty serious bug IMHO.

[2021-02-09 16:54] rnjudge commented on #874
@nishakm I am not opposed to a patch, especially if release 3.0.0 gets pushed closer to April. I am trying to find the patch that fixed this, however. It looks like a [commit](https://github.com/tern-tools/tern/commit/222a1388f37348617bff36bdc1aab4ab9701e259) was added in 2.3.0 that supposedly addressed this issue but I don't see the fix since 2.3.0 that is the clear fix (granted, I have not spent

[2021-02-09 18:11] rnjudge commented on #713
The new SPDX validation tool is available here: https://github.com/spdx/tools-java

[2021-02-10 21:29] nishakm commented on #818
Nope. I recall you filed an issue?

[2021-02-10 23:21] rnjudge commented on #818
Not me. I thought "I've asked a question to the scancode community. Let's see what happens" meant that you filed an  issue :) If there's no issue yet, I can open one.

[2021-02-10 23:48] nishakm commented on #818
Sorry about that! I dropped the ball. I can file an issue.

[2021-02-10 23:49] nishakm commented on #818
Or if you get to it before I do, just put a link here

[2021-02-11 01:36] mkimuram commented on #65
@nishakm

How is the status of this proposal?

I've made a very minimal web UI that only allow specifying an image name and return a html result by using flask. Please see the commit [here](https://github.com/mkimuram/tern/commit/346aa603d220d3a1053dce804d754106e8338091).
If this commit makes sense and will expected to be easily merged without a big change, I will make a pull request.

[2021-02-11 14:58] nishakm commented on #65
Thanks for doing the work on this! We haven't worked on this proposal yet, so your work is the first :). Would you be able to use [swagger](https://swagger.io/docs/specification/about/)to generate the web service API?

Another thing, @rnjudge, the web service bits should probably live in a new repository. So maybe create a new repo under `tern-tools` where @mkimuram can submit a PR to?

[2021-02-11 15:33] nishakm commented on #823
@rnjudge what do you think about turning:
[code]
into
[code]
The actual notices will not go away and will still exist in the json, yaml and html formats.

[2021-02-11 23:16] mkimuram commented on #65
@nishakm

Thank you for your comments.

I'm not familiar with swagger, but I searched it and found that flask-restx looks useful to achieve it.
With a small change, I made flask-restx generate swagger-ui. Once, the repository becomes ready, I will submit a PR.

[2021-02-12 02:15] #875 closed

[2021-02-16 23:31] jcfiorenzano commented on #874
Hi is there any update on this?

[2021-02-17 01:12] JamieMagee opened #881 "Duplicate package output when scanning alpine images"
**Describe the bug**
When scanning alpine based images I see duplicate packages in the output, one of which has an empty version.

**To Reproduce**
Steps to reproduce the behavior:
1. `tern -q --driver fuse report -f json -i node:14.15.3-alpine3.12`
2. Outputs duplicate packages, one of which has an empty version

**Expected behavior**
A single instance of each package, with a version listed

**En

[2021-02-17 03:54] rnjudge commented on #881
@JamieMagee for debug purposes, what is name the duplicate package with an empty version?

[2021-02-17 03:56] JamieMagee commented on #881
@rnjudge I should have specified that all packages are duplicated. You can use `musl` as an example for debugging.

[2021-02-17 04:51] rnjudge commented on #874
@jcfiorenzano thanks for your patience on this. This is not actually fixed at the tip of main and I can reproduce the error you're seeing. Here's the part of the code where it's failing currently. In the example you shared above, `image_attrs['RepoDigests']` and `image_attrs['RepoTags']` don't exist so the `image_string` value never gets set which is what is causing the error.

[code]

The way tha

[2021-02-17 05:13] rnjudge commented on #874
@nishakm I think that using the docker image `Id` as a fallback when no `RepoDigest` or `RepoTag` is appropriate.

[2021-02-17 05:21] rnjudge commented on #881
Indeed, I can see the package versions missing in the second layer.
[code]
The missing package versions are the reason that they are being reported twice, since `musl-1.1.24-r10` != `musl-` when Tern tries to check if the package has already been reported in the previous layer. Seems to be an issue with the `apk` collection utility in that second layer not finding the package versions but I need t

[2021-02-17 05:34] JamieMagee commented on #881
Thanks for the quick response, and confirmation, on this bug :)

[2021-02-17 20:16] m1-key commented on #858
@nishakm Do I need to check whether the ImageLayer given in the argument can be loaded by cache or not?

[2021-02-18 05:41] rnjudge commented on #881
Update for myself: The issue is due to a mismatch in elements when running the command_lib scripts. When I use Tern's debug scripts the number of elements for the packages found versus the versions are different:

[code]

The apk version parsing for libstdc++ is the culprit. The apk command_lib script is running `echo $lic | awk -F "${p}-" '{print $2}'`  where lic is `libstdc++-9.3.0-r2` and p is

[2021-02-18 05:57] JamieMagee commented on #881
I think it might be easier with `sed` (That's not a sentence I ever thought I'd say!)

I took your example strings for `$lic` and `$p`, and constructed a small regex that removes the prefix `$p-` from the input `$lic`

[code]

[2021-02-18 17:30] rnjudge commented on #881
Thanks @JamieMagee. Let me test this out with all the other package strings to make sure it works more generically... stay tuned.

[2021-02-18 17:39] #874 closed

[2021-02-18 17:40] #713 closed

[2021-02-18 17:41] rnjudge commented on #881
@JamieMagee looks good! When I run with the sed parsing instead of awk I get the following summary for the layers in the output report (this is a hobbled together copy and paste for simplicity's sake):

[code]

I'll open a PR for the change now.

[2021-02-18 17:44] nishakm commented on #858
`core.execute_base` should take care of that

[2021-02-18 17:56] m1-key commented on #858
I have opened a PR for this issue.

[2021-02-18 18:56] #881 closed

[2021-02-18 23:41] rnjudge opened #885 "Automate Tern's release process"
**Describe the Feature**
When a new or patched release is cut, the Tern maintainers follow the steps outlined [here](https://github.com/tern-tools/tern/blob/main/docs/releases/release_checklist.md). This is time consuming and limits the frequency that releases can be made available. Ideally, we would automate this process.

**Use Cases**
Anytime we want to cut a release, having at least a portion

[2021-02-19 04:17] nishakm commented on #841
Assigning a specific function to a single subcommand option is not feasable. So there isn't any way of getting rid of the if-then-else statements in the `do_main` function. Hence closing this.

[2021-02-19 04:17] #841 closed

[2021-02-19 04:31] nishakm commented on #868
@rnjudge what do you think of just passing `args` instead of creating a different options object?

[2021-02-19 05:07] rnjudge commented on #874
@jcfiorenzano [tern 2.4.0 is available](https://pypi.org/project/tern/2.4.0/) with this patch. Thanks for reporting!

[2021-02-19 18:48] #845 closed

[2021-02-19 18:48] #846 closed

[2021-02-19 20:33] nishakm opened #888 "Use unshare -mpf for rootless inventory"
**Describe the Feature**
We could possibly inventory without using `sudo` by using `buildah unshare`, or use something similar (https://man7.org/linux/man-pages/man1/unshare.1.html)

**Use Cases**
- running tern without `sudo` mitigates exploits like: https://access.redhat.com/security/cve/cve-2019-14287
- we could possibly run tern in an unprivileged container?

**Implementation Changes**
Basical

[2021-02-20 06:03] JamieMagee commented on #864
From looking at the referenced comment, I think a sample script would be something like:

[code]

Running this in an unpacked layer of `gcr.io/distroless/base-debian10` yields

[code]

and the version equivalent

[code]

yields

[code]

etc. for the other commands.

[2021-02-22 01:06] JamieMagee commented on #864
@nishakm I've been looking into implementing this. You mentioned about using the `host` method to invoke commands, and the documentation also says this:

https://github.com/tern-tools/tern/blob/11fc8a33eb52eb8ebdb17e14b80bf3605160bd7a/tern/analyze/default/command_lib/base.yml#L12-L17

However, the implementation only appears to be there for `container`, and `host` is missing?

https://github.com/t

[2021-02-22 15:08] nishakm commented on #864
@JamieMagee What I meant was that `host` is meant to be one of ways tern can run scripts (and something that I had implemented a long long time ago and since removed from the code base) but the execution path is not implemented yet.

The place to implement this is in https://github.com/tern-tools/tern/blob/main/tern/analyze/default/collect.py#L22
and in https://github.com/tern-tools/tern/blob/main

[2021-02-22 16:02] m1-key commented on #825
@nishakm I am looking forward to solving this issue. I was reading the code of both files. What I found that we can use the container/run.py functions at some places. Like cleanup and saving to the cache was there in dockerfile/run.py, for that we can use directly teardown function of container/run.py. Similarly, at one-two places, we can do the same.

[2021-02-22 16:36] nishakm commented on #825
Thanks @m1-key! Could you post a list of things you would be changing? I haven't looked at this in a while now :)

[2021-02-22 21:26] JamieMagee commented on #864
@nishakm I think we're on the same page. It wasn't clear to me whether `invoke_on_host` had yet to be implemented or had been removed in a refactor. Regardless, it needs to be implemented now.

As for the issue of Windows and Mac hosts, I would defer that question for now and assume that we have a Linux host. Let's get something working first, then worry about crossplatform support afterwards.

[2021-02-23 16:01] JamieMagee commented on #864
It's hacked together right now, but I've proven the concept:

[code]

[2021-02-23 16:09] nishakm commented on #864
@rnjudge I think we may remove the distroless issue from GSoC? What do you think we can substitute it with?

[2021-02-23 16:23] m1-key commented on #825
Till now I have found that in container/run.py we have a function named ```execute_image``` which is doing the same thing as done by two functions combined in dockerfile/run.py namely ```full_image_analysis``` and ```analyze_full_image```.
I have shared a screenshot of the same. As you can see the same sequence of instructions has been followed. So rather than having this, we can use the ```execut

[2021-02-23 16:48] nishakm commented on #825
@m1-key The trouble with using `execute_image` as part of `execute_dockerfile` is that the number of checks you will need to make sure the right arguments are passed in and out based on whether you are providing an image or a dockerfile is so much that it increases complexity. This was how `execute_image` was before (it was just called `execute` back then). The splitting of the execution paths red

[2021-02-23 17:20] m1-key commented on #825
Yes, the procedures that are common: - `setup`,`cimage.analyze`,`cleanup` and `save_to_cache`.
As `execute_dockerfile` calls `analyze_single_dockerfile` which calls `full_image_analysis` and this calls `analyze_full_image`. Now `analyze_full_image` has above-mentioned procedures. Also `execute_image` has these procedures. So we can move them into single common function.
Putting them into a single

[2021-02-23 17:30] m1-key commented on #825
`default_common` would look like this :
![Screenshot_31](https://user-images.githubusercontent.com/39923784/108882776-c756f180-762a-11eb-8726-9b88be745a11.png)

[2021-02-23 21:08] nishakm commented on #864
@JamieMagee Feel free to submit a PR with what you have. I can either review it with changes or work on top of it. Whatever works for you.

[2021-02-23 21:13] rnjudge commented on #864
@nishakm https://github.com/tern-tools/tern/issues/757?

[2021-02-23 22:55] nishakm commented on #864
https://github.com/tern-tools/tern/wiki/Google-Summer-of-Code-2021-Ideas#enable-inventory-of-distroless-container-images-beginnerintermediate

[2021-02-24 12:39] aalexanderr opened #890 "Analysis of images from nexus repositories stopped working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install tern (tried both from main and master)
2. run tern report -i nexus3.onap.org:10001/onap/so/so-oof-adapter:1.7.11
4. See error

**Error in terminal**
[code]

**Expected behavior**
Analysis proceeds

**Environment you are running Tern on**
Enter all that apply
- Outp

[2021-02-24 13:51] m1-key commented on #825
@nishakm I made this function which has all the procedures which are common in `container/run.py` and `dockerfile/run.py`.
I have used the following arguments: -
`image:- Basically it is the image object.`
`redo, driver, extension:- Same as described in the main file`
`args:- It is used because we have to pass the args to report in order to generate the report`
`image_file:- This is a boolean whic

[2021-02-24 18:41] mkimuram commented on #65
@rnjudge

Could you create a new repo for this?
 What information do you need? Just a repo name?

@nishakm

What should the repo be named? 'tern-api' or 'tern-web-api'?

[2021-02-24 19:01] rnjudge commented on #65
@mkimuram @nishakm I can create a new repo now. Does `tern-web-api` work for you?

[2021-02-24 19:48] rnjudge commented on #65
@mkimuram I created https://github.com/tern-tools/tern-api. Please upload your PR here under a new `web` folder. We will also host the databse api bits here under a `database` sub folder.

[2021-02-24 22:30] rnjudge commented on #890
`tern-2.3.0` successfully creates a report for `nexus3.onap.org:10001/onap/so/so-oof-adapter:1.7.11` so this is a regression somewhere in the changelog listed here: https://github.com/tern-tools/tern/blob/v2.4.0/docs/releases/v2_4_0.md

[2021-02-25 15:52] nishakm commented on #890
The parsing is definitely broken. #891 may be the fix for it. But the DockerImage instance is working i.e. no stacktrace at that point. So the problem is somewhere else.

[2021-02-25 15:55] nishakm commented on #890
Aha! The final string that gets passed is `nexus3.onap.org:10001/onap/so/so-oof-adapter@sha256:d7e1f739ba732c853a638f9c90becd5e0f8d313c8d506567b0b83ac38a1d53cb` so that definitely confuses the parser.

[2021-02-25 16:56] rnjudge commented on #890
Good catch @aalexanderr. I think this is a side effect of e1d00f8.

[2021-02-26 18:02] nishakm opened #894 "Tern does not get debian licenses from 2nd layer onward"
**Describe the bug**
Tern reports licenses from the first layer of a debian based container image, but will not report it for the second layer onwards even though apt is used to install packages

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern report -d samples/debian_vim/Dockerfile`
2. See that the report has licenses for Layer1 but not for Layer2.

**Error in terminal**
[code]

**

[2021-02-26 20:15] #838 closed

[2021-03-01 11:29] sankalpmukim commented on #852
Why is this issue still open? Is there a problem with @m1-key 's commit?

[2021-03-01 11:49] jaindhairyahere commented on #619
I want to have a try. :)

[2021-03-01 12:38] m1-key commented on #852
No, the functionality that is required to run with this command is in progress, on later stage when all the functionalities of live container are implemented then I guess it will be merged. Since it is WIP that's why it is on hold.

[2021-03-01 15:47] #868 closed

[2021-03-01 16:24] nishakm commented on #858
Closing this issue and creating new ones to address it.

[2021-03-01 16:25] #858 closed

[2021-03-01 18:44] rnjudge commented on #894
I was able to fix this by adding `clean` to list of ignored words for `apt-get` in `snippets.yml`

[2021-03-01 18:56] nishakm commented on #894
Oh weird....I wonder why that would affect the output...

[2021-03-01 18:58] rnjudge commented on #894
@nishakm Update to my previous comment -- The correct output only appears on my second run of Tern when it's loading from cache (the first run being directly after the cache was cleared). I still think we might as well add `clean` to the list of `apt-get` commands to ignore but that is not the fix. Clearly Tern is collecting the data correctly since it can load it from the cache properly, but some

[2021-03-01 23:03] rnjudge commented on #894
Looking at this more, it doesn't seem that either output is correct. When loading from the cache, duplicate packages are reported.

[2021-03-02 04:39] rnjudge commented on #894
@nishakm I've been poking at this for a while and I don't think this is actually the bug we think it is... I think that for the 3 packages in the second layer, `debut` can't parse a license from the copyright text which is why no licenses are reported for the second layer. There is a bug, however, when you load from the cache... duplicate packages/licenses are reported.

[2021-03-02 13:56] m1-key commented on #811
@nishakm I guess now after few code refactorings, there is no function named `extract_image_metadata`. So now which function is to be moved in `tern/load/raw.py`? Also, I found two functions named `extract_image` in `image.py` and `extract_tarfile` in `tern/utils/rootfs.py` which might be the one I should look for to solve the above issue.

[2021-03-02 23:37] #890 closed

[2021-03-03 19:39] rnjudge commented on #894
There is no license present in the `vim` and `vim-common` copyright text but I opened https://github.com/nexB/debian-inspector/issues/11 for the libgpg2 GPLv2 copyright text not being parsed.

[2021-03-03 21:04] rnjudge commented on #894
I am closing this issue and will open another one for the double reporting of packages.

[2021-03-03 21:05] #894 closed

[2021-03-03 23:52] rnjudge opened #899 "Debian dockerfile reports duplicate packages"
**Describe the bug**
When Tern runs with the following debian dockerfile, it reports duplicate packages in the second layer when it loads from the cache. If it's not loading from the cache, Tern properly reports the packages in the second layer.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clear the cache and run `tern -d samples/debian_vim/Dockerfile`, see the correct reporting i

[2021-03-04 05:59] rnjudge commented on #899
The reason that a handful of duplicated packages are appearing in the output file when Tern pulls from the cache has to do with a failing `is_equal` check to see if the layer package already exists on the master list in `update_master_list()` (line 122 in `tern/analyze/default/default_common.py`). `is_equal` "performs a deep comparison between two objects by iterating over the dictionary for each

[2021-03-04 14:40] nishakm commented on #899
Excellent sleuthing! The Package class already has a `is_equal` method I think. Why not use that?

[2021-03-04 17:02] rnjudge commented on #899
Yes, the `Package` `is_equal` method is what's currently broken for debian package dicts when they contain non-human readable characters. Are you saying just edit that function to use a different comparison for debian packages?

[2021-03-04 17:08] nishakm commented on #899
I can poke at this some more if you'd like.

[2021-03-04 18:49] rnjudge commented on #899
Discussed with @nishakm and we will change the `is_equal` method for Package objects to only compare name, version and license.

[2021-03-04 19:09] jcfiorenzano opened #902 "Missing package version"
Hi I notice that some packages found by tern are found without version, in my case those packages are from a layer that runs npm install, this is the dockerfile
[code]
Example of a package that doesn't have version:

[code]
**Expected behavior**
Package is found with its version.

**Environment you are running Tern on**
Enter all that apply
- Output of 'tern --version': tern 2.4.0
- Operating Syst

[2021-03-04 21:24] nishakm commented on #861
This is out of scope, so we will close it.

[2021-03-04 21:24] #861 closed

[2021-03-05 00:58] JamieMagee opened #903 "Replace npm parsing with jq"
**Describe the Feature**
The current implementation for parsing npm packages is rather slow. This is due to using npm directly, which has the overhead of spinning up Node.

Instead, Tern should get the complete output using `npm list -g --json --long --depth=1000` and parse that output using jq.

**Use Cases**
In tests, run by @jcfiorenzano, we saw runtimes of 23-25 minutes for the following Docke

[2021-03-05 08:28] JeroenKnoops commented on #630
I'm still having issue with some large images. (Over 2 GB)

Is it ok to create a PR where we can set the timeout if we want to make it different from the 120 which is currently set?

[2021-03-05 22:03] rnjudge commented on #902
@jcfiorenzano do you know which layer the missing package versions are coming from? The base OS or the second layer? If they are packages installed by `npm` my guess is that the npm package metadata collection/parsing is failing. I see that @JamieMagee opened #903 related to this. Let me give his suggestion a try and see if it resolves the issue you are seeing.

[2021-03-05 22:17] rnjudge commented on #903
Thanks for this suggestion @JamieMagee -- those runtime improvements are awesome! Do you know the general availability of `jq` in most standard node/npm base images? That would be the only issue I could see using jq to parse instead of npm.  In the mean time, let me get to work on a potential PR to incorporate and test this. Thanks!

[2021-03-05 22:45] rnjudge commented on #630
@JeroenKnoops Tern's command line is a little cluttered and this does not seem like something that most general users for Tern would utilize if they had an option to enter the timeout themselves. Instead of a PR where users can set the timeout, what about just increasing the timeout to 180 seconds instead? Feel free to open a PR.

[2021-03-07 20:56] rnjudge commented on #903
Unfortunately, it doesn't look like `jq` is available as a default utility in the node base image. When I mount the base image using Tern's `debug` functionality:

[code]

[2021-03-07 22:20] JamieMagee commented on #903
Yep, I realised soon after I opened this issue, that jq isn't a usual component of node based images.

However, I have an alternative that works on `node:alpine`.

<details>
<summary>Here's my JavaScript based method</summary>

[code]

</details>

<details>
<summary>
And the output of it when run on `node:alpine`
</summary>

[code]

</details>

And best of all, it's still fast 🎉

[code]

I also at

[2021-03-08 17:38] rnjudge commented on #903
@JamieMagee Instead of javascript, another thought would be to use the host system to parse npm packages (similar to your proposal for distroless) and add jq as a requirement of Tern. `jq` has no runtime dependencies so we wouldn't be introducing a long dependency chain.

[2021-03-08 17:48] nishakm commented on #825
Closing this issue: https://github.com/tern-tools/tern/pull/892#issuecomment-792945212

The two use cases are different enough that we can't do any more consolidation without un-separating the two concerns in the code base.

[2021-03-08 17:48] #825 closed

[2021-03-08 17:49] nishakm commented on #801
All relevant issues are closed.

[2021-03-08 17:49] #801 closed

[2021-03-08 18:01] m1-key commented on #811
@nishakm any update on this ?

[2021-03-08 19:26] nishakm commented on #811
Oh I thought this was closed. Thanks for taking a look! I will close this now.

[2021-03-08 19:26] #811 closed

[2021-03-08 19:27] nishakm commented on #826
@m1-key This one may need some refactor.

[2021-03-08 20:33] m1-key commented on #826
Okay @nishakm, I will make a report of the steps that are required to remove or required refactoring according to my knowledge, and will share the same with you.

[2021-03-08 22:10] JamieMagee commented on #903
Sure, that also works for me. In that case we'll have to wait for #889 to land, as it has support for running commands on the host machine.

[2021-03-09 02:10] rnjudge commented on #899
The larger issue I am seeing is that the second layer hash is not found in the cache and therefore packages are not loaded from the cache -- this is why Tern does a bunch of additional package comparisons where the Package `is_equal` check fails. In addition, each time I run Tern, the second layer has a different `layer.fs_hash` value so even if the previous hash WAS in the cache, it wouldn't be f

[2021-03-10 00:27] rnjudge commented on #899
The comparison fails because of the debian copyright text comparison issue that we discussed. We can confirm this because if we don't compare the copyrights and only compare name, version and license of the packages in the `is_equal` method, we get the correct output. The master_list gets correctly populated with the first layer packages from the cache. But, since the second layer is not found in

[2021-03-10 00:30] nishakm commented on #899
*grumble* Then something is amiss in the JSON parsing of large text.

[2021-03-10 00:31] nishakm commented on #899
If that's the case then it's going to be really annoying to fix the parsing. So I think @rnjudge that the quick fix is to skip the copyright comparison like you had suggested.

[2021-03-10 05:42] rnjudge commented on #899
@nishakm (final!) update on this: I was wrong about the copyright field being the issue but right about the `is_equal` method being the culprit. The issue is actually with the `pkg_license` field -- when a package has more than one license (as is the case for debian since we use debian-inspector to parse the copyright text), the ordering of the pkg licenses are random and do not compare as ordered

[2021-03-10 15:58] nishakm commented on #899
@rnjudge ship it!

[2021-03-11 04:52] #619 closed

[2021-03-11 11:07] jaindhairyahere commented on #827
Should the program exit in case of unsupported extension or continue creating a report but with a warning

[2021-03-11 18:57] rnjudge opened #909 "Map cve_bin_tool data into Tern's data model"
**Describe the Feature**
cvs_bin_tool is currently available to run as an extension in Tern but it will just print the output to console and so it cannot be used in any of the formats. Once the SPDX security profile is available with the 3.0 spec, it would be nice to be able to fill out Tern's data properties based on cve_bin_tool's data.

**Use Cases**
This will enable the generation of SPDX 3.0

[2021-03-12 01:27] jcfiorenzano commented on #902
@rnjudge those components are from the layer, I ran the command just with base image and the components detected have their versions, the only thing that I notice was that in the section files, the files has no version, not sure if that is expected
![image](https://user-images.githubusercontent.com/5582507/110877907-12117400-828f-11eb-8d76-277c30fdd8bd.png)

[2021-03-12 04:13] rnjudge commented on #902
@jcfiorenzano I would not expect a file to have a version number.

[2021-03-12 12:51] AnnieJovitha opened #912 "Missing alpine package information in the spdx report when ran with scan code"
I am a newbie and experimenting with tern ,
I ran the following docker file content with scancode
[code]
The spdx report that was generated did not contain packages information.
but on the rerun without scancode contains the package information

**To Reproduce**
Steps to reproduce the behavior:
// prior I ran # 1.   `tern report -f spdxtagvalue -i alpine:3.10.4 -o tern_only_alpine.spdx`
2. `tern r

[2021-03-12 16:55] m1-key commented on #853
@nishakm Should I go ahead with this issue? As one of the sub-issues i.e #857, I have already solved, while #858 was closed by your side. Should I create the above-mentioned function or wait until all the sub-issues are solved?

[2021-03-12 21:43] rnjudge commented on #912
This, unfortunately, is expected behavior with SPDX documents for the 2.2 spec. The [SPDX spec](https://spdx.dev/wp-content/uploads/sites/41/2020/08/SPDX-specification-2-2.pdf) currently requires that if files within a package are analyzed (`FilesAnalyzed=true`), the package must have a package verification code associated with it. This package verification code must be of the SHA1 format and is u

[2021-03-12 21:44] #899 closed

[2021-03-13 08:28] m1-key commented on #853
[code]
This is a prototype function that I am thinking to make. But there are few problems :
1. How I can get `image_layer`? Should I use the `extract_image` function of `container/run.py` to get `image_string`?
2. `default_analyze` works on the first layer and then on the subsequent layers. There should be a function named `default_analyze_single_layer` that can work on a single given layer, this

[2021-03-16 10:06] chming1016 opened #913 "ValueError: Format string contains positional fields"
**Describe the bug**
While scanning images, tern raised ValueError and exit, which results in the report is not established at all.

**To Reproduce**
tern -c report -i {name}:{tag} -f json -o output.json

**Error in terminal**
[code]

**Environment you are running Tern on**
- Output of 'tern --version'
Tern at commit 072537f4aa60b7f2962653c5960139496446f495
   python version = 3.6.8 (default, Oct

[2021-03-16 18:58] JamieMagee opened #914 "Use commitlint to lint commits"
**Problem Statement**
Looking at #911, we are spending time maintaining CI scripts, whereas we could rely on the work of the wider open source community instead.

**Describe the Proposal**
Replace the script [`test_commit_message.py`](https://github.com/tern-tools/tern/blob/main/ci/test_commit_message.py) with [commitlint](https://github.com/conventional-changelog/commitlint/blob/master/docs/refer

[2021-03-16 22:03] #864 closed

[2021-03-16 22:29] m1-key commented on #826
@nishakm @rnjudge Here is what I found after having a deep look at `parse.py` and `lock.py`

For `parse.py`:

- There is a function named `get_installed_packages` which is not used anywhere in the entire repository.
- Other than this all the functions are either called directly in `dockerfile/run.py` or in `lock.py` and from there those functions of `lock.py` are called in `dockerfile/run.py`.

Fo

[2021-03-17 03:45] rnjudge commented on #913
Hi @chming1016, thanks for opening this issue.

Could you please include the image and tag you are seeing this issue with? I can't reproduce with a few that I've tried (`photon:3.0`, `alpine:latest`, `debian:buster`, and`golang:latest`) at the tip of main.

I'm also having a hard time finding this commit: 072537f4aa60b7f2962653c5960139496446f495. Could you run: `git log --oneline` in your developm

[2021-03-17 03:49] rnjudge commented on #903
@JamieMagee Now that #889 has been merged, do you have time to take this up or do you want me to take a look?

[2021-03-17 05:25] JamieMagee commented on #903
I was planning to take a look tomorrow. I'll reach out if I hit any blockers or need some pointers.

[2021-03-17 10:54] chming1016 commented on #913
Hi @rnjudge,

Sorry for giving the wrong tern commit. Following is the right one I am current using.
- d6ca178 Set SPDX PackageDownloadLocation to valid value

Unfortunately, I can not give the specific image name and tag due to the image is hosted in a private registry and I am not authorized to give this in public.

However, I am able to reproduce within the following Dockerfile.

[code]
**To Re

[2021-03-17 11:14] chming1016 opened #916 "UnboundLocalError: local variable 'command_line' referenced before assignment"
**Describe the bug**
When trying to analyze the "percona/percona-backup-mongodb:1.3.4" image, tern gives errors with "UnboundLocalError: local variable 'command_line' referenced before assignment"

**To Reproduce**
tern -c report -i percona/percona-backup-mongodb:1.3.4 -f json -o output.json

**Error in terminal**
[code]

**Expected behavior**
Tern should output the json report.

**Environment you

[2021-03-17 13:13] nishakm commented on #916
@chming1016 I cannot reproduce this error at the tip of main. Can you try with either version 2.4.0 or the tip of main?

[2021-03-17 14:39] chming1016 commented on #916
Hi @nishakm,

I have solved this issue while upgrade to 2.4.1 (current main).
However, this issue still remains in 2.4.0.

Thanks.

[2021-03-17 14:51] nishakm commented on #916
@chming1016 We'll be cutting a new release soon - 2.5.0. Please use that one once it is published.

[2021-03-17 14:51] #916 closed

[2021-03-17 16:24] rnjudge commented on #913
Ok, I can reproduce at the tip of main. I'll take a look, thanks!

[2021-03-17 17:52] JamieMagee opened #917 "Missing GitPython as a runtime dependency"
**Describe the bug**
#897 introduced the use of `GitPython` for all git operations, but it did not add that module as a runtime dependency. When attempting to run tern I receive `ModuleNotFoundError`.

Tests still pass as it is installed as a test dependency.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any tern command

**Error in terminal**
[code]

**Expected behavior**
Tern to run

[2021-03-17 21:42] JamieMagee opened #918 "Some RUN commands are not recognized"
**Describe the bug**
Scanning a docker image built using [buildkit](https://docs.docker.com/develop/develop-images/build_enhancements/#to-enable-buildkit-builds), commands are not recognized

**To Reproduce**
Steps to reproduce the behavior:
1. Using the following Dockerfile
[code]
2. `DOCKER_BUILDKIT=1 docker build . -t serve:latest`
3. `tern --driver fuse report --docker-image serve:latest`

**E

[2021-03-17 22:03] rnjudge commented on #917
@JamieMagee This was an oversight on my part as it is a dev dependency but not runtime. I'll get a fix merged for this ASAP.

[2021-03-17 22:06] JamieMagee commented on #917
Thanks for the confirmation that it wasn't something on my end 😅 There's no rush, as this isn't in a published release yet, only on `main`.

[2021-03-17 22:49] nishakm commented on #918
:D I've been working on a backup method when the commands are not recognized. I'll reference this bug in the commit message.

[2021-03-18 06:07] rnjudge commented on #913
The issue Tern is having is with the `TEST_ENDPOINT=https://test.myapi.com/v1/AUTH_{}` line of the Dockerfile. In the `collate_snippets()` function in `command_lib.py`, Tern runs `format_map()` on each element of the snippet list in order to concatenate the snippet commands into one command. `format_map()` is a built in function in Python which take a dictionary as input and returns the key's valu

[2021-03-18 15:42] #917 closed

[2021-03-19 17:26] #903 closed

[2021-03-19 23:55] #913 closed

[2021-03-20 06:48] rnjudge opened #924 "Tern not collecting go modules"
**Describe the bug**
Tern is not collecting Go modules. This is happening because the workdir is not being set in the layers properly.

**To Reproduce**
I have a golang image (built from this [Dockerfile](https://github.com/tern-tools/tern/pull/809#issuecomment-700252537) where I would expect to see golang module information in the output report.)

**Error in terminal**
[code]

**Expected behavior

[2021-03-20 17:39] #924 closed

[2021-03-20 20:26] nishakm opened #929 "Dockerfile/created_by parser does not recognize COPY"
**Describe the bug**
COPY should be treated the same way as ADD. However, tern reports that COPY is unrecognized.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern report -i node:slim`
2. Notice Layer 5 says `Unrecognized command: COPY...`

**Error in terminal**
[code]

**Expected behavior**
Tern should treat COPY the same way as ADD i.e. report it as "unknown file. please analyze se

[2021-03-20 20:39] nishakm opened #930 "Prettify terminal output with Rich"
**Describe the Feature**
A typical thing that prevents adoption of tern is that it doesn't look enticing on the terminal. To help with the time-to-endorphins and reduce the amount of time maintainers need to explain what is going on in the report, prettify the terminal output using [Rich](https://pypi.org/project/rich/)

**Use Cases**
Anonymous comment from a slack channel:
[code]
User was running

[2021-03-21 20:37] rnjudge opened #933 "Overhaul Tern's continuous integration testing"
**Describe the Feature**
Currently Tern uses `ci/test_files_touched.py` to run various Tern tests based on which files were changed in a commit. This way of testing has proved to be porous, however, and many regressions have not been caught. Examples of errors that have been introduced with new commits but not caught with the `test_files_touched` scripts:
* Output report stops collecting packages

[2021-03-21 21:31] rnjudge commented on #930
I agree that the output report and what is on the console need prettify-ing! One consideration is Rich does have a significant number of dependencies (124 direct deps according to the [lock](https://github.com/willmcgugan/rich/blob/master/poetry.lock) file).

[2021-03-22 15:56] JamieMagee opened #934 "Unable to identify Distroless version"
**Describe the Feature**
Currently tern looks for `PRETTY_NAME` in `/etc/os-release` to figure out the distro we're running on. Normally `PRETTY_NAME` contains both the distribution name and version/release. However, for Distroless `PRETTY_NAME` only contains `Distroless`, and we need to look in `VERSION` or `VERSION_ID` to get the release information.

https://github.com/GoogleContainerTools/dist

[2021-03-22 17:19] nishakm commented on #934
Looks good! What does the output string look like?

[2021-03-22 17:25] JamieMagee commented on #934
This is a sample `/etc/os-release`

[code]

[2021-03-22 18:08] rnjudge commented on #934
Let's make sure to test this on other basic OSes, too. I think distroless is an exception to not containing the version in the pretty name. For example, Debian's pretty name is `Ubuntu 18.04.5 LTS`

[2021-03-22 18:42] JamieMagee commented on #934
Here's a collection of `/etc/os-release` from various different distributions: https://gitlab.com/zygoon/os-release-zoo. It looks like Distroless is the odd one out.

Should we raise this issue upstream, instead of adding a workaround in tern?

[2021-03-22 19:21] rnjudge commented on #934
I like this approach! And if we don't get anywhere with that we can add a workaround in Tern as a fallback solution.

[2021-03-22 22:07] JamieMagee commented on #934
Okay, let's see how this goes 👀 GoogleContainerTools/distroless#698

[2021-03-23 00:15] JamieMagee commented on #902
@jcfiorenzano I think this can be closed?

[2021-03-23 08:43] yannjor opened #935 "Fails to run commands on alpine image"
**Describe the bug**
When running tern report on an alpine container, it fails when running commands from `base.yml` to collect image metadata.

**To Reproduce**
Steps to reproduce the behavior:
1. Run: `tern report -i alpine:latest`
2. See error

**Error in terminal**
[code]

**Expected behavior**
Expected commands to execute successfully.

**Environment you are running Tern on**
Enter all that a

[2021-03-23 10:21] yannjor opened #936 "Use dpkg-query to list installed packages on debian"
**Description**
In `command_lib/base.yml`: Use dpkg-query to list information about installed packages on debian based images. dpkg-query has the option to format the ouput, which should eliminate the need to use cut + awk [here](https://github.com/tern-tools/tern/blob/main/tern/analyze/default/command_lib/base.yml#L77-#L106).

[2021-03-23 20:31] rnjudge commented on #935
I am not able to reproduce this at the tip of master (`Tern at commit 141dc1e5ee3879dcc2be9c8ed194cd09887252cc`):

[code]

[2021-03-24 08:39] yannjor commented on #935
Hmm, that is weird 😅. I am not getting the same issue when running on the debian image. It might indeed be due to some utility that I am missing.

I noticed one difference is that when running on debian, the chroot command is `chroot /home/yann/.tern/temp/mergedir /bin/sh` while on alpine it is just `chroot /home/yann/.tern/temp/mergedir` without the `/bin/sh` Do you know why this is?

[2021-03-25 00:07] #936 closed

[2021-03-27 20:40] mukultaneja commented on #929
@nishakm, Can I take this issue?

[2021-03-29 13:19] nishakm commented on #929
@mukultaneja sure!

[2021-03-29 16:23] #810 closed

[2021-03-30 23:19] JamieMagee opened #939 "Poor regex performance"
**Describe the bug**
When running tern against `postgres:latest` approximately 85% of the runtime is spent in [`update_master_list`](https://github.com/tern-tools/tern/blob/22ef37915152e322cc56d1612fa8777470765744/tern/analyze/default/default_common.py#L122-L145) and approximately 60% of that function (and 50% of total runtime) is spent compiling and running regexes in [`prop_names`](https://githu

[2021-03-31 11:59] yannjor commented on #935
If you don't have any further comments then I guess I can close this, as it apparently only affects me? @rnjudge

[2021-03-31 13:27] #857 closed

[2021-03-31 13:30] nishakm commented on #888
#938 has an implementation for this. We can migrate to that method of inventory if it is possible to do it. The benefits are that one doesn't have to run tern as root. @rnjudge

[2021-03-31 13:31] #902 closed

[2021-03-31 13:36] nishakm commented on #934
Should we close this and reopen it when the above issue gets resolved?

[2021-03-31 13:42] nishakm commented on #939
@JamieMagee are you working on a fix?

[2021-03-31 14:22] nishakm commented on #935
@yannjor OK, this is weird: For me, the subprocess command that gets run is:
[code]
My dev machine is Ubuntu 20.04 which does not have an deb package for Python 3.9.2 (yet). So I am currently building it from source to see if there may be some issues with that. Meanwhile, can you test using Python 3.8.5?

[2021-03-31 14:27] nishakm commented on #935
Nope. Works with python 3.9.2 as well. @yannjor not sure what else could be different :sweat_smile:

[2021-03-31 15:49] JamieMagee commented on #939
@nishakm Unfortunately I haven't got time right now to properly investigate and test a fix, but I was looking at this as a starting point:

[code]

to

[code]

[2021-03-31 15:52] nishakm commented on #939
@JamieMagee no worries. I can take a look.

[2021-03-31 15:53] #935 closed

[2021-03-31 17:41] rnjudge commented on #934
Meh? I would be OK waiting a few more weeks to see if distroless addresses the issue. If they haven't responded to Jamie's ticket by the middle of April, we probably need to implement our own workaround.

[2021-03-31 19:48] rnjudge opened #940 "Tern does not report package and file info in the same SPDX report"
**Description**
Currently, Tern cannot report file and package information in the same SPDX report. SPDX documents generated using Tern’s default analysis will report packages found without any file information (Tern does not have file level-analysis capability on its own, unless offered by the package manager). The document generated using Scancode will only report information detected by Scancod

[2021-03-31 19:48] rnjudge commented on #912
@AnnieJovitha I am going to close this issue as there is nothing to be done at the moment, but I opened https://github.com/tern-tools/tern/issues/940 to track this in the future.

[2021-03-31 21:48] rnjudge commented on #888
@nishakm rootless inventory with buildah would also resolve https://github.com/tern-tools/tern/issues/261. Do you want me to take a look at this? If we're going to use `unshare -mpf` for live inventorying, let's use it for post-build inventorying as well.

[2021-04-01 13:42] nishakm commented on #888
@rnjudge Yup! This is probably a dupe of #261. Generally, we want to not use `sudo`.

[2021-04-01 13:55] nishakm commented on #888
If I recall correctly: We will not be able to use `unshare` to mount overlayfs but will be able to do so once kernel version 5.12 is out.

[2021-04-01 15:13] timovandeput commented on #281
The licenses in the SPDX tag-value SBOM output currently still use custom licenses what reference a definition like these examples:
[code]
This makes it quite a challenge for automated tools to interpret package licenses from this SBOM format, although the information appears to be available in the default Tern JSON output.

Are there any plans to address this, or perhaps make life easier for auto

[2021-04-01 17:07] rnjudge commented on #281
@timovandeput

Sorry, can you clarify what information "appears to be available in the default Tern JSON output" that's not available in the SPDX reports?

See discussion above for challenges surrounding this. A mapping needs to exist before Tern can draw conclusions about what SPDX license might correspond to the custom licenses found.

Is the example you provided an excerpt of licenses from a de

[2021-04-05 20:29] rnjudge commented on #930
@nishakm When I re-read this, it seems like the user has an issue with the output report not the logging to the terminal? I wonder if there is a way we could create a survey of some sorts and get some feedback from users about what changes would be most helpful to better digesting the output reports/terminal information.

[2021-04-05 21:25] nishakm commented on #930
Yup. This is a "time-to-endorphins" issue i.e. user wants immediate awesome-sauce for their specific use case rather than scroll and read, especially scrolling up to see what the top of the report says. This particular user did say they were used to using [crane](https://github.com/google/go-containerregistry/tree/main/cmd/crane). However, when explaining to the user they could get specific inform

[2021-04-05 21:35] rnjudge opened #942 "Duplicate "Layer created by commands" information is reported"
**Describe the bug**
When you run Tern on an image that is in the cache, duplicate "Layer created by commands" information is reported.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tern twice on the same image.
I think this is related to https://github.com/tern-tools/tern/pull/926.

**Error in terminal**
[code]

**Expected behavior**
Should only print once.

[2021-04-06 17:45] rnjudge commented on #942
Bumping the priority on this as it will duplicate the line in the report an unlimited number of times depending on how many times you have run tern on the same image. For example, I have been running on the photon image a bunch as I work on and test another issue... here's the output report:

[code]

[2021-04-06 19:33] nishakm commented on #942
@rnjudge I may have a fix for this similar to 728f6193904ea228696affe676fc65acf3217a41

[2021-04-07 14:58] nishakm commented on #918
The fix for this is dependent on #840 being merged

[2021-04-07 16:45] #942 closed

[2021-04-07 19:14] nishakm commented on #939
Looks to me like `to_dict()` is called way too many times with `update_master_list`. Let me try looking at that first.

[2021-04-09 22:40] nishakm opened #946 "Create SBoM consumer plugins"
**Describe the Feature**
Tern can generate SBoMs in different formats. Since it understands the metadata and has a data model for container images, it could possibly consume SBoMs of different formats.

**Use Cases**
1. Users can provide their own SBoMs of the software components they know of and Tern can produce a report incorporating that information.
2. Users can provide an SBoM of the starting

[2021-04-09 23:13] rnjudge opened #947 "Use print_layer_report for -y/--layer option"
**Problem Statement**
To print a default report using the `-y/--layer` there is currently lots of `if` logic to check the `print_inclusive` and `load_until_layer` flags and generate a report accordingly. Commit https://github.com/tern-tools/tern/commit/6315e26bfd103e201c42e26ae8fa83c460e8dc1a adds a new function, `print_layer_report` in tern/formats/default/generator.py and `generate_layer` in the