[2017-12-06 14:24] nishakm opened #1 "Convert TODOs into Issues"
The code has a lot of TODOs as it was developed without an issue tracker.

1. Find TODO comment in code
2. For each TODO create an issue
3. Remove TODO comment from code

[2017-12-06 14:48] nishakm opened #2 "Unix command parser does not parse version or arch specified in the package name"
For example: apt-get install package:arch=version

If the package has a version then record it in the returning dict as 'version': version. If the package has an arch, record it in the returning dict as 'arch':

[2017-12-06 16:44] nishakm opened #3 "Dockerfile line parser ignores newline backslash"
Parser does understand the line continuation backslash in a Dockerfile and hence ignores the subsequent lines

[2017-12-07 14:23] nishakm opened #4 "'FROM scratch' check"
Tern checks for any imports in a Dockerfile by checking for the FROM directive and then attempting to pull the specified image from Dockerhub. But 'scratch' is just a placeholder to say 'there is no import'. At the minimum, do not attempt to pull from Dockerhub if the word 'scratch' is in the FROM string.

[2017-12-07 14:55] nishakm opened #5 "Build containers to inspect them layer by layer"
Building a container from a Dockerfile means expressing the union of all of the diff filesystems, which means inspecting them within a container cannot pry apart which packages are installed in which layer. There needs to be some way of 'layering up' an 'empty' container so the filesystems can be inspected one at a time.

For now we can invoke Docker's API in python and implement this (I predict t

[2017-12-07 15:38] nishakm opened #6 "Add project roadmap"

[2017-12-14 22:28] lbritton opened #9 "Some checks on the passed argument"
Checks on the command line arguments. Currently, the only command line argument is a Docker file.  Check on whether the file actually exists or not.

[2017-12-15 22:13] nishakm commented on #6
Resolved in https://github.com/vmware/tern/commit/9e8202b5da19a5194364197e49891852f3fdac93

[2017-12-15 22:13] #6 closed

[2018-02-06 17:48] nishakm opened #11 "Report should point to the commit that generated it"
The report is an artifact produced by the tool, so it makes sense, for the sake of reproducibility, to place something in the report that says what version of the tool created it.

We need something that will find the commit of git HEAD and place that in the report during report generation. If the scripts were copied from somewhere, a warning that says it cannot find the commit and maybe defaults

[2018-02-08 06:51] pombredanne opened #12 "Similar project, different approach"
Hi!
Dirk pointed me to this project which is awesome.
I maintain a fledgling thing called conan https://github.com/nexB/conan with the same goals, same tech and a slightly different approach.... Should be collaborate somehow?

[2018-02-08 14:36] nishakm commented on #12
Hi @pombredanne! Thanks for getting in touch. Can we move this conversation to the google groups forum? https://groups.google.com/forum/#!forum/tern-maintainers

[2018-02-08 17:25] nishakm commented on #12
Conversation moved to the forum: https://groups.google.com/forum/#!topic/tern-maintainers/xPPGwkgoQ2U

[2018-02-08 17:25] #12 closed

[2018-02-13 14:38] nishakm opened #13 "Classes with lists of objects should check if the objects are instances of the objects they are supposed to contain"
Currently the classes append whatever object is passed to it. Add a check to the add_* methods that check if the object is an instance of the class they are supposed to hold.
Perhaps raise a TypeError when there is a mismatch.

[2018-02-14 00:31] nishakm opened #14 "utils/dockerfile.py: accept build arguments if any"
Dockerfile's ARG directive can store build arguments given to docker build as --build-arg. Tern cannot get this from Docker itself and hence needs to be accepted through some command line option when providing a Dockerfile. So Tern needs come command line options like --docker-build-args which should then be passed on to get_base_image_tag in dockerfile.py.
It seems that not many dockerfiles use A

[2018-02-28 14:12] #9 closed

[2018-03-07 18:48] nishakm opened #17 "Workaround for Docker images not identifying the true base image"
When using FROM in a Dockerfile, the image that gets pulled from the Docker registry does not identify the images that they may have been based off. The only indication that this actually happens is from the 'history' in the json config file of the Docker container. There is, however, no indentifier for each of the layers in this base image other than the layer sha.

Currently the implementation u

[2018-03-13 21:56] sbtaylor15 opened #18 "KeyError: openjdk:8"
I am getting this error.   Where should I look to get more info on whats happening?

Thanks, Steve

[code]

Here is the Dockerfile

[code]

[2018-03-13 23:25] sbtaylor15 commented on #18
Figured it out.   The ```
WARNING - No listing of openjdk:8 in the command library. To add one, make an
entry in command_lib/base.yml
[code]
# openjdk -------------------------------------------------------------------------------------------------------------------------------
openjdk:
  latest: '8'
  tags:
    '8':
        shell: '/bin/bash'
        # either enter the package names as a list or

[2018-03-14 00:19] nishakm opened #20 "Move verify_invoke.py under a subfolder called 'tools'"
https://github.com/vmware/tern/blob/master/docs/adding-to-command-library.md has no documentation on the verify_invoke.py script. The script is used to test whether the snippets to get the required metadata works.

It's OK to ask @nishakm for help with this

[2018-03-21 19:35] nishakm opened #21 "Create install script"
Move all the 'try it out' commands into an install script.
Bonus points:
- install script can check if the docker daemon is running and if not then ask the user to turn it on.
- Check to see if python 3 is installed and if not ask the user to install it.

[2018-03-23 16:11] nishakm opened #23 "python string object has no Attribute 'format_map' when running through a Docker entrypoint"
Dockerfile:

FROM docker:18.02.0-ce

WORKDIR /root/

RUN apk add --no-cache git python3 sudo bash py-pip

RUN python3 -m venv ternenv
WORKDIR /root/ternenv
RUN git clone https://github.com/vmware/tern.git
RUN /bin/bash -c "source bin/activate"
WORKDIR /root/ternenv/tern
RUN pip install -r requirements.txt
ENTRYPOINT ["./tern", "report", "-d"]
CMD ["samples/photon_git/Dockerfile"]

docker commands:

[2018-03-23 22:39] nishakm commented on #23
RUN /bin/bash -c "source bin/activate" does not work while building a container.
The side effect is that python2 is used not python3 as tern has a #!/usr/bin/env python. format_map is not supported in python2.

However, running it using python3 errors out:
File "/root/tern/utils/commands.py", line 16, in <module>
    import yaml
ModuleNotFoundError: No module named 'yaml'

[2018-03-23 23:03] nishakm commented on #23
Some workaround is needed in order to make the Dockerfile to work:
RUN pip3 install -r /root/tern/requirements.txt <-- use pip3 to get python3 modules
WORKDIR /root/tern/
RUN sed -i '1d' tern <-- remove the shebang from the executable
ENTRYPOINT ["python3", "tern", "report", "-d"] <-- run using python3
CMD ["samples/photon_git/Dockerfile"]

The executable's shebang needs to point to python3 not py

[2018-03-23 23:28] nishakm commented on #23
https://github.com/vmware/tern/commit/ddc9a6455a06f124b875eb4e3b4ad7987589f846
changes the shebang to python3

[2018-03-23 23:28] #23 closed

[2018-03-23 23:34] nishakm opened #24 "Create Dockerfile to 'try it out'"
The Dockerfile allows for another type of isolation and can be run in two steps if one is using Docker.

Requirements:
- Import from a known baseOS against which Tern has been run and verified
- Install packages with specific versions
- Include a Tern report with a disclaimer to not distribute without going through the licenses of the included packages

See https://github.com/vmware/tern/issues/23

[2018-04-04 13:29] nishakm opened #26 "Add coding style documentation"
For the most part, simply following PEP8 style leads to readable code.
Other patterns that seem to come up but are not strictly followed:
- keep files short for better readability. For example, each class resides in its own file
- import entire module whenever possible. This is not strictly followed though (for example with classes)

[2018-04-06 16:18] nishakm opened #27 "Tern does not account for modifications to existing methods"
Say if tern processes package information and could not get one set of metadata, it will store the package information in the cache with empty data. If next time around, there is an addition to the command library that allows tern to get said metadata, it will not run it because it will read the incomplete information from the cache.

1. When loading form cache, check for missing metadata. If it f

[2018-04-09 17:04] nishakm opened #28 "Detect if docker daemon is running"
Gracefully exit if the docker daemon is not running

[2018-04-11 12:42] nishakm opened #29 "Convert short names of modules to the full name"
For example:
from utils import dockerfile as df

Convert that to:
from utils import dockerfile

It would require substituting df in the module file with dockerfile

Note: multiple people can work on this issue - just note which files you are working on in the comments. If anyone would like to take this on, please look at the comments and see which files have been picked up.

[2018-04-11 14:35] rajdhandus commented on #1
thanks @nishakm .. I am on it..

[2018-04-11 14:36] nishakm commented on #29
Can you hold off on this one for a bit? There is a big merge coming down the pipeline. It should be a couple more weeks.

[2018-04-11 17:53] rajdhandus commented on #1
I grepped for any literal named 'todo'.. i am not able to find any in the 'tern' repo.. can you please point me to one?

[2018-04-11 18:11] Vexxorian commented on #29
Will [that](https://gist.github.com/Vexxorian/d2c5a33e5f232277fe8beb4a8155e16f) work? Not sure if good or bad idea \\o/

[2018-04-11 19:40] nishakm commented on #1
https://github.com/vmware/tern/search?utf8=%E2%9C%93&q=TODO&type=

[2018-04-11 19:42] nishakm commented on #1
@rajdhandus also, when creating issues, make sure there isn't an existing issue like it. If there is an existing issue, you can refer to it in your PR.

[2018-04-11 19:58] nishakm commented on #29
The reason for converting the short names to the full module names is for the sake of readability - you will be able to find the source files faster. So no :)

[2018-04-17 20:43] nishakm opened #30 "Need an identifier for filesystem contents for comparison"
The OCI specification requires layer tarballs to be created with timestamps (see: https://github.com/opencontainers/image-spec/blob/master/layer.md#file-attributes). This is fine for uniquely identifying filesystem contents but doesn't help with comparing filesystems. We need to find a way of creating an identifier to compare filesystem contents without the timestamp that are used to tar up the fi

[2018-04-20 07:16] raman-balyan commented on #28
I want to help in this issue.

[2018-04-21 20:10] MattAlp commented on #29
@nishakm first timer here, is this being held off as requested or still open? It shouldn't take more than 10-15 minutes

[2018-04-23 12:57] nishakm commented on #29
Big merge completed! This issue is up for grabs.

[2018-04-26 13:49] nishakm commented on #20
Removing help and good first issue labels as verify_invoke.py no longer works

[2018-04-26 13:50] #18 closed

[2018-04-26 13:53] nishakm commented on #4
Resolved in https://github.com/vmware/tern/commit/aaa35037fb955f53ace5e5116ca5a15a4e5ece52

[2018-04-26 13:53] #4 closed

[2018-04-29 03:27] vladn90 commented on #29
@nishakm Hello! Is issue still open? I'd be glad to work on it :)

[2018-04-29 19:14] nishakm commented on #29
@vladn90 it's still open. It's a pretty big undertaking so it's fine if you focus on a couple of files at a time. I'll put this note in the issue.

[2018-05-01 15:02] #29 closed

[2018-05-09 23:31] nishakm opened #37 "PyCon 2018 Sprint: Implement rudimentary isolated layered filesystem"
Currently, Tern is heavily dependent on Docker to run shell scripts against a given root filesystem. It does:
1. Pulls the base image from Dockerhub
2. Spins up a container using Docker
3. Runs docker exec against the container

This isn't very effective as we ultimately want to reference the packages that came with every diff filesystem. It's clunky to use Docker or any other existing tool to dis

[2018-05-11 12:59] #28 closed

[2018-05-11 16:56] nishakm commented on #37
Our working branch is https://github.com/vmware/tern/tree/layer-debug
It's up to a point where I can do this using the sample Dockerfile https://github.com/vmware/tern/tree/layer-debug/samples/photon_3_layers:

[sudo] password for nisha: (I run Docker without elevated permissions)

b'bash\nbzip2-libs\nca-certificates\nca-certificates-pki\ncurl\ncurl-libs\ne2fsprogs-libs\nelfutils-libelf\nexpat-lib

[2018-05-14 13:03] nishakm opened #39 "Add documentation to set up a development environment using Vagrant"
If one is working on Windows and Mac OS X, it would be a good idea to add documentation on setting up a development environment for Tern.

The OS requirements are Python 3.6 or higher and a Linux Kernel version of 4.0 or higher
This is a sub issue for #37

[2018-05-14 14:20] nishakm commented on #24
@tojo13 is working on this issue

[2018-05-14 18:19] nishakm opened #41 "Proposal: Replace docker_command wrapper with docker-py python module"
The docker-py python module can be used to invoke the Docker Engine API. This means replacing all of the subprocess commands in container.py with the docker-py API. This invariably means nuking container.py

https://github.com/docker/docker-py

[2018-05-14 19:33] snmpboy opened #43 "UBUNTU (DEBIAN TOO?) LIMITS THE NUMBER OF TIMES YOU CAN USE MERGEDIR"
Trying to mount a third filesystem layer to mergedir does not work on Ubuntu server.

Output below is from following the manual python commands in issue #37 in iPython.
In [110]: rootfs.mount_diff_layer(d.layers[2].tar_file)
---------------------------------------------------------------------------
CalledProcessError                        Traceback (most recent call last)
<ipython-input-110-cbea

[2018-05-14 19:40] jeevers commented on #41
I can work on this!

[2018-05-14 19:40] nishakm commented on #43
@snmpboy is working on this issue

[2018-05-14 19:41] nishakm commented on #41
assigned to @jeevers

[2018-05-15 13:10] snmpboy commented on #43
I tried updating my Ubuntu server to 18.04.  Parallels is the hypervisor on my mac.  Beware it does not support the kernel that comes with Ubuntu 18.04.

[2018-05-15 14:56] nishakm commented on #43
@snmpboy let's close this as we have gotten this to work on an 18.04 Vagrant box

[2018-05-15 14:57] #43 closed

[2018-05-15 14:59] snmpboy commented on #37
Helpful awk for looking at mounts
grep temp/mergedir /proc/mounts | awk '{ print $2 }' | tac | xargs -n 1 umount

[2018-05-15 15:03] nishakm opened #45 "Docs: Requesting access for non-vmware users should be more clear"
Perhaps some steps for non-vmware users to first request access and then join the slack channel

[2018-05-15 15:04] nishakm commented on #45
@kdestasio is working on this

[2018-05-15 17:29] nishakm opened #47 "Add functionality to unmount layer filesystem"
under utils/rootfs.py unmount_rootfs unmounts the mergedir only once. Have it unmount for the number of layers that were overlayed. It's ok to pass the number of layers to the function

Refer to #37 for more information

[2018-05-15 17:31] nishakm commented on #47
@snmpboy is working on this

[2018-05-15 17:32] nishakm commented on #47
@snmpboy can you submit your PR to the layer-debug branch rather than the master branch?

[2018-05-15 18:32] nishakm commented on #30
One option is to use python tarfile.getnames(), convert it into a delimited string and then run a sha256 sum of the result

[2018-05-15 19:40] nishakm commented on #30
@rhapsodyai was looking into this

[2018-05-15 19:53] tojo13 opened #48 "Add cache.yml to .gitignore"
We do not want to track changes to `cache.yml` through git.

[2018-05-15 19:54] tojo13 commented on #48
I can work on this.

[2018-05-15 19:55] nishakm commented on #48
@tojo13 is working on this

[2018-05-15 20:11] jeevers opened #50 "Proposal: Replace cache.yml with a database backend"
It could be useful to have a database backend so that data can be more easily organized and queried. I think SQLite would be a good fit (at least at first) due to its ease of setup and management via the sqlite3 module in the standard library. Eventually we can add support for other databases.

[2018-05-15 21:18] nishakm opened #51 "Proposal: Replace package manager lookup with facts discovery"
For a container base OS there is no indication on what kind of package manager it supports. Ansible has a module that does the discovery of the package manager: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/pkg_mgr.py
Do something similar for container base filesystem.

[2018-05-16 21:27] nishakm commented on #47
Merged into layer-debug branch

[2018-05-18 16:46] nishakm opened #52 "Create an invoke_in_rootfs function in command_lib"
Based on the work in #37, we should now be able to do the same operations as in 'invoke_in_container'
No 'override' should be necessary as there is only one location that the rootfs should exist and no running process to refer to.

Refer to #37 for more info.

[2018-05-18 16:49] nishakm opened #53 "Accomodate invoke_in_rootfs in get_pkg_attr_list function"
Refers to #37 and #52

current get_pkg_attr_list defaults to running container operations. It should default to 'rootfs' operations. Rename this function to something that reflects the running container prerequisite and make a similar one for rootfs operations

[2018-05-18 17:16] nishakm commented on #17
#41 might be a good solution. The flow might go something like this:

1. For every entry in the snippets library add where the binary might be
2. Get a list of tuples with the package manager and the binary path
3. Go through the list to see whether any of the package managers are in the first layer of the container
4. When one gets found, use the snippets to find the package metadata

There is st

[2018-05-18 22:48] nishakm commented on #53
We could make the get_pkg_attr_list function compatible with the invoke in container or invoke_in_rootfs. In fact, that might make it easier to modify if we happen to deprecate the docker container invoking.

[2018-05-23 17:24] nishakm opened #54 "Don't depend on the package manager's dependency tree"
There may be circular dependencies or dependencies shared by commands installed with the same package manager. There was also a situation where a package manager did not have the ability to list dependencies (tdnf). To avoid these situations it would be better if the package manager was instead used to list installed packages again after a layer is applied.

[2018-05-24 14:48] #52 closed

[2018-05-24 14:48] #53 closed

[2018-05-24 15:13] nishakm commented on #37
Resolved in #56. Thanks everyone for participating the the PyCon2018 developer sprint! It means a lot :)

[2018-05-24 15:13] #37 closed

[2018-05-24 19:41] tpepper commented on #5
This might be interesting as a part of a build chain like https://github.com/containerbuilding/cbi/blob/master/docs/cbi.png

[2018-05-24 19:58] nishakm commented on #5
Some initial work on this was merged in https://github.com/vmware/tern/pull/56

It still needs root privileges to run mostly due to the fact that mounting /proc /sys and /dev is required in order to do the inspection.

[2018-06-07 14:21] nishakm commented on #48
Ah, so it didn't work :) Maybe there's another way to get git to stop tracking cache.yml?

[2018-06-18 20:53] nishakm opened #60 "Create module to look up a container OS's package manager"
Refer to #51 for more information.

Implementation looks something like this:

1. We need a list of package managers and their names in the form of a python dictionary
[{path: /usr/bin/tdnf, name: tdnf},...]
this can live in a .yml file called 'pkg_mgr.yml' in the command_lib folder
2. A module in common.py for base OS discovery. It should return the name of the package manager

[2018-06-18 20:57] nishakm commented on #60
@tojo13 Do you think you can take this on? It's under a release deadline so no worries if you cannot commit.

[2018-06-18 21:07] nishakm opened #61 "Change base.yml main keys to be package manager (or other identifiable binary) names rather than repo-tags"
The repo-tag is a container registry construct and could change depending on the registry. So look up the base commands based on the package manager rather than the repo tag.

Eg:
[code]
to

[code]
This is to support #51

[2018-06-18 21:08] nishakm commented on #61
@snmpboy Are you free to work on this issue? It's on a deadline so no pressure if you cannot commit.

[2018-06-18 21:12] nishakm commented on #17
Will be solved if #51 #60 and #61 are solved

[2018-06-18 21:16] nishakm opened #62 "Docs: Add flowchart to arch docs"
Add flowchart reflecting solution for #17

[2018-06-18 22:48] snmpboy commented on #61
@nishakm Kind of slammed at the moment.  Working and studying for https://www.cisco.com/c/en/us/training-events/training-certifications/exams/current-list/300-560-npdev.html

[2018-06-18 23:40] nishakm commented on #61
@snmpboy no worries! Good luck with the networking study - that's intense!

[2018-06-19 05:44] tojo13 commented on #60
Sure, I can give it a go!

[2018-06-19 16:46] nishakm commented on #60
@tojo13 thanks! It's yours. I'll be working in parallel, but that stuff is not going to work until your PR comes in :)

[2018-06-19 20:00] #62 closed

[2018-06-19 20:09] nishakm commented on #48
Turns out you can't stop tracking a file after a certain commit. So added instructions on how to deal with it in the docs: https://github.com/vmware/tern/commit/06312e813ef27bc0bcc0803d179c56ec008d1028

[2018-06-19 20:09] #48 closed

[2018-06-20 14:33] nishakm commented on #61
repo and tag may not be a good fit for this as they are representative of container distribution and not the contents. Values can be stored in the database instead.

[2018-06-20 22:07] nishakm commented on #60
I will be creating a stub module in common.py:
get_base_bin(base_layer)

base_layer is the layer object. The tar file associated with the layer is in base_layer.tar_file

[2018-06-21 17:05] nishakm opened #63 "Proposal: Rather than have a default shell, find the shell binary in the base OS layer"
Similar to the package manager discovery, use the shell that comes with the base layer if no shell is listed.

[2018-06-27 14:36] nishakm commented on #26
Resolved in https://github.com/vmware/tern/commit/635c5aaf30428512a2104c360c61813ed08c07ef

[2018-06-27 14:36] #26 closed

[2018-06-27 14:39] nishakm commented on #47
Resolved in https://github.com/vmware/tern/commit/1d687f09e5648898afd6829fb4328971970eb755

[2018-06-27 14:39] #47 closed

[2018-06-27 14:41] nishakm opened #64 "Enable CLI to use raw container image"
Something like 'tern report --image/-i point to a local tarball

[2018-06-27 14:55] nishakm opened #65 "Proposal: Enable web service API"
There are situations where Tern may need to run as a service somewhere on the cloud and get access via an external API. For that to happen, it needs to respond to HTTP get and post requests. Some investigation of tools that can create a front facing API for the back end CLI may be required.
https://github.com/proycon/clam might be a good place to start.

[2018-06-27 23:38] nishakm opened #66 "Some packages are repeated for each layer"
When using the dependency list for the package manager, those dependencies may have come in from the previous layer. So some of the packages keep getting listed for each of the layers even though they actually came from a previous layer.

Eg:
[code]
expat is a dependency for git but it has already been satisfied in the previous layer so it wasn't installed with this command.

To get around this, k

[2018-07-02 13:48] nishakm commented on #60
@tojo13 I am at the point where I will need this module. So I'll be assigning it to myself. Sorry! There'll be more stuff to do and hopefully it will align when you have more time. Thanks for offering to help!

[2018-07-03 03:56] tojo13 commented on #60
No worries. Sorry I couldn't get this done earlier. Good luck!

[2018-07-11 22:34] nishakm commented on #20
Changed the issue to reflect that verify_invoke.py needs to be under an overarching 'tools' folder for the purposes of helping contributors verify their changes to the command library.

[2018-07-14 00:42] #5 closed

[2018-07-14 00:58] nishakm commented on #63
Closed in #67

[2018-07-14 00:58] #63 closed

[2018-07-14 00:58] nishakm commented on #61
Closed in #67

[2018-07-14 00:58] #61 closed

[2018-07-14 00:59] nishakm commented on #60
Closed in #67

[2018-07-14 00:59] #60 closed

[2018-07-14 00:59] nishakm commented on #51
Resolved in #67

[2018-07-14 00:59] #51 closed

[2018-07-14 01:00] nishakm commented on #17
Resolved in #67

[2018-07-14 01:00] #17 closed

[2018-07-18 20:44] #20 closed

[2018-07-18 20:51] nishakm opened #68 "Add command line option to run Tern on pulled Docker images"
Add a command line option to run Tern against images that were brought in from `docker pull`

Something like:
`tern report -i image:tag`

Here Tern will not build anything but will create a DockerImage object and try to load it.

[2018-07-18 22:53] nishakm opened #69 "Subprocess memory error when trying to save large Docker images"
Reproducible on: golang:1.9.4
golang's image size is 735MB.

docker_command uses popen rather than check_output or check_call so the stderr can be captured and recorded for the logger. However, when trying to save a large image this does not work as it uses buffered memory.
Possible solutions:
1. subprocess.Popen can flush the buffer after it gets filled
2. subprocess.check_output can be used with

[2018-07-19 20:38] nishakm commented on #30
https://www.freebsd.org/cgi/man.cgi?mtree(8) might be a good tool for this

[2018-07-19 20:47] nishakm opened #70 "json formatted structured data output"
In order to convert from one form of data representation to another, it makes sense to first convert all of the data gathered by Tern into structured data output i.e. a python dictionary and then convert it into json formatted output file

1. First figure out what data to output
2. Create a function in content.py to create a python dictionary with that data
3. Create a function in content.py to co

[2018-07-23 16:15] nishakm opened #71 "Proposal: Use licensee to parse LICENSE file"
Tern mostly relies on a package manager's license field but this may not be filled in. For example dpkg does not have a 'license' field. Instead the snippet reads the contents of the LICENSE file and dumps the result.

Look at https://github.com/benbalter/licensee to do all of the work

Options:
1. Just use it: This would mean adding ruby and gem as a dependency for Tern and this goes against my g

[2018-08-06 18:54] nishakm opened #72 "Create utility to calculate a checksum for the contents of each layer"
Refers to #30 for context on why this is needed apart from the shasum of the layer tarball which is currently used to identify the filesystem layer.
The utility has to piece together a number of moving parts:
`find -type f -exec sha256sum {} \;` checksums the contents of each file in the filesystem

There should be some ability to print file attributes along with this as well.
`find -type f -print

[2018-08-06 20:15] nishakm commented on #72
In order to find the -Z part of a file, we need to install the selinux python module. This is apparently non-trivial as it needs libselinux-python installed on the host machine/vm/container that Tern will have to run on. So should we just subprocess this?

[2018-08-08 13:39] ivanayov opened #73 "`tern report` fails on OS X"
`./tern report -i <docker image>` fails on OS X with
[code]

Steps to reproduce:
[code]

[2018-08-10 20:36] nishakm commented on #72
First pass implementation can be found at commit: https://github.com/vmware/tern/commit/39da2216d80c162eb409a0bb30d1e29194a8e2e3
It produces a file with output like this:
[code]

[2018-08-12 16:48] johnmm opened #74 "Randomly generate image and container names."
Currently, Image and Container names are not random. This should be updated to prevent any possible conflicts.

Some ideas:
- Using tern's PID
- Using a random number generator

We should be randomly generating names for:
- Docker image
- Docker image tag
- Docker container name

Currently https://github.com/vmware/tern/blob/master/utils/constants.py contains all the default names.
- Change the na

[2018-08-13 14:53] nishakm commented on #74
@johnmm Thank you! Do you think you can work on this?

[2018-08-13 15:02] #1 closed

[2018-08-14 02:02] nishakm commented on #74
@johnmm, I would rather have something like tern_image_**random_no** and tern_container_**random_no**. Using the PID is fine although I wonder why you went to that proposal rather than just use a random number generator.

I will add some specs to this issue so you have some more direction. Thanks for taking it on!

[2018-08-16 15:43] jtcasper commented on #24
Is this still in progress? Is it necessary to run the Dockerfile as `--privileged` so that it is allowed to use `mount`?

[2018-08-20 12:49] nishakm commented on #73
@jtcasper or @ivanayov can you paste here what storage driver your Docker engine uses? Also, if it's not too much trouble, can you try to switch your storage driver to overlay2?https://docs.docker.com/storage/storagedriver/select-storage-driver/

[2018-08-20 13:00] nishakm commented on #24
@jtcasper, for some reason your comment (sent to my email) doesn't show up here: Is this still in progress? Is it necessary to run the Dockerfile as --privileged so that it is allowed to use mount?

It might be necessary. I have not tried it yet. I think @tojo13 might be busy with other stuff, so if you want to check it out, that's totally fine and I would appreciate it :)

It also could become a

[2018-08-20 22:46] nishakm opened #77 "No detection of multiple installations of the same package"
For example, if a base OS has a copy of openSSL and the Dockerfile has a command that installs openSSL again, the filesystem will have two copies of the same package. Since we are only comparing package names from previous layers, this goes undetected.

The solution is to collect a master list with package objects and not package names. Comparison should be a deep comparison of the object i.e. all

[2018-08-20 22:56] nishakm opened #78 "Deep comparison of Package objects"
Currently, comparisons of Package objects are only done based on name
[code]

Add a method (`def is_equal(self, another_pkg_obj)`) that will do a deep comparison of the package object
[code]

[2018-08-21 13:13] nishakm opened #79 "Add Vagrant file for running on Windows and Mac OSX"
Since Tern uses the overlay2 storage driver and Linux kernel capabilities, it cannot be run on Windows or Mac OSX natively.
Add a Vagrant file to the repo for running on those environments.

Steps to create a vagrant image are here: https://github.com/vmware/tern/blob/master/docs/contributing-setup.md
A small variation is required wherein the files in the repo need to be copied into the vagrant VM

[2018-08-21 13:15] nishakm commented on #73
Created #79 for the Vagrant file creation.

[2018-08-21 13:15] #73 closed

[2018-08-26 01:32] #74 closed

[2018-08-26 01:35] nishakm commented on #78
@johnmm Do you think you can work on this one? It's quite straightforward.

[2018-08-29 19:31] #72 closed

[2018-08-29 23:18] nishakm opened #80 "Replace ImageLayer identifier with filesystem hash"
- Add a new property to ImageLayer class for storing the id: fs_id
- Add a method to ImageLayer to calculate the filesystem hash using the new utility and assign it to id
- Update load_image method in DockerImage to invoke the ImageLayer's fs_id generator
- Update cache load and save based on the fs_id not the diff_id

Refer to #30

[2018-08-31 14:00] #80 closed

[2018-08-31 14:03] nishakm commented on #30
Resolved with commits:
https://github.com/vmware/tern/commit/39da2216d80c162eb409a0bb30d1e29194a8e2e3
https://github.com/vmware/tern/commit/d74cd9282e8b759a38300fe337de9ec07fc86968
https://github.com/vmware/tern/commit/811ba15c771d3ffc27fce99fe263124a1e7c7b55

[2018-08-31 14:03] #30 closed

[2018-08-31 22:36] nishakm opened #81 "Compatibility with python 3.7"
Test tern's compatibility with python 3.7

[2018-09-07 22:07] nishakm commented on #81
Tested and works!

[2018-09-07 22:07] #81 closed

[2018-09-10 20:51] #69 closed

[2018-09-11 00:20] nishakm opened #82 "tern overlay mount fails for golang image"
[code]
Environment:
Fedora28 VM with updates

Log file attached
[tern.log](https://github.com/vmware/tern/files/2368880/tern.log)

[2018-09-11 14:17] nishakm commented on #82
[code]
Where c96b61 is the 5th layer in the image and the 4th overlay mount.

[2018-09-11 21:48] #82 closed

[2018-09-12 12:01] nishakm commented on #54
Unfortunately, not depending on the package manager to get package dependencies is a huge performance hit. So this will have to be a fail safe if there is no method of collecting dependencies.

[2018-09-19 00:03] nishakm commented on #3
Seems to be working in Release 0.1.0. Closing this issue.

[2018-09-19 00:03] #3 closed

[2018-09-19 23:37] #54 closed

[2018-09-20 12:45] nishakm commented on #78
@johnmm do you still want to work on this? I'll probably need to take it off your hands in a week or so.

[2018-09-20 13:57] #11 closed

[2018-09-20 14:53] nishakm commented on #70
It might make sense to dump all of the image object's attributes and do so recursively for all the objects containing it. An example implementation could be the to_dict method in Package and ImageLayer classes.

[2018-09-21 14:04] nishakm commented on #27
We can just add an option in the command line (--redo, -r) to overwrite the data that is in the cache if it exists.
This would mean writing a function to erase cached data for a particular layer.
This would also mean rewriting the flow to check if the redo flag is not set to then load data from the cache, and if yes then erase data from the cache before loading (load_from_cache function)

[2018-09-23 20:07] johnmm commented on #78
@nishakm Sorry, I have been swamped with school work and regular work lately. I'm just getting back around to this.

I have made and unit tested the is_equal function and I'm trying to identify all the areas that need to be stepped up. Please let me know if this list seems complete to you.

Image_Layer.remove_package and Image_Layer.add_package seem to be the only direct impacts, but only remove_p

[2018-09-24 17:12] nishakm commented on #78
@johnmm, don't worry! The project has a lot of work needed, and if not this one then there will be another one. I am so glad you want to put your time and effort into this and greatly appreciate it.

The is_equal function for the Package class will not be used by anything else in the project, so this change can stand by itself without breaking the code. If you are in doubt, just run the code again

[2018-09-26 21:45] #78 closed

[2018-09-26 22:07] #45 closed

[2018-09-26 23:38] nishakm opened #85 "Add to_dict method to Origins class"
In `classes/origins.py` add a `to_dict(self)` method to get a python dictionary representation of the object. The resulting object should look like this:
[code]
For reference, look at `classes/notice.py` and `classes/notice_origin.py` for what their to_dict methods do.

Implementation could look like this:
[code]

[2018-09-27 00:06] Solaxun commented on #85
I'll take this.. looks like a good first issue - although you already did the work!  Your snippet looks like it could be dropped in basically unchanged.

[2018-09-27 01:27] nishakm commented on #85
@Solaxun I'll be adding more :) . If this is your first time contributing to an open source project, go for it! If not, would you mind leaving this one to a first time contributor?

[2018-09-27 01:33] nishakm opened #86 "Complete to_dict method in image_layer class"
Currently the to_dict method in the image_layer class only includes 'packages', 'tar_file' and 'created_by'. Also include 'diff_id' and 'import_str' to the dict. See `classes/image_layer.py` for details.

This is work towards #70

[2018-09-27 01:52] nishakm opened #87 "Fill to_dict method in Image class"
See `classes/package.py` and `classes/image_layer.py` as examples.

to_dict should create a python dictionary representation of the Image object. Something like this:
[code]
For the layers, create an empty list and for each layer in self.layers append the result of layer.to_dict to the list

There is already a stub method in `classes/image.py` that returns an empty dictionary. This is to allow for

[2018-09-27 05:42] msarfrazanwar commented on #85
Can i work on this ?

[2018-09-27 16:10] nishakm commented on #85
@msarfrazanwar there is already a PR for it. There are a few other similar good-first-issues you can work on though. Feel free to pick one and submit a PR. Thanks!

[2018-09-27 18:36] nishakm opened #90 "Add to_dict method to docker_image class"
The image class has a `to_dict` method which can be used by the derived class in `docker_image.py`.

The dictionary should have properties: repotag (str), repotags (list) and history (dict) along with the superclass's dictionary.

Example of how this would be implemented:
[code]
This is work towards #70

[2018-10-01 05:51] psyonara commented on #86
I'll take this one. :)

[2018-10-01 09:07] IpshitaC commented on #87
Hey @nishakm
Can I take this up as a part of hacktoberfest?

[2018-10-01 13:05] nishakm commented on #86
@psyonara go for it!

[2018-10-01 13:06] nishakm commented on #87
@IpshitaC yup! Go for it!

[2018-10-01 13:12] nishakm commented on #87
@IpshitaC if you see a bunch of updates messages from github: that's my bad. There's a related PR already in that references this issue but is not for this issue, so it's still yours to work on. Hope to see a PR from you soon!

[2018-10-01 13:58] IpshitaC commented on #87
Sure, I'll send in a PR soon!

On Mon, 1 Oct, 2018, 6:43 PM Nisha Kumar, <notifications@github.com> wrote:

[2018-10-01 14:08] jackey8616 commented on #13
@nishakm  hi there, i would like to take this issue.
Now is on progress.

[2018-10-01 15:04] jackey8616 commented on #13
Hi @nishakm , i have already done with some code.
But there is some errors while running tests.

I modified image_layer.py, notice_origin.py, and origins.py files in classes folder.
After checking tests folder and there is only some test file like test_class_image_layer.py, test_class_image.pyand test_class_notice.py are most relative with the file i modified, so i run these test.
But there is som

[2018-10-01 15:19] esantoro commented on #90
Can I take this ?

[2018-10-01 16:41] nishakm commented on #13
@jackey8616 Thanks for the PR! The unit tests are outdated for the most part since the last release and I need to fix them. For now, if you want to manually test out your changes for each of the classes, I would accept a PR with just those changes.

[2018-10-01 16:41] nishakm commented on #13
@jackey8616 just let me know if you want to continue working on this, and I will mark it as assigned. Thanks again!

[2018-10-01 16:53] jackey8616 commented on #13
If these changes is healthy. I'd like to send out PR. :smiley:

[2018-10-01 17:57] nishakm commented on #90
@TileThePlane is working on this

[2018-10-01 18:47] nishakm opened #96 "Test for image_layer class fails"
[code]

[code]
To solve the first error, remove testAddNotice as ImageLayer no longer has that method.

To solve the second #86 needs to be resolved

[2018-10-01 21:05] nishakm commented on #86
@psyonara someone has already submitted a PR for this. If you still want to work on it, let me know.

[2018-10-01 21:46] amarjeet045 commented on #85
how can I start  contributing to this issue, please guide

[2018-10-01 21:55] nishakm commented on #85
@amarjeet045 it's already assigned. Please feel free to pick another unassigned issue. Thanks!

[2018-10-01 21:59] amarjeet045 commented on #85
@nishakmI am a beginner so I want to ask all the issues which are open in there I have to contribute.

[2018-10-01 22:04] amarjeet045 commented on #85
@nishakm i want to work on this issue Add to_dict method to Origins class #85

[2018-10-01 22:10] Solaxun commented on #85
as mentioned above - I am working on this one

On Mon, Oct 1, 2018 at 3:04 PM Amarjeet Singh <notifications@github.com>
wrote:

[2018-10-01 22:32] nishakm commented on #85
@amarjeet045 I don't have any good-first-issues at the moment, but you can certainly check back later and more will be filed. Thanks for your interest!

[2018-10-02 00:03] #96 closed

[2018-10-02 05:38] psyonara commented on #86
@nishakm Cool, no worries. No point in duplicating work. :)

[2018-10-03 16:11] nishakm commented on #39
Already resolved in release 0.1.0

[2018-10-03 16:11] #39 closed

[2018-10-03 22:01] #90 closed

[2018-10-04 13:07] nishakm commented on #71
@Abhigupta4981 that looks like it's meant to maintain licenses not interpret LICENSE files. Debian and Ubuntu's package managers do not use any kind of metadata to store licenses and instead retain the software's license file. Here we just dump the contents of the license file and that makes the report unreadable. Did you take a look at https://github.com/benbalter/licensee?

[2018-10-04 17:04] nishakm commented on #86
https://github.com/vmware/tern/pull/97 addresses this issue. The commit message referenced the wrong issue number. Closing this.

[2018-10-04 17:04] #86 closed

[2018-10-05 12:54] nishakm commented on #87
Fixed in https://github.com/vmware/tern/commit/8ab17e6aff0befc5704c2e60e8c41312ef7613aa

[2018-10-05 12:54] #87 closed

[2018-10-06 00:38] nishakm commented on #13
Resolved in https://github.com/vmware/tern/pull/94. Thanks again!

[2018-10-06 00:38] #13 closed

[2018-10-09 00:37] nishakm opened #102 "Add test for to_dict method in test_class_notice.py"
Add a test for the `to_dict` method in `test_class_notice.py`. This is the unit test for the class `classes/notice.py`.
[code]
Test by following the instructions: https://github.com/vmware/tern#to-run-a-test

[2018-10-09 00:44] nishakm opened #103 "Add unit test for NoticeOrigin class"
See `classes/notice_origin.py` for documentation, properties and methods of this class. See `tests/test_class_notice.py`, `tests/test_class_package.py` and `tests/test_class_image_layer.py` for examples on how to write a unit test for this class.

- Test instance to see if all the default values for the properties are set when instantiating
- Test addition and removal of a Notice object
- Test pri

[2018-10-09 12:34] ericcheatham opened #105 "Test in `test_class_notice.py` Testing Invalid Property of Notice"
The class `Notice` no longer has the property `origin` -- appears to have been removed in 138917f770b7e3067143188694fa2f775d5d8c6a

The test in `test_class_notice.py` are still testing that.
https://github.com/vmware/tern/blob/master/tests/test_class_notice.py#L26

[2018-10-09 12:53] nishakm commented on #103
@ericcheatham Yes! Go for it!

[2018-10-09 12:56] #105 closed

[2018-10-09 20:00] #102 closed

[2018-10-10 19:49] #103 closed

[2018-10-19 05:11] gregwebs commented on #71
There is [go code](https://github.com/pmezard/licenses) that does the same thing as licensee (it is specialized to retrieve go licenses, but you could remove that part). That would make for a single binary install rather than ensuring a language interpreter exists.

[2018-10-19 05:19] gregwebs commented on #71
I will send a PR to build a docker image for tern, which would make for an easy way to distribute python with a go binary.

[2018-10-19 06:07] gregwebs commented on #71
ahh, looks like this shells out to docker instead of using the docker API: that makes it a lot more difficult to run from a docker container.

[2018-10-19 14:08] gregwebs commented on #24
The code currently invokes "docker" as a cli. This makes it trickier: it requires at least an extra install of docker in the docker image. This process would be easier if the code used the docker API: that would only require mounting the docker socket.

[2018-10-19 16:15] nishakm commented on #24
There's another proposal to replace the existing docker cli wrapper with the python library for the docker engine API: https://github.com/vmware/tern/issues/41. @gregwebs can you give an example of how to replace a docker cli command like `docker pull` with the API?

[2018-10-29 16:39] nishakm opened #108 "Do not include selinux security context when calculating filesystem hash"
SELinux adds an extended attribute to all files on a system on which it is enforcing. Plus the attribute is not transferred over to a system where SELinux does not exist, is disabled or not enforced. As a result, if the `tools/fs_hash.sh` script is run on a system with SELinux enforced, the filesystem hash that is produced is specific to that system only and is not portable to another system.

We

[2018-10-30 02:10] nishakm opened #109 "YAML file output"
As part of the structured data output, create a yaml file containing all the image data collected during execution.

[2018-10-30 02:20] #109 closed

[2018-10-30 13:23] nishakm opened #110 "Script execution errors not being recorded in notices"
Steps to reproduce:
[code]
in report.yml:
[code]
`src_url` is empty because there was an error running the script to get the url

in tern.log:
[code]

[2018-10-30 19:21] nishakm opened #111 "YAML output does not contain info about layer data being retrieved from the cache"
Steps to reproduce
[code]
tern.log:
[code]
But YAML output doesn't have this info:
[code]

[2018-10-30 20:47] nishakm commented on #111
[tern.log](https://github.com/vmware/tern/files/2531573/tern.log)

[2018-10-31 17:53] #70 closed

[2018-10-31 21:32] nishakm opened #112 "Do not check if a layer's fs_hash exists in cache before saving it"
See `def save_to_cache(image)` in `common.py`
Only check if there is a non empty package list in the layer before adding the layer

[code]
Work towards #27

[2018-10-31 21:34] nishakm commented on #112
@laurieroy do you want to take this?

[2018-10-31 21:45] nishakm opened #113 "Load from cache only when redo=False"
We want to allow a user to repopulate the cache with new data for any existing container layers i.e. redo the cache for just those layers. See #27

Update the `load_from_cache` def in common.py to take an argument called `redo` that defaults to 'False' (means the default operation should be to not redo the cache)
[code]
This is work toward #27

[2018-10-31 21:56] nishakm commented on #113
@IpshitaC would you be interested in taking this one on?

[2018-10-31 22:48] nishakm opened #114 "Add command line option '-r; --redo' for repopulating the cache with new data"
See `tern`

[code]
Work towards #27

[2018-11-01 00:05] nishakm opened #115 "Move all code to a folder called src"
Moving all the code to a folder called src accomplishes these things:
- It consolidates all the code into one place
- It makes the project look less sprawling on github

This would mean moving the folders report, utils, tests and tools into a folder called src
This would also mean modifying the docs to reflect this change.

README.md stays where it is.

This would cause CI/CD to break so that .tra

[2018-11-01 03:44] laurieroy commented on #112
Hi, For clarification, do you mean:
if layer.fs_hash not in layer.packages
or
if layer.packages
I'll see if I can get a test file, that might make it clearer.
Thanks for the opportunity!

[2018-11-07 19:45] armijnhemel opened #117 "Crash when processing Docker's "hello world""
I tried to generate a report for Docker's hello world image, but tern crashed:

$ ./tern report -i docker.io/hello-world:latest
2018-11-07 20:44:35,758 - DEBUG - tern - Starting...
2018-11-07 20:44:35,759 - DEBUG - container - Running command: sudo docker ps
2018-11-07 20:44:35,787 - DEBUG - report - Setting up...
2018-11-07 20:44:35,788 - DEBUG - container - Running command: sudo docker images do

[2018-11-07 20:33] nishakm commented on #117
[code]
Looks like there was an error in running `docker save docker.io/hello-world:latest`

[2018-11-07 20:38] nishakm commented on #117
I tried it locally and I am getting a different error:
[code]
So several issues:
1. Tern doesn't know what the baseOS for this image is. But it doesn't exit gracefully if it cannot find it.
2. It needs to check if all the set-up directories for mount exists before removing them

[2018-11-07 20:39] armijnhemel commented on #117
This is indeed the case:

$ docker save docker.io/hello-world:latest -o /tmp/backup
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.26/images/get?names=docker.io%2Fhello-world%3Alatest: dial unix /var/run/docker.sock: connect: permission denied

So the error message would not be what I had expected.

[2018-11-07 20:40] armijnhemel commented on #117
This is the standard "hello world" from Docker: https://hub.docker.com/_/hello-world/

[2018-11-07 21:01] nishakm commented on #117
Docker's hello-world container consists of only 1 executable file `hello`. This file has no information on version, license or project url. So `unknown filesystem` is probably a better warning for this content. Furthermore, Docker's hello-world container is only used for checking if Docker is installed properly on your machine and nothing else. So I don't think it makes any sense adding `hello` to

[2018-11-08 01:40] nishakm opened #120 "Check if temp/mergedir exists before removing it"
See #117 for error log
[code]

[2018-11-08 01:45] nishakm opened #121 "Exit gracefully if the Base OS is unknown"
See #117 for more info.

[code]
Docker's `hello-world` container image contains only one file which can be executed in a shell. It doesn't exist as a binary in `command_lib/base.yml` so it is a good image to test this bug against.

[2018-11-08 17:16] nishakm commented on #113
@laurieroy is working on this

[2018-11-08 19:14] #79 closed

[2018-11-10 21:59] nishakm opened #125 "Find package metadata in a raw github repository"
**Describe the Feature**
For situations where a github repository gets added into the container using ADD directive, find the package metadata for the github repository.

**Use Cases**
This is a typical Dockerfile use case

**Implementation Changes**
1. ADD and COPY need to be recognized
[code]
2. List of possibilities: This requires a new addition to the command library for poking at a collection

[2018-11-13 17:42] nishakm commented on #113
@laurieroy are you still working on this?

[2018-11-14 15:49] nishakm opened #127 "Summary report should also show summary of layers used in the image"
**Describe the Feature**
Currently, the summary report only has a list of packages. It should also contain a summary of the layers, the instruction that created them and any warnings.

**Use Cases**
Users still want to understand how their container is built. Since containers can be built on top of other containers of different provenance, it makes sense to show that it is made up of layers create

[2018-11-14 17:05] #120 closed

[2018-11-14 22:49] nishakm commented on #121
Error occurs because of a formatting syntax error. Nevertheless, there are some changes to reporting.

[2018-11-14 23:14] #121 closed

[2018-11-14 23:15] nishakm commented on #117
Fixed in issues #120 and #121

[2018-11-14 23:15] #117 closed

[2018-11-15 13:57] #113 closed

[2018-11-27 19:07] #114 closed

[2018-11-27 19:07] #27 closed

[2018-11-29 00:07] #77 closed

[2018-11-29 15:32] nishakm opened #134 "Use itertools to chain packages for efficient looping"
**Problem Statement**
In order to find the packages in an image layer that are not in previous layers, you need to maintain a 'master list' of packages and for each of the layers, compare with this master list and update it as you go along. This makes inefficient use of memory and forces you to maintain a global variable.

**Describe the Proposal**
Instead of maintaining a 'master list' you could

[2018-12-06 10:21] deeplook opened #136 "How about making a release on PyPI?"
Being able to `pip install tern` would be so much more user-friendly.

[2018-12-06 13:51] nishakm commented on #136
Definitely something to consider! I haven't made a release that way because there isn't anyone to manage the PyPl distribution. Git clone and setting up the virtual environment is the most KISS way to have the thing running without any build and release pipeline. There is an issue filed to create an install script: https://github.com/vmware/tern/issues/21. Would you consider taking it on. There is

[2018-12-08 08:11] deeplook commented on #136
Frankly, I can't remember the last time I've used unpackaged code, i.e. not installable via setup.py and with pip at least from some hoster like github. Except when I really had to, and that's not the case for tern. If you want people to try this out and make them use it, packaging it up is the only way. You can find nice example templates at https://cookiecutter.readthedocs.io.

[2018-12-08 15:18] nishakm commented on #136
Thanks for the suggestion and resources! Due to the reliance on the Docker CLI, it'll take a little work to get it there. But that's the goal for the next release, so will definitely be working on it.

[2018-12-12 02:20] nishakm opened #137 "Replace all container.py operations with docker's python API"
Part of super #24

Using the python API for Docker requires `pip install docker`.
All subprocess calls to docker CLI needs to be replaced with the API calls.
This excludes `docker ps` as the process needs to be running in order for the API calls to work.
This also means that a graceful exit is needed if the user is not added to the docker group (IMHO: this is not good but lots of things that Tern

[2018-12-12 16:58] nishakm opened #138 "Move 'docker_helpers.py' and 'common.py' into a folder called 'helpers'"
Might be related to #24 because this would help separate the docker API python module available through pip and the docker image inspection helpers.

1. Make a directory called 'helpers'
2. Move files to helpers
3. Create an empty `__init__.py` file in helpers
4. Check if an import works `from helpers import docker as d_helper` and `from helpers import common as c_helper`
5. Run full functional te

[2018-12-12 17:07] nishakm opened #139 "Run tests on PRs based on files touched"
Travis CI currently doesn't support triggering tests based on what files were touched by a PR. However, there must be some kind of hack for this.

This will help speed up testing for PRs. This would also be a forcing function to manage the tests better.

[2018-12-12 17:13] nishakm opened #140 "Add documentation for running Tern using Docker"
This depends on #24

This is the easiest way to run Tern without any commitment (two steps - docker build and docker run)

[2018-12-12 18:50] nishakm opened #141 "Add documentation to install using pip"
This depends on #136

This is probably the second easiest step and the most approachable to users familiar with python.
1. Set up virtualenv
2. `pip install <pypl pkg>`
3. `<pypl pkg report -i <docker image>`

[2018-12-13 17:20] ganeshmaharaj opened #142 "Tern report fails with error: 'Origins' object has no attribute 'add_notice_origins'"
**Describe the bug**
Running `tern report` on a clearlinux based docker image fails.

**To Reproduce**
Steps to reproduce the behavior:
1. docker pull clearlinux/stacks-dlrs-mkl
2. tern report clearlinux/stacks-dlrs-mkl

**Error in terminal**
[code]

**Expected behavior**
tern should complete report successfully.

**Environment you are running Tern on**
Enter all that apply
- Operating System - Ub

[2018-12-15 00:11] #142 closed

[2019-01-08 18:51] nishakm opened #144 "Rename docker.py to docker_helpers.py"
The 'docker' module name conflicts with the docker module which is an api for docker commands. So rename 'docker.py' to 'docker_helpers.py' and edit imports throughout the project.

See issue #138 for long term solution
This is necessary for #137

[2019-01-10 19:11] #144 closed

[2019-01-10 22:31] nishakm commented on #137
docker API throws an IOError if it cannot connect to the docker unix socket. We can use this to test if the docker daemon is running.

[2019-01-16 17:26] nishakm opened #147 "Call docker python API without wrapping it in a separate module"
`utils/container.py` currently contains all of the docker container related operations. There is more wrapping in docker_helpers.py. Eventually there needs to be some API for implementing 'pull', 'build' and 'save' operations for container images. The docker python API can be called there.

Related issue: #678

[2019-01-17 16:49] #137 closed

[2019-01-23 13:47] nishakm commented on #41
Duplicate of #148

[2019-01-23 13:47] #41 closed

[2019-01-23 14:08] nishakm opened #149 "Enable pip package listing"
**Describe the Feature**
Tern currently only lists OS level packages. It should also list language level packages like pip

**Use Cases**
For containers with python apps

**Implementation Changes**
Add `pip` binary in `command_lib/base.yml`. Then add under it use `pip-licenses` to list pip licenses. This requires pip-licenses to be installed.

[2019-01-24 17:32] nishakm opened #150 "Print results to stdout rather than files"
**Describe the Feature**
If tern is going to run in a container, it needs to be able to print all formats to stdout rather than a file. All of the options available print to a file.

**Use Cases**
Most users want tern to run in cloud environments for quick analysis. Although the file format is useful in build and release pipelines, it's not useful for this use case.

**Implementation Changes**
Add

[2019-01-24 17:54] nishakm commented on #150
I don't see why a file option is needed at this point because if one is running tern in a shell, they can just pipe the results to a file.

[2019-01-24 18:01] nishakm commented on #24
I've gotten as far as creating a Docker container with tern in it. However, in order to analyse an image, it needs to pull it first.

[2019-01-24 22:24] nishakm opened #151 "Pull docker image if it's not present on the system/container"
Check if the docker image exists on the machine and if not, pull it. If pull doesn't work, exit gracefully. This is to make tern work in a running container and later as a web service.
See #24 and #65 for history.

[2019-01-25 14:38] #151 closed

[2019-01-25 17:17] nishakm opened #153 "Tern crashes when running in a container"
**Describe the bug**
When running tern in a container with docker socket mounted, the debug message says "unable to load image metadata".

**To Reproduce**
Steps to reproduce the behavior:
Dockerfile:
[code]
run:
[code]

**Error in terminal**
[code]

**Expected behavior**
Should complete successfully

**Environment you are running Tern on**
photonOS container with host docker socket mounted

**Ple

[2019-01-25 17:18] nishakm commented on #153
Running in a photonOS container with python and requirements installed. I found this:
[code]
The fs_hash script needs to be run as regular user but 'sudo' is used as a default.

[2019-01-25 18:39] nishakm commented on #153
Also, in the Dockerfile, some extra stuff needs to happen before the photonOS container can run tern:
[code]

[2019-01-25 18:57] nishakm opened #155 "Squash logging to stdout"
Logging writes to tern.log and one can observe the log using `tail -f tern.log`. This is needed so tern can run in a container and still be compatible with use in a terminal.

Helps with #65

[2019-01-25 19:10] #153 closed

[2019-01-25 21:50] nishakm commented on #150
If printing results to stdout:
- Need to change the command line options so they reflect format
- Need to remove the write_report function

[2019-01-25 22:01] #155 closed

[2019-02-07 01:32] nishakm commented on #24
I've hit an inconvenience:
For OSs that enable SELinux, any containerized process is denied permission to /var/run/docker.sock. In this case, the container needs to run as privileged.

[2019-02-07 01:33] nishakm commented on #24
First real roadblock: mount and unshare not found in container image:
[code]

[2019-02-07 13:33] yahalom5776 opened #159 "Script error "error: chroot: failed to run command""
Hello Nisha,

we get a script error when running tern 0.2.0 against Docker images, e.g for rancher/calico-node

[code]

The image is pulled from an internal Artifactory repo, tern is set up within a VM based on Ubuntu Server 16.04 LTS.

Perhaps you can point us in the right direction here. Thank you!

[2019-02-07 13:45] nishakm commented on #159
@yahalom5776 can you share your image name and tag?

[2019-02-07 14:00] nishakm opened #160 "Use ClearlyDefined API to get license information"
This was a suggestion by the project owner.
https://api.clearlydefined.io/api-docs/

[2019-02-07 14:00] yahalom5776 commented on #159
@nishakm
An example is

`rancher/calico-node:v3.1.1`

I just removed the URL of our internal registry from the output above.

[2019-02-07 14:10] nishakm opened #161 "Make Tern report what repo style and distro the container image is based off"
**Describe the Feature**
For example:
[code]

**Use Cases**
Since the original repo's information is lost, this might give folks an idea of what kind of OS image their starting image is based on

**Implementation Changes**
- Add a listing in the command library that lists the possible os's
- Add report message that says something like `'Found {}'.format(binary)`
- For Package and Image add a new p

[2019-02-07 14:20] nishakm commented on #159
@yahalom5776 is there an equivalent on Dockerhub? It looks to me that your image is based on Alpine but may be missing `awk`

[2019-02-07 14:26] nishakm commented on #159
Also, can you share the results of `arch` and `python3 --version`?

[2019-02-07 14:38] nishakm opened #162 "Fix verify_invoke.py"
This script needs an overhaul in order to analyze failing scripts - especially useful when debugging chroot

[2019-02-08 02:34] nishakm commented on #24
And we come to the real problem:
[code]

[2019-02-08 03:21] nishakm opened #163 "Create a custom YAML converter"
Sometimes, internal organizations need their structured output formatted in a different way. Create a tool that will take the output of tern and convert it into a custom YAML.

[code]

[2019-02-08 10:34] yahalom5776 commented on #159
@nishakm the official DockerHub Image is here: https://hub.docker.com/r/rancher/calico-node

Output of `arch`:

`i686`

Output of `python3 --version`:

`Python 3.5.2`

It might be a problem with the bitness, we will try a x64 VM and report back.

[2019-02-08 15:21] yahalom5776 commented on #159
@nishakm the scan works with tern running in a x64 VM. I will close this issue.

[2019-02-08 15:21] #159 closed

[2019-02-11 14:54] nishakm commented on #24
There are some issues with regards to running Tern in a Docker container:
1. Tern uses `mount` which is gated by CAP_SYS_ADMIN, i.e. all the restrictions need to be open in order to run `mount` from within a container.
2. Most of the time, the filesystem within a container is `overlay`. You cannot mount an overlayfs on top of another overlayfs filesystem.

To solve 1, you need to run the container

[2019-02-12 15:08] nishakm opened #164 "Add option to use an external bind mount as the working directory"
When running Tern in a container, in order to run the overlay operations, a bind mount to the host machine is required. In this use case, Tern will try to delete the bind mount and fail. It does the deletion to clean up by default but this is not required in the container case.

See #24 for more info.

[2019-02-12 17:33] nishakm commented on #164
Ideally we could use psutil but it is dependent on system level compile time components: gcc and python-dev. It's easier to just tell the script that you are bind mounting something.

[2019-02-13 22:43] nishakm opened #165 "Send reports to stdout by default"
The report should go to stdout by default. This helps with #24.

1. Change options -Y and -J to -y and -j for clarity
2. Add option -f to write to a file (in case a native CI/CD pipeline needs an artifact to deploy)

[2019-02-13 23:06] #164 closed

[2019-02-14 02:26] #165 closed

[2019-02-14 14:35] nishakm commented on #150
Resolved in #165

[2019-02-14 14:35] #150 closed

[2019-02-14 14:39] nishakm commented on #71
#160 may be able to solve this

[2019-02-15 01:35] #24 closed

[2019-02-15 02:41] nishakm commented on #140
Resolved with 7dbe6c00e2a8f9b2bc6305b77ae472f9f99adee5

[2019-02-15 02:41] #140 closed

[2019-02-15 13:46] nishakm opened #169 "Fix assert and no yaml.safe_load bandit errors"
Running bandit (security linter for python) shows generally a low risk profile. Most of the risk comes from the use of the 'subprocess' module to invoke either system tools or scripts under tern/tools. We can't do without it.

Using an alternative for `assert` and `yaml.load` is doable.

https://bandit.readthedocs.io/en/latest/plugins/b101_assert_used.html
https://bandit.readthedocs.io/en/latest/p

[2019-02-15 15:48] #169 closed

[2019-02-15 17:52] nishakm opened #171 "Move all code into a folder called 'src'"
Now that there are many additions to the project that are unrelated to the actual functionality but are project level helpers (`travis.yml`, `ISSUE_TEMPLATE`, `Dockerfile`, `docker_run.sh`), for the sake of approachability, let's move all the code into a folder called `src`.

[2019-02-15 22:31] nishakm commented on #171
Dupe

[2019-02-15 22:31] #171 closed

[2019-02-15 23:58] #115 closed

[2019-02-20 20:46] nishakm opened #174 "Enable SPDX document output"
**Problem Statement**
SPDX documents describe metadata about an artifact in relation to their sources, build and run dependencies. More information can be found here: https://spdx.org/using-spdx-documents.

**Describe the Proposal**
Enable Tern to print out a document in SPDX format

**Steps to Implement Proposal**
Tern has its own schema to describe components plus some additional schema to descr

[2019-02-20 22:09] nishakm commented on #139
Found an example on how to do this: https://github.com/dev-id/Magic-Spoiler/blob/8111a06ab6682e020169991d5e2aa4fa503d787f/preflight.sh

[2019-02-20 22:17] nishakm opened #175 "Document structured data output that Tern produces"
1. Look at the YAML output that Tern produces
2. Make a document listing all the keys and their description

[2019-02-28 17:35] nishakm commented on #139
Closing this issue due to the Travis CI news (no official announcement has been made but apparently their core team has been laid off)

[2019-03-09 17:38] nishakm opened #180 "Create architecture layout document for implementing custom report templating"
Refer to #163 for the super issue.

# Some rethinking on how to implement
Since yaml files can be many layers deep, it's not really feasible to map out *each and every* key value pair after walking down a yaml tree. How would you deal with all the different types of combinations of key-value pairs that come up? How will you deal with data that a custom report doesn't want to include? What if there

[2019-03-10 19:24] rothgar opened #181 "Please enable rpm support"
Would be nice to be able to use this for CentOS, Red Hat, Amazon Linux, and fedora based images.

[2019-03-11 23:59] nishakm commented on #181
Thanks for filing the issue! If you know how to list installed packages using rpm, enabling rpm support is pretty straightforward. You will just need to add a listing in `https://github.com/vmware/tern/blob/master/src/command_lib/base.yml` for `rpm` and find scripts to list out names, versions and licenses. Would you be willing to help out with this?

[2019-03-12 03:02] rothgar commented on #181
I know the commands for listing packages and will check on outputting license information. I'll try to pr it later this week.

[2019-03-14 13:40] nishakm commented on #174
So, SPDX doesn't support YAML at this time (and will probably not for some time to come). They have a tag-value format that would probably need to be handled outside the way that the custom converter would handle things. Need arch document for this.

[2019-03-14 21:15] swinslow commented on #174
Hi @nishakm, I’m interested in helping with this. I’m involved with the SPDX project and have written some tooling for handling its tag-value format (Golang and Python). I’m getting more familiar with Tern and would be glad to help with an arch document here.

[2019-03-14 22:43] nishakm commented on #174
@swinslow Thank you! The best way to find what kinds of "elements" are supported right now, take a look at `src/classes`. Basically, image -> layer list, layer -> package list and package is the most basic class. I'll need to basically find a mapping for each of the properties to an SPDX tag. And then find mandatory SPDX tags not in the class properties. Ignore "Origins", "NoticeOrigin" and "Notic

[2019-03-15 03:03] swinslow commented on #174
Thanks @nishakm! I’ll dig into this, and will circle back with thoughts.

Yes, the SPDX spec doesn’t have a YAML format defined, and to my knowledge the current official SPDX tools (Java, Python, Golang) don’t translate to or from YAML. There are goals to add JSON as an official format in an upcoming spec release, but I’m not sure what the timeframe will be for this.

[2019-03-15 17:24] nishakm commented on #174
After thinking about it for a bit, I think it is possible to use the custom template workflow described in #180 would work for converting to tag value. Rather than use a dictionary and use yaml.dump, use a string and write to stdout.

[2019-03-18 19:22] nishakm opened #183 "Add checksum as a Package property"
**Describe the Feature**
Add `checksum` as a Package property.

**Use Cases**
Specifically, this is a property that SPDX documents use. More generally, This is a good way to check for any discrepancies even if the package manager has the same metadata and can detect some corner cases for diffs. See PR #182 conversations for more context.

**Implementation Changes**
1. Add the checksum property to

[2019-03-19 18:02] nishakm opened #184 "Create abstract class Template"
Something like this:
[code]
See #180 for layout. This is a sub-issue of #163

[2019-03-19 18:19] nishakm opened #185 "Create a class SPDXTagValue that inherits from class Template"
Filename: `src/classes/spdx_tag_value.py`
Code should look something like this:
[code]

See #182 for mappings for package, layer and image

This is a sub-issue for #174

[2019-03-19 18:40] nishakm opened #186 "Implement from_template() method in class Package"
First pass implementation of dict_from_template() method in a Package class. See #180 for an overview. This is a sub-issue of #163 and #174. Is dependent on #184 and #185

[2019-03-21 06:29] ManishaTripathy commented on #184
@nishakm the template class will have all the default abstract methods as well as the capability of altering the template if required for custom reports.

[2019-03-22 21:11] nishakm commented on #181
@rothgar If you're looking for a template on how to enable rpm support, this PR is a good one: https://github.com/vmware/tern/pull/189

[2019-03-26 18:19] mkrohan opened #191 "Resolve code style issues with the code base"
Standard Python style/code checkers report issues with the code base.  The
utility "prospector" can be used to report issues from a collection of style/code
checkers (default list is "dodgy, mccabe, pep8, profile-validator, pyflakes, pylint",
note, pep8 has been renamed pycodestyle).  When run on the src directory,
it reports 76 issues.  The majority are trivial.

I propose:
* a "dev-requirements.

[2019-03-26 19:54] nishakm commented on #191
Prospector also seems to have support for [pre-commit](https://pre-commit.com/#usage). Pre-commit sounds really cool! If it works out for this project, would you mind rolling this change into the pre-commit config? https://github.com/PyCQA/prospector#pre-commit

`dev-requirements.txt` sounds like a nice addition to development tools as well.

[2019-03-26 21:04] mkrohan commented on #191
Will investigate the pre-commit hook once all the issues it currently raises are resolved.

[2019-03-27 17:20] nishakm opened #193 "Empty report.txt file gets created when no -f flag is set"
**Describe the bug**
Tern creates an empty report.txt file when no -f flag is set

**To Reproduce**
`tern report -i <image` -> completes successfully and an empty report.txt file is created. To compare, `tern report -i <image> -f report.txt` will create a report.txt with all data included.

**Expected behavior**
`tern report -i <image>` should not create any report files.

**Environment you are ru

[2019-03-27 17:39] #136 closed

[2019-03-29 21:17] mkrohan opened #197 "Add source file encoding comments"
Tern source files should explicitly indicate they are UTF-8 encoded.  At this point, it seems,
all sources are simple ASCII files.  While i18n considerations are low, non-ASCII can easily
slip in, e.g., a including arrow symbols to highlight issues.

Python has a PEP for this, see https://www.python.org/dev/peps/pep-0263/

Annotate the sources with the comment "# -*- coding: utf-8 -*-" which cover

[2019-04-03 13:54] nishakm opened #201 "Revisit try-except-raise error dismisses in the code"
Pylint try-except-raise error dismissals occur in the code at places where the error needs to bubble up to the top level executable which will log the error and either exit gracefully or soldier on. Investigate the "right" way to resolve these errors rather than dismissing them.

[2019-04-03 17:26] #181 closed

[2019-04-04 00:34] #162 closed

[2019-04-04 15:21] nishakm commented on #197
@mkrohan do you mind if I put this out as a good-first-issue for a beginner open source contributor?

[2019-04-04 18:20] mkrohan commented on #197
Sure, that would be OK.

[2019-04-05 00:38] ericwb opened #207 "Traceback running tern according to Getting Started documentation"
**Describe the bug**
While following the steps provided in the Getting Started on Linux, tern throws a traceback. Most likely due to missing dependencies (docker?).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/vmware/tern#getting-started-on-linux
2. Follow instructions exactly
3. Run `tern -l report -f output.txt -i debian:buster`
4. See error

**Error in terminal

[2019-04-05 00:46] ericwb opened #208 "Remove transitive dependencies"
**Describe the bug**
The requirements.txt states six is needed, but I don't see any code using it.  Also the setup.py classifies as Py3 module.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to requirements.txt
2. Note that six is listed

**Expected behavior**
Unused dependency wouldn't be in requirements.txt

**Environment you are running Tern on**
n/a

[2019-04-05 00:52] ericwb opened #209 "Add a version argument to tern CLI"
**Describe the Feature**
Currently there is no way to identify the version of tern installed.  Typically a CLI will have a `--version` argument to provide such information.

As a added bonus, it's good to put environmental information in the version output that way you can tell people to simply run a command and copy the output into a bug being reported.

**Use Cases**
This would be very helpful f

[2019-04-05 00:57] ericwb opened #210 "Add missing SPDX copyright header to files"
**Describe the bug**
A fair number of files in the tern code base are missing copyright headers.  Some such examples include:
- requirements.txt
- setup.py
- Dockerfile
- Vagrantfile
- bootstrap.sh

Might be others, didn't look at every file.

**To Reproduce**
Steps to reproduce the behavior:
1. Browse each file and check for copyright header

**Error in terminal**
n/a

**Expected behavior**
Every

[2019-04-05 01:03] ericwb opened #211 "Use pbr for managing setuptools packaging"
**Describe the Feature**
Currently I see that setup.py has code to parse requirements.txt and set various metadata through code. The pbr module does all of this for you and can make your setup.cfg/setup.py look much simpler and clean.

https://docs.openstack.org/pbr/latest/

**Use Cases**
Easier and cleaner setuptools package management.

**Implementation Changes**
Describe what changes you think

[2019-04-05 02:29] nishakm commented on #208
`six` is a dependency pulled in by `docker`. `pip install --no-deps` might work.

[2019-04-05 15:00] nishakm opened #212 "Refactor analyze_docker_image to reduce complexity"
**Problem Statement**
Pylint flags `analyze_docker_image` in `report/report.py` as having too many local variables which is an indication that the function is too complex. PR #204 adds a dismissal but it needs to be addressed.

**Describe the Proposal**
Refactor analyze_docker_image to separate some key functionality, perhaps even make a new module within tern called `analyze` which contains all o

[2019-04-05 15:10] nishakm opened #213 "Rename `id` and `license` class properties"
**Problem Statement**
`id` and `license` are built-in Python objects. PR #203 dismisses them but for clarity, they need to be renamed to something else. `image_id and `pkg_license` sounds like the most straightforward thing.

**Describe the Proposal**
Rename properties `id` and `license` in all classes. Then rename the references throughout the code.

[2019-04-05 20:40] ManishaTripathy commented on #213
Hi , is it still an open issue? i would like to work on it

[2019-04-05 23:04] nishakm commented on #213
@ManishaTripathy sure, go for it! Here's what you'll need to do:
1. Find within `tern/classes` all classes that have a property called `id` (I think Image is the only one that has it). Rename it to something that makes sense
2. Replace all places in the test for that class in `tests`. Run the tests and make sure they pass.
3. Replace all places in the code where that property occurs. Make sure you

[2019-04-05 23:09] nishakm commented on #186
Due to the fact that some documents do not necessarily follow the JSON or YAML format, it makes more sense to create a `converter` function that will take a template subclass and an image object and do the required placements.

[2019-04-07 21:50] mkrohan commented on #208
I feel transitive dependencies should not be listed in the requirements file.  Only the direct dependencies used by tern should be listed, i.e., as far as I can tell, just,
[code]
The rationale here is to simplify updating dependencies via `pip list -o`.  If the full `pip freeze` list is committed, it's not clear if an out of date dependency can be updated, i.e., is the out of date dependency a tr

[2019-04-08 13:36] nishakm commented on #208
Direct dependencies are only `PyYAML ` and `docker`. I'd actually be fine with removing all the transitive dependencies as it's misleading.

[2019-04-08 18:48] mkrohan commented on #208
Do you want to assign this to me and I'll update it.  Looks like tern/utils/container.py includes a reference to the requests package.

[2019-04-08 21:49] nishakm opened #218 "Remove unused argument in get_base_bin function in common.py"
PR #216 dismisses an unused binary which should be removed.

[2019-04-08 21:52] nishakm opened #219 "Refactor add_base_packages to remove pylint message too-many-locals"
PR #216 dismisses this for now but the complexity of this function should be resolved.

[2019-04-09 02:57] rparikh opened #220 "Tern report command report "Cannot retrieve full image metadata""
**Describe the bug**
Following the tern guide on its homepage, 'tern report' command fails with the warning of Cannot retrieve full image metadata. This happens right after `fs_hash.sh` script is called.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the vagrant file provided by tern to create a VM in vagrant.
2. Use steps to setup all tern requirements on the VM and setup tern reposito

[2019-04-10 15:55] #208 closed

[2019-04-10 16:02] nishakm opened #224 "Replace regex strings with raw strings"
Refer to PR #223 which dismisses the pylint error. Replace these strings with `raw` strings and check if functionality is the same.

To resolve:
1. Look under `# regex strings` in `tern/utils/dockerfile.py`
2. Add `r` to the beginning of the string
3. Remove `# noqa`

[2019-04-11 13:33] #220 closed

[2019-04-11 20:20] #184 closed

[2019-04-11 20:20] #185 closed

[2019-04-11 23:15] ManishaTripathy commented on #213
I see id in docker_image.py and image.py. Do we need to replace both or just image_py?
After replacing, we need to run only the changed tests or all tests in general?

[2019-04-11 23:24] nishakm commented on #213
@ManishaTripathy good catch! Please replace `id` in both `image.py` and `docker_image.py`. Hold off on the tests. Let me see if they pass now.

[2019-04-11 23:27] nishakm commented on #213
@ManishaTripathy currently only `test_class_image.py` passes. `test_class_docker_image.py` needs some work still so no need to run that one. The Travis build should cover that case.

[2019-04-12 10:48] yilmi-vmw opened #226 "Usage of tarfile.extractall() function without validating tarfile members"
**Describe the bug**

The usage of the tarfile.extractall() function without validating members could be used to perform archive attacks.

This happens in two places in tern:
- tern/utils/container.py under the extract_image_metadata() function
- tern/utils/rootfs.py under the extract_layer_tar() function

**Expected behavior**

Two things can be done to protect against this attack:

1. Check the

[2019-04-12 13:59] nishakm commented on #226
So this is interesting as the tarballs that Tern works on come from container images built by tools like Docker. It would be really cool to detect such issues with container images. The flip side to this is if most container images folks work with are subject to this attack, Tern can only sternly warn and continue until the problem is fixed in the container images.

A note: It seems that this issu

[2019-04-12 16:29] nishakm commented on #226
On further review of the conversations in the Python issue, I think they're not going to merge their fix any time soon, mostly because the security issues with the Python library inherit from the underlying security issues with `tar`. The suggested method of checking for absolute path, relative path and symlinks are not enough. Furthermore, I think there is a good subset of container images for wh

[2019-04-13 09:44] rparikh commented on #226
@nishakm I would like to work on this if it is not assigned yet. Please let me know.

Thank you, Ravi.

[2019-04-14 22:50] oransimhony commented on #197
Hi!
I've added `# -- coding: utf-8 --` to all python files (excluding `__init__.py` files).
If you want me to add the annotation to `__init__.py` files as well just tell me :)
Would you mind telling me how can I run the tests to make sure I hadn't broken anything before I submit a pull request?
Thanks!

[2019-04-14 22:56] mkrohan commented on #197
Apologies, GitHub markdown consumed some of the comment.  The string that should be added is "` -*- coding: utf-8 -*-`".  See, e.g., https://github.com/vmware/django-yamlconf/blob/master/django_yamlconf/__init__.py  I normally tag init files also as they can contain code.

[2019-04-15 08:02] oransimhony commented on #197
Hi,
I fixed the comments and added them to `__init__.py` files as well.
I've sent a pull request, please tell me if there's anything else I should do.

[2019-04-15 08:57] yilmi-vmw commented on #226
@nishakm, thanks for looking at the best approach to solve it.

I don't know all the current usages of tern, only that if there's a way of reaching one of the highlighted functions, an attack is possible. As it is difficult to define all use cases of any project, I would suggest that we consider the worst case scenario where tern receives untrusted tars on a protected system.

Also, the fact that

[2019-04-15 14:44] nishakm commented on #226
Agree 100%. There are three ways I see we can resolve this:
1. Wait for the patch to the underlying Python stdlib package to be merged
2. Keep the patch along with the rest of the project and apply it when setting up a virtual environment <- This is very cumbersome to do
3. Create a patch that is basically a copy of the above patch and revert it when the above patch gets merged. This one has some

[2019-04-15 14:49] nishakm commented on #226
@rparikh Please hold off until I figure out the best approach for the fix. Thanks for volunteering and stay tuned.

[2019-04-15 21:09] nishakm commented on #226
So here's how we can proceed:
1. Create a new file in `tern/utils` called `tarfile`. Use this file for modules that check a tarball for possible patterns for attack. Use https://bugs.python.org/file47826/safetarfile-4.diff as a reference, and make sure to provide adequate credit (something to the effect of: `# from <link> by <author>`). I don't think we need to subclass Tarfile but we can create e

[2019-04-15 21:10] nishakm commented on #226
@rparikh Do you want to take this on?

[2019-04-16 00:05] rparikh commented on #226
@nishakm yes. I would love to work on this. Thank you, Ravi.

[2019-04-16 01:34] nishakm commented on #226
Awesome!! Note that this is quite a big task, so a series of small commits in the PR is fine. It would be great if you could also write a test for all the modules in this file in `tests` called `test_utils_tarfile.py`. Really appreciate your help!

[2019-04-16 01:35] #218 closed

[2019-04-16 18:27] nishakm commented on #191
Still need to document how to lint code in `CONTRIBUTING.md`

[2019-04-17 04:43] rparikh commented on #226
@nishakm Just wanted to update that I have started working on this. I will be submitting a review soon. As you mentioned, full things will be committed in small batches. Thank you so much, Ravi.

[2019-04-17 19:38] rparikh commented on #226
@nishakm So we will create a class and have methods to examine the content? And we can use tarfile object as an argument and just iterate over each member and decide whether its a risk or not? I am just thinking if we need to have a class if we do not subclass it to Tarfile.  We can have an independent method to examine the content.

Also are we just looking for relative name/symlink issue? or als

[2019-04-17 20:34] nishakm commented on #226
As mentioned, we don't need to create a class that is a subclass of Tarfile. Individual `def`s for each of the checks is fine. The exceptions help as you can raise them when you encounter an issue. Yes, you can have one `def` for iterating over the members of the tarfile and then do a check for each one like the function `_check_member` in the patch I linked to. You can use all of these in one mod

[2019-04-18 13:09] nishakm commented on #186
passing an optional template to the to_dict method of each class does the trick!

[2019-04-18 13:09] #186 closed

[2019-04-19 13:34] #163 closed

[2019-04-19 21:30] SantiagoTorres opened #236 "Should we only pin up to a minor version?"
**Problem Statement**
The way we are defining requirements in `requirements.txt` and `setup.py` pin up to the patch version on dependencies. This seems a little bit too strict for downstream packagers.

**Describe the Proposal**
We should pin the dependencies up to the minor version only using the syntax defined on [PEP-0440](https://www.python.org/dev/peps/pep-0440/#compatible-release)

**Steps t

[2019-04-22 13:11] nishakm commented on #236
Great suggestion! I'm bumping up versions in the next release. I can test it out then.

[2019-04-22 20:31] nishakm commented on #213
Resolved in #231 and #233

[2019-04-22 20:31] #213 closed

[2019-04-24 12:33] nilsmeyer commented on #64
I'm wondering if this could be extended to just point at a file tree, for example as part of a packer build, to create a report for a system before it's being packed into the target image format.

[2019-04-24 12:50] nishakm commented on #64
Do you mean like the Packer example for Docker export?
[code]
If yes, then this is exactly what this issue is for. Basically, don't pull from a registry, create the tarball and then do the untarring, but just do the untarring.

[2019-04-24 13:09] nilsmeyer commented on #64
Forgive me, I don't really know what the current terminology would be, what I want to be able to do is point tern at a root filesystem (or a tarball thereof) and create a report as part of building images for cloud instances (EC2 in my case) so I can use the same format for docker images as well as Machine images.

[2019-04-24 13:53] nishakm commented on #64
It's possible to point tern to a docker image tarball, but not VMs or EC2 instances. Tern is meant solely for the container image use case. You could format the JSON output to match Packer's format. My Packer knowledge is non-existent so I can't be of much help there :(

[2019-04-24 14:24] nilsmeyer commented on #64
My idea was the following:
1. create a tarball from an image of my VM (whatever it may be, this I believe is out of scope for tern)
2. use that tarball as the base for a single layer docker container (similarly to how many OS base images are built, FROM scratch, ADD tarfile)
3. run tern
4. ???
5. profit

I was thinking maybe it's possible to skip all the docker / OCI bits in step2 and work directl

[2019-04-24 16:28] nishakm commented on #64
Why though? You can use the VM's package manager to list out all the installed packages. You're even welcomed to pluck the scripts from `tern/command_lib/base.yml` and write your own VM inspection thingy.

[2019-04-24 16:29] nishakm commented on #64
Or do you specifically like the format in which the information is presented?

[2019-04-25 17:07] nishakm opened #239 "Add mandatory SPDX tags as properties to Package class"
**Description**
Some SPDX tags listed in the document in PR #182 are mandatory and don't have an associated property in the `Package` class. So we have to add these properties and update `tests/test_class_package.py` to account for these properties.

**To Do**
1. Find all the mandatory properties
2. Add them to `tern/classes/package.py`
3. Update the tests for the `Package` class in `tests/test_cl

[2019-04-25 17:15] nishakm commented on #239
`SPDXID: Package SPDX Identifier` <- we'll need to come up with a unique identifier for the package. This need not be a property in the Package class but instead be a method that generates a unique identifier.
`package_name.version` is a good placeholder here.

[2019-04-25 18:41] nishakm opened #241 "Add get_package_id method to the Package class"
**Description**
SPDX documents require a unique package identifier. Add a get_package_id method to the Package class that returns a string like this:
`name.version`

**Implementation**
Something like this, but with appropriate docstring
[code]
**Work Towards**
#239

[2019-04-25 19:42] nishakm commented on #197
Resolved in 83049be6b0b693a90570beac03cc71564133d959

[2019-04-25 19:42] #197 closed

[2019-04-25 20:06] nishakm opened #244 "Add download_url property to Package class"
**Description**
SPDX documents require a mandatory `Package Download Location` as described in PR #182.
Add `download_url` as a property to the `Package` class.
Add a test for the property.

**Implementation**
In `tern/classes/package.py`:
[code]
In `tests/test_class_package.py`, add a `download_url` assert test for `TestInstance`, `TestSetters` and `TestGetters`.

**References**
See other propert

[2019-04-25 20:38] nishakm commented on #239
`Files Analyzed` is a SPDX requirement which I don't understand yet. I'm not sure if that indicated that tern has found files that may be associated with a package or layer or image or if it means that it has analysed files in general. Now I would not include it in the Package class.

[2019-04-25 20:49] nishakm opened #245 "Split "License" into "License" and "Copyright""
**Description**
There is a difference between the License name and the actual Copyright text. This means that the properties in the Package class need to change and the retrieval methods need to change

**Implementation**
1. Add "copyright" to the Package class
2. Add a method of retrieval for "copyright" text

**References**
Some places in the code base to look for reference implementations if an

[2019-04-25 20:50] nishakm commented on #239
We'll add `Copyright` to the Package class, but `Declared license` will be a blanket `NOASSERTION`

[2019-04-26 18:32] nishakm opened #246 "Tern is not pulling data from cache"
**Describe the bug**
Tern isn't pulling data from cache.yml

**To Reproduce**
Steps to reproduce the behavior:
1. Clear cache by running `tern -c`
2. Run `tern report -i <image> -f output.txt`
3. Run step 2 again
4. Look at tern.log and you will see messages that it is running the commands again rather than retrieving the metadata from the cache.
5. Look at cache.yml. It is populated.

**Expected

[2019-04-26 19:43] nishakm commented on #246
The problem is that the cache is not recording image information.

[2019-04-26 21:24] ericwb opened #247 "Develop a GitHub Action to run Tern"
**Describe the Feature**
GitHub supports a wide variety of GitHub actions to run various actions, all based on containerized programs. I think Tern could be a good "action" to run as part of a deployment workflow.

https://github.com/marketplace?type=actions

**Use Cases**
Before a container is deployed to DockerHub, could be useful to have an action to run Tern to check the compliance of it.

**I

[2019-05-01 19:48] #246 closed

[2019-05-03 18:54] #245 closed

[2019-05-03 18:54] #219 closed

[2019-05-03 20:02] #241 closed

[2019-05-03 20:18] nishakm opened #251 "Add a test for get_package_id method in Package class"
**Description**
Add a test in `tests/test_class_package.py` called testGetPackageId

**Implementation**
Check to see if the method returns a string containing the package name and version.
For example, the test currently has an object `self.p1`. Test if `self.p1.get_package_id` returns "p1.1.0"

Make sure the tests in `test_class_package.py` pass.
[code]
**References**
See other tests in `test_cla

[2019-05-03 20:19] nishakm commented on #251
@rnjudge Would you like to try this one?

[2019-05-03 20:57] rnjudge commented on #251
@nishakm sign me up!

[2019-05-04 02:08] nishakm commented on #251
@rnjudge awesome! It's yours.

[2019-05-06 15:34] nishakm opened #252 "Create template for SPDX tags"
**Description**
Using the Template base class, create a template for SPDX

**To Do**
Create template for SPDX using the Template class
This task is dependent on #244

**Background**
#174 for the super issue to enable SPDX document
#239 for the mandatory tags added in the property class -> this is mostly done. #251 Is still open to do but is not a blocker for this task
#182 for reference documentat

[2019-05-06 15:43] nishakm opened #253 "Create a function to create SPDX document"
**Description**
Create a function to create SPDX document.
This is probably more involved than writing one function. So we do this in a number of steps

**To Do**
1. Create a folder `report/spdxtagvalue` (this should not affect current operation)
2. Create a file called `generator.py`
3. Write out implementation of generating SPDX document here
4. Any formatting can be done in a file called `forma

[2019-05-06 15:51] nishakm commented on #244
#252 is dependent on this so will take it on.

[2019-05-06 16:04] nishakm opened #254 "Rename 'src_url' to 'proj_url'"
**Problem Statement**
The term `src_url` is misleading as the scripts do not retrieve the source url. Usually the method of recovering sources is varied and more complicated. There is already a listing tag called `src` which covers this scenario.

**Describe the Proposal**
Replace all instances of `src_url` with `proj_url` to reflect what gets retrieved.

**Steps to Implement Proposal**
Replace al

[2019-05-06 18:47] #244 closed

[2019-05-06 18:50] nishakm commented on #239
#251 should be resolved before this issue is resolved

[2019-05-06 18:51] nishakm commented on #252
#244 is resolved so working on this.

[2019-05-07 01:21] nishakm commented on #252
Resolved in https://github.com/vmware/tern/pull/256

[2019-05-07 01:21] #252 closed

[2019-05-09 13:17] #251 closed

[2019-05-10 00:34] #254 closed

[2019-05-10 13:35] #253 closed

[2019-05-10 13:46] nishakm commented on #239
#251 is resolved

[2019-05-10 13:46] #239 closed

[2019-05-10 14:00] nishakm opened #260 "Enable option --format, -m to take in a formatting module"
**Description**
Add a command line argument --format,-m to take in a formatting module. A formatting module is one of the modules in `tern/report`. The only one there is `spdxtagvalue`.

Add checks for argument --format and if present then check to see if a module like that exists. If yes, then import the generator, if not exit gracefully. This check should probably be done before analyzing an ima

[2019-05-10 18:04] nishakm opened #261 "Allow for rootless mount and inspection for single layer container images"
**Problem Statement**
It is possible for a non-root user to mount a filesystem and run commands against it using `unshare`. It isn't possible to do this using overlayfs (unless you were using ubuntu's modified kernel). There are container images out there that are built with no layers, i.e., they have a single filesystem. So it is possible to run tern as a non-root user if the container only has o

[2019-05-13 14:02] nishakm opened #262 "Isolate docker functionality into it's own analysis module"
**Problem Statement**
Currently Tern only supports docker-related analysis. In the future, however, there might be different types of container formats that we would also like to support. In order to make this integration easier in the future, we should separate docker reporting from other types of potential reporting.

The analysis code for a container image is all in one module `report.py`. We s

[2019-05-13 15:24] nishakm opened #263 "Incorrect reporting with failure in running fs_hash.sh"
**Describe the bug**
If there is any failure in the script fs_hash.sh, the error message that gets reported is `WARNING - report - Cannot retrieve full image metadata`.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with machine with no `attr` installed
2. Run `tern report -i hello-world`
3. See log - says WARNING - report - Cannot retrieve full image metadata

**Error in terminal**
[

[2019-05-13 16:58] nishakm opened #265 "Plug in reporting using a reporting module's generator"
**Description**
Connect the SPDX report generator to the main script.

**To Do**
1. Use `importlib` to import the generator module to generate a report. Return the report.
2. Use `generate_report` as the place to call the plugging-in function and get the report.
3. Use `write_report` to write to a file

**Background**
This is dependent on https://github.com/vmware/tern/pull/264

**Super Issues**
#

[2019-05-13 16:58] #260 closed

[2019-05-15 02:48] #265 closed

[2019-05-15 15:25] nishakm opened #268 "Tern doesn't split shell commands separated by a ';'"
**Describe the bug**
Tern doesn't split shell commands separated by a ';'

**To Reproduce**
1. Run `tern report -i golang:1.12-alpine -f output.txt`
2. See output.txt:
[code]
**Error in terminal**
No Error

**Expected behavior**
`apk` is a known package manager, so Tern should be able to report all the packages installed by this line. -> `bash gcc musl-dev openssl go`

**Environment you are runnin

[2019-05-15 18:13] nishakm opened #271 "Add 'checksum_type' to checksums"
**Problem Statement**
There are other hashing algorithms than SHA256 that tools can use

**Describe the Proposal**
Incorporate checksum_type into ImageLayer and Image classes

**Steps to Implement Proposal**
1. Modify the classes and tests such that there is a `checksum_type` property and a `checksum` property. See how the FileData class implements this.
2. Modify places in the code where `SHA256`

[2019-05-16 13:41] nishakm commented on #180
Resolved in https://github.com/vmware/tern/pull/273

[2019-05-16 13:41] #180 closed

[2019-05-16 13:43] nishakm commented on #174
Once review of PR https://github.com/vmware/tern/pull/270 is done, we can resolve this.

[2019-05-16 17:57] #191 closed

[2019-05-20 20:33] nishakm commented on #236
@SantiagoTorres do you know if there is any way to override the `requirements.txt` file in `setup.py`? This is to pin the dependencies to the patch version for all direct and indirect dependencies for a particular release.

[2019-05-20 20:36] SantiagoTorres commented on #236
Hmmm, interesting. `setup.py` reads `requirements.txt` dynamically at build/dist/sdist time, so I'm sure we can add some logic in there, but I'd have to dig in and figure what's the best way forward. I'll keep you posted!

[2019-05-21 19:40] nishakm opened #277 "SPDX: Add "LicenseRef-" to licenses and conjugate each license with "AND""
See https://github.com/vmware/tern/pull/270#issuecomment-494484166 for suggested quickfix to the licenses not adhering to SPDX license format.

[2019-05-21 22:34] #277 closed

[2019-05-22 15:10] nishakm opened #281 "Use SPDX license mapping for SPDX format"
**Describe the Feature**
Currently the default way to list the licenses is using the LicenseID and adding some text to it.
This can be augmented my using a mapping of known interpretations of these license strings.
This issue in spdx-tools-python enables this: https://github.com/spdx/tools-python/issues/106

Once resolved, use this module to map out license strings to SPDX license formats.

[2019-05-22 15:13] nishakm commented on #174
PR #270 review and fixes is done. Resolving.

[2019-05-22 15:13] #174 closed

[2019-05-24 00:30] nishakm commented on #175
This one needs some culling of information especially at the image level. Some of the config information may not be needed.

[2019-05-30 17:47] nishakm opened #284 "Allow tern to use an external tool as an analyzer for container images"
**Describe the Feature**
Have tern use an external analyzer to analyze the filesystem's contents in a container image

**Use Cases**
- Hook up an external file scanner (like scancode)
- Hook up an external database querying tool
- Hook up a security scanner

**Implementation Changes**
- Allow room in the layer object to hold the output of the tool
- Give a command line argument to run the tool
- I

[2019-05-31 01:17] nishakm opened #286 "Enable Prospector scanning for every PR"
**Problem Statement**
There are no linting tests for PRs

**Describe the Proposal**
Use Prospector to run linting tests for PRs

**Steps to Implement Proposal**
Trigger a Circle CI test that will run Prospector on the code for every PR

[2019-05-31 01:19] nishakm commented on #139
Reopened issue - implementing this using Circle CI now. There is a possibility of using an orb here but this needs investigation

[2019-05-31 01:23] nishakm opened #287 "Create a build and release pipeline for tern"
**Problem Statement**
Tern should be able to create packaged releases to PyPI

**Describe the Proposal**
Create a build and release pipeline using Circle CI

**Steps to Implement Proposal**
This issue will be a super issue for the steps to implement the build and release pipeline

[2019-06-01 03:10] #210 closed

[2019-06-03 20:36] ericwb opened #291 "The badge for the build still points to TravisCI"
**Describe the bug**
Now that CircleCI is integrated and replacing TravisCI, the badge link in the readme should also be updated.  It still points to https://travis-ci.com/vmware/tern

**To Reproduce**
Steps to reproduce the behavior:
1. Go to README
2. Click on badge for build
3. Notice you are redirected to https://travis-ci.com/vmware/tern

**Expected behavior**
Should point to CircleCI site in

[2019-06-03 20:58] #291 closed

[2019-06-04 12:44] nishakm commented on #286
Resolved with https://github.com/vmware/tern/pull/290

[2019-06-04 12:44] #286 closed

[2019-06-07 08:37] davidgibsonadi opened #294 "pip install fails with missing dependency for wheel on Ubuntu 18.04"
**Describe the bug**
When following the installation instructions for Linux, using Ubuntu 18:04 (from the docker ubuntu:18.04 docker image) I get a failure when running setup.py for bdist_wheel

**To Reproduce**
Steps to reproduce the behavior:
1. Create docker image using the following dockerfile:
  FROM ubuntu:18.04
  WORKDIR /tern
  RUN apt-get update
  RUN apt-get install -y git docker python3

[2019-06-07 12:54] nishakm commented on #294
@davidgibsonadi Thanks for filing an issue! Tern won't run in a Docker container unless it is privileged and has access to the host machine at this time. Try following these instructions: https://github.com/vmware/tern#getting-started-with-docker

[2019-06-07 12:56] davidgibsonadi commented on #294
Thanks @nishakm  sorry I should have looked there first :)

[2019-06-07 12:57] nishakm commented on #294
Also, using `pip3 install .` rather than `pip install .` should get rid of the `bdist_wheel` error.

[2019-06-07 12:57] #294 closed

[2019-06-07 19:09] #138 closed

[2019-06-07 20:28] #268 closed

[2019-06-07 21:08] nishakm opened #301 "Allow linting of commit messages"
**Describe the Feature**
In a CI/CD pipeline, test for commit message format.

**Use Cases**
This is useful for maintainers. Commit messages are formatted differently on the GitHub UI and so it's hard to review the original commit message format using the UI.

**Implementation Changes**
There are no available GitHub apps that help with this. So a developer tool needs to be created. This is also he

[2019-06-11 15:44] rnjudge commented on #301
There is a circleci orb to help with this: https://circleci.com/orbs/registry/orb/orbss/git_commit-message-validator

[2019-06-11 17:27] rnjudge commented on #301
Nisha and I looked at the possibility of using two orbs:

1)  https://circleci.com/orbs/registry/orb/orbss/git_commit-message-validator
We concluded that this was not going to work because there was no way to provide informative feedback to the committer. There was only a way to give a generic error message.

2) https://circleci.com/orbs/registry/orb/dialogue/git
This orb required us to provide a

[2019-06-11 20:16] #301 closed

[2019-06-11 20:25] rnjudge opened #303 "Separate bandit and prospector linting in circleci"
**Describe the Feature**
Separate prospector and bandit linting steps into two separate workflows

**Use Cases**
This will be helpful to separate circleci output after a PR is created.

**Implementation Changes**
Edit the .circleci/config.yml file to seaprate bandit and prospector into two seaprate workflows. The bandit workflow can be called 'security'

[2019-06-11 23:23] #303 closed

[2019-06-12 13:05] nishakm commented on #139
We haven't found an orb that does this. Falling back to figuring out how to write conditional tests.

[2019-06-12 13:33] nishakm commented on #139
https://github.com/CircleCI-Public/config-preview-sdk/blob/0d39520bb81ffac555c3ec75f616aa4f8e2e697b/docs/conditional-steps.md#conditional-steps

Means the condition needs to be predefined (not evaluated at runtime) which we cannot do. So this has to be written as a test.

[2019-06-12 14:53] joshuagl opened #309 "Commit message linter only checks top-most commit in a git tree"
**Describe the bug**
The git commit linter `test_commit_message.py` introduced in #302 only checks the git `HEAD` (usually the top-most commit in the current git branch). Therefore for multi-patch pull requests only the final patch has its commit message linted.

**To Reproduce**
Steps to reproduce the behavior:
1. add a commit that violates the commit message policy to tern
2. add a commit that c

[2019-06-12 15:06] nishakm commented on #309
We expected CircleCI to run the test on every commit in a PR but apparently it doesn't. So we'll put in a fix. Thanks for catching it!

[2019-06-12 23:33] #309 closed

[2019-06-14 13:20] nishakm opened #317 "Create a script that will drop you into a specified layer in the container image"
**Describe the Feature**
We have verify_invoke.py which will test to see if the commands in base.yml and snippets.yml will produce expected results. But we don't have any help to examine a container image itself. Create a script which will drop you into a shell at a specified layer.

**Use Cases**
This is useful for debugging images that have more than 1 layer. Some images have more than 10, so it

[2019-06-14 23:47] rnjudge commented on #139
Manually closing. This change was resolved in #318

[2019-06-15 01:33] rnjudge opened #321 "Remove bandit from circleci"
**Description**
We had initially enabled Bandit in circleci when we thought that Prospector was interfering with running circleci properly. Now that Prospector and circleci are running in harmony we can disable Bandit from running for each PR.

**To Do**
In .circleci/config.yml.
1) Remove the 'security' job:
#security linting using Bandit
 security:
   executor: ubuntu1604
   steps to run Bandit

[2019-06-15 01:39] rnjudge opened #322 "Make test_suite a dictionary of lists instead of lists and strings"
**Description**
The test_suite dictionary in 'ci/test_files_touched.py' currently contains values of mixed types (both strings and lists of strings). As a result, we have to check for the instance type when we are adding the tests to the alltests string (line 117). An simpler way to do this would be to have a dictionary of only lists and remove the instance type check.

**To Do**
1. Change all sin

[2019-06-17 12:52] #139 closed

[2019-06-17 13:30] nishakm opened #323 "PEP8 linting by Prospector is not accurate"
**Describe the bug**
The current prospector operation does not catch PEP8 errors in the code.

**To Reproduce**
Steps to reproduce the behavior:
[code]
pycodestyle is a dependency for Prospector, however Prospector doesn't seem to be using it.

**Error in terminal**
See above

**Expected behavior**
Prospector should run `pycodestyle` and catch such PEP8 errors.

**Environment you are running Tern

[2019-06-17 16:34] nishakm commented on #287
PyPI and Dockerhub require creds to be entered in order to upload artifacts. CircleCI allows one to store creds as env vars. We still need to decide whether this is a good idea or not. Based on that, we will just do some documentation on what the process is and push artifacts manually.

[2019-06-17 21:22] #322 closed

[2019-06-18 18:16] rnjudge opened #330 "Edit 'description' in setup.py"
**Description**
The current description for the Tern project in setup.py is:
"An inspection tool to find the metadata of the packages installed in a container image."  Change this description to be more accurate.

**Implementation**
Change the 'description' in setup.py to say: "An inspection tool to find the OSS compliance metadata of the packages installed in a container image."

**References**
M

[2019-06-18 19:36] rnjudge opened #331 "Add long_description_content_type to setup in setup.py"
**Description**
twine will not upload to pypi (or testpypi) with the current formatting of Tern's setup.py and README.md. The error I see is:

This is because the long_description reads from README.md and the expected file type is README.rst.

**Implementation**
Instead of converting README.md to .rst format, we can simply add the following line under long_description in setup.py:
[code]

**Refere

[2019-06-18 20:11] nishakm commented on #323
Prospector will run pycodestyle only when given individual files
[code]
There is a PR open to fix the issue: https://github.com/PyCQA/prospector/pull/199

[2019-06-18 20:15] nishakm commented on #323
Prospector also doesn't accurately catch all the pep8 errors that pycodestyle catches
[code]
vs.
[code]

[2019-06-18 23:11] nishakm commented on #323
A quick fix to this issue would just be to use pycodestyle along with prospector.

[2019-06-18 23:24] nishakm commented on #323
A compromise would be to run prospector on each change. This means making a change to the ci scripts such that for each file that has changed, run prospector.

[2019-06-19 00:02] rnjudge opened #332 "Update base.yml with pkg_format for each package manager"
**Description**
For each package manager section in tern/command_lib/base.yml (tdnf, dpkg, apk, pacman, rpm) add the pkg_format for each manager. For example, dpkg works with .deb files. The file_format for dpkg would be 'deb.'

**To Do**
1) Edit tern/command_lib/base.yml and add a line under each package manager for pkg_format. For example, under tdnf, the diff would look like this:

[code]

**Ba

[2019-06-19 17:32] rnjudge opened #335 "Add pkg_format attribute plus getting and setter methods to image_layer class"
**Description**
Add pkg_format to tern/classes/image_layer.py. This includes adding the attribute in the `__init__ ` method and adding the `@property` python decorator for the getter method. Also add a `@pkg_format.setter` method. Lastly, write a test in tests/test_class_image_layer.py to test for the pkg_format property.

**To Do**
1) Add pkg_format attribute to __init__ in tern/classes/image_lay

[2019-06-19 18:02] #323 closed

[2019-06-19 18:55] rnjudge opened #337 "Write check_pkg_format function to check for pkg_format key in command_lib"
**Description**
Write a function called `check_pkg_format` in tern/command_lib/command_lib.py that takes a binary package manager as input and checks in the command_lib dictionary to see if there is an associated key called pkg_format. If the key exists, return the value of the pkg_format key. Otherwise, return an empty string.

**Background**
The purpose of this task is to break up the super issu

[2019-06-20 00:02] rnjudge opened #338 "Write get_os_style function to help determine OS flavor"
**Description**
In tern/helpers/common.py Write a function that accepts an image_layer object and a binary as inputs.
1) Give the binary to `check_pkg_format` (issue #337) and get the result
2) If the result is non-empty, then assign the value to the image_layer's `pkg_format` property using the setter method (from issue #335)
3) If `check_pkg_format` returns empty, add a notice to origins of the

[2019-06-20 14:32] nishakm commented on #317
The "shell environment" part of the issue will be filed in another issue. For now, the debugging is enough to the part where all the layers until the specified layer is mounted and the directory is changed to the working director. From there one can do `sudo chroot . /bin/sh' and create a shell session themselves.

[2019-06-20 20:57] #330 closed

[2019-06-21 00:09] #317 closed

[2019-06-21 13:12] manaswinidas commented on #321
I'm interested to work on this issue

[2019-06-21 14:40] #331 closed

[2019-06-24 17:16] #332 closed

[2019-06-24 20:05] #335 closed

[2019-06-24 22:21] #337 closed

[2019-06-24 22:22] rnjudge commented on #321
Closing this issue for now as Prospector only runs for PRs. Therefore, we need to keep Bandit for when we merge changes to master.

[2019-06-24 22:22] #321 closed

[2019-06-26 19:48] khayamgondal commented on #183
@nishakm Is it stil open? I can take it.

[2019-06-26 20:23] rnjudge commented on #183
Nisha is out until July 22nd and we will review all PRs once she returns but this issue is still open. Please feel free to work on it.

[2019-06-28 13:26] dineshr93 opened #353 "/usr/bin/python3: No module named tern error in vagrant running in windows 10 Personal computer"
**No module named tern**

The documentation is insufficient

I used vagrant up with tern project in my local drive

**To Reproduce**
Steps to reproduce the behavior:
1. I followed the vagrant procedure as mentioned in the **https://github.com/vmware/tern/blob/master/README.md#getting-started-with-vagrant**
2. when I run the "python -m tern -l report -i debian:buster -f output.txt" command
3. Pytho

[2019-06-28 17:55] khayamgondal commented on #183
@r-raghu who /where can I find the supported package managers and methods to get them?

[2019-06-28 20:47] rnjudge commented on #353
Hi @dineshr93, thanks for filing this issue.

Please try to cd into the tern directory on the vagrant VM  before you run the command in question. You are correct that you will likely need to use python3 for the command and this should be updated in the documentation.

When I replicate the steps you mentioned and cd into the tern directory on the created VM, Tern runs without issue. If I run the co

[2019-07-01 09:02] joshuagl commented on #161
Before guessing what the OS is based on the package manager you could check the [`os-release`](https://www.freedesktop.org/software/systemd/man/os-release.html) file, which is a standard configuration file in modern Linux-based OS.

Where the container builder hasn't stripped this as an extraneous file you'll get much more complete results, not only can you determine the exact distro and version w

[2019-07-01 15:33] rnjudge commented on #161
I think this a good point that /etc/os-release will have the most reliable information. While this file may not always be present in a container image, I agree that we should at least check the file and if it does not exist we can fall back on base.yml for suggestions. Thanks, Josh!

[2019-07-02 21:36] khayamgondal commented on #183
@rnjudge @nishakm can you guide me where exaclty in code we retrive the pacakge information?

[2019-07-02 23:38] rnjudge commented on #183
@khayamgondal The Package class under tern/classes/package.py is where all of the information related to a package will be. This is where you will want to add the checksum property as well.

[2019-07-11 21:08] rnjudge commented on #263
@nishakm Could we log an error message in tern/utils/rootfs.py where we directly call fs_hash.sh? This would result in both an error and warning message, but I don't think they necessarily need to be mutually exclusive. I'm thinking something like this when I run Tern on a system without attr:

[code]

Lastly, do you think it would it be helpful to put a hint to the user that the issue _could_ be

[2019-07-12 01:42] nishakm commented on #263
@rnjudge Typically the `root_command` function in `tern/utils/rootfs.py` should report out what the actual failure is. So if there is no `attr` installed the script should error out with something like `no such command` or something like that. The `root_command` function should return a message with this command. I get the feeling it is not doing it. It would be awesome if you could test this part

[2019-07-12 16:10] rnjudge commented on #263
@nishakm I think the issue is that even if you run the fs_hash.sh script without attr installed, it returns 0. See the example below.

[code]
I'll take further look and see what I can do!

[2019-07-12 23:28] rnjudge commented on #263
`root_command` is properly raising `CalledProcessError` when fs_hash fails. I wonder if it's not capturing the error message because it is too big to print somehow or perhaps the wrong format. If I run` tern -l report -i debian:buster -f` on a system without attr there are 10,372 lines(!) of error message captured in the `error` byte object passed to `output` in this line:
` raise subprocess.Calle

[2019-07-15 05:11] rnjudge commented on #263
I think the issue lies in passing `error` to `output` in this line in `root_command()`:

`raise subprocess.CalledProcessError(1, cmd=full_cmd, output=error)`

According to the [documentation](https://docs.python.org/2/library/subprocess.html) about the subprocess.CalledProcessError exception:
[code]

Since we are collecting `error` from `subprocess.communicate()`, the output defaults to `None`. If

[2019-07-15 13:05] ravenpride opened #361 "Tern with kaniko"
Hello Tern Team,

I'd like to know whether it is possible to use Tern with [kaniko](https://github.com/GoogleContainerTools/kaniko) instead of the usual docker daemon. Kaniko allows to build docker images completely in userspace. Our CI pipeline uses kaniko as it runs in kubernetes and providing containers access to the docker daemon is risky, if the workload (the CI job) is not known in advance.

[2019-07-15 15:02] nishakm commented on #263
@rnjudge from your findings on the fs_hash.sh output, I think a better shell script that will fail gracefully is needed rather than trying to deal with the ridiculously long error message. My understanding is that `CalledProcessError` is the generic `subprocess` exception, but maybe I'm wrong here. We could raise a generic exception instead.

[2019-07-15 15:21] nishakm commented on #361
@ravenpride Thanks for your question! Tern only requires the docker daemon to run for `pull, save, images and build` APIs. If Kaniko has equivalent Python APIs (or commands to shell out to), then it's possible to extend Tern to use Kaniko.

Some work is needed to get it to that stage though. Can you help with identifying a Python API for Kaniko or Kaniko equivalent for the above Docker commands?

[2019-07-15 18:25] ravenpride commented on #361
@nishakm Thank you for your quick response. I'm afraid that kaniko does not work that way. Kaniko builds an image using a specific Dockerfile and pushes the resulting image straight to the specified registry. As far as I can see, there is no API except the one call to trigger the entire workflow :-/

If someone knows it better, please let me know - that would be a really great feature!

[2019-07-20 01:32] nishakm commented on #183
@rnjudge This looks good to me, but I'd like you to take a look as well to see if I haven't missed anything.

[2019-07-22 20:56] rnjudge opened #362 "Wrap python2.7 error message with user-friendly error message"
**Describe the Feature**
If you run Tern in an environment that defaults to Python2.7 you get the following output:

[code]

I propose wrapping the raw output with a more user-friendly error message. Something to the effect of "Error running Tern. Please check that python3 is configured as default."

**Use Cases**
This would be helpful to new users who do think they have python3 installed on their

[2019-07-23 00:25] rnjudge commented on #263
@nishakm Interestingly enough, Tern is *able* to run without `attr` installed and generate a relatively informational output.txt. But if we want to require attr to be installed in order to run, what do you think about the following:

1) Change `fs_hash.sh` to output any error messages from running the script into an output file that the user can examine after the fact. This will also be helpful if

[2019-07-26 17:49] #183 closed

[2019-07-26 17:53] #209 closed

[2019-07-26 17:56] #353 closed

[2019-07-26 19:29] #161 closed

[2019-07-26 19:29] #338 closed

[2019-07-26 21:28] nishakm commented on #236
So I think for now, we will just create a release.txt file that will have the full requirement list for informational purposes and pin the requirements.txt file to just the minor version.

[2019-07-29 13:19] nishakm opened #363 "Deprecate the default verbose report"
**Problem Statement**
The default verbose report is too long and has too much information for any person to sift through.

**Describe the Proposal**
Either replace the verbose report or replace it with a report that summarizes the general nature of the container image. It can contain:
* What BaseOS if Tern can find it
* Only report on package names and their versions
* Give a summary of licenses f

[2019-08-02 22:43] #211 closed

[2019-08-02 22:43] #287 closed

[2019-08-04 16:56] AyahRamahi commented on #362
I am a beginner, but I would like to work on this issue, can I?

[2019-08-05 15:23] rnjudge commented on #362
@AyahRamahi Go for it! We always love help. Let us know if you have any questions.

[2019-08-05 17:49] #263 closed

[2019-08-06 02:02] #236 closed

[2019-08-06 16:18] nishakm opened #366 ""warning: Unable to determine the base OS" for an image with an os-release file"
**Describe the bug**
I used tern on a distroless image. I got a warning:
[code]
This image has an os-release file: /etc/os-release

**To Reproduce**
Steps to reproduce the behavior:
1. Run: `tern -kl report -i gcr.io/distroless/base:latest`
2. See warning:
[code]
3. Go to `temp/mergedir/etc` and see os-release file.

**Expected behavior**
Tern should report what is in the os-release file and not g

[2019-08-06 16:26] nishakm opened #367 "tern --version should report git commit if working from a git repo"
**Describe the Feature**
Currently `tern --version` reports whatever the variable `Version` is in the code. If working from a git repo, have it report the git commit sha1.

**Use Cases**
If a developer is working on top of master or a development branch and they come across an issue, it would be helpful that they report the git commit rather than the version as the development branch would have pr

[2019-08-07 13:58] #367 closed

[2019-08-07 22:20] rnjudge opened #370 "Incorporate plugin architecture to Tern"
**Problem Statement**
Currently, Tern and all of its reporting are under the same core application code. It would be nice to separate some of the reporting functionality in to separate plugins. Enabling Tern for plugins will also help achieve better extensibility for the project as there is potential for external tools to plug in to Tern's ability to gather a container image's internals.

**Descri

[2019-08-09 13:34] #366 closed

[2019-08-09 19:58] nishakm opened #373 "Fake bug - testing a label"
THIS IS A FAKE BUG!!!

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Error in terminal**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment you are running Tern on**
Enter all that apply
-

[2019-08-09 19:59] nishakm commented on #373
Yup! The GitHub good first issue button is hyphen sensitive :)

[2019-08-09 19:59] #373 closed

[2019-08-12 13:35] nishakm commented on #226
@rparikh Are you still working on this? We need this solved urgently as it does pose a security issue. You can submit a PR with "WIP" in the title and I can take over from where you left off if you are not finding the time to finish. Would this be OK with you?

[2019-08-12 17:28] rnjudge opened #374 "Add a yaml file dependency document that lists transitive dependencies"
**Problem Statement**
When we cut a release, it would be helpful to see a list of all the dependencies, ordered by which package pulls them in.

**Describe the Proposal**
List these dependencies in yaml format so we can easily parse the list later down the road.

**Steps to Implement Proposal**
pip freeze will give you the list of deps but not which are transitive and which are the primary require

[2019-08-13 00:41] nishakm commented on #193
This doesn't happen anymore. Closing.

[2019-08-13 00:41] #193 closed

[2019-08-13 17:55] nishakm commented on #281
Tabling until we can figure out if tern can aggregate SPDX documents produced by other tools.

[2019-08-16 17:24] nishakm commented on #374
Closing this in favor of using pip-tools.

[2019-08-16 17:24] #374 closed

[2019-08-16 17:42] nishakm opened #386 "Use pip-tools to manage snapshotted dependencies"
**Problem Statement**
Currently, we have loose pinning of dependency versions for the benefit of developers and downstream packagers. But we no longer have the strict pinning of dependencies for releases.

**Describe the Proposal**
Proposed solution: use pip-tools and some release process changes

1. Create a requirements.in file that only has the direct dependencies (right now that's only PyYAML

[2019-08-16 22:49] nishakm opened #387 "Add pip-tools and requirements.in"
**To Do**
1. Add pip-tools to dev-requirements.txt
2. Add requirements.in file

**Super Issues**
#386

[2019-08-16 22:51] nishakm opened #388 "Modify release checklist to use pip-tools"
**To Do**
Document the steps listed in #386 in release_checklist.md

**Super Issues**
#386

[2019-08-16 22:55] nishakm opened #389 "Update PyPI deployment script to use the release requirements file"
**Description**
This tasks should modify the CircleCI config.yml file to run steps when tagging a release listed in #386

**Super Issues**
#386

[2019-08-16 23:35] nishakm opened #390 "Revisit CLI options"
**Problem Statement**
The command line options seem cluttered. Let's try to structure them better

**Describe the Proposal**
Because we are dealing with user interface and downstream use, this will break API and hence qualify for a major version increase

[2019-08-19 14:06] nishakm commented on #387
Decided NOT to add pip-tools to dev-requirements.txt and instead install it only when releasing. pip-tools overwrites requirements.txt and there is no way to stop it from doing so.

[2019-08-19 22:33] #387 closed

[2019-08-19 22:34] #388 closed

[2019-08-21 16:12] #389 closed

[2019-08-21 16:38] nishakm commented on #386
All related PRs are closed.

[2019-08-21 16:38] #386 closed

[2019-08-23 11:09] rparikh commented on #226
@nishakm I am really sorry for the late reply on this thread. I have worked on this but could not complete it. Will it be okay if I start the review over this weekend? Though I could not complete it, I would still like to contribute. Please let me know.

[2019-08-23 22:34] #224 closed

[2019-08-23 22:38] nishakm commented on #226
@rparikh sure! Like I said before, if you could submit a PR with `WIP:` in the title I can take over and complete it for you. Your DCO will be included in the commit.

[2019-08-24 16:14] PrajwalM2212 opened #403 "Add doc to install tern in dev mode"
**Problem Statement**
tern can be installed in dev mode. This should be added to docs.

**Describe the Proposal**
Currently, to test changes, users have to uninstall and install tern. This can be solved by using pip install -e. which will install tern in development mode.

**Steps to Implement Proposal**
1. Add extras_require to setup.cfg.
2. Update docs.

[2019-08-25 07:46] PrajwalM2212 opened #405 "Fix DockerImage class unit tests"
**Problem Statement**
The import statements on test files are wrong and need to be rearranged.

**Describe the Proposal**
Describe the change you would like to see in the project.
https://github.com/vmware/tern/blob/master/tests/test_class_docker_image.py
uses
[code]
but
https://github.com/vmware/tern/commit/8092d0fde3059de9115ae485fd7d09cf67642e22 along with a number of PR's had made refactors a

[2019-08-25 07:53] PrajwalM2212 opened #406 "Run tests using `python3 setup.py test`"
**Problem Statement**
The command `python3 setup.py test` is not running the tests.

**Describe the Proposal**
`python3 setup.py test` should be able to run all the tests.
Such functionality will help the developers to know if they are breaking anything with their new features.

**Steps to Implement Proposal**
1. Reorganise import statements in the test files.
2. Add a function in setup.py to load

[2019-08-25 07:58] PrajwalM2212 opened #407 "Add test-coverage"
**Problem Statement**
There must be a way to know the current coverage

**Describe the Proposal**
Currently, tern does not have a feature to know the current test coverage.
Have test coverage is important to make sure that untested code does not get
merged.

**Steps to Implement Proposal**
Install and configure `coverage`

[2019-08-26 19:49] nishakm opened #408 "Remove dev-requirements.txt file"
**Problem Statement**
This depends on #404 being merged.
Once we can install using `pip install -e.[dev]` we don't need to run `pip install -r dev-requirements.txt && pip install .` since `setup.cfg` has the requirements.

**Steps to Implement Proposal**
1. Use `pip install -e.[dev]` in ci scripts
2. Remove `dev-requirements.txt` file

[2019-08-26 19:50] PrajwalM2212 commented on #408
I will work on this

[2019-08-27 18:48] PrajwalM2212 commented on #111
[code]
log statement is `Loaded from cache: layer "a7c88e50ab"`

The yaml output has
<img width="893" alt="Screen Shot 2019-08-28 at 12 13 08 AM" src="https://user-images.githubusercontent.com/30733262/63799059-e935c200-c928-11e9-833c-5ca1e3dff857.png">

Also https://github.com/vmware/tern/blob/74cc9fbe4e51e05b0c31bc381fcf0d47ab2b1a4e/tern/helpers/common.py#L53

So is this issue outdated or am I m

[2019-08-28 13:40] nishakm opened #418 "Allow Tern to pull by digest"
**Describe the Feature**
Currently the `-i` option will only take a string of the format `<repo>:<tag>`. This prevents us from pulling an image by digest.

**Use Cases**
This is helpful for testing or if we want to inspect a specific image not available on disk. This is especially useful because Docker itself does not provide you the image digest once download of the image is complete. i.e. you ca

[2019-08-28 16:06] #408 closed, assigned to nobody

[2019-08-28 18:12] #370 closed

[2019-08-29 14:30] #212 closed

[2019-08-29 16:00] PrajwalM2212 commented on #262
This may have been a duplicate of https://github.com/vmware/tern/issues/212

[2019-08-29 16:19] nishakm commented on #262
No, we want to be able to detach generating the report from analyzing the image. There are actually several steps needed to do this, one of them being #212.
1. Create analyze folder with its own __init__.py so now it's a module
2. Move analyze.py to that module
3. Separate the Dockerfile building and mapping from the raw image analysis
4. Create a place for container image plugins for functions li

[2019-08-29 17:55] rajibmitra commented on #407
I would love to work on this , if  needed.

[2019-08-30 07:07] Katsunori04 opened #430 "When Tern executes fs_hash.sh, it cannot cd to the contents directory."
Hello, Tern Team.
When I tried to analyze the "yarara / base: v1" image, Tern output the following error.
Tern can't use command's "cd".
Is it my environmental problem or the Tern specification problem?

**Problem Statement**
When Tern executes fs_hash.sh, it cannot cd to the contens directory.

**To Reproduce**
[code]

[2019-08-30 12:57] nishakm commented on #430
Hello!

Thanks for trying tern out! I can recreate this issue and will debug it today. Would you mind filing an issue on GitHub for this?

Nisha Kumar
Open Source Engineer
VMware Open Source Technology Center

On Aug 30, 2019, at 12:07 AM, Katsunori Fukui <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello, Tern Team.
When I tried to analyze the "yarara / base: v1" image, Ter

[2019-08-30 14:05] nishakm opened #431 "SPDX documents don't validate for empty licenses"
**Describe the bug**
SPDX documents no longer are validated using this tool: http://13.57.134.254/app/validate/

**To Reproduce**
Steps to reproduce the behavior:
1. `tern -l report -m spdxtagvalue -i golang:1.12.7 -f golang_1.12.7_spdx.txt`
2. Upload document to the site and click `validate`
3. See error

**Error in terminal**
[code]

**Expected behavior**
This document should validate

**Environ

[2019-08-30 14:34] swinslow commented on #431
Hi @nishakm @rnjudge, I will take a look at this in the next couple of days (away from my computer today) to see if I can reproduce too, and to add thoughts on the tag-value formatting.

[2019-08-30 15:25] nishakm commented on #430
Python3.7's `tarfile` module will not extract these layers.

[2019-08-30 15:38] PrajwalM2212 commented on #430
Yes, `tar.extractall(directory_path)` is raising the error.

[2019-08-30 15:41] nishakm commented on #430
@Katsunori04 it looks like the image you are using is corrupted. See tar error below.

[code]

What happened was that the first layer that tern hit was an empty tarfile, and because of this, tar exited with no error but because nothing was extracted it failed.
We have a bug being worked on that checks tarfile elements before extracting: https://github.com/vmware/tern/issues/226.

Meanwhile, I thin

[2019-08-30 15:42] nishakm commented on #430
What was the other image you used?

[2019-08-30 15:53] rnjudge opened #432 "tern --version returns 'fatal' error message if no local git repo found"
**Describe the bug**
If you try to get the version of tern after a pip install with no tern git repo present, the `tern --version` output gives you a `fatal` error message. Without extensive debug, my haunch is that this issue can be traced to utils/general.py --> get_git_rev_or_version() which tries to do a `git rev-parse HEAD` to get the commit if available. However, if there's no git repository

[2019-08-30 15:55] PrajwalM2212 commented on #430
@nishakm ubuntu:14.04

[2019-08-30 16:11] rnjudge commented on #432
Looks like this was fixed in https://github.com/vmware/tern/pull/425/

[2019-08-30 16:11] #432 closed

[2019-08-30 16:22] nishakm commented on #430
OK, the issue with the `ubuntu:14.04` is a permissions issue rather than a tarball extraction issue. So closing this one.

[2019-08-30 16:22] #430 closed

[2019-08-30 16:26] nishakm opened #433 "Cannot extract tarballs in Ubuntu:14.04 image"
**Describe the bug**
Tern is unable to untar the layers in the ubuntu:14.04 image

**To Reproduce**
Steps to reproduce the behavior:

[code]

On further investigation I see that tarfile gets a permission denied error:

[code]

**Expected behavior**
Tern should be able to work on this image.

**Environment you are running Tern on**
[code]

[2019-08-30 16:47] nishakm commented on #226
@rparikh I still haven't seen a PR from you. I'm going to continue to work on this. You can work on something else when you get the time. Thanks for trying!

[2019-08-30 16:54] Katsunori04 commented on #430
Thank you so much. I feel that the image is damaged. I didn't notice.
I also found similar errors in other images.

I feel this is not a corruption error. However, the contents of the tarfile are missing. Is this issue affected by # 226?

**To Reproduce**
'''
vagrant@ubuntu-bionic:~$ tern -l -k report -i nubs/arch-build:latest
fatal: not a git repository (or any of the parent directories): .git
20

[2019-08-30 17:16] nishakm commented on #430
@Katsunori04 I'm not sure about the status of the images you are testing here, but if the contents of the tarfile are missing, tern can't give you any information anyway.

[2019-08-30 17:26] rnjudge opened #434 "Default report claims package manager + shell missing"
**Describe the bug**
tern/report/analyze.py --> analyze_docker_image() attempts to get the binary before an image layer is mounted, which results in no binary being found. Since no binary is found, the output report cannot find the package manager or shell associated with the binary that it thinks does not exist.

**To Reproduce**
Run:
`tern -l report -i debian:buster -f output.txt` with the lates

[2019-08-30 21:11] #434 closed

[2019-08-30 21:20] rnjudge commented on #431
@nishakm @swinslow For what it's worth, it doesn't validate output going all the way back to tern-0.4.0. I tried with spdxtagvalue output from the latest commit, tern-0.5.4 and tern-0.4.0 and got the same error for all 3 output files. So I would be curious if something changed on the spdx side of the validate app as well. Do either of you know the last time it was confirmed that Tern's spdxtagvalu

[2019-08-30 21:20] nishakm commented on #226
#435 will also resolve this
1. We use the system tar utility as CVE-2013-4420 has been fixed in libtar since 2014 and tern requires a compatible distro dated circa 2015 anyway.
2. Sometimes the container image filesystems cannot be untarred as a regular user as the files may belong to root. So we need to invoke tar as sudo.

[2019-08-30 21:22] nishakm commented on #226
@yilmi-vmw do you think this is reasonable?

[2019-08-30 21:32] nishakm commented on #431
This is the original document that finally passed validation: https://github.com/vmware/tern/pull/270/files

It still passes validation, so I think something regressed in the format. Maybe run tern on the same image and do a diff on the output file and this one.

[2019-08-30 21:53] #418 closed

[2019-08-30 22:13] nishakm commented on #431
@swinslow So the issue we found was that if there are no licenses found, then no license identifier list is generated. This is especially true with debian based images where there is no license metadata. How do we write valid SPDX documents when we can't find any and all of the mandatory tags?

[2019-09-02 14:04] yilmi-vmw commented on #226
@nishakm I have absolutely no problem with this solution as it will indeed mitigate the issue by processing safely the archive.

On your end you will lose the stack after the `tar` archive call and will probably have to handle the executable return error codes on a per case basis.

[2019-09-03 17:12] rnjudge commented on #431
The consensus from the SPDX call on 9/3 is that if there is no license metadata the report should use NOASSERTION, i.e.

`LicenseID = NOASSERTION`

[2019-09-03 18:14] nishakm commented on #226
Depends on #435

[2019-09-04 15:37] rnjudge commented on #431
@swinslow I opened a [PR](https://github.com/vmware/tern/pull/437) according to your suggestion in the SPDX call which fixes the original issue we were seeing related to missing license metadata. However, we still see an issue with validation for debian-based image reports. The issue now is related to how debian can sometimes version their packages with an epoch that uses a colon to separate the e

[2019-09-04 15:44] nishakm opened #438 "Debian based Golang images produce duplicate package and versions"
**Describe the bug**
When using tern on debian based golang images, duplicate package names and versions get reported

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern -l report -m spdxtagvalue -i golang:1.12.7 -f golang.txt`
4. Go to `http://13.57.134.254/app/validate/`, upload golang.txt and click `validate`
3. See error:
[code]
**Error in terminal**
[code]

**Expected behavior**
T

[2019-09-04 23:41] #433 closed

[2019-09-05 16:09] nishakm commented on #438
This error doesn't seem to be happening on master. So it may be an artifact of some other issue. Keeping it open until I find out where it came from.

[2019-09-05 17:06] #431 closed

[2019-09-05 21:19] rnjudge commented on #390
Since separating the json and yaml options into their own plugins, there is no longer information about how to collect json or yaml reports in the --help output:

[code]

More information about how to use the report -m option might be helpful for users.

[2019-09-05 21:56] nishakm commented on #390
You have to do `tern report -h` to get the subparser options. Perhaps the description can be changed from `Create a report` to `Create a BoM report. Run 'tern report -h' for command line options` or something like that.

[2019-09-05 22:04] rnjudge commented on #390
What else would you like to see cleaned up on the command line?

[2019-09-05 22:40] rnjudge commented on #363
I think there are circumstances where it might still be useful to generate a verbose report. What about moving the verbose functionality into its own plugin while still deprecating the default verbose report in favor of something more concise?

[2019-09-06 04:00] #226 closed

[2019-09-06 12:50] nishakm commented on #390
`-V, --version         show program's version number and exit`
Maybe this should be `-v`?

[code]
Maybe a shorter `--` option

[code]
Maybe change `;` into `.` and same thing for the -k option?

[code]

What do you think about using `-f REPORT_FORMAT, --report-format REPORT_FORMAT` and then using `-o FILE, --output-file FILE`. This way we can use `-m` for something else that might come up.

[2019-09-06 16:39] rnjudge commented on #390
I have seen -v typically used for verbose mode. Do you ever think we will want a verbose report? (I think I already asked you this question in issue #363 but it comes up again)

Agree. Maybe --keep-wd? --kwd to me looks like three different arguments but maybe that's just me.

Sounds good.

Works for me.

[2019-09-06 20:52] nishakm commented on #363
Such as? We already have a JSON and YAML report that dumps everything into a file or to screen.

This could work. I used to think that the verbose report should be the default report but I'm beginning to think that it doesn't help to have so much information in one place. It can be overwhelming. Instead, an idea of what the container looks like and what license issues it might have would be more u

[2019-09-06 20:57] nishakm commented on #390
I like the idea you proposed to move the verbose report to its own plugin. In which case `v` for `verbose` will not be needed. We have `-l` which is kindof what `verbose` means in other tools i.e. be talkative during execution.

I think it's enough to say --keep-wd

[2019-09-09 12:40] #390 closed

[2019-09-09 12:42] nishakm commented on #141
Merged in https://github.com/vmware/tern/pull/429

[2019-09-09 12:42] #141 closed

[2019-09-11 22:25] nishakm commented on #284
Stretch goal - Release 1.0.0 for November

[2019-09-11 23:25] nishakm commented on #284
Steps to accomplish:
1. Create a `files_analyzed` property for each layer with appropriate tests
2. Create an `analyzed_output` property for each layer with appropriate tests
3. Create an `extensions.yml` file which can be empty for now
4. Create a report subcommand option called `-x` or `--extend` which will take in a string
5. Create functionality that will create the command to run the given to

[2019-09-12 13:40] nishakm opened #444 "Create a files_analyzed property in the ImageLayer class"
**Description**
Create a property called `files_analyzed` in the ImageLayer class located in `tern/classes/image_layer.py`.

**Implementation**
In `tern/classes/image_layer.py`
1. Add `files_analyzed` to class docstring under `class ImageLayer:`
`files_analyzed: whether the files in this layer are analyzed or not`.
2. Add the property to `__init__` function and set it to False.
3. Add a getter and

[2019-09-12 13:51] nishakm opened #445 "Create an analyzed_output property for each layer with appropriate tests"
***Description***
Create a property called `analyzed_output` in the ImageLayer class located in `tern/classes/image_layer.py`.

***Implementation***
In `tern/classes/image_layer.py`:

1. Add `analyzed_output` to class docstring under class ImageLayer:
`analyzed_output: the result of the file analysis`.
2. Add the property to `__init__` function and set it to an empty string.
3. Add a getter and se

[2019-09-12 20:23] nishakm opened #447 "Create a function to execute an external tool against an image layer"
**Description**
This is work towards #284. We need a function that will take in an `ImageLayer` object and the name of the tool we are using. The function will have to then have to execute the tool analysis on the directory referred to in the ImageLayer object and then store the output in the object. In order to make this work, #444 and #445 have to be resolved. However, small pieces of the functi

[2019-09-16 22:46] #447 closed

[2019-09-17 13:55] manaswinidas commented on #444
@nishakm Is this still open?

[2019-09-17 15:32] nishakm commented on #444
@manaswinidas are you still working on this? If not, I can take over. Just let us know :)

[2019-09-17 16:59] manaswinidas commented on #444
@nishakm I'm working on this. Will be sending a PR shortly. sorry for the delay.

[2019-09-18 20:38] rnjudge opened #450 "'ADD failed' with a dockerfile that tries to add local artifacts"
**Describe the bug**
It is common to ADD or COPY local artifacts in

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout and pip install Tern (any version will do, but I used the latest commit at master)
2. run Tern on a dockerfile that ADDs or COPYs a local artifact (see example below):
 `tern -l report -d samples/vsphere-csi-driver-syncer/Dockerfile`
3. See the error output on the term

[2019-09-18 21:13] rnjudge opened #451 "Set PackageDownloadLocation as NOASSERTION in SPDX tag:value report formatting"
**Description**
Currently, Tern reports the SPDX `PackagetDownloadLocation` of an image layer as the docker image repotag. This does not reflect the actual download location and there is no way for Tern to pinpoint the download location of an image layer. Therefore, we should assign the SPDX `PackageDownloadLocation` value as NOASSERTION in accordance with the 2.1 spec. We can also remove the `get

[2019-09-19 08:59] manaswinidas commented on #451
I'm interested to take this up.

[2019-09-19 16:58] nishakm commented on #451
@manaswinidas yeah! Go for it!

[2019-09-19 17:53] nishakm opened #454 "Produce a "pinned" Dockerfile when provided a regular Dockerfile"
**Describe the Feature**
Tern currently has the ability to build a docker image given a Dockerfile and then analyze that docker image while annotating to the report information about the Dockerfile line that created the image. Why not use the same functionality to produce an annotated Dockerfile with all the versions pinned to the versions tern finds? This works like a "pip freeze" in python.

**U

[2019-09-19 17:54] nishakm commented on #454
@joshuagl

[2019-09-19 18:01] nishakm commented on #454
Here's an outline of what I spoke with @rnjudge about:
[code]

[2019-09-20 10:11] joshuagl commented on #454
I put together a really dumb prototype to do the first suggestion and a bit of the second with [docker/docker-py](https://github.com/docker/docker-py/) and [containerbuildsystem/dockerfile-parse](https://github.com/containerbuildsystem/dockerfile-parse).

Forgive the unfinished state of the code, this was the result of a short spurt of prototyping that I hope is worth sharing [`test.py`](https://g

[2019-09-20 12:04] manaswinidas commented on #451
@nishakm Do I still have to follow the instructions mentioned in #449 for not getting the extra commits?

[2019-09-20 12:27] manaswinidas commented on #451
Never mind, I found my way :sweat_smile: but do I have to do this every time:cry: ?

[2019-09-20 12:44] nishakm commented on #451
I hope not! 😅

If you want to set up your local fork of tern to continue to contribute, follow the instructions here: https://github.com/nishakm/puns#how-to-submit-prs-with-your-github-fork

Everytime you need to submit a new PR you create a new branch to track the upstream master branch:
`git checkout -b 451-my-changes --track upstream/master`

When you need to update this because of a conflict o

[2019-09-20 13:11] nishakm commented on #454
I'll check out dockerfile-parse! I wrote a parser of my own but it's not very sophisticated.

That would be super cool! Tern just runs `dpkg --get-selections` at each layer to see what got installed. It would be nice if we could find out when things got installed during layer creation and update the sources at that time before running this.

[2019-09-20 16:46] nishakm opened #458 "CI tests DockerImage class"
**Describe the bug**
Tern's CI tests runs the `docker_image.py` test which is known to be broken per #405

**To Reproduce**
Example:
https://circleci.com/gh/vmware/tern/1319?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

**Expected behavior**
We should be testing changes to the `docker_image.py` file but not by running the broken unit test.

[2019-09-20 16:49] #444 closed

[2019-09-20 16:52] #363 closed

[2019-09-20 16:53] #458 closed

[2019-09-20 20:42] #451 closed

[2019-09-23 06:19] manaswinidas commented on #445
I'm interested to work on this.

[2019-09-23 13:15] nishakm commented on #445
@manaswinidas sure!

[2019-09-25 08:49] manaswinidas commented on #451
@nishakm you were right about this. It worked perfectly fine! Thanks :tada:

[2019-09-25 09:47] sschuberth commented on #71
Also see [A Comparison Study of Open Source License Crawler](https://osr.cs.fau.de/2019/08/07/final-thesis-a-comparison-study-of-open-source-license-crawler/), which includes `licensee`, and doesn't attest it to have a high license recognition rate. [ScanCode](https://github.com/nexB/scancode-toolkit), which we also use in [ORT](https://github.com/heremaps/oss-review-toolkit) by default, seems to

[2019-09-25 10:46] sschuberth commented on #149
For language-level packages, how about if Tern would offer a mechanism to run third-party tools like the [ORT analyzer](https://github.com/heremaps/oss-review-toolkit#analyzer), similar to the [suggestion to be able to use an external license scanner](https://github.com/vmware/tern/issues/284)? ORT will soon also take curations from ClearlyDefined into account, so that would solve https://github.c

[2019-09-25 13:19] nishakm commented on #71
Another bonus: ScanCode is written in Python, though version 2 instead of 3, but maybe you guys can [help out with the transition](https://github.com/nexB/scancode-toolkit/issues/295).

I'm working on this in regards to #284 slated for the November release. I can try ScanCode with Python 3 now and take it from there.

[2019-09-25 13:26] nishakm commented on #149
#284 is meant to just allow an external tool to scan files within a container image. So whatever ORT produces is what tern will report. Does this work for you?

[2019-09-25 16:18] sschuberth commented on #149
I believe that would work. At first I thought you'd want to distinguish between running a license scanner and running a dependency analyzer, but I can see that you probably don't care about which tool you're running exactly at this stage, or what kind of output it produces.

[2019-09-26 12:44] #445 closed

[2019-09-27 09:12] bitsf opened #463 "After running tern, the /dev/null file missed"
**Describe the bug**
Hi,
  I just trying this, with pip3 install tern on ubuntu, after run "tern -l report -i photon:2.0", and find my /dev/null is overwrite. This is terrible

**To Reproduce**
Steps to reproduce the behavior:
env: ubuntu--0 4.18.0-10-generic, docker 18.09.2
1. pip3 install tern
2. tern -l report -i photon:2.0 | tee r.log, (actually it's another private image based on this)
3. bec

[2019-09-27 13:37] nishakm commented on #463
@bitsf I'll check it out.

[2019-09-27 13:45] nishakm commented on #463
@bitsf Do you happen to have a tern.log file so I can see where you ctrl+c'd?

[2019-09-27 14:05] nishakm commented on #463
I tried this on the vagrant VM (which already has tern installed using pip3).

I suspect the ctrl+c happened over here:
`2019-09-27 13:42:36,503 - DEBUG - rootfs - Running command: sudo unshare -pf --mount-proc=/home/vagrant/temp/mergedir/proc chroot temp/mergedir /usr/bin/bash -c tdnf check-update > /dev/null && pkgs=`tdnf list installed | cut -f1 -d"."` && for p in $pkgs; do tdnf info $p | head

[2019-09-27 17:36] nishakm commented on #463
The problem is that tern mounts the container filesystem and runs the package manager commands on it. if the user sends a keyboard interrupt while it is doing this, then the temp folder is still mounted and live. So it cannot be removed until it is unmounted. If the user exists out of this session and tries to log back in again using ssh, the VM will not allow them because there is a live mount on

[2019-09-27 17:46] nishakm opened #464 "Allow tern to unmount gracefully when a keyboard interrupt is issued"
**Describe the Feature**
Tern will mount the container filesystem and run shell commands on it. If a keyboard interrupt is given, the script will exit, leaving the filesystems still mounted. Detect the keyboard interrupt (ctrl+c) and when this happens, unmount the filesystem and exit with an error.

**Use Cases**
See issue #463

many users will have a tendency to send a keyboard interrupt while th

[2019-09-27 17:48] nishakm commented on #463
Closing issue and `/dev/null` is not getting deleted.

[2019-09-27 17:48] #463 closed

[2019-09-28 00:15] rnjudge commented on #463
I was able to re-create this issue by doing the following on my working VM:

1. ctrl-c in the middle of running tern
2. `$ python3`
[code]
3. exit out of the python environment
4. `$ rm -rf temp`

Shutting down completely and re-starting my VM fixed the issue (I was blocked from just re-starting) but most of the /dev sub directories were missing before the restart.

[2019-09-30 13:23] nishakm commented on #463
The reason why /dev/null is getting deleted is because /dev is still mounted in the temp directory...which you then delete recursively. This gets fixed when you reboot, but if it doesn't do it reliably, then you have to keep doing the unmount until there is no mountpoint to unmount.

[2019-09-30 15:03] rnjudge opened #465 "Remove comma seperators from SPDX LicenseRef values"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run an spdxtagvalue report with `photon:3.0`
2. Look at the output report and try to validate it.
3. The output report will fail because of a comma separator between a LicenseRef value.

**Proposed Solution***
Substitute any commas in the LicenseRef value with a `-` per th

[2019-09-30 16:31] nishakm opened #466 "Cache's notice messages get overwritten"
**Describe the bug**
When tern pulls data from the cache and saves data to the cache, it overwrites the notice messages that used to exist, thus losing the messages that got created when it processes an image the first time around

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern -cl report -i <image>`
2. Look at `cache.yml` to see messages about base OS and commands used to get the

[2019-10-01 18:59] rnjudge commented on #465
@nishakm FYI There is also an issue with `+`s being in the LicenseRef IDs. For example:
[code]

The above will not validate in the tool because LicenseRef-[idstring] is defined by [idstring] being

according to the 2.1 spec.

Furthermore, if Tern is used to generate a spdxtagvalue report, you'll notice the "and" and "or" separators in the list of multiple licenses get assigned to their own License

[2019-10-03 18:29] nishakm opened #470 "Create a plugin for external tool integration"
**Description**
Since it isn't safe to pass any script to operate on the filesystem, we will use the plugin model to execute the tool against the filesystem. We use https://github.com/intel/cve-bin-tool first as it is distributed in a pip package which can be installed along with tern in a virtual environment.

**To Do**
1. Create the abstract base class for execution
2. Create the plugin for cve-

[2019-10-03 20:41] #465 closed

[2019-10-03 22:28] #464 closed

[2019-10-03 22:57] #64 closed

[2019-10-08 06:51] bitsf commented on #463
I think maybe you can mount file system with readonly permission, which would be much safer, or maybe other folder exept /dev would also be modified by mistake.

[2019-10-08 12:44] nishakm commented on #463
Unfortunately, to list the packages, you need to mount /proc, /sys and /dev as the package manager reads and writes to all of these. Docker does this as well. Just not in your home directory. See the fix for this issue here: https://github.com/vmware/tern/pull/467

[2019-10-08 20:55] #470 closed

[2019-10-14 20:54] nishakm commented on #284
#470 created a plugin for cve-bin-tool. We now need something that demonstrates filling up the properties for the images. Possible candidate is scancode. Roadblocks to this is that scancode is supported in python2.7 but not python3. Another candidate is binaryanalysis-ng, which is easier because python3 is supported. It cannot be installed using pip though.

[2019-10-16 16:28] #466 closed

[2019-10-16 18:22] nishakm commented on #438
Found this error with `edgexfoundry/docker-edgex-mongo:1.0.1`

[2019-10-17 00:30] #450 closed

[2019-10-17 16:34] nishakm commented on #284
Scancode's develop branch is now fully ported to python3. I will go ahead and try to build a plugin for it. @pombredanne I owe you this :)

[2019-10-17 16:41] nishakm opened #474 "Create an extension for scancode"
**Description**
Create an extension for scancode: https://github.com/nexB/scancode-toolkit

**To Do**
1. Find an output format that can is parsable (json or yaml preferred)
2. Create the plugin and test to see if it can store the output into `analyzed_output` property

**Super Issues**
#284

[2019-10-18 13:48] nishakm commented on #474
This requires a new class called `File`. The SPDX spec has a good model of what a `File` is: https://spdx.org/sites/cpstandard/files/pages/files/spdxversion2.1.pdf.

Also affects #271

[2019-10-18 13:55] nishakm opened #476 "Create new class: File"
**Description**
Create a new class called File. The SPDX spec has a good model of what a File is: https://spdx.org/sites/cpstandard/files/pages/files/spdxversion2.1.pdf.

**To Do**
1. Create the new class with all the metadata using the SPDX spec as a reference
2. Create tests for the new class
3. Add tests to the ci pipeline

**Background**
This is required in order to support file level scanning

[2019-10-21 16:02] #207 closed

[2019-10-22 19:14] nishakm opened #480 "Map scancode's data into tern's data model"
**Description**
#474 creates the plugin but it will just print the output to console and so it cannot be used in any of the formats. Fill out Tern's data properties based on scancode's data.

**To Do**
This will involve just populating the image object's properties with scancode's data.

**Background**
This issue depends on #476

**Super Issues**
#284

[2019-10-22 19:16] nishakm commented on #474
Decided to pull the basic plugin creation part into Release 1.0.0 but do the data formatting in the next release.

[2019-10-22 20:24] nishakm commented on #474
Scancode's pip package that supports python3 has some issues with it: https://github.com/nexB/scancode-toolkit/issues/1780
However, it still works from source. So I will go ahead and integrate based on the assumption that we are working from source.

[2019-10-23 14:21] #474 closed

[2019-10-31 08:54] silverhook opened #484 "Make `bin/activate` be able to run from other shells"
**Describe the bug**

Running `bin/activate` fails on shells that are not Bash.

**To Reproduce**
Steps to reproduce the behavior:
1. follow the instructions in `README.md`
2. get to the point where you need to execute `source bin/activate` and do that
3. See error

**Error in terminal**
[code]

This happens on Fish Shell, but I expect the same would be true in some others as well.

**Expected beh

[2019-10-31 09:40] rnjudge commented on #484
Hi @silverhook, I'm sorry to hear you are having trouble getting your virtual environment to activate with your Fish Shell!

I looked around for others having the same issue and found this [reference](https://github.com/pypa/virtualenv/issues/853). Looks like there is an activation script especially for the Fish shell. Please try to run:
```source bin/activate.fish```

I think this issue you raise

[2019-10-31 13:27] #484 closed

[2019-11-07 18:44] nishakm commented on #438
Left caching on and have not seen error since. Closing

[2019-11-07 18:44] #438 closed

[2019-11-07 18:45] nishakm commented on #407
@rajibmitra Do you still want to incorporate `coverage`?

[2019-11-07 18:46] nishakm commented on #406
@PrajwalM2212 do you want to try incorporating this?

[2019-11-07 18:48] nishakm commented on #405
In order to make this a "real" unit test, we need a test Docker image. But we do not have a project Docker repository. We will wait until tern has its own Dockerhub repo.

[2019-11-07 18:58] nishakm commented on #175
Refer to the data model diagram. Hopefully it should be enough.

[2019-11-07 19:00] nishakm commented on #127
Resolved in Release 1.0.0

[2019-11-07 19:00] #127 closed

[2019-11-08 13:44] PrajwalM2212 commented on #406
Yes, Give me a couple of days.

[2019-11-09 00:28] rnjudge opened #490 "CLI: Make logging the default behavior and add a quiet option"
**Problem Statement**
Currently Tern's default mode of operation is to run quietly unless logging (-l option) is provided. The logging option is useful for users (especially new ones) and should be enabled by default, especially since all of our documentation and tutorials instruct users to run with the -l option.

**Describe the Proposal**
I propose to make logging the default mode of operation f

[2019-11-13 21:43] rnjudge opened #492 "Use GitHub Actions for Tern's CI/CD pipeline"
**Describe the Feature**
Utilize GitHub actions for Tern's CI/CD pipeline. This will replace the current CircleCI continuous integration.

**Use Cases**
For opening pull requests

**Implementation Changes**
1) Create a new directory `tern/.github/workflows/main.yml`
2) Translate Tern's exisiting circleci yaml file to the new GitHub Actions yaml file.

[2019-11-19 07:28] piseavinash3203 opened #496 "Tern plugin not avaliable in Jenkins"
Hi Team,

Please create an Jenkins plugin for tern tool so it will be easy to integrate Jenkins to tern. I will lead great help in CI/CD pipeline.

ISSUE: Tern plugin not avaliable in Jenkins.
please let me know when you people are planning to do this. In mail i got reply from Nisha Kumar that till BETA version you people are not planning to add jenkins plugin.

Thanks
Avinash

[2019-11-19 07:29] piseavinash3203 opened #497 "Tern plugin not avaliable in Jenkins"
Hi Team,

Please create an Jenkins plugin for tern tool so it will be easy to integrate Jenkins to tern. I will lead great help in CI/CD pipeline.

ISSUE: Tern plugin not avaliable in Jenkins.
please let me know when you people are planning to do this. In mail i got reply from Nisha Kumar that till BETA version you people are not planning to add jenkins plugin.

Thanks
Avinash

[2019-11-21 18:38] rnjudge commented on #496
Closing as it is a duplicate of issue #497.

[2019-11-21 18:38] #496 closed

[2019-11-21 18:41] rnjudge commented on #492
We are blocked from incorporating any GitHub Action functionality until VMware's GitHub membership is sorted out. Currently, GitHub is claiming that even though Tern is an Open Source repository, "changes are required to the current billing plan in order to re-enable Actions on the account." @mhelsley is working on this.

[2019-11-22 19:42] rnjudge opened #498 "Overlay mount fails when running Tern in a Docker container"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/vmware/tern.git
2. docker build -t ternd .
3. ./docker_run.sh workdir ternd "-rl report -i debian:buster" > output.txt
4. See error

**Error in terminal**
[code]
Specifically:
[code]

**Expected behavior**
Tern should run without any error and

[2019-11-22 19:53] rnjudge opened #499 "Add functionality to extract Debian license data from copyright text"
**Describe the Feature**
Debian packages do not contain license metadata. Instead, the license information is contained in the copyright text. This results in an empty license list when you run Tern with the default output against a Debian image/BaseOS.

**Use Cases**
This would be helpful for the default output of Tern, primarily when running against Debian base images.

**Implementation Changes*

[2019-11-28 12:04] pilvikala commented on #498
I am having the same issue - trying to build and scan images using Gitlab Runner with docker. I tried running Tern both as a container and by installing it in the Gitlab Runner's build container, but the result is the same (the error reported above).

[2019-12-03 23:55] #498 closed

[2019-12-04 14:14] pilvikala opened #501 "docker container not accepting the parameters"
**Describe the bug**
The docker_run.sh does not accept the parameters as stated in the documentation and prints out an error.
I think this is likely related to the change made in https://github.com/vmware/tern/pull/500

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. Build the container using the command provided in the readme.
3.  ./docker_run.sh workdir ternd "report

[2019-12-04 14:25] nishakm commented on #501
@pilvikala We haven't made a pypi release with the fix yet, so the container still has the old state. To build a container with the fix use these commands:
[code]

[2019-12-04 14:26] #501 closed

[2019-12-05 15:07] rhuitl opened #503 "Tern 1.0.1 in Docker does not extract any licenses from debian:buster"
**Describe the bug**
I followed the Docker example. Installed packages are detected but no licenses are extracted.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/vmware/tern.git`, cd `tern`
2. `docker build -t ternd .`
3. `./docker_run.sh workdir ternd "report -i debian:buster"`
4. Look for `Licenses found in Layer:  None` and `None` in the summary.

**Error in

[2019-12-05 15:14] nishakm commented on #503
@rhuitl Debian doesn't have metadata for licenses. Only Copyright text. You see the warning here:
`No listing for key licenses. Consider adding this listing to command_lib/base.yml.`
Try another format:
`./docker_run.sh workdir ternd "report -i debian:buster -f spdxtagvalue" > output.txt

[2019-12-05 15:14] #503 closed

[2019-12-05 15:27] rhuitl commented on #503
Thank you for the prompt reply, that makes sense. I was incorrectly assuming that tern would only need the `copyright` files to do its magic.

[2019-12-05 16:19] rnjudge commented on #503
@rhuitl There are plans for this for Debian images in the future. You can follow progress on issue #499.

[2019-12-09 14:10] makefu commented on #281
I am currently having the same problem, i want to import tern to dependency-track but most licenses are not detected correctly. i currently start building a license map which maps LicenseID to the appropriate spdx license field

[2019-12-09 14:24] nishakm commented on #281
@makefu This project was created to address this issue: https://github.com/spdx/package-licenses-mapping. It's going to take a little while to create the mappings to all known licenses. PRs welcome :)

[2019-12-09 15:06] makefu commented on #281
@nishakm one issue i encountered when i started my own mapping is that a couple of LicenseIDs are not accurate enough to map to a single SPDX identifier (e.g. "gpl","lgpl+","openldap", "cc-by" or even "gplv2 with exceptions" as there are different exceptions possible). At least this is what i encountered rpm-based containers.
in addition to try to map legacy entries, it may be a good idea to conta

[2019-12-17 00:05] rnjudge opened #506 "Update command parsing to detect package to be installed if version is specified"
**Description**
Each Linux package manager specifies how to install a particular version of a package differently. For example, when installing a package on a Debian/Ubuntu system, you would run `sudo apt install package=version.release` and if you were using Alpine you would similarly run `apk add packagename=1.2.3-suffix`. If you were using a Photon/CentOS/Fedora package manager like `tdnf` or `

[2019-12-17 00:52] rnjudge opened #507 "Extract the digest of a Docker image to pin for Dockerfile "freeze" functionality"
**Description**
Extract the digest of the image provided in the Dockerfile and pin it in the "frozen" Dockerfile.

**To Do**
1) This task will take some investigation as it is unclear at the time of filing this issue how we get the exact transport digest of a docker image. As far as we know, the Docker API has no way of getting the image digest if the image already exists on disk and the digest th

[2019-12-17 03:11] rnjudge opened #508 "Add Dockerfile "freeze" support by pinning ARG and ENV variables"
**Description**
The goal of this task is to extract ARG and ENV build stage variables and pin them to the corresponding frozen Dockerfile. For example:

[code]

**To Do**
1) Research [dockerfile-parse](https://github.com/containerbuildsystem/dockerfile-parse) and see if it would be helpful to parse commands at all. There is some prototyping with it here: https://gist.github.com/joshuagl/2d30d79373

[2019-12-17 03:17] rnjudge opened #509 "Record git project name and sha in "pinned" Dockerfile comment"
**Description**
When parsing the commands in a Dockerfile, if the parser comes across the `ADD` directive, record the git project name and sha in a comment after the command. i.e.

```ADD tar /folder --> ADD tar /folder # git project name and sha if any```

**To Do**
Update Tern's parser to parse `ADD` arguments. Determine if the argument after `ADD` (i.e. what is being copied in) is a folder and

[2019-12-18 22:32] nishakm opened #510 "Tern cannot download some dockerhub images"
**Describe the bug**
I tried to run tern on a bitnami image: https://hub.docker.com/r/bitnami/rabbitmq. The script was stalled at the "attempting to download" part. However, I can download it using docker.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tern -l report -i bitnami/rabbitmq`
2. See stall at:
[code]

**Expected behavior**
Tern should be able to download this or any docker i

[2020-01-06 14:06] oc37ejuc opened #512 "Add 'apt' to Command Library"
**Description**
Add 'apt' to snippets.yml to allow detection of Layer changes made using the 'apt' command.

**Implementation**
Duplicate the snippets.yml entry for 'apt-get'

**References**
tern/command_lib/snippets.yml, lines 9-14

**Super Issues**
n.A.

[2020-01-06 14:09] oc37ejuc commented on #512
May I work on this issue, please?

[2020-01-06 14:17] nishakm commented on #512
@oc37ejuc sure!

[2020-01-06 14:40] oc37ejuc commented on #512
I have a question, regarding the Contribution Guidlines-
under 'After making changes' it states I should run prospector, and fix any issues it flags.
I have just cloned the forked repository, without making any changes yet, and prospector is flagging various issues.
Do I have to deal with all of those as well?

[2020-01-06 14:43] nishakm commented on #512
Can you paste the steps you took to install the requirements and the output of prospector here? You don't have to fix those, and the CI tests will probably not pick it up.

[2020-01-06 14:53] oc37ejuc commented on #512
Steps as follows:

`pip install wheel`
`pip install -e.[dev]`
`prospector .`

The output from prospector is attatched.
[prospector_output.txt](https://github.com/vmware/tern/files/4026529/prospector_output.txt)

[2020-01-06 17:34] nishakm commented on #512
Thanks! I'll check it out. Prospector doesn't test yaml files so adding a change to `snippets.yml` will not affect linting. However, it would be great if you could test your change against a docker image that was created using `apt install`. I haven't come across one yet.

[2020-01-06 17:36] nishakm commented on #512
@oc37ejuc Can you also file an issue about the prospector errors? I'd appreciate it. Thanks!

[2020-01-07 18:34] oc37ejuc opened #513 "Prospector issues warnings on freshly cloned repository"
**Describe the bug**
Cloning the Repository, and installing dependencies as described in the contribution guidelines, yields a codebase that does not pass the prospector tests.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install wheel`
2. `pip install -e.[dev]`
3. `prospector .`

**Error in terminal**
[code]

**Expected behavior**
prospector should not issue warnings.

[2020-01-07 18:35] oc37ejuc commented on #512
@nishakm done :)

[2020-01-08 18:47] #513 closed

[2020-01-09 14:02] nishakm opened #517 "Fix "too many branches" lint errors"
**Description**
Prospector 1.2 currently brings up several "too many branches" errors in the code base.
[code]

**To Do**
We can tackle each "too many branches" instance and submit an issue and a corresponding PR. There may be too many changes to submit a PR for all of them.

**Background**
We will ignore the errors in the meantime. So this is a technical debt task.

[2020-01-10 18:12] sjha2048 commented on #517
Hi @nishakm , can you please assign me this issue?

[2020-01-10 20:49] nishakm commented on #510
Found out that tern was downloading all the bitnami/rabbitmq images. So there needs to be some restriction on providing both a name and a tag for the image.

[2020-01-10 20:56] nishakm opened #519 "Only allow specifying an image and tag or an image digest"
**Describe the bug**
Deferring to the Python API to figure out what image to download can result in some non-deterministic action. See #510 as an example where providing an image with no tag downloads "latest" and all other available tags.

**Expected behavior**
1. The user should provide an image name of the type `image:tag`
2. The user should provide an image name of the type `image@digest_type:

[2020-01-10 20:57] nishakm commented on #510
Closing this issue as #519 will address a fix

[2020-01-10 20:57] #510 closed

[2020-01-10 21:07] nishakm commented on #517
@sjha2048 Do you want to work on this whole thing or just part of it? I can only add an `assigned` tag to the issue. So just let me know.

[2020-01-11 10:32] sjha2048 commented on #517
I would like to work on the first file then move towards other ones gradually.

[2020-01-11 19:53] nishakm commented on #517
Cool! Please file an issue indicating the prospector error with the first file. Reference that issue in your commit message. Thanks so much for working on this!

[2020-01-14 14:23] nishakm opened #521 "Use shlex to parse Dockerfile RUN instruction commands"
**Description**
[shlex](https://docs.python.org/3/library/shlex.html) is a simple POSIX command tokenizer. It's much easier to parse long Dockerfile RUN instructions using this library rather than writing our own method of tokenizing.
This task is to rewrite the current tokenizer (`parse_command` function in `general.py`) using this library.

**Background**
On looking at the type of parsing needed

[2020-01-15 14:43] nishakm opened #522 "Replace homegrown Dockerfile parser with dockerfile-parse"
**Description**
[dockerfile-parse](https://github.com/containerbuildsystem/dockerfile-parse) is a library to parse Dockerfiles. It has a few more features than the homegrown parser that are useful including listing ENV (and ARG after submitting a PR to the project)

**To Do**
Rewrite `dockerfile.py` to use the parser.

**Background**
This is related to #508

**Super Issues**
#454

[2020-01-16 01:17] nishakm commented on #521
Turns out we may need to develop a full-fledged shell script parser in order to catch all the places where pinning might occur. It's a pretty big undertaking so I will take the high-priority label and move this to the near future backlog.

[2020-01-17 18:45] rnjudge opened #523 "Allow user to set working directory"
**Describe the Feature**
Currently Tern runs by default in the users home directory. Add a command line option for the user to specify the working directory somewhere else. If no directory is specified by the user, Tern will continue to run in the users homes directory by default.

**Use Cases**
This option might be used if you want to run multiple Tern processes at once but can't have them operat

[2020-01-17 19:13] rnjudge opened #524 "Include base OS value from /etc/os-release as part of Tern's data model"
**Describe the proposal**
Currently, Tern reports the base OS it finds from /etc/os-release in the output report as a notice object. Instead of reporting the OS as a notice object, propose to add the base OS value to Tern's data model so that it can be extracted directly from a JSON output report.

I can think of a few ways to do this. There could be a `base_os` attribute in the image_layer class

[2020-01-28 19:54] mkbhanda opened #527 "Tern on MacOS docker_run.sh command generates empty output.txt"
**Describe the bug**
Tern on MacOS builds but docker_run.sh command generates empty output.txt

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/vmware/tern.git
2. docker build -t ternd .
3. ./docker_run.sh workdir ternd "-l report -i debian:buster" > output.txt

Results in an empty output.txt file.

**Error in terminal**
[code]

**Expected behavior**
Expected an o

[2020-01-28 21:24] nishakm commented on #527
Confirmed. It looks like some operations of `xattr` are not supported on APFS. In this case, it is easier to run tern using Vagrant or natively on a Linux desktop.

[2020-01-28 22:42] rnjudge commented on #527
Not sure if this is explicitly a bug as it is expected behavior per the documentation: "Tern does not run natively in a Mac OS or Windows environment at this time."

@mkbhanda Maybe adding a warning when someone tries to run Tern natively on MacOS would be helpful?

[2020-02-04 19:00] nishakm commented on #405
So we have a repo now `https://hub.docker.com/r/vmware/tern`. Next thing we need is a dummy test image. We can create one this way:
1. Create a simple directory structure:
[code]
2. Run fs_hash.sh on this directory, get the checksum and save it somewhere
3. Tar up this directory
4. Do a `docker load < testdir.tar`
5. Do a `docker push vmware/tern/testimage:<date>`
6. Do a `docker save` of this ima

[2020-02-04 23:25] rnjudge commented on #492
GitHub Actions is not available to Tern at this time per the updated policy:

 ```GitHub Actions is available with GitHub Free, GitHub Pro, GitHub Team, GitHub Enterprise Cloud, and GitHub One. GitHub Actions is not available for repositories owned by accounts using legacy per-repository plans. For more information, see GitHub's products in the GitHub Help documentation.```

We should re-visit thi

[2020-02-04 23:39] rnjudge commented on #262
@nishakm I think we can close this, would you agree? `tern/analyze/docker` exists with the docker code generally separated.

[2020-02-05 01:00] nishakm commented on #262
@rnjudge Some related code exists in other places and I am yet to do curation of it. Probably the best option is to file a bug as I come across them. So yeah, I think we can close this one for now.

[2020-02-05 16:48] #262 closed

[2020-02-06 14:05] nishakm commented on #527
Closing this as a note about working on MacOS was merged at commit 0c1a7b03a8f1d94044e1b7d744765b9c4d92ba82

[2020-02-06 14:05] #527 closed

[2020-02-06 14:07] nishakm commented on #499
I was introduced to this project and I think it would be a good option to either incorporate or use as a dependency: https://github.com/nexB/debut

[2020-02-08 11:59] PrajwalM2212 commented on #405
I am working on it.

[2020-02-10 14:27] Siggitrain opened #532 "Update documentation regarding to scancode"
**Description**
Please update / fix the documentation of the installation process for scancode.

**Implementation**
There are two possible ways:
- Way 1: Use pip package (preferred)
  Step 1: Update README.md: 'pip install tern scancode' should be 'pip install tern scancode-toolkit'
  Step 2: Update scancode executor and remove './' from the scancode commands

- Way 2: Execute inside bin
  Step 1:

[2020-02-10 19:04] PrajwalM2212 commented on #519
I am working on this.

[2020-02-11 16:24] #519 closed

[2020-02-11 18:27] nishakm commented on #532
@Siggitrain Thanks for filing the issue. We've recently fixed this and it will be available in our next pip release.

[2020-02-13 23:18] #492 closed

[2020-02-16 17:27] oc37ejuc opened #538 "Unable to scan OpenSUSE Tumbleweed image"
**Describe the bug**
Tern fails trying to scan OpenSUSE Tumbleweed image.

**To Reproduce**
Steps to reproduce the behavior:
1. execute `tern -l report  -f spdxtagvalue -i 1d71b22e34c0`

**Error in terminal**
[code]

**Expected behavior**
Tern should not fail.

**Environment you are running Tern on**
Enter all that apply
- Output of 'tern --version'
Tern version 1.0.1
- Operating System (Linux Dis

[2020-02-18 14:19] nishakm commented on #538
@oc37ejuc is this image available for us to take a look at?

[2020-02-18 17:40] rnjudge opened #539 "Increase Test Coverage"
**Problem Statement**
Currently, the test coverage for Tern's code is 63%. See below, which is a full coverage run on Tern's code base.

[code]

**Describe the Proposal**
More tests need to be written for Tern. Ideally we would have a coverage for 85% of the code, although, this is up for debate. (I think 80% could be acceptable).

**Steps to Implement Proposal**
Look at files with low % coverage

[2020-02-18 18:13] oc37ejuc commented on #538
@nishakm It is, yes. The Image is (or was when I filed the bug) the current build that you can get from Dockerhub. I kept the Image Id in the bug report for reproducibility :)

[2020-02-18 18:17] #407 closed

[2020-02-18 19:16] nishakm commented on #538
Thanks! This is the first OBS image we've come across and it doesn't have a `/dev`, `/sys`, or `/proc` mountpoint
[code]
...which is interesting because when spinning up the container you can see all the above mountpoints:

[code]
It looks like we need to check if these mountpoints exist before attempting to mount them.

[2020-02-21 12:38] PrajwalM2212 commented on #539
We can add this as a GSoC stretch goal.  There is a chance that the current ideas can be completed and still have time left during GSoC.

[2020-02-21 13:46] nishakm commented on #538
To fix, modify:
[code]

[2020-02-22 13:20] abhaykatheria commented on #538
@nishakm I would like to work on this issue

[2020-02-24 15:53] PrajwalM2212 commented on #490
I will do this, if we need it now.
` This will unfortunately change the command line options and likely constitute another major release since it will not be backwards compatible so there is no rush on the implementation of this feature.`
@nishakm @rnjudge Should I try this or should this be left for some time in future.

[2020-02-24 17:13] nishakm commented on #490
@PrajwalM2212 it's not pressing and I would like to break it down into a few good-first-issues for other people to take a crack at. What do you think?

[2020-02-24 21:14] rnjudge opened #545 "Add --rm to docker_run script"
**Describe the proposal**
Add `--rm` keyword argument to in docker_run.sh. This will prevent piling lots of one-off containers on the host machine.

[2020-02-24 23:12] rnjudge opened #546 "Fix scancode documentation"
**Describe the bug**
Under the `Extensions` section of the README, the `Scancode` section incorrectly tells users to install  scancode using the `scancode` keyword when it should be `scancode-toolkit`.

Documentation should also be improved to make it clear that running Tern with extensions in a container is not advised and the Dockerfile is not written to account for this.

[2020-02-24 23:30] rnjudge opened #547 "Update README documentation"
**Describe the bug**
The following changes should take place in the README
1) Remove the `Summary Format` section under `Report Formats`. There is no longer a summary report format option available.

2) Change ordering of "Getting Started" section to be a) linux b) docker c) vagrant and change `MAC` reference to `Mac`.

[2020-02-24 23:57] #476 closed

[2020-02-25 14:09] PrajwalM2212 commented on #490
@nishakm Agreed. We do need some good-first-issues.

[2020-02-25 15:35] silverhook commented on #484
@rnjudge Thanks, this fixed this issue for me.

One small typo creaped into https://github.com/vmware/tern/pull/485 though – there should be a space between `source` and `bin/activate.fish` (and the same with csh).

Also, I apologise for the late reply …life happens, sometimes in an ugly way.

[2020-02-26 13:47] #547 closed

[2020-02-26 13:50] #538 closed

[2020-02-26 21:22] nishakm commented on #50
@PrajwalM2212 recommended sqlite as well: I think we can just choose sqlite3 because 1. It is faster 2. It is good for applications where code that executes sql statements and the application reside on the same machine. 3.  It also supports huge amount of data upto 140TB with greater performance  4. It is provided as part of python standard lib https://www.sqlite.org/whentouse.html

[2020-02-26 21:41] #545 closed

[2020-02-26 22:05] abhaykatheria commented on #523
I would like to work on this issue

here's the code ,i think this will do the trick

in __main__.py
[code]
`

[2020-02-26 23:20] rnjudge commented on #523
Hello @abhay417, the parser argument you added would be the correct start for adding the command line argument, but there would need to be other updates and logic checks in the code to actually change the directory that all the mounting is taking place.

Take a look at `create_top_dir()` where the working directory gets created.

[2020-02-26 23:21] #546 closed

[2020-02-27 00:22] nishakm opened #554 "Add a list of FileData objects to the ImageLayer class"
**Description**
Now that we have a FileData class, we can include files in an image layer. To represent this, add a property to the ImageLayer class with a list of FileData including methods to add and remove FileData objects.

**To Do**
1. Implement the list of FileData objects in the ImageLayer class
2. Write tests for the instance and methods

**Super Issues**
#480

[2020-02-27 07:10] abhaykatheria commented on #523
@rnjudge
I think rootfs.py is the only place where all the logic needs to be changed.
`
def set_mount_dir(bind=None):`  -> `def set_mount_dir(bind=None,wd=none):`

[code]

[2020-02-27 09:54] ForgetMe17 commented on #509
I want to fix this issue. Here is my plan. We can add a function called `add_git_info()` in `dockerfile.py`, which recieve a line with ADD instruction. First it will check if the argument is a folder. For a folder, it will check if it contains a `.git` folder. Then it will extract git project name from `config` file in `.git`. If it is a git respo cloned, `config` file will have a `remote` section

[2020-02-27 14:48] tminussi opened #556 "Unable to run tern report on docker:dind"
I am trying to expose `tern` in a Docker container since this is not yet been made available by `VMWare`.

To do so, I am using the `docker:dind` Docker image (dind stands for Docker in Docker) because `tern` relies on Docker when running the reports. `docker:dind` is an Alpine based image.

It turns out that following all the commands mentioned in the docs fails when executing the command `find -

[2020-02-27 18:15] rnjudge commented on #523
Hi @abhay417 You are close! I haven't tested this but think it could be as simple as something like:

[code]

The bind directory is used when working in a container so essentially, this would be a working directory when using a container and shouldn't be used in conjunction with the working directory command line option.

You will also need to pass in the args.working_dir argument in `do_main()`
`

[2020-02-27 22:00] nishakm commented on #556
@tminussi Thanks for filing a bug. It looks like Alpine's busybox doesn't support `-printf`. Can you try installing `findutils` in your Dockerfile and try again?

[2020-02-28 00:02] nishakm opened #559 "Add a list of FileData objects to the Package class"
**Description**
For situations where we know what files are associated with what package, we can add a list of files to the Package class.

**To Do**
1. Implement the list of FileData objects in the Package class
2. Write tests for the instance and methods

**Super Issues**
#480

[2020-02-28 00:02] nishakm commented on #559
@PrajwalM2212 Here is the issue you said you would work on.

[2020-02-28 00:05] nishakm commented on #509
@rnjudge does the above plan sound good to you?

[2020-02-28 07:58] tminussi commented on #556
Yes, that did the trick, @nishakm! I then ran into lack of permissions when `tern` was trying to mount the disk, but running it on `privileged` mode fixed the issue.

Thank you very much for you support and fast response.

[2020-02-28 07:58] #556 closed

[2020-02-28 16:20] rnjudge commented on #509
@ForgetMe17 I like it! Thank you for taking this on.

[2020-02-28 16:34] rnjudge commented on #509
@ForgetMe17  I'm also thinking about how we would get the actual folder -- since the `dfobj.structure` ADD command line will just be a string containing the folder name. @nishakm Would we assume that the directory is local on the users working directory and find it that way?

[2020-02-28 17:19] abhaykatheria commented on #523
@rnjudge i did the changes but it shows error during unmounting
__main.py__
![Screenshot from 2020-02-28 22-45-12](https://user-images.githubusercontent.com/40055274/75570058-5cf18c80-5a7c-11ea-9364-f3c0590e2ff7.png)
rootfs.py
![Screenshot from 2020-02-28 22-45-46](https://user-images.githubusercontent.com/40055274/75570065-5f53e680-5a7c-11ea-9c2b-78f80c23abbe.png)
error mesage
![Screenshot from 2

[2020-02-28 17:28] nishakm commented on #509
This one is dicey - the folder where the Dockerfile exists may not be in a local git repository. So we first have to check if it is. You can't do that by just looking for a `.git` folder because the Dockerfile may exist in a sub folder. You can try to run a git command and see if it fails. That way you know if you are in a git repo or not. From here on, rather than look into the refs in the `.git`

[2020-02-28 17:59] abhaykatheria commented on #523
i did some research and found this
[http://oletange.blogspot.com/2012/04/umount-device-is-busy-why.html](http://oletange.blogspot.com/2012/04/umount-device-is-busy-why.html
)

[2020-02-28 18:07] rnjudge commented on #523
@abhaykatheria like I said, I hadn't tested my suggestion yet :) I will take a look and get back to you. In the mean time, please feel free to debug this yourself or try other solutions you are curious about. Thanks again for your work on this!

[2020-02-28 18:33] rnjudge commented on #523
Hi @abhaykatheria I took a look and the `set_mount_dir` directory is not what we want to change anything, apologies for that. As I had originally mentioned, `get_top_dir()` is where we want to take the `work_dir` argument. I have a working solution for this and will post shortly.

[2020-02-28 18:55] rnjudge commented on #523
@abhaykatheria here's what worked for me:

[code]

[2020-02-29 01:16] #554 closed

[2020-02-29 04:50] williamsmj opened #565 ""/bin/bash: cat: command not found" running example debian:buster scan"
When I run `tern -l report -o output.txt -i debian:buster` as suggested in the README, I get the output below. Is this the expected output? If so, I found the repeated error messages surprising, and it might be worth clarifying in the README that this is indeed what you should see.

[code]
The image has cat, of course.
[code]
I assume I'm missing something obvious!

[2020-02-29 10:47] ForgetMe17 commented on #509
Yes, I think it will be better by running the git commands than finding `.git` folder. Thanks for your suggestion and I am going to work on it!

[2020-03-02 12:48] tminussi opened #566 "mount: /root/.tern/temp/mergedir: wrong fs type, bad option, bad superblock on overlay, missing codepage or helper program, or other error"
**Describe the bug**
Once I was able to move forward with #556, I stumbled upon another problem which has been a little bit hard to debug.

I have been able to _dockerize_ `tern` and the reports run just fine for some images, like [debian](https://hub.docker.com/_/debian) and [ubuntu](https://hub.docker.com/_/ubuntu), but it fails when running the reports for [postgres](https://hub.docker.com/_/po

[2020-03-02 16:19] #559 closed

[2020-03-02 17:42] #523 closed

[2020-03-02 19:14] rnjudge commented on #566
The error is due to the fact that you cannot overlay mount inside a docker container. The reason you don't see it for debian and ubuntu is because those images only have one layer so the error is not hit. We faced this issue earlier for tern's default container in https://github.com/vmware/tern/pull/500. You will want to use the bind mount command line option for running Tern in a docker container

[2020-03-02 19:23] tminussi commented on #566
Thanks, @rnjudge.
I had noticed that command indeed, but when I managed to run debian images without any issues, I was like: "well, that command is there for a reason, I just haven't figured out why just yet, so I will keep on going".
Now, thanks to you, I know what that command is for.

I will close this issue.

Thanks!

[2020-03-02 19:23] #566 closed

[2020-03-02 21:41] rnjudge opened #567 "Add test for expand_from_images in test_analyze_docker_dockerfile.py"
**Describe the Feature**
Add a test in `tests/test_analyze_docker_dockerfile.py` named `testExpandFromImages` that will test the functionality of the `expand_from_images` function. In order to implement this a few things will have to happen first.
1) Create base OS and upload to Tern dockerhub repository
2) Write a new Dockerfile that uses above base OS as base image.

**Use Cases**
This will hep

[2020-03-03 20:53] nishakm commented on #565
@williamsmj Thanks for filing an issue. Can you paste here the digest of the image you ran tern against? You can do that by running `docker images --digests` and get the digest of the image with the name `debian` and tag `buster`.

[2020-03-03 20:59] williamsmj commented on #565
Sure, and thanks for replying!

[code]

[2020-03-03 21:00] williamsmj commented on #565
I get similar warnings about `cat not found` scanning `ubuntu:18.04` by the way.

[2020-03-03 21:04] rnjudge commented on #565
FWIW, I ran `tern -l report -o output.txt -i debian@sha256:a63d0b2ecbd723da612abf0a8bdb594ee78f18f691d7dc652ac305a490c9b71a` in my environment and do not see this warning.

[2020-03-03 21:09] rnjudge commented on #565
@williamsandrew could you share a little information about the environment you are running this command on? i.e.
[code]

[2020-03-03 21:26] williamsmj commented on #565
Sure. Please let me know if this covers it or you need more information:

[code]

[2020-03-04 09:32] radmirnovii commented on #490
Hi, found your project in GSoC organizations and decided start with this small contriburion

[2020-03-04 13:50] nishakm commented on #506
This should also fix #2 - a really old bug :)

[2020-03-04 17:10] rnjudge commented on #2
@nishakm When you say "record it in the returning dict as 'version': version." which dict are you referring to? A dictionary returned by a new function that will parse the package name?

[2020-03-04 17:25] rnjudge commented on #2
@nishakm You also said yesterday that you can't see any reason we would need to store the version of a package :) Should we still store it?

[2020-03-04 17:41] nishakm commented on #2
I filed this two years ago :D. I'll let you make that judgement call.

[2020-03-06 23:22] #2 closed

[2020-03-07 03:47] abhaykatheria commented on #567
@rnjudge  I would like to take up this issue

[2020-03-09 16:09] rnjudge commented on #567
@abhaykatheria Before you can work on this issue we need to create and upload a base OS to Tern's dockerhub repo. This will take a little time as we are trying to focus on the next release in a few weeks. Once the necessary resources are in place for this issue to be worked on, I will followup to see if you are still interested :)

[2020-03-09 17:15] abhaykatheria commented on #567
I was actually thinking of making my own docker image and uploading it to docker hub to temporarily test this but I got busy. So when I will test this Ill tell  you the results.
Happy Holi.

[2020-03-09 17:24] nishakm opened #574 "Allow Tern to save to and load from FileData information from the cache"
**Description**
Although Tern can now collect FileData information and save it to the cache, it cannot load it from the cache.

**To Do**
1. Create a `fill` method for FileData class similar to the `fill` method in the Package class.
2. Update the `load_from_cache` function in `common.py` to create FileData objects from information in the cache per layer.

**Super Issues**
#480

[2020-03-09 17:34] PrajwalM2212 commented on #574
Working on it.

[2020-03-09 22:55] #574 closed

[2020-03-10 08:33] ForgetMe17 commented on #508
I would like to work on this issue.

[2020-03-10 15:54] rnjudge commented on #508
The work for parsing the `ENV` variables is already completed so you may want to look at that for hints. There is still work required for parsing the `ARG` variables. `ARG` is slightly different than `ENV` in that it is only available during the build of a Docker image (RUN etc), not after the image is created and containers are started from it (ENTRYPOINT, CMD). You will likely want to write a fu

[2020-03-10 17:22] nishakm commented on #565
@williamsmj I ran tern on a CentOS 7 Vagrant box and I had no errors. My environment:
[code]
AFAICT, the only difference seems to be the docker version we are running (and I am not sure of the differences between Docker-CE and Docker-EE). Maybe try to upgrade your docker installation and try again?